table {
    width: 100%;
}

.link-list {
    display: flex;
    flex-wrap: wrap;
}

.link-list__item:not(:last-of-type)::after {
    content: ",";
}

tr.mat-row > td.mat-cell,
tr.mat-row > td.mat-footer-cell,
tr.mat-row > td.mat-header-cell {
    padding: 0 0.5rem;

    &:first-of-type {
        padding-left: 1.5rem;
    }

    &:last-of-type {
        padding-right: 1.5rem;
    }
}