<app-help>
    <p i18n="connections rules control, which item types may be connected. Connections are allowed only if a rule explicitely exists">
        Verbindungsregeln steuern, welche Typen von Configuration Items miteinander
        verbunden werden d&uuml;rfen. Nur da, wo explizit eine Regel existiert,
        ist eine Verbindung m&ouml;glich.
    </p>
    <p i18n="together with the feasability of connecting you have to set the maximum number of connections for that rule. You may define 1:1, 1:n or n:m connections. The minimum is always 0, so you don't have to create a connection of that type">
        Neben der reinen M&ouml;glichkeit der Verbindung werden einer Regel auch erlaubte
        Anzahlen von Verbindungen m&ouml;glich. So sind Verbindungen 1:1, 1:n oder n:m denkbar.
        Die jeweils angegebene Zahl stellt dabei die Obergrenze dessen dar, was erlaubt ist.
        Die Untergrenze liegt immer bei 0, d. h. eine Verbindung kann angelegt werden muss
        es aber nicht.
    </p>
</app-help>
<table class="box">
    <thead>
        <tr>
            <th class="table-cell table-header" i18n="connection rule">Verbindungsregel</th>
            <th class="table-cell table-header" i18n="commands">Befehle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="table-cell" colspan="2">
                <div class="rule-container">
                    <div class="rule__item-type">
                        <select [(ngModel)]="upperItemTypeId" class="selectable">
                            <option value="undefined" i18n="show all upper item types">
                                Alle oberen Item-Typen anzeigen
                            </option>
                            <option [value]="itemType.id" *ngFor="let itemType of (itemTypes | async)">
                                {{ itemType.name }}
                            </option>
                        </select>
                    </div>
                    <div class="rule__connection">
                        <select [(ngModel)]="connectionTypeId" class="selectable">
                            <option value="undefined" i18n="show all connection types">
                                Alle Verbindungstypen anzeigen
                            </option>
                            <option [value]="connectionType.id" *ngFor="let connectionType of (connectionTypes | async)">
                                {{ connectionType.name }} / {{ connectionType.reverseName }}
                            </option>
                        </select>
                    </div>
                    <div class="rule__item-type">
                        <select [(ngModel)]="lowerItemTypeId" class="selectable">
                            <option value="undefined" i18n="show all lower item types">
                                Alle unteren Item-Typen anzeigen
                            </option>
                            <option [value]="itemType.id" *ngFor="let itemType of (itemTypes | async)">
                                {{ itemType.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </td>
        </tr>
        <tr *ngFor="let rule of (filteredConnectionRules | async)">
            <td class="table-cell">
                <div class="rule-container">
                    <div class="rule__item-type" [style.background]="(getItemType(rule.upperItemTypeId) | async)?.backColor">
                        <span class="text-on-background" type="button">
                            {{ (getItemType(rule.upperItemTypeId) | async)?.name }}
                        </span>
                    </div>
                    <div class="rule__connection">
                        <span>
                            {{ (getConnectionType(rule.connectionTypeId) | async).name }}
                            (&le; {{ rule.maxConnectionsToLower }})
                        </span>
                        <span>&uarr;&nbsp;&nbsp;&darr;</span>
                        <span>
                            {{ (getConnectionType(rule.connectionTypeId) | async)?.reverseName }}
                            (&le; {{ rule.maxConnectionsToUpper }})
                        </span>
                    </div>
                    <div class="rule__item-type" [style.background]="(getItemType(rule.lowerItemTypeId) | async)?.backColor">
                        <span class="text-on-background">
                            {{ (getItemType(rule.lowerItemTypeId) | async)?.name }}
                        </span>
                    </div>
                    <div class="rule__validation">
                        <div i18n="validation rule for connection description">
                            G&uuml;ltigkeitsregel f&uuml;r Verbindungsbeschreibung:
                        </div>
                        <div>
                            {{ rule.validationExpression }}
                        </div>
                    </div>
                </div>
            </td>
            <td class="table-cell">
                <ng-container *ngIf="activeLine === -1 && !createMode">
                    <span class="mobile-only">4: </span>
                    <button type="button" class="dropdown-toggle">
                        ...
                        <span class="visually-hidden" i18n="click to open action menu">
                            Klicken, um Aktionsmen&uuml; zu &ouml;ffnen
                        </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <button type="button" class="selectable"
                                (click)="onEditRule(rule)">
                                <span i18n="edit connecion rule">Verbindungsregel bearbeiten</span>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="selectable"
                                [cdkCopyToClipboard]="rule.id">
                                <ng-container i18n="Copy Id">Id kopieren</ng-container>
                                <span class="visually-hidden" i18n="click to copy the attribute type id into the clipbaord">
                                    Klicken, um die Id des Attributtyps in die Zwischenablage zu kopieren
                                </span>
                            </button>
                        </li>
                        <li *ngIf="(getRulesCount(rule) | async) === 0">
                            <button type="button" class="red-button selectable"
                                matTooltip="Verbindungsregel l&ouml;schen"
                                i18n-matTooltip="delete connection rule"
                                (click)="onDeleteRule(rule)">
                                <span class="material-icons">delete_forever</span>
                            </button>
                        </li>
                    </ul>
                </ng-container>
                <span
                    *ngIf="(getRulesCount(rule) | async) > 0"
                    matTooltip="Verbindungen zu dieser Verbindungsregel gefunden"
                    i18n-matTooltip="connections found for connection rule">
                    {{ (getRulesCount(rule) | async) }}
                </span>
            </td>
        </tr>
        <tr *ngIf="upperItemTypeId && lowerItemTypeId && connectionTypeId && (filteredConnectionRules | async).length === 0 && upperItemTypeId !== lowerItemTypeId">
            <td class="table-cell" colspan="2">
                <button type="button" class="selectable" (click)="onCreateRule()">
                    <span class="material-icons">add_box</span>
                </button>
            </td>
        </tr>  
    </tbody>
</table>
