@import "projects/cmdb/src/_variables.scss";

.rule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .rule__item-type {
        border: $light-border-style;
        padding: 0;
        width: 100%;
        text-align: center;
        margin: 0 0.5rem;
    }

    .rule__connection {
        border-width: 0 2px;
        border-style: solid;
        border-radius: 0;
        padding: 0.2rem 1rem;
        white-space: nowrap;
    }
}

th.table-header > button {
    font: inherit;
    color: inherit;
    border: $light-border-style;
    & > span.arrow {
        border-left: 1px solid black;
        padding-left: 0.2rem;
    }
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    border: $main-border-style;
    border-bottom: none;
    background-color: $element-background-color;

    select {
        border: $main-border-style;
        padding: 0.5rem 1rem;
        margin: 0 0.5rem;
    }
}

.vertical-commands {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .input__content-info {
        align-self: unset;
    }
}

.vertical-commands > .circle-button {
    margin: 0.25rem 0;
}

