<app-help>
    <p i18n="connections rules control, which item types may be connected. Connections are allowed only if a rule explicitely exists">
        Verbindungsregeln steuern, welche Typen von Configuration Items miteinander
        verbunden werden d&uuml;rfen. Nur da, wo explizit eine Regel existiert,
        ist eine Verbindung m&ouml;glich.
    </p>
    <p i18n="together with the feasability of connecting you have to set the maximum number of connections for that rule. You may define 1:1, 1:n or n:m connections. The minimum is always 0, so you don't have to create a connection of that type">
        Neben der reinen M&ouml;glichkeit der Verbindung werden einer Regel auch erlaubte
        Anzahlen von Verbindungen m&ouml;glich. So sind Verbindungen 1:1, 1:n oder n:m denkbar.
        Die jeweils angegebene Zahl stellt dabei die Obergrenze dessen dar, was erlaubt ist.
        Die Untergrenze liegt immer bei 0, d. h. eine Verbindung kann angelegt werden muss
        es aber nicht.
    </p>
</app-help>
<div class="box">
    <div class="box-top" i18n="filter">
        Filter
    </div>
    <div class="sticky-header box-body flex__space-between">
        <div>
            <ng-container i18n="upper item type">
                Oberer Item-Typ
            </ng-container>
            <div class="no-wrap inline-block position-relative" appClickOpen>
                <button type="button" class="dropdown-toggle">
                    <ng-container i18n="no filter" *ngIf="!upperItemType">
                        Kein Filter
                    </ng-container>
                    <ng-container *ngIf="!!upperItemType">
                        {{upperItemType.name}}
                    </ng-container>
                    <span class="arrow">v</span>
                    <span class="visually-hidden" i18n="click to open filter menu for upper item type">
                        Klicken, um Filtermen&uuml; f&uuml;r oberen Item-Typ zu &ouml;ffnen
                    </span>
                </button>
                <ul class="dropdown-menu">
                    <li *ngIf="!!upperItemType">
                        <button type="button" class="red-button" i18n="clear filter" (click)="upperItemType = undefined">
                            Filter l&ouml;schen
                        </button>
                        <hr>
                    </li>
                    <ng-container *ngFor="let itemType of (itemTypes | async)">
                        <li *ngIf="upperItemType?.id !== itemType.id">
                            <button type="button" (click)="upperItemType = itemType">
                                {{ itemType.name }}
                            </button>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
        <div>
            <ng-container i18n="connection type">
                Verbindungstyp
            </ng-container>
            <div class="no-wrap inline-block position-relative" appClickOpen>
                <button type="button" class="dropdown-toggle">
                    <ng-container i18n="no filter" *ngIf="!selectedConnectionType">
                        Kein Filter
                    </ng-container>
                    <ng-container *ngIf="!!selectedConnectionType">
                        {{selectedConnectionType.name}} &darr;&nbsp;&uparrow; {{selectedConnectionType.reverseName}}
                    </ng-container>
                    <span class="arrow">v</span>
                    <span class="visually-hidden" i18n="click to open filter menu for connection type">
                        Klicken, um Filtermen&uuml; f&uuml;r Verbindungstypzu &ouml;ffnen
                    </span>
                </button>
                <ul class="dropdown-menu">
                    <li *ngIf="!!selectedConnectionType">
                        <button type="button" class="red-button" i18n="clear filter" (click)="selectedConnectionType = undefined">
                            Filter l&ouml;schen
                        </button>
                        <hr>
                    </li>
                    <ng-container *ngFor="let connectionType of (connectionTypes | async)">
                        <li *ngIf="selectedConnectionType?.id !== connectionType.id">
                            <button type="button" (click)="selectedConnectionType = connectionType">
                                {{ connectionType.name }} &darr;&nbsp;&uparrow; {{ connectionType.reverseName }}
                            </button>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
        <div>
            <ng-container i18n="lower item type">
                Unterer Item-Typ
            </ng-container>
            <div class="no-wrap inline-block position-relative" appClickOpen>
                <button type="button" class="dropdown-toggle">
                    <ng-container i18n="no filter" *ngIf="!lowerItemType">
                        Kein Filter
                    </ng-container>
                    <ng-container *ngIf="!!lowerItemType">
                        {{lowerItemType.name}}
                    </ng-container>
                    <span class="arrow">v</span>
                    <span class="visually-hidden" i18n="click to open filter menu for lower item type">
                        Klicken, um Filtermen&uuml; f&uuml;r unter Item-Typ zu &ouml;ffnen
                    </span>
                </button>
                <ul class="dropdown-menu">
                    <li *ngIf="!!lowerItemType">
                        <button type="button" class="red-button" i18n="clear filter" (click)="lowerItemType = undefined">
                            Filter l&ouml;schen
                        </button>
                        <hr>
                    </li>
                    <ng-container *ngFor="let itemType of (itemTypes | async)">
                        <li *ngIf="lowerItemType?.id !== itemType.id">
                            <button type="button" (click)="lowerItemType = itemType">
                                {{ itemType.name }}
                            </button>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
    <table *ngIf="(canCreateNew | async) === false">
        <thead>
            <tr>
                <th class="table-cell table-header">
                    <span class="mobile-only">1: </span>
                    <ng-container i18n="upper item type">
                        Oberer Item-Typ
                    </ng-container>
                    &nbsp;
                    <ng-container i18n="connection type">
                        Verbindungstyp
                    </ng-container>
                    &nbsp;
                    <ng-container i18n="lower item type">
                        Unterer Item-Typ
                    </ng-container>
                </th>
                <th class="table-cell table-header">
                    <span class="mobile-only">2: </span>
                    <ng-container i18n="validation rule for description">
                        G&uuml;ltigkeitsregel f&uuml;r Beschreibung:
                    </ng-container>
                </th>
                <th class="table-cell table-header">
                    <span class="mobile-only">3: </span>
                    <ng-container i18n="connections count for connection rule">
                        Anzahl Verbindungen
                    </ng-container>
                </th>
                <th class="table-cell table-header">
                    <span class="mobile-only">4: </span>
                    <ng-container i18n="commands">
                        Befehle
                    </ng-container>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rule of (filteredConnectionRules | async)">
                <td class="table-cell">
                    <span class="mobile-only">1: </span>
                    <div>
                        {{ (getItemType(rule.upperItemTypeId) | async)?.name }}
                        &darr;
                        {{ (getConnectionType(rule.connectionTypeId) | async).name }}
                        (&le; {{ rule.maxConnectionsToLower }})
                        &darr;
                        {{ (getItemType(rule.lowerItemTypeId) | async)?.name }}
                    </div>
                    <div>
                        {{ (getItemType(rule.lowerItemTypeId) | async)?.name }}
                        &uarr;
                        {{ (getConnectionType(rule.connectionTypeId) | async)?.reverseName }}
                        (&le; {{ rule.maxConnectionsToUpper }})
                        &uarr;
                        {{ (getItemType(rule.upperItemTypeId) | async)?.name }}
                    </div>
                </td>
                <td class="table-cell">
                    <span class="mobile-only">2: </span>
                    {{ rule.validationExpression }}
                </td>
                <td class="table-cell">
                    <span class="mobile-only">3: </span>
                    {{ (getRulesCount(rule) | async) }}
                </td>
                <td class="table-cell position-relative" appClickOpen>
                    <ng-container *ngIf="activeLine === -1">
                        <span class="mobile-only">4: </span>
                        <button type="button" class="dropdown-toggle">
                            ...
                            <span class="visually-hidden" i18n="click to open action menu">
                                Klicken, um Aktionsmen&uuml; zu &ouml;ffnen
                            </span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <button class="selectable" [routerLink]="['..', 'connection-rule', rule.id]">
                                    <span i18n="edit connecion rule">Verbindungsregel bearbeiten</span>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="selectable"
                                    [cdkCopyToClipboard]="rule.id">
                                    <ng-container i18n="Copy Id">Id kopieren</ng-container>
                                    <span class="visually-hidden" i18n="click to copy the attribute type id into the clipbaord">
                                        Klicken, um die Id des Attributtyps in die Zwischenablage zu kopieren
                                    </span>
                                </button>
                            </li>
                            <li *ngIf="(getRulesCount(rule) | async) === 0">
                                <button type="button" class="red-button selectable"
                                    (click)="onDeleteRule(rule)">
                                    <ng-container i18n="delete connection rule">Verbindungsregel l&ouml;schen</ng-container>
                                </button>
                            </li>
                        </ul>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="(canCreateNew | async) === true">
        <form [formGroup]="ruleForm">
            <p>
                <span>&darr;</span>
                {{ upperItemType.name }}
                {{ selectedConnectionType.name }}
                &le; 
                <input type="number" formControlName="maxConnectionsToLower" class="selectable"
                    (keyup.enter)="onCreateRule()"
                    min="1" max="9999" />
                {{ lowerItemType.name }}
                <span>&darr;</span>
            </p>
            <p>
                <span>&uarr;</span>
                {{ lowerItemType.name }}
                {{ selectedConnectionType.reverseName }}
                &le; 
                <input type="number" formControlName="maxConnectionsToUpper" class="selectable"
                    (keyup.enter)="onCreateRule()"
                    min="1" max="9999" />
                {{ upperItemType.name }}
                <span>&uarr;</span>
            </p>
            <div>
                <label for="validation" i18n="validation rule (RegEx) for connection description">
                    G&uuml;ltigtkeitsregel (regul&auml;rer Ausdruck) f&uuml;r Verbindungsbeschreibungen
                </label>
                <input type="text" id="validation" formControlName="validationExpression" class="selectable"
                    placeholder="^.*$"
                    (keyup.enter)="onCreateRule()">
            </div>
            <div>
                <button type="button" class="selectable" (click)="onCreateRule()" [disabled]="ruleForm.invalid">
                    <ng-container i18n="add new connection rule">
                        Neue Verbindungsregel hinzuf&uuml;gen
                    </ng-container>
                </button>
            </div>
        </form>
    </div>  
</div>
