<h1 i18n="delete attribute type">L&ouml;schen des Attributtyps {{data.TypeName}}</h1>
<mat-dialog-content class="mat-typography">
    <p i18n="if you delete the attribute type, # attributes, that are part of items, are also deleted. are you sure you want to delete?">
        Wenn Sie den Attributtypen l&ouml;schen, werden auch {{(attributeTypes | async)?.length}} 
        Attribute gel&ouml;scht, die einzelnen Configuration Items zugeordnet sind.
    </p>
    <p>
        Sind Sie sicher, dass 
        Sie das wollen?
    </p>
</mat-dialog-content>
<div mat-dialog-actions>
        <button mat-button (click)="onCancel()" i18n="cancel">Abbrechen</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial i18n="delete">L&ouml;schen</button>
</div>
