<div class="container two-rows">
    <div class="table-cell table-header" i18n="attribute group name">Name der Attributgruppe</div>
    <div class="table-cell table-header" i18n="attribute group id">Id der Attributgruppe</div>
    <ng-container *ngFor="let attributeGroup of (meta | async).attributeGroups">
        <div class="table-cell" 
            matTooltip="{{getAttributeTypeNamesOfGroup((meta | async).attributeTypes, attributeGroup.GroupId)}}">
            <div class="input-display__elements" *ngIf="activeGroup!==attributeGroup.GroupId">
                <button mat-button class="input-display__content-button" type="button" (click)="onSetGroup(attributeGroup)">
                    {{ attributeGroup.GroupName }}
                </button>
                <span class="input-display__content-info">
                    ({{ getAttributeTypesOfGroup((meta | async).attributeTypes, attributeGroup.GroupId).length}})
                </span>
                <button mat-icon-button class="input-display__delete-button" type="button" (click)="onDeleteAttributeGroup($event, attributeGroup)">
                    <span *ngIf="getAttributeTypesOfGroup((meta | async).attributeTypes, attributeGroup.GroupId).length === 0"
                        class="material-icons">delete_forever</span>
                </button>
            </div>
            <div class="input-edit__elements" *ngIf="activeGroup===attributeGroup.GroupId">
                <input autofocus type="text" [(ngModel)]="groupName"
                    (keyup.enter)="onChangeAttributeGroupName($event, attributeGroup)"
                    (keyup.escape)="onCancel($event)" />
                <button class="btn-ok" mat-icon-button type="button" (click)="onChangeAttributeGroupName($event, attributeGroup)">
                    <span class="material-icons">done</span>
                </button>
                <button class="btn-cancel" mat-icon-button type="button" (click)="onCancel($event)">
                    <span class="material-icons">block</span>
                </button>
            </div>
        </div>
        <div class="table-cell">
            {{ attributeGroup.GroupId }}
        </div>
    </ng-container>
    <div class="table-cell table-span2">
        <button mat-icon-button type="button" (click)="onCreate()" *ngIf="!createMode">
            <span class="material-icons">add_box</span>
        </button>
        <div class="input-edit__elements" *ngIf="createMode">
            <input autofocus type="text" [(ngModel)]="groupName"
                (keyup.enter)="onCreateAttributeGroup($event)"
                (keyup.escape)="onCancel($event)" />
            <button class="btn-ok" mat-icon-button type="button" (click)="onCreateAttributeGroup($event)">
                <span class="material-icons">done</span>
            </button>
            <button class="btn-cancel" mat-icon-button type="button" (click)="onCancel($event)">
                <span class="material-icons">block</span>
            </button>
        </div>
    </div>
</div>
