<main class="page-layout">
  <h2 i18n="Change password">Kennwort &auml;ndern</h2>
  <form [formGroup]="userForm" class="grid">
    <label class="cell" for="oldpassword" i18n="Current password">Bisheriges Kennwort:</label>
    <input type="password" formControlName="oldpassword" id="oldpassword" class="cell selectable" autofocus [disabled]="changing"/>
    <label class="cell" for="password" i18n="New password">Neues Kennwort:</label>
    <input type="password" formControlName="password" id="password" autocomplete="new-password" class="cell selectable" [disabled]="changing"/>
    <label class="cell" for="passwordRepeat" i18n="Repeat password">Kennwort wiederholen:</label>
    <input type="password" formControlName="passwordRepeat" id="passwordRepeat" class="cell selectable" [disabled]="changing"/>
    <div class="cell">
      <button type="submit" (click)="updatePassword()" [disabled]="userForm.invalid || changing" i18n="Change password" class="selectable">Kennwort &auml;ndern</button>
    </div>
    <div class="cell">
      <button type="button" i18n="Cancel" class="selectable" (click)="cancel()" [disabled]="changing">Abbrechen</button>
    </div>
  </form>
  @if (error) {
    <div class="error">
      @switch (error) {
        @case ('Server validation error') {
          <p i18n="Server validation error">
                Der Server hat Fehler bei der Validierung der Regeln festgestellt.
            </p>
        }
        @case ('Nothing changed') {
          <p i18n="The new password is identical with the old one. Nothing changed.">
                Das neue Kennwort ist identisch mit dem alten. Keine &Auml;nderung.
            </p>
        }
        @default {
          <p>
            {{error}}
          </p>
        }
      }
      @if (errorDetails) {
        <ul>
          @for (detail of errorDetails; track detail) {
            <li>
              @switch (detail) {
                @case ('passphrase: Invalid value') {
                  <ng-container i18n="Password does not meet complexity criteria">
                    Das Kennwort entspricht nicht den Komplexitätskriterien.
                </ng-container>
                }
                @default {
                  {{detail}}
                }
              }
            </li>
          }
        </ul>
      }
    </div>
  }
</main>
