<main class="page-layout">
    <h2 i18n="change password">Kennwort &auml;ndern</h2>
    <form [formGroup]="userForm" class="grid">
        <label class="cell" for="oldpassword" i18n="current password">Bisheriges Kennwort:</label>
        <input type="password" formControlName="oldpassword" id="oldpassword" class="cell selectable" autofocus [disabled]="changing"/>
        <label class="cell" for="password" i18n="new password">Neues Kennwort:</label>
        <input type="password" formControlName="password" id="password" autocomplete="new-password" class="cell selectable" [disabled]="changing"/>
        <label class="cell" for="passwordRepeat" i18n="repeat password">Kennwort wiederholen:</label>
        <input type="password" formControlName="passwordRepeat" id="passwordRepeat" class="cell selectable" [disabled]="changing"/>
        <div class="cell">
            <button type="submit" mat-button (click)="updatePassword()" [disabled]="userForm.invalid || changing" i18n="change password" class="selectable">Kennwort &auml;ndern</button>
        </div>
        <div class="cell">
            <button type="button" mat-button i18n="cancel" class="selectable" (click)="cancel()" [disabled]="changing">Abbrechen</button>
        </div>
    </form>
    <div *ngIf="error" class="error" [ngSwitch]="error">
        <p *ngSwitchCase="'Server validation error'" i18n="server validation error">
            Der Server hat Fehler bei der Validierung der Regeln festgestellt.
        </p>
        <p *ngSwitchCase="'Nothing changed'" i18n="The new password is identical with the old one. Nothing changed.">
            Das neue Kennwort ist identisch mit dem alten. Keine &Auml;nderung.
        </p>
        <p *ngSwitchDefault>
            {{error}}
        </p>
        <ul *ngIf="errorDetails">
            <li *ngFor="let detail of errorDetails" [ngSwitch]="detail">
                <ng-container *ngSwitchCase="'passphrase: Invalid value'" i18n="password does not meet complexity criteria">
                    Das Kennwort entspricht nicht den Komplexitätskriterien.
                </ng-container>
                <ng-container *ngSwitchDefault>
                    {{detail}}
                </ng-container>
            </li>
        </ul>
    </div>
</main>
