<header class="header">
  <button class="menu-button" (click)="menuOpen = !menuOpen">
    <span class="menu-bar"></span>
    <span class="menu-bar"></span>
    <span class="menu-bar"></span>
  </button>
  @if ((route | async) !== '/admin/models') {
    <div class="header-item" [ngClass]="{ 'error': (incompleteModels | async).length > 0, 'menu-open': menuOpen }">
      <a [routerLink]="['/admin', 'models']" (click)="menuOpen = false" i18n>Models</a>
    </div>
  }
  @if ((route | async) !== '/asset') {
    <div class="header-item" [ngClass]="{ 'error': (itemsWithoutModel | async).length > 0, 'menu-open': menuOpen }">
      <a routerLink="/asset" (click)="menuOpen = false" i18n>Asset management</a>
    </div>
  }
  @if ((route | async) !== '/') {
    <div class="header-item" [ngClass]="{ 'menu-open': menuOpen }">
      <a routerLink="/" (click)="menuOpen = false" i18n>Rooms</a>
    </div>
  }
  @if ((route | async) !== '/search') {
    <div class="header-item" [ngClass]="{ 'menu-open': menuOpen }">
      <a routerLink="/search" (click)="menuOpen = false" i18n>Search</a>
    </div>
  }
</header>
<!-- status components -->
@if ((loadedAndReady | async) === false && (recentError | async) === undefined) {
  <div class="backdrop"></div>
  <div class="overlay">
    @if (!((basicsState | async).validSchema || (metaDataState | async).loadingData || (metaDataState | async).validData)) {
      <div>
        <span class="wait">&#8987;</span>
        <ng-container i18n>Starting app initialization.</ng-container>
      </div>
    }
    @if ((metaDataState | async).loadingData) {
      <div>
        <img src="assets/images/ajaxload.gif" />
        <ng-container i18n>Loading data.</ng-container>
      </div>
    }
    @if (!(metaDataState | async).loadingData && !(basicsState | async).validSchema && (metaDataState | async).validData) {
      <div>
        <img src="assets/images/ajaxload.gif" />
        <ng-container i18n>Validating data.</ng-container>
      </div>
    }
    @if ((basicsState | async).validSchema) {
      <div>
        <span class="ok">&#10004;</span>
        <ng-container i18n>Initialization complete.</ng-container>
      </div>
    }
    @if (!((basicsState | async).roomsLoading || (basicsState | async).roomsReady)) {
      <div>
        <span class="wait">&#8987;</span>
        <ng-container i18n>Waiting for rooms to load.</ng-container>
      </div>
    }
    @if ((basicsState | async).roomsLoading) {
      <div>
        <img src="assets/images/ajaxload.gif" />
        <ng-container i18n>Loading rooms.</ng-container>
      </div>
    }
    @if ((basicsState | async).roomsReady) {
      <div>
        <span class="ok">&#10004;</span>
        <ng-container i18n>Rooms completed.</ng-container>
      </div>
    }
    @if (!((basicsState | async).modelsLoading || (basicsState | async).modelsReady)) {
      <div>
        <span class="wait">&#8987;</span>
        <ng-container i18n>Waiting for models to load.</ng-container>
      </div>
    }
    @if ((basicsState | async).modelsLoading) {
      <div>
        <img src="assets/images/ajaxload.gif" />
        <ng-container i18n>Loading models.</ng-container>
      </div>
    }
    @if ((basicsState | async).modelsReady) {
      <div>
        <span class="ok">&#10004;</span>
        <ng-container i18n>Models completed.</ng-container>
      </div>
    }
    @if (!((provisionableState | async).systemsLoading || (provisionableState | async).systemsReady)) {
      <div>
        <span class="wait">&#8987;</span>
        <ng-container i18n>Waiting for provisionable systems to load.</ng-container>
      </div>
    }
    @if ((provisionableState | async).systemsLoading) {
      <div>
        <img src="assets/images/ajaxload.gif" />
        <ng-container i18n>Loading provisionable systems.</ng-container>
      </div>
    }
    @if ((provisionableState | async).systemsReady) {
      <div>
        <span class="ok">&#10004;</span>
        <ng-container i18n>Provisionable systems completed.</ng-container>
      </div>
    }
    @if (!((assetState | async).racksLoading || (assetState | async).racksReady)) {
      <div>
        <span class="wait">&#8987;</span>
        <ng-container i18n>Waiting for racks to load.</ng-container>
      </div>
    }
    @if ((assetState | async).racksLoading) {
      <div>
        <img src="assets/images/ajaxload.gif" />
        <ng-container i18n>Loading racks.</ng-container>
      </div>
    }
    @if ((assetState | async).racksReady) {
      <div>
        <span class="ok">&#10004;</span>
        <ng-container i18n>Racks completed.</ng-container>
      </div>
    }
    @if (!((assetState | async).enclosuresLoading || (assetState | async).enclosuresReady)) {
      <div>
        <span class="wait">&#8987;</span>
        <ng-container i18n>Waiting for enclosures to load.</ng-container>
      </div>
    }
    @if ((assetState | async).enclosuresLoading) {
      <div>
        <img src="assets/images/ajaxload.gif" />
        <ng-container i18n>Loading enclosures.</ng-container>
      </div>
    }
    @if ((assetState | async).enclosuresReady) {
      <div>
        <span class="ok">&#10004;</span>
        <ng-container i18n>Enclosures completed.</ng-container>
      </div>
    }
    @for (rackMountable of rackMountables; track rackMountable) {
      @if (!((assetState | async).rackMountablesLoading[rackMountable] || (assetState | async).rackMountablesReady[rackMountable])) {
        <div
          >
          <span class="wait">&#8987;</span>
          <ng-container i18n>Waiting for</ng-container> {{rackMountable}} <ng-container i18n>assets to load.</ng-container>
        </div>
      }
      @if ((assetState | async).rackMountablesLoading[rackMountable]) {
        <div>
          <img src="assets/images/ajaxload.gif" />
          <ng-container i18n>Loading</ng-container> {{rackMountable}} <ng-container i18n>assets.</ng-container>.
        </div>
      }
      @if ((assetState | async).rackMountablesReady[rackMountable]) {
        <div>
          <span class="ok">&#10004;</span>
          {{rackMountable}} <ng-container i18n>assets completed.</ng-container>
        </div>
      }
    }
    @for (enclosureMountable of enclosureMountables; track enclosureMountable) {
      @if (!((assetState | async).enclosureMountablesLoading[enclosureMountable] || (assetState | async).enclosureMountablesReady[enclosureMountable])) {
        <div
          >
          <span class="wait">&#8987;</span>
          <ng-container i18n>Waiting for </ng-container>{{enclosureMountable}}<ng-container i18n>s to load.</ng-container>
        </div>
      }
      @if ((assetState | async).enclosureMountablesLoading[enclosureMountable]) {
        <div>
          <img src="assets/images/ajaxload.gif" />
          <ng-container i18n>Loading</ng-container> {{enclosureMountable}} <ng-container i18n>assets</ng-container>.
        </div>
      }
      @if ((assetState | async).enclosureMountablesReady[enclosureMountable]) {
        <div>
          <span class="ok">&#10004;</span>
          {{enclosureMountable}} <ng-container i18n>assets completed</ng-container>.
        </div>
      }
    }
  </div>
}
@if ((metaDataState | async).loadingData === false && (metaDataState | async).validData === false && (recentError | async)) {
  <div class="overlay error">
    <h3>
      <span class="wait">&mdash;</span>
      <ng-container i18n>Error loading data</ng-container>
      <span class="wait">&mdash;</span>
    </h3>
    <p i18n>
            An error occured while loading data from the backend. Please inform your administrator. Reason(s):
        </p>
    <ul>
      @for (error of (allErrors | async); track error) {
        <li>
          {{error}}
        </li>
      }
    </ul>
    <button type="button" (click)="retry()" i18n>Retry</button>
  </div>
  <div class="backdrop"></div>
}
