<header class="header">
    <div class="header-item" *ngIf="!(route | async).startsWith('/admin/models')" [ngClass]="{ error: (incompleteModels | async).length > 0 }">
        <a [routerLink]="['/admin', 'models']" fragment="incomplete-models" *ngIf="(incompleteModels | async).length > 0" i18n>Incomplete Models</a>
        <a [routerLink]="['/admin', 'models']" *ngIf="(incompleteModels | async).length === 0" i18n>Models</a>
    </div>
    <div class="header-item" *ngIf="!(route |async).startsWith('/asset/items')" [ngClass]="{ error: (itemsWithoutModel | async).length > 0 }">
        <a [routerLink]="['/asset', 'items']" *ngIf="(itemsWithoutModel | async).length === 0" i18n>Items</a>
        <a [routerLink]="['/asset', 'items']" fragment="without-model" *ngIf="(itemsWithoutModel | async).length > 0" i18n>Items without model</a>
    </div>
    <div class="header-item" *ngIf="(route |async) !== '/rooms'">
        <a [routerLink]="['/rooms']" i18n>Rooms</a>
    </div>
</header>
<!-- status components -->
<ng-container *ngIf="!(loadedAndReady | async) && !(recentError | async)">
    <div class="backdrop"></div>
    <div class="overlay">
        <div *ngIf="!((basicsState | async).validSchema || (metaDataState | async).loadingData || (metaDataState | async).validData)">
            <span class="wait">&#8987;</span>
            <ng-container i18n>Starting app initialization.</ng-container>
        </div>
        <div *ngIf="(metaDataState | async).loadingData">
            <img src="assets/images/ajaxload.gif" />
            <ng-container i18n>Loading data.</ng-container> 
        </div>
        <div *ngIf="!(metaDataState | async).loadingData && !(basicsState | async).validSchema && (metaDataState | async).validData">
            <img src="assets/images/ajaxload.gif" />
            <ng-container i18n>Validating data.</ng-container>
        </div>
        <div *ngIf="(basicsState | async).validSchema">
            <span class="ok">&#10004;</span>
            <ng-container i18n>Initialization complete.</ng-container>
        </div>
        <div *ngIf="!((basicsState | async).roomsLoading || (basicsState | async).roomsReady)">
            <span class="wait">&#8987;</span>
            <ng-container i18n>Waiting for rooms to load.</ng-container>
        </div>
        <div *ngIf="(basicsState | async).roomsLoading">
            <img src="assets/images/ajaxload.gif" />
            <ng-container i18n>Loading rooms.</ng-container>
        </div>
        <div *ngIf="(basicsState | async).roomsReady">
            <span class="ok">&#10004;</span>
            <ng-container i18n>Rooms completed.</ng-container>
        </div>
        <div *ngIf="!((basicsState | async).modelsLoading || (basicsState | async).modelsReady)">
            <span class="wait">&#8987;</span>
            <ng-container i18n>Waiting for models to load.</ng-container>
        </div>
        <div *ngIf="(basicsState | async).modelsLoading">
            <img src="assets/images/ajaxload.gif" />
            <ng-container i18n>Loading models.</ng-container>
        </div>
        <div *ngIf="(basicsState | async).modelsReady">
            <span class="ok">&#10004;</span>
            <ng-container i18n>Models completed.</ng-container>
        </div>
        <div *ngIf="!((assetState | async).racksLoading || (assetState | async).racksReady)">
            <span class="wait">&#8987;</span>
            <ng-container i18n>Waiting for racks to load.</ng-container>
        </div>
        <div *ngIf="(assetState | async).racksLoading">
            <img src="assets/images/ajaxload.gif" />
            <ng-container i18n>Loading racks.</ng-container>
        </div>
        <div *ngIf="(assetState | async).racksReady">
            <span class="ok">&#10004;</span>
            <ng-container i18n>Racks completed.</ng-container>
        </div>
        <div *ngIf="!((assetState | async).enclosuresLoading || (assetState | async).enclosuresReady)">
            <span class="wait">&#8987;</span>
            <ng-container i18n>Waiting for enclosures to load.</ng-container>
        </div>
        <div *ngIf="(assetState | async).enclosuresLoading">
            <img src="assets/images/ajaxload.gif" />
            <ng-container i18n>Loading enclosures.</ng-container>
        </div>
        <div *ngIf="(assetState | async).enclosuresReady">
            <span class="ok">&#10004;</span>
            <ng-container i18n>Enclosures completed.</ng-container>
        </div>
        <div *ngIf="!((assetState | async).rackServersLoading || (assetState | async).rackServersReady)">
            <span class="wait">&#8987;</span>
            <ng-container i18n>Waiting for rack server hardware to load.</ng-container>
        </div>
        <div *ngIf="(assetState | async).rackServersLoading">
            <img src="assets/images/ajaxload.gif" />
            <ng-container i18n>Loading rack server hardware.</ng-container>
        </div>
        <div *ngIf="(assetState | async).rackServersReady">
            <span class="ok">&#10004;</span>
            <ng-container i18n>Rack server hardware completed.</ng-container>
        </div>
        <ng-container *ngFor="let rackMountable of rackMountables">
            <div
                *ngIf="!((assetState | async).rackMountablesLoading[rackMountable.toLocaleLowerCase()] || (assetState | async).rackMountablesReady[rackMountable.toLocaleLowerCase()])">
                <span class="wait">&#8987;</span>
                <ng-container i18n>Waiting for </ng-container>{{rackMountable}}<ng-container i18n>s to load.</ng-container>
            </div>
            <div *ngIf="(assetState | async).rackMountablesLoading[rackMountable.toLocaleLowerCase()]">
                <img src="assets/images/ajaxload.gif" />
                <ng-container i18n>Loading </ng-container>{{rackMountable}}s.
            </div>
            <div *ngIf="(assetState | async).rackMountablesReady[rackMountable.toLocaleLowerCase()]">
                <span class="ok">&#10004;</span>
                {{rackMountable}}s <ng-container i18n>completed.</ng-container>
            </div>
        </ng-container>
        <div *ngIf="!((assetState | async).bladeServersLoading || (assetState | async).bladeServersReady)">
            <span class="wait">&#8987;</span>
            <ng-container i18n>Waiting for blade server hardware to load.</ng-container>
        </div>
        <div *ngIf="(assetState | async).bladeServersLoading">
            <img src="assets/images/ajaxload.gif" />
            <ng-container i18n>Loading blade server hardware.</ng-container>
        </div>
        <div *ngIf="(assetState | async).bladeServersReady">
            <span class="ok">&#10004;</span>
            <ng-container i18n>Blade server hardware completed.</ng-container>
        </div>
        <ng-container *ngFor="let enclosureMountable of enclosureMountables">
            <div
                *ngIf="!((assetState | async).enclosureMountablesLoading[enclosureMountable.toLocaleLowerCase()] || (assetState | async).enclosureMountablesReady[enclosureMountable.toLocaleLowerCase()])">
                <span class="wait">&#8987;</span>
                <ng-container i18n>Waiting for </ng-container>{{enclosureMountable}}<ng-container i18n>s to load.</ng-container>
            </div>
            <div *ngIf="(assetState | async).enclosureMountablesLoading[enclosureMountable.toLocaleLowerCase()]">
                <img src="assets/images/ajaxload.gif" />
                <ng-container i18n>Loading </ng-container>{{enclosureMountable}}s.
            </div>
            <div *ngIf="(assetState | async).enclosureMountablesReady[enclosureMountable.toLocaleLowerCase()]">
                <span class="ok">&#10004;</span>
                {{enclosureMountable}}s <ng-container i18n>completed</ng-container>.
            </div>
        </ng-container>
    </div>
</ng-container>
<ng-container *ngIf="(metaDataState | async).loadingData === false && (metaDataState | async).validData === false && (recentError | async)">
    <div class="overlay error">
        <h3>
            <span class="wait">&mdash;</span>
            <ng-container i18n>Error loading data</ng-container>
            <span class="wait">&mdash;</span>
        </h3>
        <p i18n>
            An error occured while loading data from the backend. Please inform your administrator. Reason(s):
        </p>
        <ul>
            <li *ngFor="let error of (allErrors | async)">
                {{error}}
            </li>
        </ul>
        <button type="button" (click)="retry()" i18n>Retry</button>
    </div>
    <div class="backdrop"></div>
</ng-container>
