<p i18n="add connection to another configuration item below">
    Verbindung nach unten zu einem anderen Configuration Item hinzuf&uuml;gen
</p>
<mat-dialog-content>
    <p>{{(configurationItem | async).name}}</p>
    <p>{{(connectionType | async).ConnTypeName}}</p>
    <p>{{(itemType | async).TypeName}}</p>
</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false" i18n="close">Beenden</button>
    <button mat-button (click)="onSave()" [disabled]="!true" cdkFocusInitial
        i18n="save">Speichern</button>
</div>
