@import "src/_variables.scss";

.form {
    width: 100%;
    padding: 1rem;
    grid-template-columns: 1fr;
}

select {
    border: $main-border-style;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
}
