<app-help>
    <p i18n="attributes are text information stored along with a configuration item. Every attribute needs a distinct attribute type.">
        Attribute sind Textinformationen, die zu einem Configuration Item gespeichert werden.
        Jedes Attribut besitzt einen eindeutigen Attribut-Typen.
    </p>
    <p i18n="attributes groups integrate one ore more attribute types, and are mapped to item types.">
        Attribut-Typen werden in Attributgruppen zusammengefasst. Attributgruppen werden dann Item-Typen zugeordnet.
    </p>
    <p i18n="attribute groups can be deleted if they are no longer mapped to an item type and don't contain any attribute types.">
        Attributgruppen k&ouml;nnen gel&ouml;scht werden, wenn sie keinem 
        Item-Typen mehr zugeordnet sind
        und keine Attribut-Typen mehr enthalten.
    </p>
</app-help>
<table class="box">
    <thead>
        <tr>
            <th class="table-cell table-header">
                <span class="mobile-only">1: </span>
                <span i18n="attribute group name">Name der Attributgruppe</span>
            </th>
            <th class="table-cell table-header" i18n="number and names of mapped attribute types">
                <span class="mobile-only">2: </span>
                <span>Anzahl und Namen der zugeordnete Attributtypen</span>
            </th>
            <th class="table-cell table-header">
                <span class="mobile-only">3: </span>
                <span i18n="actions">Aktionen</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let attributeGroup of (attributeGroups | async)">
            <td class="table-cell">
                <span class="mobile-only">1: </span>
                <button class="input__content-button selectable" type="button" (click)="onSetGroup(attributeGroup)"
                    *ngIf="activeGroup!==attributeGroup.id"
                    matTooltip="Name der Attributgruppe &auml;ndern" i18n-matTooltip="change name of attribute group">
                    {{ attributeGroup.name }}
                    <span class="visually-hidden" i18n="click here to edit name of the attribute group">
                        Zum Bearbeiten des Namens der Attributgruppe anklicken
                    </span>
                </button>
                <app-text-input *ngIf="activeGroup === attributeGroup.id"
                    [originalText]="attributeGroup.name"
                    [minimumLength]="4"
                    (accept)="onChangeAttributeGroupName($event, attributeGroup)"
                    (cancel)="onCancel()">
                </app-text-input>
            </td>
            <td class="table-cell input__content-info">
                <span class="mobile-only">2: </span>
                <b>
                    {{ (getAttributeTypesOfGroup(attributeGroup.id) | async).length }}
                </b>
                ({{(getAttributeTypeNamesOfGroup(attributeGroup.id) | async)}})
            </td>
            <td class="table-cell position-relative" appClickOpen>
                <span class="mobile-only">3: </span>
                <button type="button" class="dropdown-toggle">...</button>
                <ul class="dropdown-menu">
                    <li>
                        <button type="button" class="selectable" [routerLink]="['..', 'attribute-group', attributeGroup.id]">
                            <ng-container i18n="manage mappings of item types">Zuordnungen von Item-Typen verwalten</ng-container>
                            <span class="visually-hidden" i18n="click to manage mappings between the attribute group and item types">
                                Klicken, um die Zuordnung der Attributgruppe zu Item-Typen zu verwalten
                            </span>
                        </button>
                    </li>
                    <li *ngIf="(getAttributeTypesOfGroup(attributeGroup.id) | async).length === 0 && (getAttributeMappingsOfGroup(attributeGroup.id) | async) === 0">
                        <button type="button" class="red-button selectable" (click)="onDeleteAttributeGroup(attributeGroup)">
                            <ng-container i18n="delete attribute group">Attributgruppe l&ouml;schen</ng-container>
                            <span class="visually-hidden" i18n="click to manage mappings between the attribute group and item types">
                                Klicken, um die Attributgruppe zu l&ouml;schen
                            </span>
                       </button>
                    </li>
                    <li>
                        <button type="button" class="selectable" [cdkCopyToClipboard]="attributeGroup.id">
                            <ng-container i18n="Copy id">Id kopieren</ng-container>
                            <span class="visually-hidden" i18n="click to copy the attribute group id into the clipbaord">
                                Klicken, um die Id der Attributgruppe in die Zwischenablage zu kopieren
                            </span>
                        </button>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="table-cell" colspan="3">
                <button type="button" (click)="onCreate()" *ngIf="!createMode" class="selectable">
                    <ng-container i18n="add new attribute group">
                        Neue Attributgruppe hinzuf&uuml;gen
                    </ng-container>
                </button>
                <app-text-input *ngIf="createMode"
                    [minimumLength]="4"
                    (accept)="onCreateAttributeGroup($event)"
                    (cancel)="onCancel()">
                </app-text-input>
            </td>
        </tr>
    </tbody>
</table>
