@import "projects/cmdb/src/_variables.scss";

.flex, .filter-box {
    label, input, select, button {
        margin: 0.5rem;
    }
}

.filter-box {
    padding: 0.5rem;
    margin: 0;
    border-radius: 0 0.3rem 0.3rem 0;
    border: $medium-border-style;
    background-color: $element-background-color;
    border-left: none;
    @media print {
        display: none;
    }
}

.filter-item {
    margin: 0.5rem;
    padding: 0.3rem;
    font-size: 90%;
    border: 1px solid black;
    border-radius: 0.2rem;
    button {
        border: none;
        border-left: 1px solid black;
        margin: 0;
        cursor: pointer;
    }
    .italic {
        font-style: italic;
    }
}