<div class="filter-box">
    <div class="flex-horizontal__align-middle">
        <span i18n="add filter">Filter hinzuf&uuml;gen</span>
        <button type="button" class="selectable"
            *ngIf="!((form$ | async)?.nameOrValue)" (click)="newFilterType = 'nameOrValue'"
            [ngClass]="{selected: newFilterType === 'nameOrValue'}" i18n="name or attribute value">
            Name oder Attributwert
        </button>
        <button type="button" class="selectable"
            *ngIf="(allowedAttributeTypeList | async).length > 0" (click)="newFilterType = 'attributeType'"
            [ngClass]="{selected: newFilterType === 'attributeType'}" i18n="attribute type">
            Attribut-Typ
        </button>
        <button type="button" class="selectable"
            *ngIf="(connectionTypesToUpperForCurrentItemType| async).length > 0" (click)="newFilterType = 'connectionTypesToUpper'"
            [ngClass]="{selected: newFilterType === 'connectionTypesToUpper'}" i18n="connections upward">
            Verbindungen nach oben (&uarr;)
        </button>
        <button type="button" class="selectable"
            *ngIf="(connectionTypesToLowerForCurrentItemType| async).length > 0" (click)="newFilterType = 'connectionTypesToLower'"
            [ngClass]="{selected: newFilterType === 'connectionTypesToLower'}" i18n="connections downward">
            Verbindungen nach unten (&darr;)
        </button>
    </div>
    <div class="flex">
        <ng-container *ngIf="newFilterType === 'nameOrValue'">
            <label for="nameOrValue" i18n="search text">Suchtext</label>
            <input type="text" id="nameOrValue" [(ngModel)]="newNameOrValue">
            <!-- <app-autocomplete #autocomplete="appAutocomplete">  
                <ng-template appAutocompleteContent>  
                    <ng-container *ngIf="(options | filter: control.value) as result">  
                        <app-option *ngFor="let option of result" [value]="option.label">  
                            {{ option.label }}  
                        </app-option>  
                        <app-option class="no-result" *ngIf="!result.length">No result...</app-option>  
                    </ng-container>  
                </ng-template>  
            </app-autocomplete>   -->
            <button (click)="onChangeText()" i18n="add filter" [disabled]="!newNameOrValue || newNameOrValue.length < 2">Filter hinzuf&uuml;gen</button>
        </ng-container>
        <ng-container *ngIf="newFilterType === 'attributeType'">
            <label for="attributeType" i18n="attribute type">Attribut-Typ</label>
            <select id="attributeType" [(ngModel)]="newAttributeType">
                <option *ngFor="let attributeType of (allowedAttributeTypeList | async)" [value]="attributeType.id">
                    {{attributeType.name}}
                </option>
            </select>
            <label for="attributeValue" i18n="attribute value">Attribut-Wert</label>
            <input type="text" id="attributeValue" [(ngModel)]="newAttributeValue">
            <button type="button" (click)="onAddAttribute()" i18n="add filter" [disabled]="!newAttributeType">Filter hinzuf&uuml;gen</button>
        </ng-container>
        <ng-container *ngIf="newFilterType === 'connectionTypesToLower'">
            <label for="connectionTypesToLower" i18n="connection type">Verbindungstyp &darr;</label>
            <select id="connectionTypesToLower" [(ngModel)]="newConnectionTypeToLower">
                <option *ngFor="let connectionType of (connectionTypesToLowerForCurrentItemType | async)" [value]="connectionType.id">
                    {{connectionType.name}}
                </option>
            </select>
            <ng-container *ngIf="newConnectionTypeToLower !== ''">
                <label for="itemTypesToLower" i18n="item type">Item-Typ</label>
                <select id="itemTypesToLower" [(ngModel)]="newItemTypeToLower">
                    <option *ngIf="(itemTypesToLowerForCurrentItemType | async)?.length > 1" value="{any type}" i18n="any type">
                        (beliebigen Typ)
                    </option>
                    <option *ngFor="let itemType of (itemTypesToLowerForCurrentItemType | async)" [value]="itemType.id">
                        {{itemType.name}}
                    </option>
                </select>
                <select id="connectionCount" [(ngModel)]="newConnectionCountToLower">
                    <option value="0">0</option>
                    <option value="1+">> 0</option>
                    <option value="1">1</option>
                    <option value="2+">> 1</option>
                </select>
                <button type="button" (click)="onAddConnectionToLower()" i18n="add filter" [disabled]="!newItemTypeToLower || !newConnectionCountToLower">
                    Filter hinzuf&uuml;gen
                </button>
            </ng-container>
        
        </ng-container>
    </div>
    <div class="flex-horizontal__align-middle">
        <div class="filter-item" *ngIf="(form$ | async).nameOrValue">
            <ng-container i18n="name or value">Name oder Attributwert: </ng-container>
            {{(form$ | async).nameOrValue}}
            <button type="button" class="selectable" (click)="onDeleteText()">X</button>
        </div>
        <div class="filter-item" *ngFor="let attribute of (form$ | async).attributes">
            {{getAttributeTypeName(attribute.typeId) | async}}: 
            <ng-container [ngSwitch]="attribute.value">
                <span class="italic" *ngSwitchCase="''" i18n="(empty)">(leer)</span>
                <span class="italic" *ngSwitchCase="'!'" i18n="(not empty)">(nicht leer)</span>
                <span class="italic" *ngSwitchDefault>{{attribute.value}}</span>
            </ng-container>
            <button type="button" class="selectable" (click)="onDeleteAttribute(attribute.typeId)">X</button>
        </div>
        <div class="filter-item" *ngFor="let connection of (form$ | async).connectionsToLower; let i = index">
            {{getConnectionToLowerContent(connection) | async}}
            <ng-container [ngSwitch]="connection.count">
                <span *ngSwitchCase="'1+'"> > 0</span>
                <span *ngSwitchCase="'2+'"> > 1</span>
                <span *ngSwitchDefault>
                    = {{connection.count}}
                </span>

            </ng-container>
            <button type="button" class="selectable" (click)="onDeleteConnectionToLower(i)">X</button>
        </div>
    </div>
</div>
