<form [formGroup]="form" *ngIf="form" (submit)="submit()">
    <label for="name" i18n>Name:</label>
    <input type="text" id="name" formControlName="name" />
    <label for="manufacturer">{{attributeTypeNames.Manufacturer}}:</label>
    <input type="text" id="manufacturer" formControlName="manufacturer" />
    <label for="targetType">{{attributeTypeNames.TargetTypeName}}:</label>
    <select id="targetType" formControlName="targetType" *ngIf="!itemType" (change)="onChange($event.target.value)">
        <option *ngFor="let name of itemTypeNames" [value]="name.toLocaleLowerCase()">{{name}}</option>
    </select>
    <span class="readonly-box" *ngIf="itemType">{{itemType.name}}</span>
    <label for="height">{{attributeTypeNames.Height}}:</label>
    <input type="number" id="height" formControlName="height" />
    <label for="heightUnits">{{attributeTypeNames.HeightUnits}}:</label>
    <input type="number" id="heightUnits" formControlName="heightUnits" />
    <label for="width">{{attributeTypeNames.Width}}:</label>
    <input type="number" id="width" formControlName="width" />
    <label for="backsideslots">{{attributeTypeNames.BackSideSlots}}:</label>
    <input type="number" id="backsideslots" formControlName="backSideSlots" />
    <div class="flex space-between">
        <button type="submit" i18n [disabled]="form.invalid || !form.dirty">Save changes</button>
        <button type="button" *ngIf="!createMode" i18n [disabled]="model.assetsCount > 0" (click)="delete()">Delete this model</button>
    </div>
</form>

