@if (form) {
  <form [formGroup]="form" (submit)="submit()">
    <label for="name" i18n>Name:</label>
    <input type="text" id="name" formControlName="name" />
    <label for="manufacturer">{{attributeTypeNames.Manufacturer}}:</label>
    <input type="text" id="manufacturer" formControlName="manufacturer" />
    <label for="targetType">{{attributeTypeNames.TargetTypeName}}:</label>
    @if (!itemType) {
      <select id="targetType" formControlName="targetType" (change)="onChange($event.target)">
        @for (name of itemTypeNames; track name) {
          <option [value]="name.toLocaleLowerCase()">{{name}}</option>
        }
      </select>
    }
    @if (itemType) {
      <span class="readonly-box">{{itemType.name}}</span>
    }
    @if (enclosureMountable || bladeEnclosure) {
      <label for="height">{{attributeTypeNames.Height}}:</label>
      <input type="number" id="height" formControlName="height" />
      <label for="width">{{attributeTypeNames.Width}}:</label>
      <input type="number" id="width" formControlName="width" />
    }
    @if (bladeEnclosure) {
      <label for="backsideslots">{{attributeTypeNames.BackSideSlots}}:</label>
      <input type="number" id="backsideslots" formControlName="backSideSlots" />
    }
    @if (rackMountable || rack) {
      <label for="heightUnits">{{attributeTypeNames.HeightUnits}}:</label>
      <input type="number" id="heightUnits" formControlName="heightUnits" />
    }
    <div class="flex space-between">
      <button type="submit" i18n [disabled]="form.invalid || !form.dirty">Save changes</button>
      @if (!createMode) {
        <button type="button" i18n [disabled]="model.assetsCount > 0" (click)="delete()">Delete this model</button>
      }
    </div>
  </form>
}

