@if (loading) {
  <app-busy></app-busy>
}
@if (!(loading || error || noResult)) {
  <div>
    <p i18n="Add connection to another configuration item below">
        Verbindung nach unten zu einem anderen Configuration Item hinzuf&uuml;gen
    </p>
    <form #connForm="ngForm">
      <div>
        <span>{{(connectionType | async).name}} (max. {{connectionRule.maxConnectionsToLower}})</span>
        &darr;&nbsp;&nbsp;&uarr;&Uarr;
        <span>{{(connectionType | async).reverseName}} (max. {{connectionRule.maxConnectionsToUpper}})</span>
      </div>
      <div>
        <label for="description">
          <ng-container i18n="Description">Beschreibung</ng-container> (<ng-container i18n="Validation rule">Vorgabe</ng-container>
          {{connectionRule.validationExpression}}):
        </label>
        <input name="description" id="description" type="text" autofocus
          [(ngModel)]="connection.description"
          placeholder="Beschreibung" i18n-placeholder="Description" />
        </div>
        <div>
          <div>
            <label for="lowerItem">{{(targetItemType | async).name}}</label>
            <select id="lowerItem" name="lowerItem" [(ngModel)]="connection.lowerItemId" required>
              @for (item of configurationItems; track item) {
                <option
                  [value]="item.id">
                  {{item.name}}
                </option>
              }
            </select>
          </div>
        </div>
      </form>
      @if ((error || noResult)) {
        <p class="red" i18n="No available configuration items were found">Es konnten keine geeigneten Configuration Items gefunden werden.</p>
      }
      @if (!isDescriptionValid) {
        <p class="red" i18n="The description does not match the validation rule">
            Die Beschreibung entspricht nicht den Vorgaben.
        </p>
      }
    </div>
  }
  <div class="flex__space-between">
    <button i18n="Cancel" class="selectable" (click)="onCancel()">Abbrechen</button>
    <button (click)="onSave()" [disabled]="loading || noResult || error || !isDescriptionValid" i18n="Save" class="selectable">
        Speichern
    </button>
  </div>
