<div class="responsibilities">
    <div class="account" i18n="account name">Benutzername</div>
</div>
<div class="responsibilities position-relative" *ngFor="let r of (configurationItem | async).responsibleUsers">
    <div class="account cell-button">
        <span>{{ r }}</span>
        <button mat-button class="red-button selectable"
            *ngIf="r === (userName | async)"
            (click)="onAbandonResponsibility()"
            matTooltip="Verantwortung f&uuml;r dieses Configiration Item aufgeben"
            i18n-matTooltip="abandon responisibility for this configuration item">
            <span class="material-icons">delete</span>
        </button>
    </div>
</div>
