@import "src/_variables.scss";

.base-info {
    @extend %single-col-grid;
    grid-area: item-details;
    font-size: 1.2rem;
    font-weight: bold;
    @media print, (min-width: 50rem) {
        @include one-two-thirds-grid();
    }
}

.connections {
    grid-area: connections;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connection-central {
    text-align: center;
    position: relative;

    .edit-button {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        border: $light-border-style;
        border-radius: 50%
    }
}

.connection-central,
.connections-rule,
.connections-direction,
.connections-group {
    width: 100%
}

.connections-direction,
.connections-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connections-group__container {
    display: grid;
    width: 100%;
}

.connections-group,
.connection-central {
    border: $main-border-style;
    border-radius: 0.5rem;
    padding: 1rem;

    @media print {
        page-break-inside: avoid;
    }
}

.connections-rule {
    border: $light-border-style;
    border-radius: 0.5rem;
    padding: 1rem;
    em {
        font-size: 1rem;
        font-style: normal;
    }
}

.connections-rule__container {
    margin: 0;
    list-style: none;
    padding: 0;
}

.connection {
    padding: 0 0.5rem;
}

.content,
header {
    font-weight: bold;
}

.label {
    @extend %text-on-background;
}

.content {
    @extend %text-on-background;
}

header {
    font-size: 1.1rem;
}

@media screen and (min-width: 60rem) {
    .connections-group__container:not(.onechild) {
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width: 90rem) {
    .connections-group__container:not(.onechild):not(.twochildren) {
        grid-template-columns: auto auto auto;
    }
}
