@import "src/_variables.scss";

%single-col-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
}

@mixin one-two-thirds-grid() {
    grid-template-columns: 1fr 2fr;
}

.base-info {
    @extend %single-col-grid;
    grid-area: item-details;
    font-size: 1.2rem;
    font-weight: bold;
    @media print, (min-width: 50rem) {
        @include one-two-thirds-grid();
    }
}

.attribute-info {
    @extend %single-col-grid;
    padding: 0.2rem 0;
    border-top: $light-border-style;
    @media print, (min-width: 50rem) {
        @include one-two-thirds-grid();
    }
    
    &:first-of-type {
        display: none;
        @media print, (min-width: 50rem) {
            display: grid;
            border-top: none;
        }
    }
}    

.responsible-user {
    @extend %single-col-grid;
    padding: 0.2rem 0;
    margin: 0.2rem;
    border: $light-border-style;
    
    &:first-of-type {
        display: none;
        border: none;

        @media print, (min-width: 64rem) {
            display: grid;
        }
    }

    @media (min-width: 30rem) {
        grid-template-columns: 1fr 1fr;
    }

    @media print, (min-width: 64rem) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        border: none;
        margin: 0;
        border-top: $light-border-style;

        span.material-icons {
            display: none;
        }

    }
}   

.attributes {
    grid-area: attributes;
}

.responsibilites {
    grid-area: responsibilities;
}

.connections {
    grid-area: connections;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connection-central {
    text-align: center;
}

.connection-central,
.connections-rule,
.connections-direction,
.connections-group {
    width: 100%
}

.connections-direction,
.connections-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connections-group__container {
    display: grid;
    width: 100%;
}

.connections-group,
.connection-central {
    border: $main-border-style;
    border-radius: 0.5rem;
    padding: 1rem;
}

.connections-rule {
    border: $light-border-style;
    border-radius: 0.5rem;
    padding: 1rem;
    em {
        font-size: 1rem;
        font-style: normal;
    }
}

.connections-rule__container {
    margin: 0;
    list-style: none;
    padding: 0;
}

.connection {
    padding: 0 0.5rem;
}

.content,
header {
    font-weight: bold;
}

h2 {
    margin-top: 0;
    text-align: center;
}

header {
    font-size: 1.1rem;
}

@media screen and (min-width: 60rem) {
    .connections-group__container:not(.onechild) {
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width: 90rem) {
    .connections-group__container:not(.onechild):not(.twochildren) {
        grid-template-columns: auto auto auto;
    }
}
