<app-busy *ngIf="!(configItemState | async).itemReady" i18n="loading data for configuration item">
    Lade Daten des Configuration Items...
</app-busy>
<ng-container *ngIf="(configItemState | async).itemReady">
    <div class="connections-direction" 
        *ngIf="(configItemState | async).fullConfigurationItem.connectionsToUpper.length > 0">
        <div class="connections-group" 
            *ngFor="let guid of (connectionTypesToUpper | async)">
            <div class="connections-group__container"
                [ngClass]="{ onechild: (getConnectionRuleIdsToUpper(guid) | async).length == 1,
                            twochildren: (getConnectionRuleIdsToUpper(guid) | async).length == 2 }">
                <div class="connections-rule" 
                    *ngFor="let ruleId of (getConnectionRuleIdsToUpper(guid) | async)"
                    [style.background]="getTargetColorByRule(ruleId, (configItemState | async).fullConfigurationItem.connectionsToUpper)">
                    <div class="box-top">
                        <em>
                            {{getTargetItemTypeByRule(ruleId, (configItemState | async).fullConfigurationItem.connectionsToUpper)}}
                        </em>
                    </div>
                    <ul class="connections-rule__container box-body">
                        <li class="connection" 
                            *ngFor="let connection of getConnectionsByRule(ruleId, (configItemState | async).fullConfigurationItem.connectionsToUpper)">
                            <a [routerLink]="['..', connection.targetId]">
                                {{connection.targetName}}</a>
                            <span *ngIf="connection.description"> ({{connection.description}})</span>
                        </li>
                    </ul>
                </div>
            </div>
            <em>{{(getConnectionType(guid) | async)?.ConnTypeReverseName}}</em>
        </div>
        <div class="connections-arrow">
            <span class="material-icons">arrow_upward</span>
        </div>
    </div>
    <div class="configuration-item__container relative" [style.background]="(configItemState | async).fullConfigurationItem.color">
        <app-item-menu></app-item-menu>
        <div class="box-top">
            <h1>
                <span>{{(configItemState | async).fullConfigurationItem.type}}</span>
                <span class="content"> {{(configItemState | async).fullConfigurationItem.name}}</span>
            </h1>
        </div>
        <div class="box-body">
            <app-display-item-attributes [attributes]="(configItemState | async).fullConfigurationItem.attributes"></app-display-item-attributes>
            <app-display-item-responsibilities [responsibilities]="(configItemState | async).fullConfigurationItem.responsibilities"
                [mailSubject]="(configItemState | async).fullConfigurationItem.type + ': ' + (configItemState | async).fullConfigurationItem.name">
            </app-display-item-responsibilities>
            <app-display-item-links [links]="(configItemState | async).fullConfigurationItem.links"></app-display-item-links>
        </div>
    </div>
    <div class="connections-direction" *ngIf="(configItemState | async).fullConfigurationItem.connectionsToLower?.length > 0">
        <div class="connections-arrow">
            <span class="material-icons">arrow_downward</span>
        </div>
        <div class="connections-group" 
            *ngFor="let guid of (connectionTypesToLower | async)">
            <em>{{(getConnectionType(guid) | async)?.ConnTypeName}}</em>
            <div class="connections-group__container"
                [ngClass]="{ onechild: (getConnectionRuleIdsToLower(guid) | async).length == 1,
                            twochildren: (getConnectionRuleIdsToLower(guid) | async) == 2 }">
                <div class="connections-rule" 
                    *ngFor="let ruleId of (getConnectionRuleIdsToLower(guid) | async)"
                    [style.background]="getTargetColorByRule(ruleId, (configItemState | async).fullConfigurationItem.connectionsToLower)">
                    <div class="box-top">
                        <em>
                            {{getTargetItemTypeByRule(ruleId, (configItemState | async).fullConfigurationItem.connectionsToLower)}}
                        </em>
                    </div>
                    <ul class="connections-rule__container box-body">
                        <li class="connection" 
                            *ngFor="let connection of getConnectionsByRule(ruleId, (configItemState | async).fullConfigurationItem.connectionsToLower)">
                            <a [routerLink]="['..', connection.targetId]">
                                {{connection.targetName}}</a>
                            <span *ngIf="connection.description"> ({{connection.description}})</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</ng-container>
