<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CmdbAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CmdbAPI.Properties.Settings.CMDBConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=RZ-CMDB;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <applicationSettings>
        <CmdbAPI.Properties.Settings>
            <setting name="LDAPProperties" serializeAs="String">
                <value>givenname|sn|displayname|title|mail|physicaldeliveryofficename|telephonenumber|userprincipalname|objectsid|samaccountname</value>
            </setting>
        </CmdbAPI.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
