form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    &.ng-invalid {
        border-right: 1px orangered solid;
    }

    input, select {
        margin-bottom: 1rem;

        &.ng-invalid {
            border-color: orangered;
        }
    }

    button {
        margin-top: 1rem;
        &:disabled {
            color: white;
        }
    }
}