<div>
    <form [formGroup]="form" *ngIf="form" (submit)="submit()">
        <label for="name" i18n>Name:</label>
        <input type="text" id="name" formControlName="name" />
        <label for="manufacturer" i18n>Manufacturer:</label>
        <input type="text" id="manufacturer" formControlName="manufacturer" />
        <label for="targetType" i18n>Target item type:</label>
        <select id="targetType" formControlName="targetType">
            <option *ngFor="let name of itemTypeNames" [value]="name.toLocaleLowerCase()">{{name}}</option>
        </select>
        <label for="height" i18n>Height:</label>
        <input type="number" id="height" formControlName="height" />
        <label for="heightUnits" i18n>Height units:</label>
        <input type="number" id="heightUnits" formControlName="heightUnits" />
        <label for="width" i18n>Width:</label>
        <input type="number" id="width" formControlName="width" />
        <div class="flex space-between">
            <button type="submit" i18n [disabled]="form.invalid || !form.dirty">Save changes</button>
            <button type="button" i18n [disabled]="(modelCount | async) > 0">Delete this model</button>
        </div>
    </form>
</div>
