@if (!loginRequired) {
  <app-header></app-header>
}
<router-outlet></router-outlet>
@if (displayError) {
  <div class="overlay error">
    <h3>
      <span class="wait">&mdash;</span>
      <ng-container i18n>Error</ng-container>
      <span class="wait">&mdash;</span>
    </h3>
    <p i18n>
            An error occured in an operation:
        </p>
    <p>
      {{displayError}}
    </p>
    <button type="button" (click)="clearError()" i18n>Acknowledge</button>
  </div>
  <div class="backdrop" (click)="clearError()"></div>
}

@if (loginRequired) {
  <app-form-popup>
    <app-login-form></app-login-form>
  </app-form-popup>
}
