<div class="box-top__sub">
    <h3 i18n="edit attribute values">Attributwerte</h3>
</div>
<div class="box-body__sub" [formGroup]="form">
    <div class="grid" formArrayName="attributes">
        <ng-container
            *ngFor="let attributeType of attributeTypes; let i = index"
            [formGroupName]="i">
            <div>
                <input type="checkbox" formControlName="edit" #slider>
            </div>
            <div>{{attributeType.name}}</div>
            <div [ngClass]="{ vanished: !slider.checked}">
                 <label for="value" i18n="new attribute value for all items (an empty field will delete the attributes)">
                    Neuer gemeinsamer Attribut-Wert (Ein leeres Feld l&ouml;scht das Attribut)
                 </label>
                 <input matInput type="text" formControlName="value" 
                     placeholder=""
                     i18n-placeholder="new attribute value for all items">
                <!-- <mat-autocomplete #autoAttribute="matAutocomplete">
                    <mat-option
                        *ngFor="let value of getValuesForAttributeType(attributeType.id)"
                        [value]="value">
                        {{value}}
                    </mat-option>
                </mat-autocomplete> -->
            </div>
        </ng-container>
    </div>
</div>
