<app-busy *ngIf="busy" i18n="analyzing">Analysiere...</app-busy>
<app-item-menu></app-item-menu>
<div class="box">
    <div class="box-top">
        <h3 i18n="import configuration items">Configuration Items importieren</h3>
    </div>
    <form [formGroup]="form" (submit)="onSubmit()" class="box-body" *ngIf="!resultList">
        <div *ngIf="!fileContent">
            <div class="box-top__sub" i18n="common settings">Allgemeine Einstellungen</div>
            <div class="box-body__sub">
                <div>
                    <mat-form-field>
                        <mat-label i18n="item type to import">Typ der zu importierenden Items</mat-label>
                        <mat-select name="type" formControlName="itemType"
                            (selectionChange)="onChangeItemType($event.value)">
                            <mat-option *ngFor="let itemType of (itemTypes | async)" [value]="itemType.TypeId"
                                [style.background]="itemType.TypeBackColor">
                                <span class="text-on-background">{{itemType.TypeName}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label i18n="additional elements to import">Welche weiteren Elemente sollen importiert werden?</mat-label>
                        <mat-select matInput name="elements" formControlName="elements" multiple
                            (selectionChange)="onChangeElements($event.value)">
                            <mat-option value="attributes" i18n="attributes">Attribute</mat-option>
                            <mat-option value="connToLower" i18n="connections to lower">Verbindungen nach unten</mat-option>
                            <mat-option value="connToUpper" i18n="connections to upper">Verbindungen nach oben</mat-option>
                            <mat-option value="links" i18n="hyperlinks">Hyperlinks</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="margin">
                    <mat-slide-toggle formControlName="ignoreExisting"
                        i18n="ignore item names that already exist"
                        i18n-matTooltip="only CIs are created, if the name does not exist. if it does, nothing will be changed"
                        matTooltip="Es werden nur neue CIs angelegt, vorhanden werden nicht ver&auml;ndert, wenn diese Option gew&auml;hlt ist.">
                        CIs, deren Namen bereits vorhanden ist, sollen ignoriert werden.
                    </mat-slide-toggle>
                </div>
                <div class="margin">
                    <mat-slide-toggle formControlName="headlines"
                        i18n="the first line of the file contains column headers"
                        i18n-matTooltip="the column headers will be compared with the name of the elements (e. g. attributes and connections) for a quicker re-import of an exported file"
                        matTooltip="Die Spalten&uuml;berschriften werden mit den Namen der Elemente (z. B. Attribute und Verbindungen) verglichen und bei &Uuml;bereinstimmung zugeordnet. So kann eine exportierte Datei schnell wieder importiert werden.">
                        Die erste Zeile der Datei enth&auml;lt die Spalten&uuml;berschriften.
                    </mat-slide-toggle>
                </div>
                <div class="margin" *ngIf="form.get('itemType').valid">
                    <input class="inputfile" type="file" id="file" #file formControlName="file"
                        (change)="handleFileInput($event.target.files)">
                    <label class="mat-button" for="file" i18n="choose file">
                        Datei ausw&auml;hlen
                        <div class="mat-button-focus-overlay"></div>
                    </label>
                </div>
            </div>
        </div>
        <div *ngIf="fileContent">
            <div class="box-top__sub" i18n="item type">Item-Typ</div>
            <div class="box-body__sub">{{(selectedItemType | async).TypeName}}</div>
        </div>
        <div *ngIf="fileContent && !dataTable">
            <div class="box-top__sub" i18n="column mappings">Spaltenzuordnungen</div>
            <div class="box-body__sub" formArrayName="columns">
                <div *ngFor="let name of columnNames; let i = index">
                    <mat-form-field>
                        <mat-label>({{i}}) {{name}}</mat-label>
                        <select matNativeControl [formControlName]="i">
                            <option *ngFor="let keyvalue of (targetColumns | async)" [value]="keyvalue.key">
                                {{keyvalue.value}}
                            </option>
                        </select>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button type="button" i18n="back" (click)="onBackToFirst()">Zur&uuml;ck</button>
                    <button mat-button type="button" i18n="continue" [disabled]="form.invalid"
                        (click)="onContinue()">
                        Weiter
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="dataTable">
            <ng-container *ngIf="dataTable.rows.length > 0">
                <div class="box-top__sub" i18n="elements that can be imported">
                    Zu importierende Elemente
                </div>
                <div class="box-body__sub">
                    <table mat-table [dataSource]="dataTable.rows" class="mat-elevation-z8">
                        <ng-container *ngFor="let column of dataTable.columns; let i = index">
                            <ng-container [matColumnDef]="column.name">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{column.caption}}
                                </th>
                                <td mat-cell *matCellDef="let line">
                                    {{line[i]}}
                                </td>
                            </ng-container>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                </div>
            </ng-container>
            <ng-container *ngIf="errorList.length > 0">
                <div class="box-top__sub" i18n="problems found">
                    Erkannte Probleme
                </div>
                <div class="box-body__sub">
                    <table mat-table [dataSource]="errorList" class="mat-elevation-z8">
                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef i18n="line">
                                Zeile
                            </th>
                            <td mat-cell *matCellDef="let entry">
                                {{entry.index + 1}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="message">
                            <th mat-header-cell *matHeaderCellDef i18n="error message">
                                Fehlermeldung
                            </th>
                            <td mat-cell *matCellDef="let entry">
                                <ng-container [ngSwitch]="entry.message">
                                    <span *ngSwitchCase="'empty name'" i18n="item name cannot be empty">
                                        Der Name des Item darf nicht leer sein.
                                    </span>
                                    <span *ngSwitchCase="'duplicate line'" i18n="name is used in multiple lines. duplicate line ignored">
                                        Der Name des Items kommt mehrfach vor. Die doppelte Zeile wird ignoriert.
                                    </span>
                                    <span *ngSwitchCase="'existing item ignored'" i18n="existing item ignored">
                                        Ein Item mit diesem Namen existiert bereits. Entsprechend der Einstellung wird die Zeile ignoriert.
                                    </span>
                                </ng-container>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="['index', 'message']"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['index', 'message']"></tr>
                    </table>
                </div>
            </ng-container>
            <div *ngIf="dataTable.rows.length === 0" class="red"
                i18n="There are no lines to import. Please retry with another file or other settings.">
                Es gibt keine Zeilen zum Importieren. Bitte versuchen Sie es mit einer anderen Datei oder anderen Einstellungen.
            </div>
            <div class="margin">
                <button mat-button type="button" i18n="back" (click)="onBackToFirst()">Zur&uuml;ck</button>
                <button mat-button type="submit" i18n="import items" [disabled]="form.invalid || dataTable.rows.length === 0">
                    Items importieren
                </button>
            </div>
        </div>
    </form>
    <div *ngIf="resultList">
        <div *ngIf="errorsInResults" class="red" i18n="errors encountered. Please check log">
            Es sind Fehler aufgetreten. Bitte pr&uuml;fen Sie das Protokoll.
        </div>
        <table mat-table [dataSource]="resultList" class="mat-elevation-z8">
            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef i18n="line">
                    Zeile
                </th>
                <td mat-cell *matCellDef="let entry">
                    {{entry.index + 1}}
                </td>
            </ng-container>
            <ng-container matColumnDef="subject">
                <th mat-header-cell *matHeaderCellDef i18n="subject">Betroffenes Item</th>
                <td mat-cell *matCellDef="let entry">{{entry.subject}}</td>
            </ng-container>
            <ng-container matColumnDef="severity">
                <th mat-header-cell *matHeaderCellDef i18n="severity">Kategorie</th>
                <td mat-cell *matCellDef="let entry">
                    <ng-container [ngSwitch]="entry.severity">
                        <span *ngSwitchCase="1" i18n="warning">Warnhinweis</span>
                        <span *ngSwitchCase="2" i18n="error">Fehler</span>
                        <span *ngSwitchCase="3" i18n="fatal">Abbruch</span>
                        <span *ngSwitchDefault i18n="info">Information</span>
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef i18n="message">
                    Meldung
                </th>
                <td mat-cell *matCellDef="let entry">
                    <ng-container [ngSwitch]="entry.message">
                        <span *ngSwitchCase="'column count mismatch'" i18n="colum count differ between columns and rows">
                            Unterschiedliche Spaltenanzahlen in den Zeilen und den Spalten.
                        </span>
                        <span *ngSwitchCase="'no lines in table'" i18n="table contains no rows">
                            Die Tabelle ent&auml;t keine Zeilen.
                        </span>
                        <span *ngSwitchCase="'server error'" i18n="server error">Fehler auf dem Server</span>
                        <span *ngSwitchCase="'error'" i18n="general error">Allgemeiner Fehler</span>
                        <span *ngSwitchCase="'item created'" i18n="item created">Configuration Item erzeugt</span>
                        <span *ngSwitchCase="'error creating item'" i18n="error while creating item">
                            Fehler beim Erstellen eines Configuration Items
                        </span>
                        <span *ngSwitchCase="'changing existing item'" i18n="changing existing item">
                            Existierendes Item wird bearbeitet
                        </span>
                        <span *ngSwitchCase="'lower item does not exist'" i18n="lower configuration item with given name does not exist">
                            Ein unteres Configuration Item mit dem angegebenen Namen existiert nicht.
                        </span>
                        <span *ngSwitchCase="'upper item does not exist'" i18n="upper configuration item with given name does not exist">
                            Ein oberes Configuration Item mit dem angegebenen Namen existiert nicht.
                        </span>
                        <span *ngSwitchCase="'no valid url'" i18n="no valid url given">
                            Die angegebene URL ist nicht g&uuml;ltig.
                        </span>
                        <span *ngSwitchCase="'hyperlink created'" i18n="hyperlink created">Hyperlink erzeugt</span>
                        <span *ngSwitchCase="'error creating hyperlink'" i18n="error while creating hyperlink">
                            Fehler beim Erstellen des Hyperlinks
                        </span>
                        <span *ngSwitchCase="'connection created'" i18n="connection created">Verbindung erzeugt</span>
                        <span *ngSwitchCase="'error creating connection'" i18n="error creating connection">
                            Fehler beim Erzeugen der Verbindung
                        </span>
                        <span *ngSwitchCase="'skipping existing connection'" i18n="skipping existing connection">
                            Die bereits existierende Verbindung wurde nicht ver&auml;ndert.
                        </span>
                        <span *ngSwitchCase="'changed connection description'" i18n="changed connection description">
                            Verbindungsbeschreibung wurde ge&auml;ndert.
                        </span>
                        <span *ngSwitchCase="'error changing connection'" i18n="error while changing connection">
                            Fehler beim Ver&auml;ndern der Verbindung
                        </span>
                        <span *ngSwitchCase="'attribute changed'" i18n="attribute changed">Attribut wurde ge&auml;ndert</span>
                        <span *ngSwitchCase="'attribute created'" i18n="attribute created">Attribut wurde erzeugt</span>
                        <span *ngSwitchCase="'attribute deleted'" i18n="attribute deleted">Attribut wurde gel&ouml;scht</span>
                        <span *ngSwitchCase="'no need to change attribute'" i18n="attribute unchanged">Attribut wurde nicht ge&auml;ndert</span>
                        <span *ngSwitchCase="'error changing attribute'" i18n="error changing attribute">
                            Fehler beim &Auml;ndern des Attributs
                        </span>
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef i18n="details">Details</th>
                <td mat-cell *matCellDef="let entry">{{entry.details}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['index', 'subject', 'severity', 'message', 'details']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['index', 'subject', 'severity', 'message', 'details']"></tr>
        </table>
        <button mat-button type="button" i18n="back" (click)="onBackToFirst()">Neuer Import</button>
    </div>
</div>