<div class="box">
    <div class="box-top">
        <h3 i18n="import configuration items">Configuration Items importieren</h3>
    </div>
    <form [formGroup]="form" (submit)="onSubmit()" class="box-body">
        <div class="box-top__sub" i18n="common settings">Allgemeine Einstellungen</div>
        <div class="box-body__sub">
            <div>
                <mat-form-field>
                    <mat-label i18n="item type to import">Typ der zu importierenden Items</mat-label>
                    <mat-select name="type" formControlName="itemType" required>
                        <mat-option *ngFor="let itemType of (itemTypes | async)" [value]="itemType.TypeId"
                            [style.background]="itemType.TypeBackColor">
                            <span class="text-on-background">{{itemType.TypeName}}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label i18n="additional elements to import">Welche weiteren Elemente sollen importiert werden?</mat-label>
                    <mat-select matInput name="elements" formControlName="elements" multiple>
                        <mat-option value="attributes" i18n="attributes">Attribute</mat-option>
                        <mat-option value="connToLower" i18n="connections to lower">Verbindungen nach unten</mat-option>
                        <mat-option value="connToUpper" i18n="connections to upper">Verbindungen nach oben</mat-option>
                        <mat-option value="links" i18n="hyperlinks">Hyperlinks</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-slide-toggle formControlName="ignoreExisting"
                    i18n="ignore item names that already exist"
                    i18n-matTooltip="only CIs are created, if the name does not exist. if it does, nothing will be changed"
                    matTooltip="Es werden nur neue CIs angelegt, vorhanden werden nicht ver&auml;ndert, wenn diese Option gew&auml;hlt ist.">
                    CIs, deren Namen bereits vorhanden ist, sollen ignoriert werden.
                </mat-slide-toggle>
            </div>
            <div>
                <mat-slide-toggle formControlName="headlines"
                    i18n="the first line of the file contains column headers"
                    i18n-matTooltip="the column headers will be compared with the name of the elements (e. g. attributes and connections) for a quicker re-import of an exported file"
                    matTooltip="Die Spalten&uuml;berschriften werden mit den Namen der Elemente (z. B. Attribute und Verbindungen) verglichen und bei &Uuml;bereinstimmung zugeordnet. So kann eine exportierte Datei schnell wieder importiert werden.">
                    Die erste Zeile der Datei enth&auml;lt die Spalten&uuml;berschriften.
                </mat-slide-toggle>
            </div>
            <div>
                <input type="file"
                    id="file" required formControlName="file"
                    (change)="handleFileInput($event.target.files)">
            </div>
        </div>
        <div>
            <button mat-button type="submit" i18n="import items" [disabled]="form.invalid">
                Items importieren
            </button>
        </div>
    </form>
</div>