@import "src/_variables.scss";

mat-form-field {
    width: 100%;
}

.margin {
    margin-top: 1rem;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	cursor: pointer;
}

// .inputfile:focus + label,
// .inputfile + label:hover {
//     background-color: darken($element);
// 	outline: 1px dotted #000;
// 	outline: -webkit-focus-ring-color auto 5px;
// }