<h3 i18n="links">Links</h3>
<table mat-table [dataSource]="(configurationItem | async).links"
    class="mat-elevation-z8" *ngIf="(configurationItem | async).links.length > 0">
    <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef i18n="link">Link</th>
        <td mat-cell *matCellDef="let link">{{ link.uri }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef i18n="description">Beschreibung</th>
        <td mat-cell *matCellDef="let link">{{ link.description }}</td>
    </ng-container>
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef i18n="delete">L&ouml;schen</th>
        <td mat-cell *matCellDef="let link">
            <button mat-button (click)="onDeleteLink(link.id)" class="red-button"
                matTooltip="Link l&ouml;schen"
                i18n-matTooltip="delete link">
                <span class="material-icons">delete_forever</span>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedLinkColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedLinkColumns"></tr>
</table>
<button mat-button type="button" (click)="onAddLink()"
    matTooltip="Externen Link hinzuf&uuml;gen"
    i18n-matTooltip="add external link">
    <span class="material-icons">add_box</span>
</button>
