
<div class="position-relative" appClickOpen>
    <button type="button" class="dropdown-toggle selectable">
        &#9745;
        <span class="visually-hidden" i18n="Selection">
            Auswahl
        </span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <button type="button" class="selectable" i18n="Select all items" (click)="onSelectAllItems()">
                Alle Items
            </button>
        </li>
        <li>
            <button type="button" class="selectable" i18n="Select no items" (click)="onUnselectItems()">
                Auswahl aufheben
            </button>
        </li>
        <li>
            <button type="button" class="selectable" i18n="Invert selection"
                (click)="onInvertSelection()">
                Auswahl umkehren
            </button>
        </li>
        <li>
            <button type="button" class="selectable" i18n="My items"
                (click)="onSelectOwnItems()">
                Meine Items
            </button>
        </li>
        <li>
            <button type="button" class="selectable" i18n="Foreign items"
                (click)="onSelectNotOwnItems()">
                Fremde Items
            </button>
        </li>
    </ul>
</div>
