.medit-button__fixed {
    position: fixed;
    top: 15rem;
    left: 0rem;
    z-index: 55;
    transition: top 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
        left 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    @media (min-width: 55rem) {
        top: 19rem;
        left: 1rem;
    }
}
