<mat-dialog-content>
    <app-busy *ngIf="!ready"></app-busy>
    <p>
        <ng-container i18n="You want to delete the mapping of the">Sie wollen eine Zuordnung der</ng-container>
        <br>
        <ng-container i18n="attribute group">Attributgruppe </ng-container>
        {{ (getAttributeGroup(data.attributeGroupId) | async).name }}<br>
        <ng-container i18n="to the item type">zum Item-Typ </ng-container>
        {{ (getItemType(data.itemTypeId) | async).name }}<br>
        <ng-container i18n="This will also delete"> l&ouml;schen. Dadurch werden </ng-container><br>
        {{ (getAttributesCount() | async)?.toString() }}
        <ng-container i18n="attributes"> Attribute ebenfalls gel&ouml;scht.</ng-container>
    </p>
    <p i18n="Are you sure you want to delete the mapping?">Sind Sie sicher, dass Sie die Zuordnung l&ouml;schen m&ouml;chten?</p>
</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close i18n="no">Nein</button>
    <button mat-button [mat-dialog-close]="true"
        i18n="yes, delete" *ngIf="ready">Ja, l&ouml;schen
    </button>
</div>
