<div *ngIf="rules.length > 0">
    <div class="box-top__sub">
        <h3 i18n="add new connections">Neue Verbindungen hinzuf&uuml;gen</h3>
    </div>
    <div class="box-body__sub" [formGroup]="form">
        <div class="grid" formArrayName="connectionsToAdd">
            <ng-container *ngFor="let rule of rules; let i = index" [formGroupName]="i">
                <ng-container *ngIf="(getAvailableItems(rule.RuleId) | async)?.length > 0">
                    <div>
                        <mat-slide-toggle formControlName="add" #slider></mat-slide-toggle>
                    </div>
                    <div>
                        {{(getConnectionType(rule.ConnType) | async).ConnTypeName}}
                        {{(getItemType(rule.ItemLowerType) | async).TypeName}}
                    </div>
                    <div>
                        <mat-form-field *ngIf="slider.checked">
                            <select matNativeControl formControlName="targetId"
                                placeholder="Item zur Verbindung ausw&auml;hlen"
                                i18n-placeholde="select item to connect to">
                                <option *ngFor="let item of (getAvailableItems(rule.RuleId) | async)"
                                    [value]="item.ItemId">
                                    {{item.ItemName}}
                                </option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field *ngIf="slider.checked">
                            <input matInput type="text" formControlName="description"
                                placeholder="Beschreibung der Verbindung"
                                i18n-placeholder="connection description">
                        </mat-form-field>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>
