<div class="flex" [@turnIn]>
    <div class="item-boxes" *ngIf="expand && item.level <= 0">
        <div class="item-box line-below bottom" *ngFor="let graphItem of (itemsAbove | async)">
            <app-graph-item [item]="graphItem" [expand]="false"></app-graph-item>
        </div>
    </div>
    <div class="line-up" *ngIf="(expand && (itemsAbove | async).length > 0) || item.level > 0"></div>
    <div [style.background]="item.color" class="item-container" [ngClass]="{'outline': item.level === 0}">
        <button type="button" class="position-absolute mini-button over-top__horizontal-center"
            (click)="expandClick()"
            *ngIf="!expand && item.level < 0 && item.itemIdsAbove.length > 0">
            +
        </button>
        <a role="button" [matMenuTriggerFor]="itemMenu" style="cursor: pointer;">
            <div>{{item.type}}</div>
            <div>{{item.name}}</div>
        </a>
        <button type="button" class="mini-button position-absolute below-bottom__horizontal-center"
            (click)="expandClick()"
            *ngIf="!expand && item.level > 0 && item.itemIdsBelow.length > 0">
            +
        </button>
    </div>
    <div class="line-down" *ngIf="(expand && (itemsBelow | async).length) > 0 || item.level < 0"></div>
    <div class="item-boxes" *ngIf="expand && item.level >= 0">
        <div class="item-box line-above" *ngFor="let graphItem of (itemsBelow | async)">
            <app-graph-item [item]="graphItem" [expand]="false"></app-graph-item>
        </div>
    </div>
</div>
<mat-menu #itemMenu="matMenu">
    <a mat-menu-item [ngClass]="{vanished: item.level === 0}" i18n="center on this item"
        [routerLink]="['/display', 'configuration-item', item.id, 'graph']">
        Dieses Configuration Item zentrieren
    </a>
    <a mat-menu-item [ngClass]="{vanished: item.level !== 0}" i18n="show configuration item"
        [routerLink]="['..']">
        Configuration Item ansehen
    </a>
    <button mat-menu-item [ngClass]="{vanished: item.attributesLength === 0}"
        i18n="view attributes" [matMenuTriggerFor]="attributesMenu">
        Attribute ansehen
    </button>
</mat-menu>

<mat-menu #attributesMenu="matMenu">
    <div mat-menu-item *ngFor="let attribute of item.attributes" [disabled]="true">{{attribute}}</div>
</mat-menu>