<app-busy *ngIf="!(configItemState | async).itemReady" i18n="loading data">
    Lade Daten...
</app-busy>
<div class="container" *ngIf="(configItemState | async).itemReady">
    <div class="circle-button right-top__corner">
        <a mat-icon-button [routerLink]="['..']"
            matTooltip="Configuration Item ansehen"
            i18n-matTooltip="view item">
            <span class="material-icons">list</span>
        </a>
    </div>
    <div class="label">{{(configItemState | async).fullConfigurationItem.type}}</div>
    <div class="content">{{(configItemState | async).fullConfigurationItem.name}}</div>
</div>
