<app-busy *ngIf="!(configItemState | async).itemReady" i18n="loading data">
    Lade Daten...
</app-busy>
<div class="container" *ngIf="(configItemState | async).itemReady">
    <app-item-menu></app-item-menu>
    <div class="edit-grid">
        <div class="label" i18n="item type">Item-Typ</div>
        <div class="content" [style.background]="(configurationItem | async).color">
            <span class="text-on-background">{{(configurationItem | async).type}}</span>
        </div>
        <div class="label" i18n="item name">Name</div>
        <div *ngIf="(configurationItem | async).userIsResponsible">
            <button mat-button class="input-display__content-button" type="button"
                (click)="editName = true" *ngIf="!editName"
                matTooltip="Name des Configuration Item &auml;ndern"
                i18n-matTooltip="change name of configuration item">
                {{(configurationItem | async).name}}
            </button>
            <app-text-input *ngIf="editName"
                [originalText]="(configurationItem | async).name"
                [minimumLength]="2"
                (accept)="onChangeItemName($event)"
                (cancel)="editName = false">
            </app-text-input>
        </div>
        <div *ngIf="!(configurationItem | async).userIsResponsible">
            <span>{{(configurationItem | async).name}}</span>&nbsp;
            <button mat-button class="input-display__content-button" type="button"
                (click)="onTakeResponsibility()"
                matTooltip="Sie k&ouml;nnen nur Items bearbeiten, f&uuml;r die Sie die Verantwortung besitzen"
                i18n-matTooltip="you are only allowed to edit items that you are responsible for"
                i18n="take responsibility configuration item">
                Verantwortung für das Configuration Item &uuml;bernehmen
            </button>
        </div>
        <div class="label" i18n="last change">Zuletzt ge&auml;ndert</div>
        <div class="content">{{((configurationItem | async).lastChange) | date:'dd.MM.yyyy HH:mm:ss'}}</div>
        <div class="label" i18n="version">Version</div>
        <div class="content">{{(configurationItem | async).version}}</div>
    </div>
    <hr />
    
    <div *ngIf="(configurationItem | async).userIsResponsible">
        <div *ngIf="(attributeTypes | async).length > 0 || (attributes | async).length > 0">
            <h2 i18n="attributes">Attribute</h2>
            <div class="attribute-info">
                <header class="label" i18n>Attribut-Typ</header>
                <header class="content" i18n>Attribut-Wert</header>
            </div>
            <div class="attribute-info" *ngFor="let attributeType of (attributeTypes | async)">
                <div class="label">{{attributeType.TypeName}}</div>
                <div class="content">
                    <button mat-button class="input-display__content-button"
                        type="button" (click)="editedAttributeType = attributeType.TypeId"
                        *ngIf="attributeType.TypeId !== editedAttributeType && (getAttributeValue(attributeType) | async)"
                        matTooltip="Attributwert &auml;ndern" i18n-matTooltip="change attribute value">
                        {{(getAttributeValue(attributeType) | async)}}
                    </button>
                    <button mat-button class="input-display__content-button red-button"
                        type="button" (click)="onDeleteAttribute(attributeType.TypeId)"
                        *ngIf="attributeType.TypeId !== editedAttributeType && (getAttributeValue(attributeType) | async)"
                        matTooltip="Attributwert l&ouml;schen" i18n-matTooltip="delete attribute value">
                        <span class="material-icons">delete_forever</span>
                    </button>
                    <button mat-button class="input-display__content-button"
                        type="button" (click)="editedAttributeType = attributeType.TypeId"
                        *ngIf="attributeType.TypeId !== editedAttributeType && !(getAttributeValue(attributeType) | async)"
                        matTooltip="Attribut hinzuf&uuml;gen" i18n-matTooltip="add attribute value">
                        <span class="material-icons">add_box</span>
                    </button>
                    <app-text-input *ngIf="attributeType.TypeId === editedAttributeType"
                        [originalText]="(getAttributeValue(attributeType) | async)"
                        [minimumLength]="1"
                        (accept)="onChangeAttributeValue($event)"
                        (cancel)="editedAttributeType = undefined">
                    </app-text-input>
                </div>
            </div>
        </div> 
        <div *ngIf="(connectionTypes | async).length > 0">
            <h2 i18n="connections">Verbindungen</h2>
            <div class="connection-info">
                <div class="connection-type" *ngFor="let connectionType of (connectionTypes | async)">
                    {{ connectionType.ConnTypeName }}
                    <div class="connection-rule"
                        *ngFor="let ruleId of (getConnectionRules(connectionType.ConnTypeId) | async)"
                        [style.background]="getTargetColorByRule(ruleId, (configurationItem | async).connectionsToLower)">
                        <em>{{getTargetItemTypeByRule(ruleId, (configurationItem | async).connectionsToLower)}}</em>
                        <ul class="connections-rule__container">
                            <li class="connection" 
                                *ngFor="let connection of getConnectionsByRule(ruleId, (configurationItem | async).connectionsToLower)">
                                {{connection.targetName}}
                                <span *ngIf="connection.description"> ({{connection.description}})</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3 i18n="links">Links</h3>
            <table mat-table [dataSource]="(configurationItem | async).links"
                class="mat-elevation-z8" *ngIf="(configurationItem | async).links.length > 0">
                <ng-container matColumnDef="link">
                    <th mat-header-cell *matHeaderCellDef i18n="link">Link</th>
                    <td mat-cell *matCellDef="let link">{{ link.uri }}</td>
                    <td mat-footer-cell *matFooterCellDef>
                        <button mat-icon-button type="button" class="circle-button"
                            (click)="addLink = true" *ngIf="addLink === false">
                            <span class="material-icons">add_box</span>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef i18n="description">Beschreibung</th>
                    <td mat-cell *matCellDef="let link">{{ link.description }}</td>
                </ng-container>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef i18n="delete">L&ouml;schen</th>
                    <td mat-cell *matCellDef="let link">
                        <button mat-button (click)="onDeleteLink(link.id)" class="red-button"
                            matTooltip="Link l&ouml;schen"
                            i18n-matTooltip="delete link">
                            <span class="material-icons">delete_forever</span>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedLinkColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedLinkColumns"></tr>
            </table>
            <button mat-button type="button" (click)="onAddLink()"
                matTooltip="Externen Link hinzuf&uuml;gen"
                i18n-matTooltip="add external link">
                <span class="material-icons">add_box</span>
            </button>
        </div> 
        <div>
            <h3 i18n="responsible persons">Verantwortliche</h3>
            <table mat-table [dataSource]="(configurationItem | async).responsibilities" class="mat-elevation-z8">
                <ng-container matColumnDef="name">      
                    <th mat-header-cell *matHeaderCellDef i18n="person name">
                        Name
                    </th>
                    <td mat-cell *matCellDef="let r">
                        {{ r.name }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="account">      
                    <th mat-header-cell *matHeaderCellDef i18n="person name">
                        Konto
                    </th>
                    <td mat-cell *matCellDef="let r">
                        {{ r.account }}
                        <button mat-button class="red-button"
                            *ngIf="r.account.toLocaleLowerCase() === (userName | async).toLocaleLowerCase()"
                            (click)="onAbandonResponsibility()"
                            matTooltip="Verantwortung f&uuml;r dieses Configiration Item aufgeben"
                            i18n-matTooltip="abandon responisibility for this configuration item">
                            <span class="material-icons">delete</span>
                        </button>
                        <button mat-button class="red-button"
                            *ngIf="r.invalidAccount === true && (userRole | async) === 2"
                            (click)="onDeleteResponsibility(r.account)"
                            matTooltip="Verantwortung f&uuml;r des ung&uuml;ltigen Kontos für dieses Configiration Item l&ouml;schen"
                            i18n-matTooltip="delete responisibility of invalid account for this configuration item">
                            <span class="material-icons">delete_forever</span>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="mail">      
                    <th mat-header-cell *matHeaderCellDef i18n="person name">
                        Mail
                    </th>
                    <td mat-cell *matCellDef="let r">
                        {{ r.mail }}
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedResponsibilityColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedResponsibilityColumns"></tr>
            </table>
        </div> 
    </div>
</div>
