<table class="table">
    <thead>
        <th i18n="configuration item">
            Configuration Item
        </th>
        <th *ngFor="let ob of (resultColumns | async)">
            {{ ob.value }}
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let item of (items | async)">
            <td>
                {{item.name}}
            </td>
            <td *ngFor="let ob of (resultColumns | async)">
                <ng-container *ngIf="ob.key.startsWith('a:')">
                    {{ getValue(item, ob.key.substring(2)) }}
                </ng-container>
                <div *ngIf="ob.key.startsWith('ctl:') || ob.key.startsWith('ctu:')" class="link-list">
                    <div *ngFor="let connection of getConnections(item, ob.key)" class="link-list__item">
                        &nbsp; <a [routerLink]="['/display', 'configuration-item', connection.targetId]">
                        {{ connection.targetName}}</a>
                    <span *ngIf="connection.description">
                        ({{ connection.description }})
                    </span>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<main class="page-layout">
    <section>
        <div class="box-top">
            <h3 i18n="edit multiple items">Mehrere Configuration Items gleichzeitig bearbeiten</h3>
        </div>
        <form class="box-body" (ngSubmit)="onSubmit()">
            <app-multi-attributes [items]="(items | async)"
                [form]="form"
                [attributeTypes]="(attributeTypes | async)">
            </app-multi-attributes>
            <app-multi-delete-connections [form]="form" [items]="(items | async)">
            </app-multi-delete-connections>
            <app-multi-add-connections [form]="form" [items]="(items | async)"
                [connectionRules]="(connectionRules | async)">
            </app-multi-add-connections>
            <app-multi-add-links [form]="form" [items]="(items | async)">
            </app-multi-add-links>
            <app-multi-delete-links [form]="form" [items]="(items | async)">
            </app-multi-delete-links>
            <button type="submit" class="selectable" [disabled]="form.invalid" i18n="submit changes">&Auml;nderungen durchf&uuml;hren</button>
        </form>
        <app-multi-table [items]="(items | async)"></app-multi-table>
    </section>
</main>

