<div class="container three-rows">
    <div class="table-cell table-header" i18n="item type name">Name des Item-Typs</div>
    <div class="table-cell table-header" i18n="background color">Hintergrundfarbe</div>
    <div class="table-cell table-header" i18n="commands">Befehle</div>
    <ng-container *ngFor="let itemType of (meta | async).itemTypes">
        <div class="table-cell">
            <div class="input-display__elements"
                *ngIf="activeType !== itemType.TypeId">
                <button mat-button class="input-display__content-button" type="button"
                    (click)="onSetType(itemType)"
                    matTooltip="Name des Item-Typs &auml;ndern" i18n-matTooltip="change name of item type">
                    {{ itemType.TypeName }}
                </button>
            </div>
            <app-text-input *ngIf="activeType===itemType.TypeId"
                [originalText]="itemType.TypeName"
                [minimumLength]="4"
                (accept)="onChangeItemTypeName($event, itemType)"
                (cancel)="onCancel()">
            </app-text-input>
        </div>
        <div class="table-cell">
            <div class="input-edit__elements">
                <input [colorPicker]="itemType.TypeBackColor"
                    [style.background]="itemType.TypeBackColor"
                    class="insecure-background"
                    [cpOutputFormat]="'hex'"
                    [cpPosition]="'bottom'"
                    [cpOKButton]="true" [cpCancelButton]="true"
                    [value]="itemType.TypeBackColor"
                    (colorPickerOpen)="onCancel()"
                    (colorPickerSelect)="onChangeItemBackgroundColor($event, itemType)" />
            </div>
        </div>
        <div class="table-cell">
            <button mat-icon-button type="button"
                ngxClipboard [cbContent]="itemType.TypeId"
                matTooltip="Guid in die Zwischenablage kopieren"
                i18n-matTooltip="copy guid to clipboard">
                <span class="material-icons">shop_two</span>
            </button>
            <button mat-icon-button type="button" class="btn-red"
                matTooltip="Item-Typ l&ouml;schen"
                i18n-matTooltip="delete item type"
                (click)="onDeleteItemType(itemType)">
                <span class="material-icons">delete_forever</span>
            </button>
        </div>
    </ng-container>
    <div class="table-cell table-span3" *ngIf="!createMode">
        <button mat-icon-button type="button" (click)="onCreate()">
            <span class="material-icons">add_box</span>
        </button>
    </div>
    <div class="table-cell" *ngIf="createMode">
        <div class="input-edit__elements">
            <input autofocus type="text" [(ngModel)]="typeName"
                (keyup.escape)="onCancel()"
                placeholder="Name" i18n-placeholder="name" />
        </div>
    </div>
    <div class="table-cell" *ngIf="createMode">
        <div class="input-edit__elements">
                <input [colorPicker]="typeBackColor"
                    [style.background]="typeBackColor"
                    class="insecure-background"
                    [cpOutputFormat]="'hex'"
                    [cpPosition]="'top'"
                    [cpOKButton]="true" [cpCancelButton]="true"
                    [value]="typeBackColor" />
                <button class="btn-ok" mat-icon-button type="button"
                    [disabled]="typeName.length < minLength"
                    matTooltip="Speichern" i18n-matTooltip="save"
                    (click)="onCreateItemType()">
                    <span class="material-icons">done</span>
                </button>
                <button class="btn-cancel" mat-icon-button type="button" (click)="onCancel()"
                    matTooltip="Abbrechen" i18n-matTooltip="cancel">
                    <span class="material-icons">block</span>
                </button>
            </div>
    </div>
</div>
