@use "../../../_variables.scss";

.dragging {
    background-color: lightgray;
    color: gray;
    border-color: gray;
    border-style: dotted;
}

.target {
    background-color: lemonchiffon;
}

.highlighted {
    background-color: lightblue;
}

.upper-border {
    border-top: variables.$medium-border-style;
}

.right-border {
    border-right: variables.$medium-border-style !important;
}

.lower-border {
    border-bottom: variables.$medium-border-style;
}

.left-border {
    border-left: variables.$medium-border-style;
}

.red-border {
    outline: 2px solid red !important;
}