@import "src/_variables.scss";

.attribute-list {
    display: grid;
    grid-auto-rows: 2rem;
    row-gap: 0.5rem;
    grid-template-columns: max-content 2em auto;

    input {
        grid-column: span 3;
    }
}

.connection-list {
    display: grid;
    grid-auto-rows: 2rem;
    row-gap: 0.5rem;
    grid-template-columns: max-content 2em max-content;
}


@media (min-width: 35rem) {
    .attribute-list {
        grid-template-columns: max-content 2em 1fr;

        input {
            grid-column: unset;
        }
    }
}

@media (min-width: 50rem) {

    .search-form__checkbox {
        grid-column: span 2;
    }
}

