<form [formGroup]="searchService.searchForm" (ngSubmit)="onSubmit()"
class="search-form">
  <app-search-name-value formControlName="NameOrValue"></app-search-name-value>
  <app-search-item-type formControlName="ItemType"></app-search-item-type>
  <app-search-attributes [form]="searchService.searchForm"></app-search-attributes>
  <app-search-responsibility formControlName="ResponsibleToken"
    [userName]="(metaData | async).userName"></app-search-responsibility>

  <label *ngIf="searchService.connectionsToUpperPresent()" 
    i18n="upward connections">Verbindungen nach oben</label>
  <div formArrayName="ConnectionsToUpper" *ngIf="searchService.connectionsToUpperPresent()"
    class="connection-list">
    <ng-container
      *ngFor="let connControl of searchService.getConnectionsToUpperControls(); let i = index"
      [formGroupName]="i">
      <app-search-connection [form]="connControl"
        (deleteConnection)="onDeleteConnectionToUpper(i)"
        [connectionTypeName]="(getConnectionType(connControl.get('ConnectionType').value) | async).ConnTypeReverseName"
        [itemTypeName]="(getItemItype(connControl.get('ConfigurationItemType').value) | async).TypeName">
      </app-search-connection>
    </ng-container>
  </div>
  <label *ngIf="searchService.connectionsToLowerPresent()" i18n="downward connections">Verbindungen nach unten</label>
  <div formArrayName="ConnectionsToLower" *ngIf="searchService.connectionsToLowerPresent()"
    class="connection-list">
    <ng-container
      *ngFor="let connControl of searchService.getConnectionsToLowerControls(); let i = index"
      [formGroupName]="i">
      <app-search-connection [form]="connControl"
        (deleteConnection)="onDeleteConnectionToLower(i)"
        [connectionTypeName]="(getConnectionType(connControl.get('ConnectionType').value) | async).ConnTypeName"
        [itemTypeName]="(getItemItype(connControl.get('ConfigurationItemType').value) | async).TypeName">
      </app-search-connection>
    </ng-container>
  </div>
  <div>
    <button mat-menu-item type="button" class="filter-button"
      *ngIf="(getConnectionTypesToUpperForCurrentItemType() | async).length > 0"
      [matMenuTriggerFor]="connectionToUpperMenu"
      i18n="connections to upper item"
      matTooltip="Filtern nach Configuration Items, die bestimmte Verbindungen nach oben besitzen"
      i18n-matTooltip="filter for configuration items that have given connections to upper items">
      <span class="material-icons">filter_list</span>
      Verbindungen nach oben
      <span class="material-icons">more_vert</span>
    </button>
    <button mat-menu-item type="button" class="filter-button"
      *ngIf="(getConnectionTypesToLowerForCurrentItemType() | async).length > 0"
      [matMenuTriggerFor]="connectionToLowerMenu"
      i18n="connections to lower item"
      matTooltip="Filtern nach Configuration Items, die bestimmte Verbindungen nach unten besitzen"
      i18n-matTooltip="filter for configuration items that have given connections to lower items">
      <span class="material-icons">filter_list</span>
      Verbindungen nach unten
      <span class="material-icons">more_vert</span>
    </button>
      <mat-menu #connectionToUpperMenu="matMenu">
        <ng-container
          *ngFor="let connectionType of (getConnectionTypesToUpperForCurrentItemType | async)">
          <button mat-menu-item type="button" [matMenuTriggerFor]="connectionItemMenu">
            {{connectionType.ConnTypeReverseName}}
          </button>
          <mat-menu #connectionItemMenu="matMenu">
            <button mat-menu-item type="button" i18n="any type"
              [disabled]="getItemTypes((metaData | async).currentItemType.upperItemTypesForConnectionType, connectionType.ConnTypeId).length < 2"
              [ngClass]="{vanished: getItemTypes((metaData | async).currentItemType.upperItemTypesForConnectionType, connectionType.ConnTypeId).length < 2}"
              (click)="searchService.addConnectionToUpper(connectionType.ConnTypeId)">
              beliebigen Typ
            </button>
            <button mat-menu-item type="button" 
              *ngFor="let itemType of getItemTypes((metaData | async).currentItemType.upperItemTypesForConnectionType, connectionType.ConnTypeId)"
              (click)="searchService.addConnectionToUpper(connectionType.ConnTypeId, itemType.TypeId)">
              {{itemType.TypeName}}
            </button>
          </mat-menu>
        </ng-container>
      </mat-menu>
      <mat-menu #connectionToLowerMenu="matMenu">
        <ng-container
          *ngFor="let connectionType of (getConnectionTypesToLowerForCurrentItemType() | async)">
          <button mat-menu-item type="button" [matMenuTriggerFor]="connectionItemMenu">
            {{connectionType.ConnTypeName}}
          </button>
          <mat-menu #connectionItemMenu="matMenu">
            <button mat-menu-item type="button" i18n="any type"
            [disabled]="getItemTypes((metaData | async).currentItemType.upperItemTypesForConnectionType, connectionType.ConnTypeId).length < 2"
            [ngClass]="{vanished: getItemTypes((metaData | async).currentItemType.upperItemTypesForConnectionType, connectionType.ConnTypeId).length < 2}"
            (click)="searchService.addConnectionToLower(connectionType.ConnTypeId)">
              beliebigen Typ
            </button>
            <button mat-menu-item type="button"
              *ngFor="let itemType of (metaData | async).currentItemType.upperItemTypesForConnectionType.get(connectionType.ConnTypeId)"
              (click)="searchService.addConnectionToLower(connectionType.ConnTypeId, itemType.TypeId)">
              {{itemType.TypeName}}
            </button>
          </mat-menu>
        </ng-container>
      </mat-menu>
  </div>
  <div class="submit">
    <button mat-icon-button type="submit" matTooltip="Suche starten" 
        [disabled]="!(searchService.searchForm.touched || searchService.searchForm.dirty) || searchService.searchForm.invalid"
        i18n-matTooltip="start search">
        <span class="material-icons">search</span>
    </button>
    <button mat-icon-button type="button" matTooltip="Formular zur&uuml;cksetzen" 
        (click)="onResetForm()" i18n-matToolTip="reset form">
        <span class="material-icons">delete_forever</span>
    </button>
  </div>
</form>
