<form [formGroup]="searchService.searchForm" (ngSubmit)="onSubmit()"
class="search-form">
  <app-search-name-value formControlName="NameOrValue"></app-search-name-value>
  <label for="onlyOwn" *ngIf="searchService.responsibilityEnabled()"
    i18n="Show only onw CIs">Nur eigene CIs anzeigen</label>
  <input type="checkbox" *ngIf="searchService.responsibilityEnabled()" 
      name="onlyOwn" id="onlyOwn" checked="true" (change)="searchService.deleteResponsibility()">
  <input type="hidden" id="responsibleToken" formControlName="ResponsibleToken">
  <app-search-item-type formControlName="ItemType"></app-search-item-type>
  <!-- <label *ngIf="searchService.attributesPresent()" i18n="attribute">Attribut</label>
  <div formArrayName="Attributes" *ngIf="searchService.attributesPresent()">
      <div class="attribute-list">
        <ng-container
         *ngFor="let attributeControl of searchService.getAttributeControls(); let i = index"
         [formGroupName]="i">
          <label for="attributType">{{(metaData | async).attributeTypesMap.get(attributeControl.get('AttributeTypeId').value).TypeName}}</label>
          <button mat-icon-button type="button" (click)="onDeleteAttribute(i)"
            matTooltip="Attribut &quot;{{(metaData | async).attributeTypesMap.get(attributeControl.get('AttributeTypeId').value).TypeName}}&quot; l&ouml;schen"
             i18n-matTooltip="delete attribute">
              <span class="material-icons">delete_forever</span>
          </button>
          <input type="text" id="{{i}}" formControlName="AttributeValue">
          <input type="hidden" formControlName="AttributeTypeId">
        </ng-container>
      </div>
  </div> -->
  <app-search-attributes [form]="searchService.searchForm"></app-search-attributes>
  <label *ngIf="searchService.connectionsToUpperPresent()" 
    i18n="upward connections">Verbindungen nach oben</label>
  <div formArrayName="ConnectionsToUpper" *ngIf="searchService.connectionsToUpperPresent()"
    class="connection-list">
    <ng-container
      *ngFor="let connControl of searchService.getConnectionsToUpperControls(); let i = index"
      [formGroupName]="i">
        <label for="connectionCount">
          {{(metaData | async).connectionTypesMap.get(connControl.get('ConnectionType').value).ConnTypeReverseName}}
        </label>
        <label for="connectionCount">
            {{(metaData | async).itemTypesMap.get(connControl.get('ConfigurationItemType').value).TypeName}}
        </label>
        <button mat-icon-button type="button" (click)="onDeleteConnectionToUpper(i)"
          matTooltip="Verbindung l&ouml;schen"
          i18n-matTooltip="delete connection">
            <span class="material-icons">delete_forever</span>
        </button>
        <input type="hidden" formControlName="ConnectionType">
        <input type="hidden" formControlName="ConfigurationItemType">
        <select id="connectionCount" formControlName="Count">
            <option value="0">0</option>
            <option value="1+">> 0</option>
            <option value="1">1</option>
            <option value="2+">> 1</option>
        </select>
    </ng-container>
  </div>
  <label *ngIf="searchService.connectionsToLowerPresent()" i18n="downward connections">Verbindungen nach unten</label>
  <div formArrayName="ConnectionsToLower" *ngIf="searchService.connectionsToLowerPresent()"
    class="connection-list">
    <ng-container
      *ngFor="let connControl of searchService.getConnectionsToLowerControls(); let i = index"
      [formGroupName]="i">
        <label for="connectionCount">
          {{(metaData | async).connectionTypesMap.get(connControl.get('ConnectionType').value).ConnTypeName}}
          {{(metaData | async).itemTypesMap.get(connControl.get('ConfigurationItemType').value).TypeName}}
        </label>
        <button mat-icon-button type="button" (click)="onDeleteConnectionToLower(i)"
          matTooltip="Verbindung l&ouml;schen"
          i18n-matTooltip="delete connection">
            <span class="material-icons">delete_forever</span>
        </button>
        <input type="hidden" formControlName="ConnectionType">
        <input type="hidden" formControlName="ConfigurationItemType">
        <select formControlName="Count">
            <option value="0">0</option>
            <option value="1+">> 0</option>
            <option value="1">1</option>
            <option value="2+">> 1</option>
        </select>
    </ng-container>
  </div>
  <div>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="connectionToUpperMenu"
            [disabled]="(metaData | async).currentItemType.connectionTypesToUpper.length == 0"
            [ngClass]="{vanished: (metaData | async).currentItemType.connectionTypesToUpper.length == 0}"
            type="button" i18n="connections to upper item">Verbindungen nach oben
        </button>
        <button mat-menu-item [matMenuTriggerFor]="connectionToLowerMenu"
            [disabled]="(metaData | async).currentItemType.connectionTypesToLower.length == 0"
            [ngClass]="{vanished: (metaData | async).currentItemType.connectionTypesToLower.length == 0}"
            type="button" i18n="connections to lower item">Verbindungen nach unten
        </button>
        <button mat-menu-item type="button" (click)="onAddResponsibility(metaData)"
            *ngIf="!searchService.responsibilityEnabled()"
            i18n="only own items">Nur eigene Items
        </button>
      </mat-menu>
      <mat-menu #connectionToUpperMenu="matMenu">
        <ng-container
          *ngFor="let connectionType of (metaData | async).currentItemType.connectionTypesToUpper">
          <button mat-menu-item type="button" [matMenuTriggerFor]="connectionItemMenu">
            {{connectionType.ConnTypeReverseName}}
          </button>
          <mat-menu #connectionItemMenu="matMenu">
            <button mat-menu-item type="button" i18n="any type"
              [disabled]="getItemTypes((metaData | async).currentItemType.upperItemTypesForConnectionType, connectionType.ConnTypeId).length < 2"
              [ngClass]="{vanished: getItemTypes((metaData | async).currentItemType.upperItemTypesForConnectionType, connectionType.ConnTypeId).length < 2}"
              (click)="searchService.addConnectionToUpper(connectionType.ConnTypeId)">
              beliebigen Typ
            </button>
            <button mat-menu-item type="button" 
              *ngFor="let itemType of getItemTypes((metaData | async).currentItemType.upperItemTypesForConnectionType, connectionType.ConnTypeId)"
              (click)="searchService.addConnectionToUpper(connectionType.ConnTypeId, itemType.TypeId)">
              {{itemType.TypeName}}
            </button>
          </mat-menu>
        </ng-container>
      </mat-menu>
      <mat-menu #connectionToLowerMenu="matMenu">
        <ng-container
          *ngFor="let connectionType of (metaData | async).currentItemType.connectionTypesToLower">
          <button mat-menu-item type="button" [matMenuTriggerFor]="connectionItemMenu">
            {{connectionType.ConnTypeName}}
          </button>
          <mat-menu #connectionItemMenu="matMenu">
            <button mat-menu-item type="button" i18n="any type"
            [disabled]="getItemTypes((metaData | async).currentItemType.upperItemTypesForConnectionType, connectionType.ConnTypeId).length < 2"
            [ngClass]="{vanished: getItemTypes((metaData | async).currentItemType.upperItemTypesForConnectionType, connectionType.ConnTypeId).length < 2}"
            (click)="searchService.addConnectionToLower(connectionType.ConnTypeId)">
              beliebigen Typ
            </button>
            <button mat-menu-item type="button"
              *ngFor="let itemType of (metaData | async).currentItemType.upperItemTypesForConnectionType.get(connectionType.ConnTypeId)"
              (click)="searchService.addConnectionToLower(connectionType.ConnTypeId, itemType.TypeId)">
              {{itemType.TypeName}}
            </button>
          </mat-menu>
        </ng-container>
      </mat-menu>
      <button mat-icon-button #filterButton [matMenuTriggerFor]="appMenu"
          type="button" matTooltip="Filterkriterien hinzuf&uuml;gen" i18n-matTooltip>
          <span class="material-icons">filter_list</span>
      </button>
  </div>
  <div class="submit">
    <button mat-icon-button type="submit" matTooltip="Suche starten" 
        [disabled]="!(searchService.searchForm.touched || searchService.searchForm.dirty) || searchService.searchForm.invalid"
        i18n-matTooltip="start search">
        <span class="material-icons">search</span>
    </button>
    <button mat-icon-button type="button" matTooltip="Formular zur&uuml;cksetzen" 
        (click)="onResetForm()" i18n-matToolTip="reset form">
        <span class="material-icons">delete_forever</span>
    </button>
  </div>
</form>
