<div class="attribute-container box" *ngIf="(attributeTypes | async).length > 0">
    <div class="corner-button" *ngIf="attributes.length !== (attributeTypes | async).length">
        <button mat-icon-button type="button"
        (click)="showAllAttributeTypes = !showAllAttributeTypes"
        matTooltip="&Auml;ndern, ob alle m&ouml;glichen Attribute angezeigt werden, oder nur die tats&auml;chlich vorhandenen"
        i18n-matTooltip="toggle if all possible attributes are shown or only those that have a value">
            <span class="material-icons">{{showAllAttributeTypes ? 'playlist_add_check' : 'playlist_add'}}</span>
        </button>
    </div>
    <div class="attributes">
        <h2 i18n="attribute">Attribute</h2>
        <div class="attribute-info"
            *ngIf="(!showAllAttributeTypes && attributes.length > 0) || (showAllAttributeTypes && (attributeTypes | async).length > 0)">
            <header class="label" i18n>Attribut-Typ</header>
            <header class="content" i18n>Attribut-Wert</header>
        </div>
        <ng-container *ngIf="!showAllAttributeTypes">
            <div class="attribute-info" *ngFor="let attribute of attributes">
                <div class="label">{{attribute.type}}</div>
                <div class="content">{{attribute.value}}</div>
            </div>
        </ng-container>
        <ng-container *ngIf="showAllAttributeTypes">
            <div class="attribute-info" *ngFor="let attributeType of (attributeTypes | async)">
                <div class="label">{{attributeType.TypeName}}</div>
                <div class="content">{{getAttributeValue(attributeType)}}</div>
            </div>
        </ng-container>
    </div>
</div>
