<div class="box-top flex__space-between">
    <span i18n="actions">Aktionen</span>
    <button type="button" (click)="hidden = !hidden">
        <span *ngIf="hidden">v</span>
        <span *ngIf="!hidden">&lt;</span>
    </button>
</div>
<div class="box-body" [ngClass]="{hidden: hidden}">
    <ul class="menu">
        <li class="menu-item" *ngIf="(userRole | async) > 1">
            <button type="button" class="no-wrap" [routerLink]="['/admin']" i18n="administration">
                Administration
            </button>
        </li>
        <li class="menu-item" *ngIf="!insideList">
            <button type="button" class="no-wrap" i18n="search / results" (click)="gotoList()">
                Suchen / Ergebnisse
            </button>
        </li>
        <li class="menu-item" *ngIf="insideList && (searchItemType | async) && (areMultipleItemsSelected | async) === true">
            <button type="button" class="no-wrap" [@showButton]
                (click)="onMultiEditItemList()" i18n="edit multiple items">
                Gemeinsam editieren
            </button>
        </li>
        <li class="menu-item" *ngIf="insideList && (searchItemType | async) && (resultList | async).length > 0">
            <button type="button" class="no-wrap" (click)="showExport = !showExport" i18n="export list">
                Liste exportieren
            </button>
            <app-export-items *ngIf="showExport" [items]="(resultList | async)" [searchItemType]="(searchItemType | async)" (exported)="showExport = false">
            </app-export-items>
        </li>
        <li class="menu-item" *ngIf="pathExt === 'neighbors' && (areMultipleItemsSelected | async) === true">
            <button type="button" class="no-wrap" [@showButton]
                (click)="onMultiEditItemList()" i18n="edit multiple items">
                Gemeinsam editieren
            </button>
        </li>
        <li class="menu-item" *ngIf="(userRole | async) > 0">
            <button type="button" class="no-wrap" [routerLink]="[editBaseLink, itemLinkPart, 'create']" i18n="create new item">
                Neues Item hinzuf&uuml;gen
            </button>
        </li>
        <li class="menu-item" *ngIf="itemId && (userRole | async) > 0 && pathExt !== 'edit'">
            <button type="button" class="no-wrap" [routerLink]="[editBaseLink, itemLinkPart, itemId]" i18n="edit item">
                Bearbeiten
            </button>
        </li>
        <li class="menu-item" *ngIf="itemId && (userRole | async) > 0">
            <button type="button" class="no-wrap" [routerLink]="[editBaseLink, itemLinkPart, itemId, 'copy']" i18n="copy item">
                Kopieren
            </button>
        </li>
        <li class="menu-item" *ngIf="itemId && pathExt">
            <button type="button" class="no-wrap" [routerLink]="[displayBaseLink, itemLinkPart, itemId]" i18n="view item">
                Item ansehen
            </button>
        </li>
        <li class="menu-item" *ngIf="itemId && pathExt !== 'graph'">
            <button type="button" class="no-wrap" [routerLink]="[displayBaseLink, itemLinkPart, itemId, 'graph']" i18n="view graph">
                Grafik ansehen
            </button>
        </li>
        <li class="menu-item" *ngIf="itemId && pathExt !== 'history'">
            <button type="button" class="no-wrap" [routerLink]="[displayBaseLink, itemLinkPart, itemId, 'history']" i18n="view history">
                Versionsverlauf ansehen
            </button>
        </li>
        <li class="menu-item" *ngIf="itemId && pathExt !== 'neighbors'">
            <button type="button" class="no-wrap" [routerLink]="[displayBaseLink, itemLinkPart, itemId, 'neighbors']" i18n="search neighbors">
                Nachbarn suchen
            </button>
        </li>
        <li class="menu-item" *ngIf="(userRole | async) > 0">
            <button type="button" class="no-wrap" [routerLink]="[editBaseLink, 'import']" i18n="import items">
                Items importieren
            </button>
        </li>
    </ul>
</div>
