@import "projects/cmdb/src/_variables.scss";

.box-body {
    padding: unset;
    border-radius: unset;
    overflow-y: hidden;
    transition: all 0.5s ease-in-out;
}

ul.menu {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    
    li.menu-item {
        padding: 0.2rem 0.5rem;
        border: $light-border-style;
        
        &.active {
            background: $element-hover-background-color;
        }
        &.active::before {
            content: '';
            height: 0;
            width: 0;
            border: 0.35rem solid transparent;
            border-right-width: 0;
            border-left-color: $main-border-color;
            display: inline-block;
        }
    }
}

.hidden {
    max-height: 0;
}

button.no-wrap {
    width: 100%;
}
