@import "../../../variables.scss";

.search-container {
    display: grid;
    position: fixed;
    left: 0;
    top: 7rem;
    grid-template-rows: 5.5rem minmax(40vh, auto);
    grid-template-columns: 50rem 5.5rem;
    grid-template-areas: "criteria tab"
                         "criteria empty";
    transform: translateX(-49.8rem);
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.visible {
    transform: translate(0);
}

.search-criteria {
    background-color: $element-background-color;
    border: $main-border-style;
    border-right-color: transparent;
    grid-area: criteria;
}

.search-tab {
    background-color: $element-background-color;
    border: $main-border-style;
    border-left-color: transparent;
    border-radius: 0 0.5rem 0.5rem 0;
    grid-area: tab;
    a:hover,
    a:active {
        background: white;
        display: inline-block;
    }

    img {
        height: 3rem;
        width: 3rem;
        margin: 1rem;
    }
}

.empty {
    background-color: transparent;
    border-left: $main-border-style;
    grid-area: empty;
}

.search-button {
    height: 1.5rem;
    width: 1.5rem;
}
