<div class="backdrop" (click)="toggleVisibility()" 
    [ngClass]="{backdrop__open: visibilityState===true}"></div>
<div class="search-container" [ngClass]="{visible: visibilityState===true}">
    <div class="search-criteria">
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()"
            class="search-form">
            <label for="nameOrValue">Name oder Attributwert</label>
            <input id="nameOrValue" type="text" 
                formControlName="nameOrValue"
                placeholder="Item-Name oder Attributwert eingeben">
            <label for="onlyOwn">Nur eigene CIs anzeigen</label>
            <input type="checkbox" name="onlyOwn" id="onlyOwn">
            <label for="itemType" *ngIf="searchForm.get('itemType').enabled">Item-Typ</label>
            <div class="multivalue-property" *ngIf="searchForm.get('itemType').enabled">
                <input type="hidden" id="itemType" formControlName="itemType">
                {{itemTypeName}}
                <button mat-icon-button type="button" (click)="onDeleteItemType()" matTooltip="Delete ItemType">
                    <mat-icon>delete_forever</mat-icon>
                </button>
            </div>
            <label *ngIf="attributesPresent()">Attribut</label>
            <div formArrayName="attributes" *ngIf="attributesPresent()">
                <div class="attribute-list" *ngFor="let attributeControl of getAttributeControls(); let i = index" [formGroupName]="i">
                    <label for="attributType">{{getAttributeTypeName(attributeControl)}}</label>
                    <input type="text" id="{{i}}" formControlName="AttributeValue">
                    <input type="hidden" formControlName="AttributeTypeId">
                    <button mat-icon-button type="button" (click)="onDeleteIAttribute(i)" matTooltip="Delete Attribute">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </div>
            </div>
            <div>
                <mat-menu #appMenu="matMenu">
                    <button mat-menu-item [matMenuTriggerFor]="attributeTypeMenu" type="button">Attribute Types</button>
                    <button mat-menu-item [matMenuTriggerFor]="itemTypeMenu" type="button"
                        *ngIf="searchForm.get('itemType').disabled">Item Types</button>
                </mat-menu>
                <mat-menu #attributeTypeMenu="matMenu">
                    <button mat-menu-item type="button" *ngFor="let attributeType of attributeTypes"
                        (click)="addAttributeType(attributeType.typeId)">{{attributeType.typeName}}</button>
                </mat-menu>
                <mat-menu #itemTypeMenu="matMenu">
                    <button mat-menu-item type="button" *ngFor="let itemType of itemTypes; let i of index"
                        (click)="addItemType(i)">{{itemType.typeName}}</button>
                </mat-menu>
                <button mat-icon-button #filterButton [matMenuTriggerFor]="appMenu" type="button">
                    <mat-icon>filter_list</mat-icon>
                </button>
            </div>
            <div class="submit">
                <button type="submit"><img src="assets/images/search.png" alt="Suchen" class="search-button"></button>
            </div>
        </form>
    </div>
    <div class="search-tab">
        <a (click)="toggleVisibility()">
            <img src="assets/images/search.png" alt="Suche öffnen">
        </a>
    </div>
    <div class="empty"></div>
</div>
