@import "../../../variables.scss";

.search-container {
    display: grid;
    position: fixed;
    left: 0;
    top: 7rem;
    width: 95%;
    grid-template-rows: 5.5rem 5.5rem minmax(40vh, auto);
    grid-template-columns: calc(100% - 7rem) 5.5rem;
    grid-template-areas: "criteria searchtab"
                         "criteria resulttab"
                         "criteria empty";
    transform: translateX(-100%) translateX(7.2rem);
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 50;
}

.visible {
    transform: translate(0);
}

.search-criteria {
    background-color: $element-background-color;
    border: $main-border-style;
    border-right-color: transparent;
    grid-area: criteria;
}

.search-tab, .result-tab {
    background-color: $element-background-color;
    border: $main-border-style;
    border-left-color: transparent;
    border-radius: 0 0.5rem 0.5rem 0;
    a:hover,
    a:active {
        background: white;
        display: inline-block;
    }

    img {
        height: 3rem;
        width: 3rem;
        margin: 1rem;
    }
}

.search-tab {
    grid-area: searchtab;
}

.result-tab {
    grid-area: resulttab;
}

.inactive-tab {
    background-color: $element-inactive-background-color;
    border-left: $main-border-style;
}

.empty {
    background-color: transparent;
    border-left: $main-border-style;
    grid-area: empty;
}

.empty-resulttab {
    background-color: transparent;
    border-left: $main-border-style;
    grid-area: resulttab;
}

.search-form {
    padding: 1rem;
    display: grid;
    grid-auto-rows: minmax(2rem, auto);
    grid-row-gap: 0.5rem;

    label {
        font-weight: bold;
    }

    label,
    input,
    select {
        display: block;
        width: 100%;
    }
    
    input:not([type="checkbox"]),
    select {
        border: 1px solid #ccc;
        padding: 0.2rem 0.5rem;
        font: inherit;
    }
    
    input:focus,
    select:focus {
        outline: none;
        background: #d8f3df;
        border-color: #2ddf5c;
    }
    
    input[type="checkbox"] {
        border: 1px solid #ccc;
        background: white;
        width: 1rem;
        height: 1rem;
        appearance: none;
    }
    
    input[type="checkbox"]:checked {
        background: #2ddf5c;
        border: #0e4f1f;
    }
    
    input.invalid,
    select.invalid,
    :invalid {
        border-color: red !important;
        background: #faacac;
    }
    
    button[type="submit"] {
        display: inline-block;
    }
    
}

.attribute-list {
    display: grid;
    grid-auto-rows: 2rem;
    grid-row-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 2em;
}

.checkableProperty {
    display: flex;

    select {
        width: 85%;
    }
}

@media (min-width: 50rem) {
    .search-form {
        margin: auto;
        min-width: 40rem;
        max-width: 60rem;
        grid-template-columns: 14rem auto;
        grid-row-gap: 1rem;
        grid-column-gap: 0.5rem;

        [id="title"] {
            grid-column: span 2;
        }
    }

    .search-form__checkbox {
        grid-column: span 2;
    }
}

.search-button {
    height: 1.5rem;
    width: 1.5rem;
}
