<app-help>
        <p i18n="attributes are text information stored along with a configuration item. Every attribute needs a distinct attribute type.">
            Attribute sind Textinformationen, die zu einem Configuration Item gespeichert werden.
            Jedes Attribut besitzt einen eindeutigen Attribut-Typen.</p>
        <p i18n="every attribute of that type will be validated by the given regular expression">
            Jedes Attribut dieses Typs wird mit dem angegebenen regul&auml;ren Ausdruck auf G&uuml;ltigkeit &uuml;berpr&uuml;ft.</p>
        <p i18n="attribute types are being merged into attribute groups">
            Attribut-Typen werden in Attributgruppen zusammengefasst.
        </p>
        <p i18n="any attribute type may only be used once per configuration item">
            Jeder Attribut-Typ kann nur einmal pro Configuration Item vergeben werden.
        </p>
</app-help>
<table class="box">
    <thead>
        <tr>
            <th class="table-cell table-header">
                <span class="mobile-only">1: </span>
                <span i18n="attribute type name">Name des Attributtyps</span>
            </th>
            <th class="table-cell table-header">
                <span class="mobile-only">2: </span>
                <span i18n="attribute group">Attributgruppe</span>
            </th>
            <th class="table-cell table-header">
                <span class="mobile-only">3: </span>
                <span i18n="validation rule">G&uuml;ltigkeitsregel</span>
            </th>
            <th class="table-cell table-header">
                <span class="mobile-only">4: </span>
                <span i18n="actions">Aktionen</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let attributeType of (attributeTypes | async); let i = index" [formGroup]="form" [ngClass]="{'active-line': activeLine === i}">
            <td class="table-cell">
                <span class="mobile-only">1: </span>
                <button class="input__content-button selectable" type="button"
                    *ngIf="activeLine !== i"
                    [ngClass]="{changed: lastNameChange === i}"
                    (click)="onSetActiveLine(attributeType, i, 1)">
                    {{ attributeType.name }}
                </button>
                <input type="text" class="selectable" #nameInput *ngIf="activeLine === i" formControlName="name">
            </td>
            <td class="table-cell">
                <span class="mobile-only">2: </span>
                <button class="input__content-button selectable" type="button"
                    *ngIf="activeLine !== i"
                    [ngClass]="{changed: lastGroupChange === i}"
                    (click)="onSetActiveLine(attributeType, i, 2)">
                    {{(getAttributeGroup(attributeType.attributeGroupId) | async).name}}
                </button>
                <ng-container *ngIf="activeLine === i">
                    <select formControlName="attributeGroupId" class="selectable" #groupInput>
                        <option *ngFor="let attributegroup of (attributeGroups | async)"
                            value="{{attributegroup.id}}">{{attributegroup.name}}</option>
                    </select>
                </ng-container>
            </td>
            <td class="table-cell">
                <span class="mobile-only">3: </span>
                <button class="input__content-button selectable" type="button"
                    *ngIf="activeLine !== i"
                    [ngClass]="{changed: lastValChange === i}"
                    (click)="onSetActiveLine(attributeType, i, 3)">
                    {{ attributeType.validationExpression }}
                </button>
                <input type="text" class="selectable" #valInput *ngIf="activeLine === i" formControlName="validationExpression">
            </td>
            <td class="table-cell">
                <ng-container *ngIf="activeLine === -1">
                    <span class="mobile-only">4: </span>
                    <button type="button" class="circle-button selectable"
                        [cdkCopyToClipboard]="attributeType.id"
                        matTooltip="Id in die Zwischenablage kopieren"
                        i18n-matTooltip="copy id to clipboard">
                        <span class="material-icons">shop_two</span>
                    </button>
                    <button type="button" class="circle-button red-button selectable"
                        matTooltip="Attributtyp l&ouml;schen"
                        i18n-matTooltip="delete attribute type"
                        (click)="onDeleteAttributeType(attributeType)">
                        <span class="material-icons">delete_forever</span>
                    </button>
                    <button type="button" class="circle-button selectable"
                        *ngIf="(connectionTypes | async).length > 0"
                        matTooltip="Attributtyp in Item-Typ konvertieren"
                        i18n-matTooltip="convert attribute type to item type"
                        [routerLink]="['convert', attributeType.id.toString()]">
                        <span class="material-icons">open_in_new</span>
                    </button>
                </ng-container>
                <ng-container *ngIf="activeLine === i">
                    <button class="btn-ok circle-button selectable" type="button"
                        [disabled]="form.pristine || form.invalid"
                        (click)="onChangeAttributeType()">
                        <span class="material-icons">done</span>
                    </button>
                    <button class="btn-cancel circle-button selectable" type="button" (click)="onCancel()"
                        matTooltip="Abbrechen" i18n-matTooltip="cancel edit">
                        <span class="material-icons">block</span>
                    </button>
                </ng-container>
           </td>
        </tr>
        <tr *ngIf="!createMode">
            <td class="table-cell" colspan="4">
                <button type="button" class="circle-button selectable" (click)="onCreate()">
                    <span class="material-icons">add_box</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="createMode">
            <td class="table-cell">
                <div class="input-edit__elements">
                    <input autofocus type="text" [(ngModel)]="newTypeName" class="selectable"
                        (keyup.escape)="onCancel()"
                        placeholder="Name" i18n-placeholder="name" />
                </div>
            </td>
            <td class="table-cell">
                <div class="input-edit__elements">
                    <select [(ngModel)]="attributeGroup" required class="selectable">
                        <option *ngFor="let attributegroup of (attributeGroups | async)"
                            value="{{attributegroup.id}}">{{attributegroup.name}}</option>
                    </select>
                </div>
            </td>
            <td class="table-cell">
                <div class="input-edit__elements">
                    <input type="text" [(ngModel)]="validationExpression" class="selectable"
                        (keyup.escape)="onCancel()"
                        placeholder="G&uuml;ltigkeitsregel" i18n-placeholder="validation rule" />
                </div>
            </td>
            <td class="table-cell">
                <button class="btn-ok selectable" type="button"
                    [disabled]="newTypeName.length < minLength || attributeGroup === undefined"
                    matTooltip="Speichern" i18n-matTooltip="save"
                    (click)="onCreateAttributeType()">
                    <span class="material-icons">done</span>
                </button>
                <button class="btn-cancel selectable" type="button" (click)="onCancel()"
                    matTooltip="Abbrechen" i18n-matTooltip="cancel">
                    <span class="material-icons">block</span>
                </button>
            </td>
        </tr>
    </tbody>
</table>

