<ul class="menu">
    <li class="menu-item">
        <button type="button" class="no-wrap" i18n="Search / results" (click)="gotoList()">
            Suchen / Ergebnisse
        </button>
    </li>
    <li class="menu-item no-wrap" routerLinkActive="active">
        <a [routerLink]="['attribute-groups']" i18n="Attribute groups">Attributgruppen</a>
    </li>
    <li class="menu-item no-wrap" routerLinkActive="active">
        <a [routerLink]="['attribute-types']" i18n="Attribute types">Attributtypen</a>
    </li>
    <li class="menu-item no-wrap" routerLinkActive="active">
        <a [routerLink]="['item-types']" i18n="Item types">Item-Typen</a>
    </li>
    <li class="menu-item no-wrap" routerLinkActive="active">
        <a [routerLink]="['connection-types']" i18n="Connection types">Verbindungstypen</a>
    </li>
    <li class="menu-item no-wrap" routerLinkActive="active">
        <a [routerLink]="['connection-rules']" i18n="Connection rules">Verbindungsregeln</a>
    </li>
    <li class="menu-item no-wrap" routerLinkActive="active">
        <a [routerLink]="['users']" i18n="User administration">Benutzerverwaltung</a>
    </li>
</ul>
