<li routerLinkActive="active">
    <a [routerLink]="['attribute-groups']" routerLinkActive="active" class="selectable"
        i18n="attribute groups">Attributgruppen</a>
</li>
<li routerLinkActive="active">
    <a [routerLink]="['attribute-types']" routerLinkActive="active" class="selectable"
        i18n="attribute types">Attributtypen</a>
</li>
<li routerLinkActive="active">
    <a [routerLink]="['item-types']" routerLinkActive="active" class="selectable"
        i18n="item types">Item-Typen</a>
</li>
<li routerLinkActive="active">
    <a [routerLink]="['connection-types']" routerLinkActive="active" class="selectable"
        i18n="connection types">Verbindungstypen</a>
</li>
<li routerLinkActive="active">
    <a [routerLink]="['connection-rules']" routerLinkActive="active" class="selectable"
        i18n="connection rules">Verbindungsregeln</a>
</li>
<li routerLinkActive="active">
    <a [routerLink]="['users']" routerLinkActive="active" class="selectable"
        i18n="user administration">Benutzerverwaltung</a>
</li>
