<ul class="menu">
    <li class="menu-item">
        <button type="button" class="no-wrap" i18n="search / results" (click)="gotoList()">
            Suchen / Ergebnisse
        </button>
    </li>
    <li class="menu-item no-wrap" routerLinkActive="active">
        <a [routerLink]="['attribute-groups']" i18n="attribute groups">Attributgruppen</a>
    </li>
    <li class="menu-item no-wrap" routerLinkActive="active">
        <a [routerLink]="['attribute-types']" i18n="attribute types">Attributtypen</a>
    </li>
    <li class="menu-item no-wrap" routerLinkActive="active">
        <a [routerLink]="['item-types']" i18n="item types">Item-Typen</a>
    </li>
    <li class="menu-item no-wrap" routerLinkActive="active">
        <a [routerLink]="['connection-types']" i18n="connection types">Verbindungstypen</a>
    </li>
    <li class="menu-item no-wrap" routerLinkActive="active">
        <a [routerLink]="['connection-rules']" i18n="connection rules">Verbindungsregeln</a>
    </li>
    <li class="menu-item no-wrap" routerLinkActive="active">
        <a [routerLink]="['users']" i18n="user administration">Benutzerverwaltung</a>
    </li>
</ul>
