<?xml version="1.0"?>
<!--
  Weitere Informationen zum Konfigurieren der ASP.NET-Anwendung finden Sie unter
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Windows"/>
    <!--identity impersonate="true"/-->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2"/>
    <customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <add key="CSSFriendly-JavaScript-Path" value="~/css"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="WindowsAuthBinding" allowCookies="false" bypassProxyOnLocal="true" transferMode="Streamed">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpEPBehavior">
          <webHttp defaultBodyStyle="Wrapped" defaultOutgoingResponseFormat="Xml" automaticFormatSelectionEnabled="false" faultExceptionEnabled="false"/>
        </behavior>
        <behavior name="WindowsAuthAjaxEPBehavior">
          <!--enableWebScript/-->
          <webHttp defaultOutgoingResponseFormat="Json" defaultBodyStyle="WrappedRequest" automaticFormatSelectionEnabled="false"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="WindowsAuthBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" httpGetBinding="webHttpBinding" httpGetBindingConfiguration="WindowsAuthBinding"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="WindowsAuthBehavior" name="CmdbSoapAPI.CmsService">
        <endpoint address="" behaviorConfiguration="webHttpEPBehavior" binding="webHttpBinding" bindingConfiguration="WindowsAuthBinding" contract="CmdbSoapAPI.ICmsService"/>
      </service>
      <service name="REST" behaviorConfiguration="WindowsAuthBehavior">
        <endpoint address="" behaviorConfiguration="WindowsAuthAjaxEPBehavior" binding="webHttpBinding" bindingConfiguration="WindowsAuthBinding" contract="REST"/>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" closeIdleServicesAtLowMemory="true" minFreeMemoryPercentageToActivateService="1"/>
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <!--httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="http://localhost:4200" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Credentials" value="true"/>
      </customHeaders>
    </httpProtocol-->
  </system.webServer>
</configuration>