<h2 i18n="create user">Benutzer erstellen</h2>
<mat-dialog-content>
    <form [formGroup]="userForm">
        <div>
            <mat-form-field>
                <mat-label i18n="user name">Benutzername</mat-label>
                <input type="text" formControlName="userName" matInput required class="selectable"
                    [matAutocomplete]="autoUser"
                    (input)="onTextChange($event.target.value)"
                    placeholder="Benutzername" i18n-placeholde="user name"/>
                <mat-autocomplete #autoUser="matAutocomplete">
                    <mat-option *ngFor="let user of (userProposals | async)" [value]="user.accountName">
                        {{ user.accountName }} ({{ user.displayName }})
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label i18n="user role">Rolle (Rechte des Benutzers)</mat-label>
                <select matNativeControl formControlName="role" required class="selectable">
                    <option value="0" i18n="Reader">Leseberechtigung</option>
                    <option value="1" i18n="Editor">Editor (Schreibberechtigung)</option>
                    <option value="2" i18n="Administrator">Administrator</option>
                </select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label i18n="password">Kennwort</mat-label>
                <input type="password" formControlName="password" autocomplete="new-password" matInput required
                    class="selectable" placeholder="Kennwort" i18n-placeholder="password"/>
            </mat-form-field>
            </div>
        <div>
            <mat-form-field>
                <input type="password" formControlName="passwordRepeat" matInput required class="selectable"
                    placeholder="Kennwort wiederholen" i18n-placeholder="repeat password"/>
            </mat-form-field>
            </div>
    </form>
    <div *ngIf="error" class="error" [ngSwitch]="error">
        <p *ngSwitchCase="'Server validation error'" i18n="server validation error">
            Der Server hat Fehler bei der Validierung der Regeln festgestellt.
        </p>
        <p *ngSwitchDefault>
            {{error}}
        </p>
        <ul *ngIf="errorDetails">
            <li *ngFor="let detail of errorDetails" [ngSwitch]="detail">
                <ng-container *ngSwitchCase="'passphrase: Invalid value'" i18n="password does not meet complexity criteria">
                    Das Kennwort entspricht nicht den Komplexitätskriterien.
                </ng-container>
                <ng-container *ngSwitchCase="'accountName: Cannot create a user with an already existing name.'" i18n="cannot create a user with an already existing name">
                    Der Benutzername existiert schon bei einem anderen Benutzer.
                </ng-container>
                <ng-container *ngSwitchDefault>
                    {{detail}}
                </ng-container>
            </li>
        </ul>
    </div>
</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-button (click)="createUser()" [disabled]="userForm.invalid" i18n="create user" class="selectable">Benutzer erstellen</button>
    <button mat-button mat-dialog-close i18n="close" class="selectable">Beenden</button>
</div>