<div class="list-container">
  <h1 class="headline"><ng-container i18n>Asset management</ng-container> - {{rackName}}</h1>
  <div class="list flex-column">
    @if ((racksWithoutModel | async).length > 0) {
      <div class="list-item error">
        <h2>{{rackName}}<ng-container i18n>s without </ng-container>{{modelName}}</h2>
        <div class="list flexrow flex-wrap">
          @for (rack of (racksWithoutModel | async); track rack) {
            <div class="list-item clickable error relative" (click)="selectRack(rack)">
              <h3>{{rack.name}}</h3>
              @if (rack.connectionToRoom) {
                <p>
                  {{(getRoom(rack.connectionToRoom.roomId) | async)?.name}}
                </p>
              }
              <p>
                {{rack.statusName}}
              </p>
              @if (!rack.item.userIsResponsible) {
                <p class="list-item__warning" i18n>You are not responsible. By clicking you will take responsibility for this item.</p>
              }
            </div>
          }
        </div>
      </div>
    }
    @for (model of (models | async); track model) {
      <div class="list-item">
        <div class="flex-row space-between">
          <div>
            <h2>{{model.name}}</h2>
            @if (model.manufacturer && model.manufacturer !== '') {
              <p>{{model.manufacturer}}</p>
            }
          </div>
          <div>
            <button type="button" (click)="selectedModel = model" i18n>Create</button>
          </div>
        </div>
        <div class="list flex-row flex-wrap">
          @for (rack of (getRacksForModel(model) | async); track rack) {
            <div class="list-item clickable relative"
              [ngClass]="{error: !rack.connectionToRoom}"
              (click)="selectRack(rack)">
              <h3>{{rack.name}}</h3>
              @if (rack.connectionToRoom) {
                <p>
                  {{(getRoom(rack.connectionToRoom.roomId) | async)?.name}}
                </p>
              }
              <p>
                {{rack.statusName}}
              </p>
              @if (!rack.item.userIsResponsible) {
                <p class="list-item__warning" i18n>You are not responsible. By clicking you will take responsibility for this item.</p>
              }
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>

@if (selectedRack) {
  <app-form-popup (closed)="selectedRack = undefined">
    <app-rack-form [rack]="selectedRack" (submitted)="onSubmitUpdate($event)"></app-rack-form>
  </app-form-popup>
}

@if (selectedModel) {
  <app-form-popup (closed)="selectedModel = undefined">
    <app-create-asset-form [model]="selectedModel" [existingNames]="(existingRackNames | async)" (submitted)="onSubmitCreated($event)"></app-create-asset-form>
  </app-form-popup>
}