<div class="list-container">
    <h1 class="headline"><ng-container i18n>Asset management</ng-container> - {{rackName}}</h1>
    <div class="list flex-column">
        <div class="list-item error" *ngIf="(racksWithoutModel | async).length > 0">
            <h2>Racks without model</h2>
            <div class="list flexrow flex-wrap">
                <div class="list-item clickable error" *ngFor="let rack of (racksWithoutModel | async)" (click)="selectedRack = rack">
                    <h3>{{rack.name}}</h3>
                    <p *ngIf="rack.connectionToRoom">
                        {{(getRoom(rack.connectionToRoom.roomId) | async)?.name}}
                    </p>
                    <p *ngIf="rack.status">
                        {{rack.statusName}}
                    </p>
                </div>
            </div>
        </div>
        <ng-container *ngFor="let model of (models | async)">
            <div class="list-item">
                <div class="flex-row space-between">
                    <div>
                        <h2>{{model.name}}</h2>
                        <p *ngIf="model.manufacturer && model.manufacturer !== ''">{{model.manufacturer}}</p>
                    </div>
                    <div>
                        <button type="button" i18n>Create</button>
                    </div>
                </div>
                <div class="list flex-row flex-wrap">
                    <div class="list-item clickable"
                        *ngFor="let rack of (getRacksForModel(model) | async)" [ngClass]="{error: !rack.connectionToRoom}"
                        (click)="selectedRack = rack">
                        <h3>{{rack.name}}</h3>
                        <p *ngIf="rack.connectionToRoom">
                            {{(getRoom(rack.connectionToRoom.roomId) | async)?.name}}
                        </p>
                        <p *ngIf="rack.status">
                            {{rack.statusName}}
                        </p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<app-form-popup *ngIf="selectedRack" (closed)="selectedRack = undefined">
    <app-rack-form [rack]="selectedRack" (submitted)="onSubmit($event)"></app-rack-form>
</app-form-popup>
