@if ((ready | async) && (room | async)) {
  <div class="list-container">
    <div class="flex space-between" [ngClass]="{warning: (room | async).item.userIsResponsible === false, error: (room | async).building === '(n/a)'}">
      <h1>
        {{(room | async).name}}
      </h1>
      @if ((room | async).item?.userIsResponsible) {
        <button type="button" class="clickable" (click)="formOpen = true" i18n>Edit room</button>
      }
      @if (!(room | async).item?.userIsResponsible) {
        <button type="button" class="clickable" (click)="takeResponsibility()" i18n>Take responsiblity</button>
      }
    </div>
    <p>
      <a [routerLink]="['/rooms']">
        <ng-container i18n>Building</ng-container>: {{(room | async).building}}
      </a>
    </p>
    <div class="list flex-row flex-wrap">
      @for (rack of (racks | async); track rack) {
        <div class="list-item clickable" [ngClass]="{warning: !rack.item.userIsResponsible, error: !rack.model || !rack.heightUnits || rack.heightUnits < 1}"
          role="button" [routerLink]="['/asset', 'rack', rack.id]">
          <h2>
            {{ rack.name }}
          </h2>
          <ul class="content-list">
            @if ((getEnclosuresInRack(rack) | async).length > 0) {
              <li class="content-list__element">
                {{names.BladeEnclosure}}: {{(getEnclosuresInRack(rack) | async).length}}
              </li>
            }
            @if ((getServersInRack(rack) | async).length > 0) {
              <li class="content-list__element">
                {{names.RackServerHardware}}: {{(getServersInRack(rack) | async).length}}
              </li>
            }
          </ul>
        </div>
      }
    </div>
  </div>
}
@if (formOpen) {
  <app-form-popup (closed)="formOpen = false">
    <app-room-form [room]="(room | async)" (submitted)="onSubmit($event)" (deleted)="onDelete()"></app-room-form>
  </app-form-popup>
}