<div class="room" *ngIf="(ready | async) && (room | async)">
    <div class="flex space-between" [ngClass]="{error: (room | async).building === 'n/a'}">
        <h1>
            {{(room | async).name}}
        </h1>
        <button type="button" (click)="formOpen = true">Edit room</button>
    </div>
    <p>
        <a [routerLink]="['/rooms']">
            <ng-container i18n>Building</ng-container>: {{(room | async).building}}
        </a>
    </p>
    <div class="racks">
        <div class="rack" *ngFor="let rack of (racks | async)"
            role="button" [routerLink]="['/asset', 'rack', rack.id]">
            <h2>
                {{ rack.name }}
            </h2>
            <ul class="content-list">
                <li class="content-list__element" *ngIf="(getEnclosuresInRack(rack) | async).length > 0">
                    {{names.BladeEnclosure}}: {{(getEnclosuresInRack(rack) | async).length}}
                </li>
                <li class="content-list__element" *ngIf="(getServersInRack(rack) | async).length > 0">
                    {{names.RackServerHardware}}: {{(getServersInRack(rack) | async).length}}
                </li>
            </ul>
        </div>
    </div>
</div>
<app-form-popup *ngIf="formOpen" (closed)="formOpen = false">
    <app-room-form [room]="(room | async)" (submitted)="onSubmit($event)" (deleted)="onDelete()"></app-room-form>
</app-form-popup>