<mat-dialog-content>
    <div>
        <mat-form-field>
            <mat-label i18n="choose export type">Was m&ouml;chten Sie exportieren?</mat-label>
            <select matNativeControl [(ngModel)]="exportType">
                <option value="excel" i18n="table view (Excel)">Tabellarische Aufbereitung (Excel)</option>
                <option value="csv" i18n="table view (csv)">Tabellarische Aufbereitung (CSV)</option>
                <option value="graphml" i18n="graphical view (GraphML)">Grafische Aufbereitung (GraphML)</option>
            </select>
        </mat-form-field>
    </div>
    <div *ngIf="exportType === 'excel' || exportType === 'csv'">
        <mat-form-field>
            <mat-label i18n="choose data">Welche Daten m&ouml;chten Sie exportieren?</mat-label>
            <select matNativeControl [(ngModel)]="exportData">
                <option value="connections" i18n="connected items">Verbindungen zu anderen Configuration Items</option>
                <option value="links" i18n="Hyperlinks">Hyperlinks</option>
            </select>
        </mat-form-field>
    </div>
    <div *ngIf="exportType === 'graphml'">
        <mat-form-field>
            <mat-label i18n="choose number of levels">Wie viele Ebenen m&ouml;chten Sie exportieren?</mat-label>
            <select matNativeControl [(ngModel)]="exportDepth">
                <option value="1" i18n="1">1</option>
                <option value="all" i18n="all">Alle</option>
            </select>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button i18n="export" (click)="exportFile()">Exportieren</button>
</mat-dialog-actions>