<div class="connections-direction" *ngIf="connectionTypes.length > 0">
    <div class="connections-arrow">
        <span class="material-icons">arrow_downward</span>
    </div>
    <div class="stretch">
        <div class="box-top flex__space-between"
            [ngClass]="{'box-top__no-body': connectionsToLowerPresent === false}"
            matTooltip="Filtern nach Configuration Items, die bestimmte Verbindungen nach unten besitzen"
            i18n-matTooltip="filter for configuration items that have given connections to lower items">
            <em i18n="connections to lower item">Verbindungen nach unten</em>
            <button mat-button type="button" class="filter-button selectable"
                [matMenuTriggerFor]="connectionToLowerMenu">
                <span class="material-icons">filter_list</span>
            </button>
        </div>
        <div class="box-body" [formGroup]="form" *ngIf="connectionsToLowerPresent">
            <div formArrayName="connectionsToLower" class="connection-list">
                <ng-container
                    *ngFor="let connControl of connectionsToLowerControls; let i = index"
                    [formGroupName]="i">
                    <app-search-connection [form]="connControl"
                    [connectionTypeName]="(getConnectionType(connControl.get('connectionTypeId').value) | async).name"
                    [itemTypeName]="(getItemItype(connControl.get('configurationItemTypeId').value) | async).name"
                    (changeConnectionCount)="onChangeConnectionCount(i, $event)"
                    (deleteConnection)="onDeleteConnectionToLower(i)">
                    </app-search-connection>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<mat-menu #connectionToLowerMenu="matMenu">
    <ng-container
        *ngFor="let connectionType of connectionTypes">
        <button mat-menu-item type="button" [matMenuTriggerFor]="connectionItemMenu">
        {{connectionType.name}}
        </button>
        <mat-menu #connectionItemMenu="matMenu">
        <button mat-menu-item type="button" i18n="any type"
        [disabled]="(getItemTypesToLowerForCurrentItemType(connectionType) | async).length < 2"
        [ngClass]="{vanished: (getItemTypesToLowerForCurrentItemType(connectionType) | async).length < 2}"
        (click)="onAddConnectionToLower(connectionType.id)">
            beliebigen Typ
        </button>
        <button mat-menu-item type="button"
            *ngFor="let itemType of (getItemTypesToLowerForCurrentItemType(connectionType) | async)"
            (click)="onAddConnectionToLower(connectionType.id, itemType.id)">
            {{itemType.name}}
        </button>
        </mat-menu>
    </ng-container>
</mat-menu>
    