<app-busy *ngIf="busy" i18n="analyzing">Analysiere...</app-busy>
<div class="box">
    <div class="box-top">
        <h3 i18n="import configuration items">Configuration Items importieren</h3>
    </div>
    <form [formGroup]="form" (submit)="onSubmit()" class="box-body" *ngIf="!resultList">
        <ng-container *ngIf="!fileContent">
            <div class="box-top__sub" i18n="common settings">Allgemeine Einstellungen</div>
            <div class="box-body__sub">
                <div>
                    <label for="itemType" i18n="item type to import">Typ der zu importierenden Items: </label>
                    <select name="type" id="itemType" formControlName="itemType">
                        <option *ngFor="let itemType of (itemTypes | async)" [value]="itemType.id">
                            {{itemType.name}}
                        </option>
                    </select>
                </div>
                <div>
                    <p i18n="additional elements to import">Welche weiteren Elemente sollen importiert werden?</p>
                    <div>
                        <input type="checkbox" id="attributes" name="attributes" formControlName="attributes">
                        <label for="attributes" i18n="attributes">Attribute</label>
                    </div>
                    <div>
                        <input type="checkbox" id="connectionsToLower" name="connectionsToLower" formControlName="connectionsToLower">
                        <label for="connectionsToLower" i18n="downward connections">Verbindungen nach unten</label>
                    </div>
                    <div>
                        <input type="checkbox" id="connectionsToUpper" name="connectionsToUpper" formControlName="connectionsToUpper">
                        <label for="connectionsToUpper" i18n="downward connections">Verbindungen nach oben</label>
                    </div>
                    <div>
                        <input type="checkbox" id="links" name="links" formControlName="links">
                        <label for="links" i18n="links">Hyperlinks</label>
                    </div>
                </div>
                <div class="margin">
                    <input type="checkbox" id="ignoreExisting" formControlName="ignoreExisting">
                    <label for="ignoreExisting">
                        <ng-container i18n="ignore item names that already exist">
                            CIs, deren Namen bereits vorhanden ist, sollen ignoriert werden.
                        </ng-container>
                        <span class="visually-hidden" i18n="only CIs are created, if the name does not exist. if it does, nothing will be changed">
                            Es werden nur neue CIs angelegt, vorhandene werden nicht ver&auml;ndert, wenn diese Option gew&auml;hlt ist.
                        </span>
                    </label>
                </div>
                <div class="margin">
                    <input type="checkbox" id="headlines" formControlName="headlines">
                    <label for="headlines">
                        <ng-container i18n="the first line of the file contains column headers">
                            Die erste Zeile der Datei enth&auml;lt die Spalten&uuml;berschriften.
                        </ng-container>
                        <span class="visually-hidden" i18n="the column headers will be compared with the name of the elements (e.g. attributes and connections) for a quicker re-import of an exported file">
                            Die Spalten&uuml;berschriften werden mit den Namen der Elemente (z. B. Attribute und Verbindungen) verglichen und bei &Uuml;bereinstimmung zugeordnet.
                            So kann eine exportierte Datei schnell wieder importiert werden.
                        </span>
                    </label>
                </div>
                <div class="margin" *ngIf="form.get('itemType').valid">
                    <input class="inputfile" type="file" id="file" #file formControlName="file"
                        (change)="handleFileInput($event.target)" class="selectable">
                    <label class="mat-button" for="file">
                        <ng-container i18n="choose file">
                            Datei ausw&auml;hlen
                        </ng-container>
                        <div class="mat-button-focus-overlay"></div>
                    </label>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="fileContent">
            <ng-container>
                <div class="box-top__sub" i18n="item type">Item-Typ</div>
                <div class="box-body__sub">{{(selectedItemType | async).name}}</div>
            </ng-container>
            <ng-container *ngIf="!sheet">
                <div class="box-top__sub" i18n="select sheet">Tabellenblatt ausw&auml;hlen</div>
                <div class="box-body__sub">
                    <mat-form-field>
                        <mat-label i18n="sheet">Tabellenblatt</mat-label>
                        <select matNativeControl name="sheetIndex" [(ngModel)]="sheetIndex" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let sheet of fileContent.sheets; let i = index" [value]="i">{{sheet.name}}</option>
                        </select>
                    </mat-form-field>
                    <button type="button" mat-button (click)="onSelectSheet(sheetIndex)" [disabled]="!fileContent.sheets[sheetIndex]">Ausw&auml;hlen</button>
                </div>
                <div class="box-top__sub" i18n="data preview">Vorschau auf die Daten</div>
                <table class="box-body__sub" *ngIf="fileContent.sheets[sheetIndex]" style="width: 100%;">
                    <tr *ngFor="let line of previewLines; let i = index">
                        <td>{{i}}</td>
                        <td *ngFor="let cell of getPreviewCells(line)">{{cell}}</td>
                        <td *ngIf="line.length > 5">...</td>
                    </tr>
                    <tr *ngIf="fileContent.sheets[sheetIndex].lines.length > 5"><td>....</td></tr>
                </table>
            </ng-container>
            <ng-container *ngIf="sheet && !dataTable">
                <div class="box-top__sub" i18n="column mappings">Spaltenzuordnungen</div>
                <div class="box-body__sub" formArrayName="columns">
                    <div *ngFor="let name of columnNames; let i = index">
                        <mat-form-field>
                            <mat-label>({{i}}) {{name}}</mat-label>
                            <select matNativeControl [formControlName]="i">
                                <option *ngFor="let keyvalue of (targetColumns | async)" [value]="keyvalue.key">
                                    {{keyvalue.value}}
                                </option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-button type="button" i18n="back" (click)="onBackToFirst()" class="selectable">Zur&uuml;ck</button>
                        <button mat-button type="button" i18n="continue" [disabled]="form.invalid" class="selectable"
                            (click)="onContinue()">
                            Weiter
                        </button>
                    </div>
                </div>
            </ng-container>
            <div *ngIf="dataTable">
                <ng-container *ngIf="dataTable.rows.length > 0">
                    <div class="box-top__sub" i18n="elements that can be imported">
                        Zu importierende Elemente
                    </div>
                    <div class="box-body__sub">
                        <table mat-table [dataSource]="dataTable.rows" class="mat-elevation-z8">
                            <ng-container *ngFor="let column of columns; let i = index">
                                <ng-container [matColumnDef]="column.name">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{column.caption}}
                                    </th>
                                    <td mat-cell *matCellDef="let line">
                                        {{line[i]}}
                                    </td>
                                </ng-container>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        </table>
                    </div>
                </ng-container>
                <ng-container *ngIf="errorList.length > 0">
                    <div class="box-top__sub" i18n="problems found">
                        Erkannte Probleme
                    </div>
                    <div class="box-body__sub">
                        <table mat-table [dataSource]="errorList" class="mat-elevation-z8">
                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef i18n="line">
                                    Zeile
                                </th>
                                <td mat-cell *matCellDef="let entry">
                                    {{entry.index + 1}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="message">
                                <th mat-header-cell *matHeaderCellDef i18n="error message">
                                    Fehlermeldung
                                </th>
                                <td mat-cell *matCellDef="let entry">
                                    <ng-container [ngSwitch]="entry.message">
                                        <span *ngSwitchCase="'existing item ignored'" i18n="existing item ignored">
                                            Ein Item mit diesem Namen existiert bereits. Entsprechend der Einstellung wird die Zeile ignoriert.
                                        </span>
                                        <span *ngSwitchCase="'Ignoring line with empty name.'" i18n="ignoring line with empty name">
                                            Der Name des Items darf nicht leer sein. Die Zeile wird ignoriert.
                                        </span>
                                        <span *ngSwitchCase="'Ignoring line with duplicate name.'" i18n="ignoring line with duplicate name">
                                            Der Name des Items ist mehrfach vorhanden. Die Zeile wird ignoriert.
                                        </span>
                                        <span *ngSwitchCase="'No item matches this name and type.'" i18n="no item matches this name and type">
                                            Ein Item mit diesem Namen wurde nicht gefunden.
                                        </span>
                                    </ng-container>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="['index', 'message']"></tr>
                            <tr mat-row *matRowDef="let row; columns: ['index', 'message']"></tr>
                        </table>
                    </div>
                </ng-container>
                <div *ngIf="dataTable.rows.length === 0" class="red"
                    i18n="There are no lines to import. Please retry with another file or other settings.">
                    Es gibt keine Zeilen zum Importieren. Bitte versuchen Sie es mit einer anderen Datei oder anderen Einstellungen.
                </div>
                <div class="margin">
                    <button mat-button type="button" i18n="back" (click)="onBackToFirst()" class="selectable">Zur&uuml;ck</button>
                    <button mat-button type="submit" i18n="import items" [disabled]="form.invalid || dataTable.rows.length === 0" class="selectable">
                        Items importieren
                    </button>
                </div>
            </div>
        </ng-container>
    </form>
    <div *ngIf="resultList">
        <div *ngIf="errorsInResults" class="red" i18n="errors encountered. Please check log">
            Es sind Fehler aufgetreten. Bitte pr&uuml;fen Sie das Protokoll.
        </div>
        <table mat-table [dataSource]="resultList" class="mat-elevation-z8">
            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef i18n="line">
                    Zeile
                </th>
                <td mat-cell *matCellDef="let entry">
                    {{entry.index + 1}}
                </td>
            </ng-container>
            <ng-container matColumnDef="subject">
                <th mat-header-cell *matHeaderCellDef i18n="subject">Betroffenes Item</th>
                <td mat-cell *matCellDef="let entry">{{entry.subject}}</td>
            </ng-container>
            <ng-container matColumnDef="severity">
                <th mat-header-cell *matHeaderCellDef i18n="severity">Kategorie</th>
                <td mat-cell *matCellDef="let entry">
                    <ng-container [ngSwitch]="entry.severity">
                        <span *ngSwitchCase="1" i18n="warning">Warnhinweis</span>
                        <span *ngSwitchCase="2" i18n="error">Fehler</span>
                        <span *ngSwitchCase="3" i18n="fatal">Abbruch</span>
                        <span *ngSwitchDefault i18n="info">Information</span>
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef i18n="message">
                    Meldung
                </th>
                <td mat-cell *matCellDef="let entry">
                    <ng-container [ngSwitch]="entry.message">
                        <span *ngSwitchCase="'No lines in table.'" i18n="table contains no rows">
                            Die Tabelle ent&auml;t keine Zeilen.
                        </span>
                        <span *ngSwitchCase="'server error'" i18n="server error">Fehler auf dem Server</span>
                        <span *ngSwitchCase="'error'" i18n="general error">Allgemeiner Fehler</span>
                        <span *ngSwitchCase="'Updated item.'" i18n="updated existing item">
                            Das vorhandene Configuration Item wurde aktualisiert.
                        </span>
                        <span *ngSwitchCase="'New item created.'" i18n="created new item">
                            Ein neues Configuration Item wurde erzeugt.
                        </span>
                        <span *ngSwitchCase="'No valid attribute value.'" i18n="attribute value does not comply to the validation rule">
                            Der Attributwert entspricht nicht den Validierungsregeln.
                        </span>
                        <span *ngSwitchCase="'Attribute type is not allowed for this item type.'" i18n="attribute type is not allowed for this item type">
                            Der Attributtyp darf f&uuml;r diesen Item-Typ nicht verwendet werden.
                        </span>
                        <span *ngSwitchCase="'Updated connection description.'" i18n="updated connection description">
                            Die Beschreibung der Verbindung wurde aktualisiert.
                        </span>
                        <span *ngSwitchCase="'No valid description.'" i18n="the description does not match the validation criteria">
                            Die Beschreibung entspricht nicht den Validierungsregeln.
                        </span>
                        <span *ngSwitchCase="'Created connection.'" i18n="Connection was created">
                            Die Verbindung wurde angelegt.
                        </span>
                        <span *ngSwitchCase="'The maximum number of connections is reached. No more connections for the upper item are allowed.'"
                            i18n="the maximum number of connections is reached. No more connections for the upper item are allowed">
                            Die maximale Anzahl an Verbindungen f&uuml;r das obere Configuration Item wurden erreich. Keine weiteren Verbindungen erlaubt.
                        </span>
                        <span *ngSwitchCase="'The maximum number of connections is reached. No more connections for the lower item are allowed.'"
                            i18n="the maximum number of connections is reached. No more connections for the lower item are allowed">
                            Die maximale Anzahl an Verbindungen f&uuml;r das untere Configuration Item wurden erreich. Keine weiteren Verbindungen erlaubt.
                        </span>
                        <span *ngSwitchCase="'no valid url'" i18n="no valid url given">
                            Die angegebene URL ist nicht g&uuml;ltig.
                        </span>
                        <span *ngSwitchCase="'hyperlink created'" i18n="hyperlink created">Hyperlink erzeugt</span>
                        <span *ngSwitchCase="'error creating hyperlink'" i18n="error while creating hyperlink">
                            Fehler beim Erstellen des Hyperlinks
                        </span>
                        <span *ngSwitchCase="'connection created'" i18n="connection created">Verbindung erzeugt</span>
                        <span *ngSwitchCase="'error creating connection'" i18n="error creating connection">
                            Fehler beim Erzeugen der Verbindung
                        </span>
                        <span *ngSwitchCase="'skipping existing connection'" i18n="skipping existing connection">
                            Die bereits existierende Verbindung wurde nicht ver&auml;ndert.
                        </span>
                        <span *ngSwitchCase="'changed connection description'" i18n="changed connection description">
                            Verbindungsbeschreibung wurde ge&auml;ndert.
                        </span>
                        <span *ngSwitchCase="'error changing connection'" i18n="error while changing connection">
                            Fehler beim Ver&auml;ndern der Verbindung
                        </span>
                        <span *ngSwitchDefault>
                            <ng-container i18n="error message">Fehlermeldung: </ng-container>
                            {{entry.message}}
                        </span>
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef i18n="details">Details</th>
                <td mat-cell *matCellDef="let entry">{{entry.details}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['index', 'subject', 'severity', 'message', 'details']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['index', 'subject', 'severity', 'message', 'details']"></tr>
        </table>
        <button mat-button type="button" i18n="back" (click)="onBackToFirst()" class="selectable">Neuer Import</button>
    </div>
</div>