@if (busy) {
  <app-busy i18n="analyzing">Analysiere...</app-busy>
}
<h1 class="page-title" i18n="Import configuration items">Configuration Items importieren</h1>
@if (!resultList) {
  <form [formGroup]="form" (submit)="onSubmit()">
    @if (!fileContent) {
      <table class="table">
        <thead>
          <tr>
            <th colspan="2" i18n="Common settings">Allgemeine Einstellungen</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <label for="itemType" i18n="Item type to import">Typ der zu importierenden Items: </label>
            </td>
            <td>
              <select name="type" id="itemType" formControlName="itemTypeId">
                @for (itemType of (itemTypes | async); track itemType) {
                  <option [value]="itemType.id">
                    {{itemType.name}}
                  </option>
                }
              </select>
            </td>
          </tr>
          <tr>
            <th colspan="2" i18n="Additional elements to import">Welche weiteren Elemente sollen importiert werden?</th>
          </tr>
          <tr>
            <td>
              <label for="attributes" i18n="Attributes">Attribute</label>
            </td>
            <td>
              <input type="checkbox" id="attributes" name="attributes" formControlName="attributes">
            </td>
          </tr>
          <tr>
            <td>
              <label for="connectionsToLower" i18n="Downward connections">Verbindungen nach unten</label>
            </td>
            <td>
              <input type="checkbox" id="connectionsToLower" name="connectionsToLower" formControlName="connectionsToLower">
            </td>
          </tr>
          <tr>
            <td>
              <label for="connectionsToUpper" i18n="Downward connections">Verbindungen nach oben</label>
            </td>
            <td>
              <input type="checkbox" id="connectionsToUpper" name="connectionsToUpper" formControlName="connectionsToUpper">
            </td>
          </tr>
          <tr>
            <td>
              <label for="links" i18n="Links">Hyperlinks</label>
            </td>
            <td>
              <input type="checkbox" id="links" name="links" formControlName="links">
            </td>
          </tr>
          <tr>
            <th colspan="2" i18n="more settings">Weitere Einstellungen</th>
          </tr>
          <tr>
            <td>
              <label for="ignoreExisting">
                <ng-container i18n="ignore item names that already exist">
                            CIs, deren Namen bereits vorhanden ist, sollen ignoriert werden.
                        </ng-container>
                <span class="visually-hidden" i18n="only CIs are created, if the name does not exist. if it does, nothing will be changed">
                            Es werden nur neue CIs angelegt, vorhandene werden nicht ver&auml;ndert, wenn diese Option gew&auml;hlt ist.
                        </span>
              </label>
            </td>
            <td>
              <input type="checkbox" id="ignoreExisting" formControlName="ignoreExisting">
            </td>
          </tr>
          <tr>
            <td>
              <label for="headlines">
                <ng-container i18n="The first line of the file contains column headers">
                            Die erste Zeile der Datei enth&auml;lt die Spalten&uuml;berschriften.
                        </ng-container>
                <span class="visually-hidden" i18n="The column headers will be compared with the name of the elements (e.g. attributes and connections) for a quicker re-import of an exported file">
                            Die Spalten&uuml;berschriften werden mit den Namen der Elemente (z. B. Attribute und Verbindungen) verglichen und bei &Uuml;bereinstimmung zugeordnet.
                            So kann eine exportierte Datei schnell wieder importiert werden.
                        </span>
              </label>
            </td>
            <td>
              <input type="checkbox" id="headlines" formControlName="headlines">
            </td>
          </tr>
          @if (form.get('itemTypeId').valid) {
            <tr>
              <td>
                <label class="mat-button" for="file">
                  <ng-container i18n="Choose file">
                            Datei ausw&auml;hlen
                        </ng-container>
                  <div class="mat-button-focus-overlay"></div>
                </label>
              </td>
              <td>
                <input class="inputfile" type="file" id="file" #file formControlName="file"
                  (change)="handleFileInput($event.target)" class="selectable">
                </td>
              </tr>
            }
          </tbody>
        </table>
      }
      @if (fileContent && !dataTable) {
        <table class="table">
          <thead>
            <tr>
              <th i18n="Item type">Item-Typ</th>
              <th>{{(selectedItemType | async).name}}</th>
            </tr>
          </thead>
          @if (!sheet) {
            <tbody>
              <tr>
                <th colspan="2" i18n="Select sheet">Tabellenblatt ausw&auml;hlen</th>
              </tr>
              <tr>
                <td>
                  <label for="sheetIndex" i18n="Sheet">Tabellenblatt</label>
                </td>
                <td>
                  <select id="sheetIndex" name="sheetIndex" [(ngModel)]="sheetIndex" [ngModelOptions]="{standalone: true}">
                    @for (sheet of fileContent.sheets; track sheet; let i = $index) {
                      <option [value]="i">{{sheet.name}}</option>
                    }
                  </select>
                  <button type="button" (click)="onSelectSheet(sheetIndex)" [disabled]="!fileContent.sheets[sheetIndex]">Ausw&auml;hlen</button>
                </td>
              </tr>
              <tr>
                <th colspan="2" i18n="Data preview">Vorschau auf die Daten</th>
              </tr>
              <tr>
                <td colspan="2">
                  @if (fileContent.sheets[sheetIndex]) {
                    <table class="box-body__sub" style="width: 100%;">
                      @for (line of previewLines; track line; let i = $index) {
                        <tr>
                          <td>{{i}}</td>
                          @for (cell of getPreviewCells(line); track cell) {
                            <td>{{cell}}</td>
                          }
                          @if (line.length > 5) {
                            <td>...</td>
                          }
                        </tr>
                      }
                      @if (fileContent.sheets[sheetIndex].lines.length > 5) {
                        <tr><td>....</td></tr>
                      }
                    </table>
                  }
                </td>
              </tr>
            </tbody>
          }
          @if (sheet && !dataTable) {
            <tbody>
              <tr>
                <th colspan="2" i18n="Column mappings">Spaltenzuordnungen</th>
              </tr>
              @for (name of columnNames; track name; let i = $index) {
                <tr formArrayName="columns">
                  <td>
                    <label [for]="i">({{i}}) {{name}}: </label>
                  </td>
                  <td>
                    <select [id]="i" [formControlName]="i">
                      @for (keyvalue of (targetColumns | async); track keyvalue) {
                        <option [value]="keyvalue.key">
                          {{keyvalue.value}}
                        </option>
                      }
                    </select>
                  </td>
                </tr>
              }
              <tr>
                <td>
                  <button type="button" i18n="Go back" (click)="onBackToFirst()" class="selectable">Zur&uuml;ck</button>
                </td>
                <td>
                  <button type="button" i18n="Continue" [disabled]="form.invalid" class="selectable"
                    (click)="onContinue()">
                        Weiter
                    </button>
                </td>
              </tr>
            </tbody>
          }
        </table>
      }
      @if (dataTable && dataTable.rows.length > 0) {
        <table class="table">
          <tr>
            <th [colSpan]="dataTable.columns.length" i18n="Elements that can be imported">Zu importierende Elemente</th>
          </tr>
          <tr>
            @for (column of columns; track column) {
              <th>
                {{column.caption}}
              </th>
            }
          </tr>
          @for (row of dataTable.rows; track row) {
            <tr>
              @for (column of columns; track column; let i = $index) {
                <td>
                  {{row[i]}}
                </td>
              }
            </tr>
          }
        </table>
      }
      @if (dataTable) {
        <div>
          @if (errorList.length > 0) {
            <h3 i18n="problems found">
                Erkannte Probleme
            </h3>
            <table class="table">
              <thead>
                <tr>
                  <th i18n="Line">Zeile</th>
                  <th i18n="Error message">Fehlermeldung</th>
                </tr>
              </thead>
              <tbody>
                @for (entry of errorList; track entry) {
                  <tr>
                    <td>
                      {{entry.index + 1}}
                    </td>
                    <td>
                      @switch (entry.message) {
                        @case ('existing item ignored') {
                          <span i18n="Existing item ignored">
                                    Ein Item mit diesem Namen existiert bereits. Entsprechend der Einstellung wird die Zeile ignoriert.
                                </span>
                        }
                        @case ('Ignoring line with empty name.') {
                          <span i18n="ignoring line with empty name">
                                    Der Name des Items darf nicht leer sein. Die Zeile wird ignoriert.
                                </span>
                        }
                        @case ('Ignoring line with duplicate name.') {
                          <span i18n="ignoring line with duplicate name">
                                    Der Name des Items ist mehrfach vorhanden. Die Zeile wird ignoriert.
                                </span>
                        }
                        @case ('No item matches this name and type.') {
                          <span i18n="No item matches this name and type">
                                    Ein Item mit diesem Namen wurde nicht gefunden.
                                </span>
                        }
                      }
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          }
          @if (dataTable.rows.length === 0) {
            <div class="red"
              i18n="There are no lines to import. Please retry with another file or other settings.">
            Es gibt keine Zeilen zum Importieren. Bitte versuchen Sie es mit einer anderen Datei oder anderen Einstellungen.
        </div>
          }
          <div class="margin">
            <button type="button" i18n="Go back" (click)="onBackToFirst()" class="selectable">Zur&uuml;ck</button>
            <button type="submit" i18n="Import items" [disabled]="form.invalid || dataTable.rows.length === 0" class="selectable">
                Items importieren
            </button>
          </div>
        </div>
      }
    </form>
  }
  @if (resultList) {
    <div>
      @if (errorsInResults) {
        <div class="red" i18n="Errors encountered. Please check log">
        Es sind Fehler aufgetreten. Bitte pr&uuml;fen Sie das Protokoll.
    </div>
      }
      <table class="table">
        <thead>
          <tr>
            <th i18n="Line">Zeile</th>
            <th i18n="Subject">Betroffenes Item</th>
            <th i18n="Severity">Kategorie</th>
            <th i18n="message">Meldung</th>
            <th i18n="Details">Details</th>
          </tr>
        </thead>
        <tbody>
          @for (entry of resultList; track entry) {
            <tr>
              <td>
                {{entry.index + 1}}
              </td>
              <td>
                {{entry.subject}}
              </td>
              <td>
                @switch (entry.severity) {
                  @case (1) {
                    <span i18n="Warning">Warnhinweis</span>
                  }
                  @case (2) {
                    <span i18n="Error">Fehler</span>
                  }
                  @case (3) {
                    <span i18n="Fatal">Abbruch</span>
                  }
                  @default {
                    <span i18n="Info">Information</span>
                  }
                }
              </td>
              <td>
                @switch (entry.message) {
                  @case ('No lines in table.') {
                    <span i18n="table contains no rows">
                            Die Tabelle ent&auml;t keine Zeilen.
                        </span>
                  }
                  @case ('server error') {
                    <span i18n="Server error">Fehler auf dem Server</span>
                  }
                  @case ('error') {
                    <span i18n="general error">Allgemeiner Fehler</span>
                  }
                  @case ('Updated item.') {
                    <span i18n="Updated existing item">
                            Das vorhandene Configuration Item wurde aktualisiert.
                        </span>
                  }
                  @case ('New item created.') {
                    <span i18n="Created new item">
                            Ein neues Configuration Item wurde erzeugt.
                        </span>
                  }
                  @case ('No valid attribute value.') {
                    <span i18n="Attribute value does not comply to the validation rule">
                            Der Attributwert entspricht nicht den Validierungsregeln.
                        </span>
                  }
                  @case ('Attribute type is not allowed for this item type.') {
                    <span i18n="Attribute type is not allowed for this item type">
                            Der Attributtyp darf f&uuml;r diesen Item-Typ nicht verwendet werden.
                        </span>
                  }
                  @case ('Updated connection description.') {
                    <span i18n="Updated connection description">
                            Die Beschreibung der Verbindung wurde aktualisiert.
                        </span>
                  }
                  @case ('No valid description.') {
                    <span i18n="The description does not match the validation criteria">
                            Die Beschreibung entspricht nicht den Validierungsregeln.
                        </span>
                  }
                  @case ('Created connection.') {
                    <span i18n="Connection was created">
                            Die Verbindung wurde angelegt.
                        </span>
                  }
                  @case ('The maximum number of connections is reached. No more connections for the upper item are allowed.') {
                    <span
                      i18n="The maximum number of connections is reached. No more connections for the upper item are allowed">
                            Die maximale Anzahl an Verbindungen f&uuml;r das obere Configuration Item wurden erreich. Keine weiteren Verbindungen erlaubt.
                        </span>
                  }
                  @case ('The maximum number of connections is reached. No more connections for the lower item are allowed.') {
                    <span
                      i18n="The maximum number of connections is reached. No more connections for the lower item are allowed">
                            Die maximale Anzahl an Verbindungen f&uuml;r das untere Configuration Item wurden erreich. Keine weiteren Verbindungen erlaubt.
                        </span>
                  }
                  @case ('no valid url') {
                    <span i18n="No valid url given">
                            Die angegebene URL ist nicht g&uuml;ltig.
                        </span>
                  }
                  @case ('hyperlink created') {
                    <span i18n="hyperlink created">Hyperlink erzeugt</span>
                  }
                  @case ('error creating hyperlink') {
                    <span i18n="Error while creating hyperlink">
                            Fehler beim Erstellen des Hyperlinks
                        </span>
                  }
                  @case ('connection created') {
                    <span i18n="Connection created">Verbindung erzeugt</span>
                  }
                  @case ('error creating connection') {
                    <span i18n="Error creating connection">
                            Fehler beim Erzeugen der Verbindung
                        </span>
                  }
                  @case ('skipping existing connection') {
                    <span i18n="Skipping existing connection">
                            Die bereits existierende Verbindung wurde nicht ver&auml;ndert.
                        </span>
                  }
                  @case ('changed connection description') {
                    <span i18n="Changed connection description">
                            Verbindungsbeschreibung wurde ge&auml;ndert.
                        </span>
                  }
                  @case ('error changing connection') {
                    <span i18n="Error while changing connection">
                            Fehler beim Ver&auml;ndern der Verbindung
                        </span>
                  }
                  @default {
                    <span>
                      <ng-container i18n="Error message">Fehlermeldung: </ng-container>
                      {{entry.message}}
                    </span>
                  }
                }
              </td>
              <td>
                {{entry.details}}
              </td>
            </tr>
          }
        </tbody>
      </table>
      <button type="button" i18n="Go back" (click)="onBackToFirst()" class="selectable">Neuer Import</button>
    </div>
  }
