<header class="page-header">
  <div class="page-header__title">
    <img src="assets/images/cmdblogo.png" alt="Configuration Management System" />
  </div>
  <nav class="page-header__nav">
    <ul class="header-nav__items">
      <li class="header-nav__item" *ngIf="meta.userRole===2">
        <img src="assets/images/admin.png" alt="Administration"/>
      </li>
      <li class="heaer-nav__item dropdown" appDropdown>
        <a class="dropdown-toggle" style="cursor: pointer;" role="button">
          <img src="assets/images/user.png" alt="Benutzer" title="Angemeldeter Benutzer: {{meta.userName}}">
        </a>
        <ul class="dropdown-menu">
            <li>Angemeldeter Benutzer: {{meta.userName}}</li>
            <li>Rolle: {{meta.getUserRole()}}</li>
        </ul>
    </li>
    </ul>
  </nav>
</header>
