<header class="page-header">
  <div class="page-header__title">
      <img src="~/img/cmdblogo.png" alt="Configuration Management System" runat="server" />
  </div>
  <nav class="page-header__nav">
      <ul class="header-nav__items">
          <li class="header-nav__item">
          </li>
          <li class="header-nav__item">
              <img src="~/img/Admin.png" alt="Administration" runat="server" />
              <div id="admin">
              </div>
          </li>
      </ul>
  </nav>
</header>
