@use "../_variables.scss";

div.error {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    left: 0;
    right: 0;
    color: red;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    &.bottom-bar {
        bottom: 0.2rem;
        min-width: 50vw;
        box-shadow: variables.$box-shadow-medium;
        z-index: 1000;
    }
}