* {
    box-sizing: border-box;
}

body {
    color: #005;
    background-color: #219;
    /*padding: 0 20px;*/
    margin: 0;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

a {
    color: #00A;
    text-decoration: none;
}

    a:visited {
        color: #A0A;
    }

    a:hover,
    a:active{
        color: #E00;
        text-decoration: dotted underline;
    }

    a.download {
        padding: 1px 0 3px 22px;
        background: url(../img/icon-link-download.gif) 0 2px no-repeat;
    }

    a.extern {
        padding: 1px 0 0 22px;
        background: url(../img/icon-extern.gif) 0 0 no-repeat;
    }

.page-header {
    background-color: #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 2rem;
    padding: 0 1.25rem;
    position: fixed;
    top: 0;
    height: 4.5rem;
    width: calc(100% - 4rem);
    min-width: 41rem;
    z-index: 100;
}

.page-header__title {
    display: inline-block;
    vertical-align: middle;
}

.page-header__nav {
    background-color: #ddd;
    padding: 0 1.25rem;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: calc(100% - 6rem);
}

.page-main {
    border-radius: 5px;
    background-color: #ddd;
    padding: 20px;
    float: left;
    width: calc(75% - 100px);
    min-width: 41rem;
    margin: 5rem 3rem 3rem 3rem;
}

    .page-main header,
    .page-main article,
    .page-main footer {
        width: 100%;
        background-color: #fff;
        border-radius: 5px;
        margin: 0;
        padding: 1.25rem;
    }

    .page-main article {
        text-align: left;
        margin: 25px 0;
    }

        .page-main article ul {
            list-style-image: url(../img/li.png);
            padding-bottom: 0.25rem;
            padding-top: 0.125rem;
        }

    .page-main.wide {
        width: calc(100% - 100px);
    }

.header-nav__items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.header-nav__menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-grid;
}

#admin ul li {
    font-weight: normal;
}

.header-nav__item {
    background: unset;
    border: 1px solid;
    border-color: aliceblue;
    border-radius: 15px;
    padding: 15px;
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
}

    .header-nav__item img {
        height: 2rem;
    }

    .header-nav__item svg {
        height: 2rem;
        pointer-events: none;
        fill: #219;
        background-color: white;
        border: 1px solid #219;
    }

    .header-nav__item .header-nav__item-content {
        height: 1.84rem;
        font-size: 1.2rem;
        padding: 0 0.4rem;
        border: 1px solid #219;
        background: white;
        vertical-align: middle;
    }

.header-nav__menu-item {
    background: unset;
    border: 1px solid aliceblue;
    border-radius: 15px;
    padding: 15px;
    font-weight: normal;
}

.header-nav__help {
    display: inline-block;
}

.action-pane {
    background-color: #ddd;
    padding: 20px;
    right: 20px;
    position: absolute;
    height: 75%;
    width: 25%;
    border-radius: 5px;
    margin-top: 5rem;
    vertical-align: top;
    display: table-row;
}

.action-pane__show {
    display: none;
}

.action-pane__hide {
    display: none;
}

.action-pane__content {
    display: table-cell;
}

.action-pane__button {
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
}

.action-pane__button:hover,
.action-pane__button:active {
    border: 1px solid aliceblue;
}

.actions {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    z-index: 10;
}

.action {
    padding-top: 0.25rem;
    padding-bottom: 0.125rem;
}

.action__details {
    padding-left: 1.25rem;
}

footer {
    background-color: #ddd;
    padding: 20px;
    clear: both;
    border-radius: 5px;
}

table, div.table {
    display: table;
    border-collapse: collapse;
    width: calc(100% - 10px);
}

    table caption {
        font-size: 120%;
        font-weight: bold;
        text-decoration: underline;
        background: linear-gradient(#fff, #eee );
        padding-top: 1.25rem;
        padding-bottom: 0.3rem;
    }

    div.table input {
        width: 100%;
    }

div.trnoline {
    display: table-row;
    padding: 0.625rem;
}

tr, div.tr {
    display: table-row;
    border-bottom: 1px dotted gray;
    background: linear-gradient(#0000, #eee );
}

td, div.td {
    display: table-cell;
    padding: 5px;
    border-right: 1px dotted gray;
}

div.tablertl {
    display: table;
    border-collapse: collapse;
    width: calc(100% - 0.6rem);
    direction: rtl;
}

div.tablrtl > div {
    direction: ltr;
}

div.tab {
    display: table-cell;
    padding: 0;
}

th, div.th {
    display: table-cell;
    font-weight: bold;
    padding: 0.3rem;
    border-right: 1px dotted gray;
}

div.hierarchicaltable {
    display: table;
    border-collapse: collapse;
    width: calc(100% - 1rem);
    margin-left: 20px;
}

#nav a.intern {
    background-image: none;
}

.errorlabel {
    color: red;
    font-weight: bold;
}

.selectedTab {
    border-bottom: 1px solid #EAEAEA;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 0.6rem;
    width: 100%;
    background-color: #EAEAEA
}

.notSelectedTab {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 0.6rem;
    width: 100%;
    background-color: white;
}

.inline {
    display: inline;
}

.searchtextbox {
    width: calc(100% - 50px);
    font-size: 1.5rem;
}

.indent {
    margin-left: 50px;
}

.nolistitemstyle {
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
}

.help {
    background: linear-gradient(#aff, #aaf );
}


td.command {
    width: 60px;
    word-wrap: break-word;
    word-break: normal;
}

tr.AspNet-GridView-Alternate, tr.AspNet-GridView-Header {
    background: linear-gradient(#ddd5, #bbb);
}

tr.AspNet-GridView-Selected {
    background: linear-gradient(#0055, #00b);
}

    tr.AspNet-GridView-Selected td {
        color: white;
    }

#identity {
    position: absolute;
    right: 100px;
    top: 0px;
    background: #eee;
    padding: 0.25rem 1.25rem;
    border-radius: 5px;
    border: solid 1px;
    border-color: white;
    font-size: 0.55rem;
}

#searchprogress {
    position: fixed;
    text-align: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999999;
    background-color: #000000;
    opacity: 0.7;
}

#searching {
    border-width: 0px;
    position: fixed;
    padding: 3rem;
    background-color: #FFFFFF;
    font-size: 2.2rem;
    left: 40vw;
    top: 40vh;
}

#admin {
    text-align: left;
    background-color: white;
    visibility: hidden;
    position: absolute;
    z-index: 9999;
    margin-top: 1rem;
    box-shadow: 0px 20px 25px -5px #000;
}

.boxRight {
    float: right
}

.fullwidth {
    width: calc(100% - 0.6rem);
    margin: 5px;
}

@media (max-width: 62rem) {
    .page-main {
        width: calc(95% - 6.25rem);
        float: none;
    }
    .action-pane {
        width: unset;
        height: unset;
        box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px 5px;
        position: fixed;
        right: 5px;
        top: 0;
        background-color: rgba(221, 221, 221, 0.8);
    }

    .action-pane__content {
        display: none;
    }

    .action-pane__show {
        display: table-cell;
    }

    .action-pane__hide {
        display: none;
        height: 50%;
        vertical-align: middle;
    }

    .action-pane__visible {
        display: table-cell !important;
    }

    .action-pane__hidden {
        display: none !important;
    }

}

@media print {
    body {
        color: black;
    }

    .page-header,
    .action-pane {
        display: none;
    }

    .page-main {
        width: calc(95% - 6.25rem);
        background-color: white;
    }
}
