body {font-family:verdana, tahoma, arial, helvetica, sans-serif}
a {font-size:75%; text-decoration:none;}
.graphItem { position:absolute; padding: 10px 10px 10px 10px; font-size:10pt; box-shadow:0px 0px 9px rgba(0,0,0,0.15); }
.graphMenu { position:absolute; font-size:11pt; float:left; z-index:1; }
.graphMenu ul { padding-left:5px; border-radius:5px; list-style:none; background-color: whitesmoke; box-shadow:0px 0px 9px rgba(0,0,0,0.15); white-space:nowrap; border:1px solid gray; }
.graphMenu li { padding:2px; border:0.5px groove lightgray;}