<div class="border" [ngStyle]="{'border-color': mountable.statusColor}">
    <h1>
        {{mountable.name}}
    </h1>
</div>
<div *ngIf="!mountable.model" class="error" i18n>
    No model configured for this asset. Please change to asset management and configure asset correctly.
</div>
<ng-container *ngIf="!!mountable.model">
    <div *ngIf="!isAddingProvisionedSystem" class="grid">
        <div class="head" i18n>Change status</div>
        <div class="left">
            <div>
                <p><em>{{mountable.statusName}}</em></p>
                <p>({{mountable.statusDescription}})</p>
            </div>
        </div>
        <div class="center">
            &#8594;
        </div>
        <div class="right">
            <div *ngIf="mountable.status === 0 || mountable.status === 9"><!-- Stored or unknown, which is invalid, so changing to unused -->
                <button class="error" type="button" (click)="setStatus(1)">{{getStatusName(1)}}</button>
            </div>
            <div *ngIf="isServer && !!provisionedSystem && (mountable.status < 3 || mountable.status > 7 )"><!-- Server present, but no production status -->
                <button type="button" class="error" (click)="setStatus(3)">{{getStatusName(3)}}</button>
            </div>
            <div *ngIf="mountable.status === 1"><!-- Unused -->
                <button type="button" (click)="setStatus(2)">{{getStatusName(2)}}</button>
            </div>
            <div *ngIf="!isServer && (mountable.status === 1 || mountable.status === 2 || mountable.status === 5)"><!-- Non-Server, Unused or booked or repair pending -->
                <button type="menu" (click)="setStatus(3)">{{getStatusName(3)}}</button>
            </div>
            <div *ngIf="isServer && (mountable.status === 1 || mountable.status === 2 || mountable.status === 5)"><!-- Server, Unused or booked or repair pending -->
                <button type="button" (click)="isAddingProvisionedSystem = true">{{getStatusName(3)}}...</button>
            </div>
            <div *ngIf="mountable.status === 1  || mountable.status === 4 || mountable.status === 5"><!-- Unused or Fault or repair pending -->
                <button type="button" (click)="setStatus(6)">{{getStatusName(6)}}</button>
            </div>
            <div *ngIf="mountable.status === 2 || mountable.status === 3"><!-- Booked or in Production -->
                <button type="button" (click)="setStatus(1)">{{getStatusName(1)}}
                    <ng-container *ngIf="mountable.status === 3 && isServer && !!provisionedSystem">
                        <br>
                        <ng-container i18n>This will delete </ng-container>
                        <em>{{provisionedSystem.typeName}}: {{provisionedSystem.name}}</em>
                        <ng-container i18n> also.</ng-container>
                    </ng-container>
                </button>
            </div>
            <div *ngIf="mountable.status === 4"><!-- Fault -->
                <button type="button" (click)="setStatus(5)">{{getStatusName(5)}}</button>
            </div>
            <div *ngIf="mountable.status === 6"><!-- Prepare for scrapping -->
                <button type="button" (click)="setStatus(7)">{{getStatusName(7)}}</button>
            </div>
            <div *ngIf="mountable.status === 7"><!-- Pending scrap -->
                <button type="button" (click)="setStatus(8)">{{getStatusName(8)}}</button>
            </div>
            <div *ngIf="mountable.status === 8"><!-- Scrapped, should not be in rack -->
                <button class="error" type="button" (click)="setStatus(8)">
                    <ng-container i18n>Remove </ng-container>{{getStatusName(8)}}    <ng-container i18n> item.</ng-container>
                </button>
            </div>
        </div>
    </div>
</ng-container>

<div class="form" *ngIf="isAddingProvisionedSystem">
    <div>
        <ng-container i18n>Server hardware status can only be set to </ng-container>
        &quot;{{getStatusName(3)}}&quot;
        <ng-container i18n> if a provisionable system is being connected.</ng-container>
    </div>
    <label for="targetType" i18n>Target type for provisionable system</label>
    <select [(ngModel)]="targetType" id="targetType" (change)="selectOrCreate = 'create'" required>
        <option *ngFor="let t of provisionedTypes" [value]="t">{{t}}</option>
    </select>
    <label for="selectOrCreate" i18n>Please select or create one.</label>
    <div class="flex-row space-between">
        <div *ngIf="(availableProvisionedSystems | async).length > 0">
            <input type="radio" id="select" name="selectOrCreate" value="select" [(ngModel)]="selectOrCreate" />
            <ng-container i18n> Select existing</ng-container>
        </div>
        <div>
            <input type="radio" id="create" name="selectOrCreate" value="create" [(ngModel)]="selectOrCreate" />
            <ng-container i18n> Create new</ng-container>
        </div>
    </div>
    <ng-container *ngIf="selectOrCreate === 'select'">
        <label for="targetSystem" i18n>Choose existing target system</label>
        <select id="targetSystem" [(ngModel)]="targetSystemId" required #targetSystemField="ngModel">
            <option *ngFor="let item of (availableProvisionedSystems | async)" [value]="item.id">{{item.name}}</option>
        </select>
        <button type="button" (click)="connectProvisionable(3)" i18n
            [disabled]="targetSystemField.invalid">
            Submit
        </button>
    </ng-container>
    <ng-container *ngIf="selectOrCreate === 'create'">
        <label for="targetName" i18n>Name</label>
        <input type="text" id="targetName" required minlength="2" [(ngModel)]="newName" #targetNameField="ngModel" placeholder="Name" i18n-placeholder />
        <button type="button" (click)="createProvisionable(3)" i18n
            [disabled]="targetNameField.invalid">
            Submit
        </button>
    </ng-container>
</div>
