<div class="border" [ngStyle]="{'border-color': mountable.statusColor}">
  <h1>
    {{mountable.type}}: {{mountable.name}}
  </h1>
</div>
@if (!mountable.model) {
  <div class="error" i18n>
    No model configured for this asset. Please change to asset management and configure asset correctly.
</div>
}
@if (!!mountable.model) {
  @if (!isAddingProvisionedSystem) {
    <div class="grid">
      <div class="head" i18n>Change status</div>
      <div class="left">
        <div>
          <p><em>{{mountable.statusName}}</em></p>
          <p>({{mountable.statusDescription}})</p>
        </div>
      </div>
      <div class="center">
        &#8594;
      </div>
      <div class="right">
        @if (mountable.status === 0 || mountable.status === 9) {
          <div><!-- Stored or unknown, which is invalid, so changing to unused -->
            <button class="error" type="button" (click)="setStatus(1)">{{getStatusName(1)}}</button>
          </div>
        }
        @if (isServer && !!provisionedSystem && (mountable.status < 3 || mountable.status > 7 )) {
          <div><!-- Server present, but no production status -->
            <button type="button" class="error" (click)="setStatus(3)">{{getStatusName(3)}}</button>
          </div>
        }
        @if (mountable.status === 1) {
          <div><!-- Unused -->
            <button type="button" (click)="setStatus(0)">{{getStatusName(0)}}
              <br>
                <ng-container i18n>This will remove the system from the</ng-container> {{containerName}}.
              </button>
            </div>
          }
          @if (mountable.status === 1) {
            <div><!-- Unused -->
              <button type="button" (click)="setStatus(2)">{{getStatusName(2)}}</button>
            </div>
          }
          @if ((!isServer && (mountable.status === 1 || mountable.status === 2)) || (mountable.status === 5 && (!isServer || !!provisionedSystem))) {
            <div><!-- Non-Server, Unused or booked, or repair pending -->
              <button type="menu" (click)="setStatus(3)">{{getStatusName(3)}}</button>
            </div>
          }
          @if (isServer && (mountable.status === 1 || mountable.status === 2)) {
            <div><!-- Server, Unused or booked -->
              <button type="button" (click)="isAddingProvisionedSystem = true">{{getStatusName(3)}}...</button>
            </div>
          }
          @if (mountable.status === 1  || mountable.status === 4 || mountable.status === 5) {
            <div><!-- Unused or Fault or repair pending -->
              <button type="button" (click)="setStatus(6)">{{getStatusName(6)}}
                @if ((mountable.status === 4 || mountable.status === 5) && isServer && !!provisionedSystem) {
                  <br>
                    <ng-container i18n>This will delete </ng-container>
                    <em>{{provisionedSystem.typeName}}: {{provisionedSystem.name}}</em>
                    <ng-container i18n> also.</ng-container>
                  }
                </button>
              </div>
            }
            @if (mountable.status === 2 || mountable.status === 3 || mountable.status === 5) {
              <div><!-- Booked or in production or repair pending -->
                <button type="button" (click)="setStatus(1)">{{getStatusName(1)}}
                  @if ((mountable.status === 5 || mountable.status === 3) && isServer && !!provisionedSystem) {
                    <br>
                      <ng-container i18n>This will delete </ng-container>
                      <em>{{provisionedSystem.typeName}}: {{provisionedSystem.name}}</em>
                      <ng-container i18n> also.</ng-container>
                    }
                  </button>
                </div>
              }
              @if (isServer && !!provisionedSystem && (mountable.status === 4 || mountable.status === 5)) {
                <div><!-- Server hardware containing provisionable, fault or repair pending -->
                  <button type="button" (click)="disconnectProvisionable()">
                    <ng-container i18n>Disconnect </ng-container>
                    {{provisionedSystem.typeName}}: {{provisionedSystem.name}}
                  </button>
                </div>
              }
              @if (mountable.status < 4) {
                <div><!-- Unused, booked or in production-->
                  <button type="button" (click)="setStatus(4)">{{getStatusName(4)}}</button>
                </div>
              }
              @if (mountable.status === 4) {
                <div><!-- Fault -->
                  <button type="button" (click)="setStatus(5)">{{getStatusName(5)}}</button>
                </div>
              }
              @if (mountable.status === 6) {
                <div><!-- Prepare for scrapping -->
                  <button type="button" (click)="setStatus(7)">{{getStatusName(7)}}</button>
                </div>
              }
              @if (mountable.status === 7) {
                <div><!-- Pending scrap -->
                  <button type="button" (click)="setStatus(8)">{{getStatusName(8)}}
                    <br>
                      <ng-container i18n>This will remove the system from the</ng-container> {{containerName}}.
                    </button>
                  </div>
                }
                @if (mountable.status === 8) {
                  <div><!-- Scrapped, should not be in rack -->
                    <button class="error" type="button" (click)="setStatus(8)">
                      <ng-container i18n>Remove </ng-container>{{getStatusName(8)}}<ng-container i18n> item.</ng-container>
                    </button>
                  </div>
                }
              </div>
            </div>
          }
        }

        @if (isAddingProvisionedSystem) {
          <form [formGroup]="form">
            <div>
              <ng-container i18n>Server hardware status can only be set to </ng-container>
              &quot;{{getStatusName(3)}}&quot;
              <ng-container i18n> if a provisionable system is being connected.</ng-container>
            </div>
            <label for="targetType" i18n>Target type for provisionable system</label>
            <select formControlName="typeName" id="targetType" (change)="selectOrCreate = 'create'" required>
              @for (t of provisionedTypes; track t) {
                <option [value]="t">{{t}}</option>
              }
            </select>
            <label for="selectOrCreate" i18n>Please select or create one.</label>
            <div class="flex-row space-between">
              @if ((availableProvisionedSystems | async).length > 0) {
                <div>
                  <input type="radio" id="select" name="selectOrCreate" value="select" formControlName="selectOrCreate" />
                  <ng-container i18n> Select existing</ng-container>
                </div>
              }
              <div>
                <input type="radio" id="create" name="selectOrCreate" value="create" formControlName="selectOrCreate" />
                <ng-container i18n> Create new</ng-container>
              </div>
            </div>
            @if (selectOrCreate === 'select') {
              <label for="targetSystem" i18n>Choose existing target system</label>
              <select id="targetSystem" formControlName="targetId">
                @for (item of (availableProvisionedSystems | async); track item) {
                  <option [value]="item.id">{{item.name}}</option>
                }
              </select>
              <button type="button" (click)="connectProvisionable(3)" i18n
                [disabled]="form.invalid">
            Submit
        </button>
            }
            @if (selectOrCreate === 'create') {
              <label for="targetName" i18n>Name</label>
              <input type="text" id="targetName" required minlength="2" formControlName="name" placeholder="Name" i18n-placeholder />
              <button type="button" (click)="createProvisionable(3)" i18n
                [disabled]="form.invalid">
            Submit
        </button>
            }
          </form>
        }
