<div class="list-container">
  <h1 class="headline"><ng-container i18n>Asset management</ng-container> - {{assetTypeName}}</h1>
  <div class="list flex-column">
    @if ((assetsWithoutModel | async).length > 0) {
      <div class="list-item error">
        <h2>{{assetTypeName}}<ng-container i18n>s without </ng-container>{{modelName}}</h2>
        <div class="list flexrow flex-wrap">
          @for (asset of (assetsWithoutModel | async); track asset) {
            <div class="list-item clickable error relative" (click)="selectAsset(asset)">
              <h3>{{asset.name}}</h3>
              <p>
                {{asset.statusName}}
              </p>
              @if (!asset.item.userIsResponsible) {
                <p class="list-item__warning" i18n>You are not responsible. By clicking you will take responsibility for this item.</p>
              }
            </div>
          }
        </div>
      </div>
    }
    @for (model of (models | async); track model) {
      <div class="list-item">
        <div class="flex-row space-between">
          <div>
            <h2>{{model.name}}</h2>
            @if (model.manufacturer && model.manufacturer !== '') {
              <p>{{model.manufacturer}}</p>
            }
          </div>
          <div>
            <button type="button" (click)="this.selectedModel = model" i18n>Create</button>
          </div>
        </div>
        <div class="list flex-row flex-wrap">
          @for (asset of (getAssetsForModel(model) | async); track asset) {
            <div class="list-item clickable relative"
              (click)="selectAsset(asset)">
              <h3>{{asset.name}}</h3>
              <p>
                {{asset.statusName}}
              </p>
              @if (!asset.item.userIsResponsible) {
                <p class="list-item__warning" i18n>You are not responsible. By clicking you will take responsibility for this item.</p>
              }
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>

@if (selectedAsset) {
  <app-form-popup (closed)="selectedAsset = undefined">
    <app-asset-form [asset]="selectedAsset" (submitted)="onSubmitUpdated($event)"></app-asset-form>
  </app-form-popup>
}

@if (selectedModel) {
  <app-form-popup (closed)="selectedModel = undefined">
    <app-create-asset-form [model]="selectedModel" [existingNames]="(existingAssetNames | async)" (submitted)="onSubmitCreated($event)"></app-create-asset-form>
  </app-form-popup>
}

