<ul>
    <li><a [routerLink]="['attribute-groups']" routerLinkActive="active" i18n="attribute groups">Attributgruppen</a></li>
    <li><a [routerLink]="['attribute-types']" routerLinkActive="active" i18n="attribute types">Attributtypen</a></li>
    <li><a [routerLink]="['item-types']" routerLinkActive="active" i18n="item types">Item-Typen</a></li>
    <li><a [routerLink]="['connection-types']" routerLinkActive="active" i18n="connection types">Verbindungstypen</a></li>
    <li><a [routerLink]="['connection-rules']" routerLinkActive="active" i18n="connection rules">Verbindungsregeln</a></li>
    <li><a [routerLink]="['users']" routerLinkActive="active" i18n="user administration">Benutzerverwaltung</a></li>
</ul>