<div class="connections-direction" *ngIf="connectionTypes.length > 0">
  <div class="stretch">
    <div class="box-top flex__space-between"
      [ngClass]="{'box-top__no-body': connectionsToUpperPresent === false}"
      matTooltip="Filtern nach Configuration Items, die bestimmte Verbindungen nach oben besitzen"
      i18n-matTooltip="filter for configuration items that have given connections to upper items">
      <em i18n="connections to upper item">Verbindungen nach oben</em>
      <button mat-button type="button" class="filter-button selectable"
        [matMenuTriggerFor]="connectionToUpperMenu">
        <span class="material-icons">filter_list</span>
      </button>
    </div>
    <div class="box-body" [formGroup]="form" *ngIf="connectionsToUpperPresent">
        <div formArrayName="connectionsToUpper" class="connection-list">
          <ng-container
            *ngFor="let connControl of connectionsToUpperControls; let i = index"
            [formGroupName]="i">
            <app-search-connection [form]="connControl"
              (deleteConnection)="onDeleteConnectionToUpper(i)"
              (changeConnectionCount)="onChangeConnectionCount(i, $event)"
              [connectionTypeName]="(getConnectionType(connControl.get('connectionTypeId').value) | async).reverseName"
              [itemTypeName]="(getItemItype(connControl.get('itemTypeId').value) | async).name">
            </app-search-connection>
          </ng-container>
        </div>
    </div>
  </div>
  <div class="connections-arrow">
      <span class="material-icons">arrow_upward</span>
  </div>
</div>

<mat-menu #connectionToUpperMenu="matMenu">
  <ng-container
    *ngFor="let connectionType of connectionTypes">
    <button mat-menu-item type="button" [matMenuTriggerFor]="connectionItemMenu">
    {{connectionType.reverseName}}
    </button>
    <mat-menu #connectionItemMenu="matMenu">
    <button mat-menu-item type="button" i18n="any type"
      [disabled]="(getItemTypesToUpperForCurrentItemType(connectionType) | async).length < 2"
      [ngClass]="{vanished: (getItemTypesToUpperForCurrentItemType(connectionType) | async).length < 2}"
      (click)="onAddConnectionToUpper(connectionType.id)">
      beliebigen Typ
    </button>
    <button mat-menu-item type="button" 
      *ngFor="let itemType of (getItemTypesToUpperForCurrentItemType(connectionType) | async)"
      (click)="onAddConnectionToUpper(connectionType.id, itemType.id)">
      {{itemType.name}}
    </button>
    </mat-menu>
  </ng-container>
</mat-menu>
