<div class="room" *ngIf="(ready | async) && (rack | async)">
    <p *ngIf="(rack | async).connectionToRoom">
        {{roomName}}: 
        <a [routerLink]="['/room', (rack | async).connectionToRoom.roomId]">
            {{(room | async)?.name}}
        </a>
    </p>
    <div class="rack" [ngClass]="{warning: (rack | async).item.userIsResponsible === false, error: !(rack | async).model || !(rack | async).heightUnits || (rack | async).heightUnits < 1}">
        <h3>
            {{(rack | async).name}}
        </h3>
        <div class="rack__top"></div>
        <div class="flex">
            <div class="rack__outer-border">
                <div class="rack__inner-border">
                    <ng-container *ngFor="let heightUnit of (rackHeightUnits | async)">
                        <div>{{heightUnit}}</div>
                        <div class="height-unit clickable" (click)="selectedHeightUnit = heightUnit" *ngIf="getIsSlotFilled(heightUnit) === false" i18n>empty</div>
                        <div class="height-unit grid"
                            *ngIf="getContainer(heightUnit)"
                            [ngStyle]="{'grid-row-end': 'span ' + getContainerHeight(heightUnit), 'grid-template-rows': repeat(getContainerHeight(heightUnit)), 'grid-template-columns': repeat(getContainer(heightUnit).rackMountables.length)}">
                            <div *ngFor="let rm of getContainer(heightUnit).rackMountables; let i = index"
                                class="rack-element"
                                [ngClass]="{'padding-small': getBladeEnclosure(rm)}"
                                [ngStyle]="{'grid-column-start': (i + 1).toString(), 'grid-row': getVerticalAssetSize(heightUnit, i), 'background-color': rm.statusColor, 'border-color': rm.item?.color}">
                                <div class="enclosure-border" *ngIf="getBladeEnclosure(rm)">
                                    <div class="enclosure-label clickable" (click)="selectedRackMountable = rm">{{rm.name}}<br>{{rm.item?.type}}</div>
                                    <div class="enclosure-bays grid"
                                        [ngStyle]="{'grid-template-rows': repeat(getBladeEnclosure(rm).model?.height), 'grid-template-columns': repeat(getBladeEnclosure(rm).model?.width, '3.5rem')}">
                                        <ng-container *ngFor="let bladeSlot of getEnclosureSlots(rm)">
                                            <div class="enclosure-bay flex" *ngIf="hasEnclosureSlotContent(rm, bladeSlot)"
                                                [ngStyle]="{'grid-row-end': 'span ' + getEnclosureSlotContent(rm, bladeSlot).height, 'grid-column-end': 'span ' + getEnclosureSlotContent(rm, bladeSlot).width}">
                                                <div *ngFor="let mountable of getEnclosureSlotContent(rm, bladeSlot).mountables"
                                                    class="enclosure-label clickable scrollable-x"
                                                    (click)="selectedEnclosureMountable = mountable"
                                                    [ngStyle]="{'background-color': mountable.statusColor}">
                                                    {{mountable.name}}
                                                    <div *ngIf="getProvisionedSystem(mountable)">
                                                        {{getProvisionedSystem(mountable).typeName}} {{getProvisionedSystem(mountable).name}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="enclosure-bay flex" *ngIf="!hasAnyEnclosureSlotContent(rm, bladeSlot)">
                                                <div class="enclosure-label clickable" (click)="setEnclosureAndSlot(rm, bladeSlot)">
                                                    {{bladeSlot}}: <ng-container i18n>empty</ng-container>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="full-height clickable padding-small" *ngIf="!getBladeEnclosure(rm)" (click)="selectedRackMountable = rm">
                                    <div>
                                        {{rm.item?.type}} {{rm.name}}
                                    </div>
                                    <div *ngIf="getProvisionedSystem(rm)">
                                        {{getProvisionedSystem(rm).typeName}} {{getProvisionedSystem(rm).name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>{{heightUnit}}</div>
                    </ng-container>
                </div>
            </div>
            <div class="rack__right-side"></div>
        </div>
        <div class="flex">
            <div class="rack__pedestal"></div>
            <div class="rack__pedestal-side"></div>
        </div>
        <div class="rack__shadow"></div>
    </div>
</div>

<app-form-popup *ngIf="!!selectedRackMountable" (closed)="selectedRackMountable = undefined">
    <app-mountable-form
        [mountable]="selectedRackMountable"
        (changedStatus)="changedRackMountableStatus($event)"
        (dropProvisionedSystem)="droppedProvisionedSystemFromRackMountable($event)"
        (createProvisionableSystem)="createProvisionableSystemInRackServer($event)"
        (connectExistingSystem)="connectExistingSystemToRackServer($event)"
        (removeAsset)="removeRackmountable($event)">
    </app-mountable-form>
</app-form-popup>

<app-form-popup *ngIf="!!selectedEnclosureMountable" (closed)="selectedEnclosureMountable = undefined">
    <app-mountable-form
        [mountable]="selectedEnclosureMountable"
        (changedStatus)="changedEnclosureMountableStatus($event)"
        (dropProvisionedSystem)="droppedProvisionedSystemFromEnclosureMountable($event)"
        (createProvisionableSystem)="createProvisionableSystemInBladeServer($event)"
        (connectExistingSystem)="connectExistingSystemToBladeServer($event)"
        (removeAsset)="removeEnclosureMountable($event)">
    </app-mountable-form>
</app-form-popup>

<app-form-popup *ngIf="selectedHeightUnit > 0" (closed)="selectedHeightUnit = 0">
    <app-rack-mount-form 
        [rack]="(rack | async)"
        [heightUnit]="selectedHeightUnit"
        [maxFreeHeightUnit]="getSlotUpperFreeBoundary(selectedHeightUnit)"
        [minFreeHeightUnit]="getSlotLowerFreeBoundary(selectedHeightUnit)"
        (mount)="mountRackMountable($event)">
    </app-rack-mount-form>
</app-form-popup>

<app-form-popup *ngIf="!!selectedEnclosureContainer && selectedEnclosureSlot > 0" (closed)="setEnclosureAndSlot()">
    <app-enclosure-form
        [enclosureContainer]="selectedEnclosureContainer"
        [slot]="selectedEnclosureSlot"
        [minFreeSlot]="0"
        [maxFreeSlot]="0"
        (mounted)="mountEnclosureMountable($event)">
    </app-enclosure-form>
</app-form-popup>
