<div class="room" *ngIf="(ready | async) && (rack | async)">
    <p *ngIf="(rack | async).connectionToRoom">
        {{names.Room}}: 
        <a [routerLink]="['/room', (rack | async).connectionToRoom.roomId]">
            {{(room | async)?.name}}
        </a>
    </p>
    <div class="rack" [ngClass]="{warning: (rack | async).item.userIsResponsible === false, error: !(rack | async).model || !(rack | async).heightUnits || (rack | async).heightUnits < 1}">
        <h3>
            {{(rack | async).name}}
        </h3>
        <div class="rack__top"></div>
        <div class="flex">
            <div class="rack__outer-border">
                <div class="rack__inner-border">
                    <ng-container *ngFor="let slot of (rackSlots | async)">
                        <div>{{slot}}</div>
                        <div class="height-unit" *ngIf="getIsSlotFilled(slot) === false" i18n>empty</div>
                        <div class="height-unit grid"
                            *ngIf="getContainer(slot)"
                            [ngStyle]="{'grid-row-end': 'span ' + getContainerHeight(slot), 'grid-template-rows': repeat(getContainerHeight(slot)), 'grid-template-columns': repeat(getContainer(slot).rackMountables.length)}">
                            <div *ngFor="let rm of getContainer(slot).rackMountables; let i = index" class="rack-element"
                                [ngStyle]="{'grid-column-start': (i + 1).toString(), 'grid-row': getVerticalAssetSize(slot, i), 'background-color': rm.statusColor, 'border-color': rm.item?.color}">
                                <div class="enclosure-border" *ngIf="getBladeEnclosure(rm)">
                                    <div class="enclosure-label">{{rm.name}}<br>{{rm.item?.type}}</div>
                                    <div class="enclosure-bays grid"
                                        [ngStyle]="{'grid-template-rows': repeat(getBladeEnclosure(rm).model?.height), 'grid-template-columns': repeat(getBladeEnclosure(rm).model?.width)}">
                                        <ng-container *ngFor="let bladeSlot of getEnclosureSlots(rm)">
                                            <div class="enclosure-label" *ngIf="hasEnclosureSlotContent(rm, bladeSlot)">
                                                <div *ngIf="getEnclosureSlotContent(rm, bladeSlot)"
                                                    [ngStyle]="{'grid-row-end': 'span ' + getEnclosureSlotContent(rm, bladeSlot).height, 'grid-column-end': 'span ' + getEnclosureSlotContent(rm, bladeSlot).width}">
                                                    {{getEnclosureSlotContent(rm, bladeSlot).position}}
                                                </div>
                                            </div>
                                            <div class="enclosure-label" *ngIf="!hasEnclosureSlotContent(rm, bladeSlot)">
                                                {{bladeSlot}}: <ng-container i18n>empty</ng-container>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <ng-container *ngIf="!getBladeEnclosure(rm)">
                                    <div>
                                        {{rm.item?.type}} {{rm.name}}
                                    </div>
                                    <div *ngIf="getProvisionedSystem(rm)">
                                        {{getProvisionedSystem(rm).typeName}} {{getProvisionedSystem(rm).name}}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div>{{slot}}</div>
                    </ng-container>
                </div>
            </div>
            <div class="rack__right-side"></div>
        </div>
        <div class="flex">
            <div class="rack__pedestal"></div>
            <div class="rack__pedestal-side"></div>
        </div>
        <div class="rack__shadow"></div>
    </div>
</div>
