@if ((ready | async) && (rack | async)) {
  <div class="room">
    @if ((rack | async).connectionToRoom) {
      <p>
        {{roomName}}:
        <a [routerLink]="['/room', (rack | async).connectionToRoom.roomId]">
          {{(room | async)?.name}}
        </a>
      </p>
    }
    <div class="rack" [ngClass]="{warning: (rack | async).item.userIsResponsible === false, error: !(rack | async).model || !(rack | async).heightUnits || (rack | async).heightUnits < 1}">
      <h3>
        {{(rack | async).name}}
      </h3>
      <div class="rack__top"></div>
      <div class="flex">
        <div class="rack__outer-border">
          <div class="rack__inner-border">
            @for (heightUnit of (rackHeightUnits | async); track heightUnit) {
              <div>{{heightUnit}}</div>
              @if (getIsSlotFilled(heightUnit) === false) {
                <div class="height-unit clickable" (click)="selectedHeightUnit = heightUnit" i18n>empty</div>
              }
              @if (getContainer(heightUnit)) {
                <div class="height-unit grid"
                  [ngStyle]="{'grid-row-end': 'span ' + getContainerHeight(heightUnit), 'grid-template-rows': repeat(getContainerHeight(heightUnit)), 'grid-template-columns': repeat(getContainer(heightUnit).rackMountables.length)}">
                  @for (rm of getContainer(heightUnit).rackMountables; track rm; let i = $index) {
                    <div
                      class="rack-element"
                      [ngClass]="{'padding-small': getBladeEnclosure(rm)}"
                      [ngStyle]="{'grid-column-start': (i + 1).toString(), 'grid-row': getVerticalAssetSize(heightUnit, i), 'background-color': rm.statusColor, 'border-color': rm.item?.color}">
                      @if (getBladeEnclosure(rm)) {
                        <div class="enclosure-border"
                          [ngStyle]="{'grid-template-columns': '1fr ' + getBladeEnclosure(rm).width + 'fr'}"
                          >
                          <div class="grid label-grid">
                            <div class="enclosure-label clickable" (click)="selectedRackMountable = rm" [ngClass]="{'enhanced': enhancedAssetId === rm.id}">
                              {{rm.name}}
                              <br>
                                {{rm.item?.type}}
                              </div>
                              <div>
                                @if (getBladeEnclosure(rm).model.backSideSlots > 0 && showEnclosureBacksideId !== rm.id) {
                                  <button type="button" class="clickable"
                                    (click)="showEnclosureBacksideId = rm.id"
                                    >
                                    &#8617;
                                  </button>
                                }
                                @if (showEnclosureBacksideId === rm.id) {
                                  <button type="button" class="clickable"
                                    (click)="showEnclosureBacksideId = undefined"
                                    >
                                    &#8618;
                                  </button>
                                }
                              </div>
                            </div>
                            @if (showEnclosureBacksideId !== rm.id) {
                              <div class="enclosure-bays grid"
                                [ngStyle]="{'grid-template-rows': repeat(getBladeEnclosure(rm).model?.height), 'grid-template-columns': repeat(getBladeEnclosure(rm).model?.width, '3.5rem')}">
                                @for (bladeSlot of getEnclosureSlots(rm); track bladeSlot) {
                                  @if (hasEnclosureSlotContent(rm, bladeSlot)) {
                                    <div class="enclosure-bay flex"
                                      [ngClass]="{error: getEnclosureSlotContent(rm, bladeSlot).mountables.length > 1}"
                                      [ngStyle]="{'grid-row-end': 'span ' + getEnclosureSlotContent(rm, bladeSlot).height, 'grid-column-end': 'span ' + getEnclosureSlotContent(rm, bladeSlot).width}">
                                      @for (mountable of getEnclosureSlotContent(rm, bladeSlot).mountables; track mountable) {
                                        <div
                                          class="enclosure-label clickable scrollable-x"
                                          (click)="selectedEnclosureMountable = mountable; showEnclosureBacksideId = undefined"
                                          [ngClass]="{'enhanced': enhancedAssetId === mountable.id}"
                                          [ngStyle]="{'background-color': mountable.statusColor}">
                                          {{mountable.name}}
                                          @if (getProvisionedSystem(mountable)) {
                                            <div>
                                              {{getProvisionedSystem(mountable).typeName}} {{getProvisionedSystem(mountable).name}}
                                            </div>
                                          }
                                        </div>
                                      }
                                    </div>
                                  }
                                  @if (!hasAnyEnclosureSlotContent(rm, bladeSlot)) {
                                    <div class="enclosure-bay flex">
                                      <div class="enclosure-label clickable" (click)="showEnclosureBacksideId = undefined; setEnclosureAndSlot(rm, bladeSlot)">
                                        {{bladeSlot}}: <ng-container i18n>empty</ng-container>
                                      </div>
                                    </div>
                                  }
                                }
                              </div>
                            }
                            @if (showEnclosureBacksideId === rm.id) {
                              <div class="grid back-side">
                                <h1 i18n>Back side</h1>
                                <div class="enclosure-bays grid"
                                  [ngStyle]="{'grid-template-columns': repeat(getBladeEnclosure(rm).model?.backSideSlots, '3.5rem')}">
                                  @for (backSlot of getEnclosureBacksideSlots(rm); track backSlot) {
                                    @if (hasEnclosureBacksideSlotContent(rm, backSlot)) {
                                      <div class="enclosure-bay flex"
                                        [ngClass]="{'error': getEnclosureBacksideSlotContent(rm, backSlot).length > 1}">
                                        @for (mountable of getEnclosureBacksideSlotContent(rm, backSlot); track mountable) {
                                          <div
                                            class="enclosure-label clickable scrollable-x"
                                            (click)="selectedEnclosureMountable = mountable; setEnclosureAndSlot(rm)"
                                            [ngStyle]="{'background-color': mountable.statusColor}">
                                            {{mountable.type}}: {{mountable.name}}
                                          </div>
                                        }
                                      </div>
                                    }
                                    @if (!hasEnclosureBacksideSlotContent(rm, backSlot)) {
                                      <div class="enclosure-bay flex">
                                        <div class="enclosure-label clickable" (click)="setEnclosureAndSlot(rm, backSlot)">
                                          {{backSlot}}: <ng-container i18n>empty</ng-container>
                                        </div>
                                      </div>
                                    }
                                  }
                                </div>
                              </div>
                            }
                          </div>
                        }
                        @if (!getBladeEnclosure(rm)) {
                          <div class="full-height clickable padding-small"
                            [ngClass]="{'enhanced': enhancedAssetId === rm.id}"
                            (click)="selectedRackMountable = rm">
                            <div>
                              {{rm.item?.type}} {{rm.name}}
                            </div>
                            @if (getProvisionedSystem(rm)) {
                              <div>
                                {{getProvisionedSystem(rm).typeName}} {{getProvisionedSystem(rm).name}}
                              </div>
                            }
                          </div>
                        }
                      </div>
                    }
                  </div>
                }
                <div>{{heightUnit}}</div>
              }
            </div>
          </div>
          <div class="rack__right-side"></div>
        </div>
        <div class="flex">
          <div class="rack__pedestal"></div>
          <div class="rack__pedestal-side"></div>
        </div>
        <div class="rack__shadow"></div>
      </div>
    </div>
  }

  @if (!!selectedRackMountable) {
    <app-form-popup (closed)="selectedRackMountable = undefined">
      <app-mountable-form
        [mountable]="selectedRackMountable"
        (changedStatus)="changedRackMountableStatus($event)"
        (dropProvisionedSystem)="droppedProvisionedSystemFromRackMountable($event)"
        (createProvisionableSystem)="createProvisionableSystemInRackServer($event)"
        (connectExistingSystem)="connectExistingSystemToRackServer($event)"
        (disconnectProvisionedSystem)="disconnectProvisionablesystem($event)"
        (removeAsset)="removeRackmountable($event)">
      </app-mountable-form>
    </app-form-popup>
  }

  @if (!!selectedEnclosureMountable) {
    <app-form-popup (closed)="selectedEnclosureMountable = undefined">
      @if (!showEnclosureBacksideId) {
        <app-mountable-form
          [mountable]="selectedEnclosureMountable"
          (changedStatus)="changedEnclosureMountableStatus($event)"
          (dropProvisionedSystem)="droppedProvisionedSystemFromEnclosureMountable($event)"
          (createProvisionableSystem)="createProvisionableSystemInBladeServer($event)"
          (connectExistingSystem)="connectExistingSystemToBladeServer($event)"
          (disconnectProvisionedSystem)="disconnectProvisionablesystem($event)"
          (removeAsset)="removeEnclosureMountable($event)">
        </app-mountable-form>
      }
      @if (showEnclosureBacksideId && selectedEnclosureContainer) {
        <app-backside-form
          [mountable]="selectedEnclosureMountable"
          [enclosure]="selectedEnclosureContainer.enclosure"
          (changedStatus)="changedEnclosureMountableStatus($event)"
          (removeAsset)="removeEnclosureMountable($event)">
        </app-backside-form>
      }
    </app-form-popup>
  }

  @if (selectedHeightUnit > 0) {
    <app-form-popup (closed)="selectedHeightUnit = 0">
      <app-rack-mount-form
        [rack]="(rack | async)"
        [heightUnit]="selectedHeightUnit"
        [maxFreeHeightUnit]="getSlotUpperFreeBoundary(selectedHeightUnit)"
        [minFreeHeightUnit]="getSlotLowerFreeBoundary(selectedHeightUnit)"
        (mount)="mountRackMountable($event)">
      </app-rack-mount-form>
    </app-form-popup>
  }

  @if (!!selectedEnclosureContainer && selectedEnclosureSlot > 0) {
    <app-form-popup (closed)="setEnclosureAndSlot()">
      <app-enclosure-form
        [enclosureContainer]="selectedEnclosureContainer"
        [slot]="selectedEnclosureSlot"
        [backSide]="!!showEnclosureBacksideId"
        (mounted)="mountEnclosureMountable($event)">
      </app-enclosure-form>
    </app-form-popup>
  }
