<div class="box-top__sub">
    <h3 i18n="edit attribute values">Attributwerte</h3>
</div>
<div class="box-body__sub" [formGroup]="form">
    <div class="grid" formArrayName="attributes">
        <ng-container
            *ngFor="let attributeType of attributeTypes; let i = index"
            [formGroupName]="i">
            <div>
                <mat-slide-toggle formControlName="edit" #slider></mat-slide-toggle>
            </div>
            <div>{{attributeType.name}}</div>
            <div matToolip="Ein leeres Feld l&ouml;scht das Attribut"
                 i18n-matTooltip="an empty field will delete the attributes">
                <mat-form-field [ngClass]="{ vanished: !slider.checked}">
                    <input matInput type="text" formControlName="attributeValue" 
                        [matAutocomplete]="autoAttribute"
                        placeholder="Neuer gemeinsamer Attribut-Wert"
                        i18n-placeholder="new attribute value for all items">
                </mat-form-field>
                <mat-autocomplete #autoAttribute="matAutocomplete">
                    <mat-option
                        *ngFor="let value of getValuesForAttributeType(attributeType.id)"
                        [value]="value">
                        {{value}}
                    </mat-option>
                </mat-autocomplete>
            </div>
        </ng-container>
    </div>
</div>
