$main-color: #005;
$main-border-color: $main-color;
$error-color: #c54644;
$body-background-color: #ddf;
$element-background-color: #eee;
$element-inactive-background-color: #bbb;
$element-hover-background-color: white;
$main-border-style: 2px $main-border-color solid;
$light-border-style: 1px $main-border-color dotted;
$medium-border-style: 1px $main-border-color solid;
$box-shadow-small: 0.1rem 0.2rem 0.2rem $main-color;
$box-shadow-medium: 0.3rem 0.3rem 0.3rem gray;
$box-shadow-large: 1rem 1rem 2rem black;

$zindex-dropdown: 1000;
$dropdown-min-width: 10rem;
$dropdown-padding-y: 0.5rem;
$dropdown-spacer: 0.125rem;
$font-size-base: 1rem;
$dropdown-bg: white;
$dropdown-border-width: 1px;
$dropdown-border-color: rgba(0,0,0,0.15);

%text-on-background {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.5rem;
    padding: 0 0.5rem;
}
