<table class="table" #table>
  <thead>
    <tr>
      @if ((userRole | async) > 0 && (searchItemType | async)) {
        <th appClickOpen>
          <app-multi-selector [items]="resultList | async"></app-multi-selector>
        </th>
      }
      <th i18n="Item name">Item-Name</th>
      <th i18n="Item type">Item-Typ</th>
      <th i18n="Last change">Letzte &Auml;nderung</th>
      @if ((searchItemType | async)) {
        @for (attributeType of displayedAttributeTypesList; track attributeType) {
          <th>
            {{attributeType.name}}
          </th>
        }
        @for (connectionType of displayedConnectionTypesList; track connectionType) {
          <th>
            {{connectionType.name}}
          </th>
        }
      }
    </tr>
  </thead>
  <tbody>
    @for (item of (resultList | async); track item) {
      <tr>
        @if ((userRole | async) > 0 && (searchItemType | async)) {
          <td>
            <app-item-selector [itemId]="item.id"></app-item-selector>
          </td>
        }
        <td>
          <a [routerLink]="['/display', 'configuration-item', item.id]">
            {{item.name}}
          </a>
        </td>
        <td>
          {{item.type}}
        </td>
        <td>
          {{item.lastChange | date:'short'}}
        </td>
        @if ((searchItemType | async)) {
          @for (attributeType of displayedAttributeTypesList; track attributeType) {
            <td>
              {{getAttributeValue(item, attributeType.id)}}
            </td>
          }
          @for (connectionType of displayedConnectionTypesList; track connectionType) {
            <td>
              {{connectionType.name}}
            </td>
          }
        }
      </tr>
    }
  </tbody>
</table>
@if ((resultList | async).length === 0) {
  <div class="error" i18n="No items found that match the search criteria">
    Keine Items gefunden, die den Suchkriterien entsprechen.
</div>
}
