<table style="overflow: auto; max-height: 50vh;">
    <thead>
        <tr>
            <th i18n="item name">Item-Name</th>
            <th i18n="item type">Item-Typ</th>
            <th i18n="last change">Letzte &Auml;nderung</th>
            <th *ngFor="let attributeType of displayedAttributeTypesList">
                {{attributeType.name}}
            </th>
            <th *ngFor="let connectionType of displayedConnectionTypesList">
                {{connectionType.name}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of (resultList | async)">
            <td>
                <a [routerLink]="['/display', 'configuration-item', item.id]">
                    {{item.name}}
                </a>
            </td>
            <td>
                {{item.type}}
            </td>
            <td>
                {{item.lastChange | date:'short'}}
            </td>
            <td *ngFor="let attributeType of displayedAttributeTypesList">
                {{attributeType.name}}
            </td>
            <td *ngFor="let connectionType of displayedConnectionTypesList">
                {{connectionType.name}}
            </td>
        </tr>
    </tbody>
</table>
<div class="error" *ngIf="(resultList | async).length === 0" i18n="no items found that match the search criteria">
    Keine Items gefunden, die den Suchkriterien entsprechen.
</div>
