@import "projects/cmdb/src/_variables.scss";

table { 
    border-collapse: collapse;
    background: $element-background-color;
}
tr:not(:last-child) {
    border-bottom: $light-border-style;
}
tr:first-child {
    border-top: $light-border-style;
}
td, th {
    padding: 0.1rem 0.5rem;
    font-size: 90%;
    &:not(:last-child) {
        border-right: $light-border-style;
    }
}