@for (building of (buildings | async); track building) {
  <div class="list-container">
    <div class="flex space-between" [ngClass]="{error: building === '(n/a)'}">
      <h1>{{building}}</h1>
      <button type="button" class="clickable" (click)="currentBuilding = building" i18n>
            Create new room
        </button>
      @if (currentBuilding === building) {
        <app-form-popup (closed)="currentBuilding = ''">
          <app-room-form [building]="building" (submitted)="onCreateRoom($event)"></app-room-form>
        </app-form-popup>
      }
    </div>
    <div class="list flex-row flex-wrap">
      @for (room of (getRoomsByBuilding(building) | async); track room) {
        <div class="list-item clickable"
          role="button" [routerLink]="['/room', room.id]">
          <h2>{{room.name}}</h2>
          <div>Racks: {{(getRacksInRoom(room) | async).length}}</div>
        </div>
      }
    </div>
  </div>
}
