<div class="building" *ngFor="let building of (buildings | async)">
    <div class="flex space-between" [ngClass]="{error: building === 'n/a'}">
        <h1>{{building}}</h1>
        <button type="button" (click)="currentBuilding = building" i18n>
            Create new room
        </button>
        <app-form-popup *ngIf="currentBuilding === building" (closed)="currentBuilding = ''">
            <app-room-form [building]="building" (submitted)="onCreateRoom($event)"></app-room-form>
        </app-form-popup>
    </div>
    <div class="rooms">
        <div class="room" *ngFor="let room of (getRoomsByBuilding(building) | async)"
            role="button" [routerLink]="['/room', room.id]">
            <h2>{{room.name}}</h2>
            <div>Racks: {{(getRacksInRoom(room) | async).length}}</div>
        </div>
    </div>
</div>
