<app-busy *ngIf="loading"></app-busy>
<mat-dialog-content *ngIf="!(loading || error || noResult)">
    <p i18n="add connection to another configuration item below">
        Verbindung nach unten zu einem anderen Configuration Item hinzuf&uuml;gen
    </p>
    <form #connForm="ngForm">
        <div class="grid__center-content">
            <div class="grid box" [style.background]="(configurationItem | async).color">
                {{(configurationItem | async).name}}
            </div>
            <div class="box">
                <div>
                    <span>{{(connectionType | async).name}} (max. {{connectionRule.maxConnectionsToLower}})</span>
                    <span class="material-icons">arrow_downward</span>
                    <span>&nbsp;&nbsp;</span>
                    <span class="material-icons">arrow_upward</span>
                    <span>{{(connectionType | async).reverseName}} (max. {{connectionRule.maxConnectionsToUpper}})</span>
                </div>
                <mat-form-field>
                    <input matInput name="description" type="text" autofocus
                        [(ngModel)]="connection.description"
                        placeholder="Beschreibung" i18n-placeholder="description" />
                </mat-form-field>
                <p>
                    <ng-container i18n="validation rule">Vorgabe:&nbsp;</ng-container>
                    {{connectionRule.validationExpression}}
                </p>
        </div>
            <div class="grid form" [style.background]="(targetItemType | async).backColor">
                <div>
                    <label for="lowerItem">{{(targetItemType | async).name}}</label>
                    <select matInput id="lowerItem" name="lowerItem" [(ngModel)]="connection.lowerItemId" required>
                        <option *ngFor="let item of configurationItems"
                            [value]="item.id">
                            {{item.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </form>
    <ng-container *ngIf="(error || noResult)">
        <p class="red" i18n="no available configuration items were found">Es konnten keine geeigneten Configuration Items gefunden werden.</p>
    </ng-container>
    <ng-container *ngIf="!isDescriptionValid">
        <p class="red" i18n="the description does not match the validation rule">
            Die Beschreibung entspricht nicht den Vorgaben.
        </p>
    </ng-container>
</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false" i18n="cancel">Abbrechen</button>
    <button mat-button (click)="onSave()" [disabled]="loading || noResult || error || !isDescriptionValid"
        i18n="save">Speichern</button>
</div>
