@import "projects/cmdb/src/_variables.scss";

.form {
    width: 100%;
    padding: 1rem;
    grid-template-columns: 1fr;
}

select {
    border: $main-border-style;
    padding: 0.5rem 1rem;
    margin: 1rem 0.5rem;
    width: 100%;
}

mat-form-field {
    width: 100%;
    margin: 1rem 0.5rem;
    display: block;
}