<h3 i18n="attributes">Attribute</h3>
<div class="attribute-info">
    <header class="label" i18n="attribute type">Attribut-Typ</header>
    <header class="content" i18n="attribute value">Attribut-Wert</header>
</div>
<div class="attribute-info" *ngFor="let attributeType of (attributeTypes | async)">
    <div class="label">{{attributeType.TypeName}}</div>
    <div class="content">
        <button mat-button class="input-display__content-button"
            type="button" (click)="editedAttributeType = attributeType.TypeId"
            *ngIf="attributeType.TypeId !== editedAttributeType && (getAttributeValue(attributeType) | async)"
            matTooltip="Attributwert &auml;ndern" i18n-matTooltip="change attribute value">
            {{(getAttributeValue(attributeType) | async)}}
        </button>
        <button mat-button class="input-display__content-button red-button"
            type="button" (click)="onDeleteAttribute(attributeType.TypeId)"
            *ngIf="attributeType.TypeId !== editedAttributeType && (getAttributeValue(attributeType) | async)"
            matTooltip="Attributwert l&ouml;schen" i18n-matTooltip="delete attribute value">
            <span class="material-icons">delete_forever</span>
        </button>
        <button mat-button class="input-display__content-button"
            type="button" (click)="editedAttributeType = attributeType.TypeId"
            *ngIf="attributeType.TypeId !== editedAttributeType && !(getAttributeValue(attributeType) | async)"
            matTooltip="Attribut hinzuf&uuml;gen" i18n-matTooltip="add attribute value">
            <span class="material-icons">add_box</span>
        </button>
        <app-text-input *ngIf="attributeType.TypeId === editedAttributeType"
            [originalText]="(getAttributeValue(attributeType) | async)"
            [minimumLength]="1"
            (accept)="onChangeAttributeValue($event)"
            (cancel)="editedAttributeType = undefined">
        </app-text-input>
    </div>
</div>
