<div class="grid grid-2">
  <div class="panel grid">
    @for (hu of heightUnits; track hu) {
      <div class="height-unit"
        [ngClass]="{selected: hu === heightUnit || (isAlsoSelectedByHeight(hu) | async), clickable: hu !== heightUnit}"
        (click)="setHeightUnit(hu)"
        >
        {{hu}}
      </div>
    }
  </div>
  @if ((possibleAssets | async).length > 0) {
    <div class="panel">
      @for (type of (rackMountableTypes | async); track type) {
        @if ((getPossibleModels(type) | async).length > 0) {
          <div>
            <h1 [ngClass]="{selected: selectedTypeId === type.id, clickable: selectedTypeId !== type.id}"
              class="button"
              (click)="selectedTypeId = type.id; selectedModelId = undefined">
            {{type.name}}</h1>
            @if (selectedTypeId === type.id) {
              @for (model of (getPossibleModels(type) | async); track model) {
                @if ((getAssetsForTypeAndModel(type, model) | async).length > 0) {
                  <div class="margin-left">
                    <div [ngClass]="{selected: selectedModelId === model.id, clickable: selectedModelId !== model.id}"
                      class="button bold li-triangle"
                      (click)="selectedModelId = model.id">
                      {{model.name}} ({{model.heightUnits}} {{heightUnitName}})
                    </div>
                    @if (selectedModelId === model.id) {
                      @for (asset of (getAssetsForTypeAndModel(type, model) | async); track asset) {
                        <div class="button margin-left clickable"
                          (click)="mountRackMountable(asset)"
                          >
                          <div>{{asset.name}}</div>
                          <div>{{attributeNames.SerialNumber}}: {{asset.serialNumber}}</div>
                          <div>{{attributeNames.Status}}: {{asset.statusName}}</div>
                        </div>
                      }
                    }
                  </div>
                }
              }
            }
          </div>
        }
      }
    </div>
  }
  @if ((possibleAssets | async).length === 0) {
    <div class="panel error">
      <ng-container i18n>No assets have room in the given space. Please </ng-container>
      @if (heightUnit > minFreeHeightUnit) {
        <ng-container i18n>change the base height unit on the left to a lower level or </ng-container>
      }
      <a routerLink="/asset" i18n>add new assets</a>.
    </div>
  }
</div>
