<p>
    <ng-container i18n="manage mappings between">Verwalten der Zuordnungen zwischen</ng-container>
    <br/>
    <ng-container i18n="item type">Item-Typ </ng-container>
    {{data.TypeName}}<br/>
    <ng-container i18n="and attribute groups">und den Attributgruppen</ng-container>
</p>
<mat-dialog-content>
    <div class="input-edit__elements" *ngFor="let attributeGroup of (attributeGroups | async)">
        <div class="groupname" 
            matTooltip="{{ getAttributeTypeNamesOfGroup((attributeTypes | async), attributeGroup.GroupId) }}">
            <mat-slide-toggle
                [checked]="isSelected(attributeGroup.GroupId)"
                (change)="onChange($event, attributeGroup)">
                {{ attributeGroup.GroupName }}
            </mat-slide-toggle>
        </div>
    </div>
</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close i18n="close">Beenden</button>
</div>