@if (form) {
  <form [formGroup]="form" (submit)="submit()">
    <label for="name" i18n>Name:</label>
    <input type="text" id="name" formControlName="name" />
    <label for="model">{{configurationItemTypeNames.Model}}:</label>
    @if (!asset.model) {
      <select id="model" formControlName="modelId">
        @for (model of (models | async); track model) {
          <option [value]="model.id">
            {{model.name}}
          </option>
        }
      </select>
    }
    @if (asset.model) {
      <span class="readonly-box">{{asset.model.name}}</span>
    }
    <label for="serialNumber">{{attributeTypeNames.SerialNumber}}:</label>
    <input type="text" id="serialNumber" formControlName="serialNumber" />
    <label for="status">{{attributeTypeNames.Status}}:</label>
    <select id="status" formControlName="status">
      @for (status of statusCodes; track status) {
        <option [value]="status.code">{{status.name}}</option>
      }
    </select>
    <div class="flex space-between">
      <button type="submit" i18n [disabled]="form.invalid || !form.dirty">Save changes</button>
    </div>
  </form>
}
