<form #colorForm="ngForm" class="color-popup" [ngClass]="{ open: open }" (submit)="onChangeColor()">
    <div class="color-wrapper">
        <app-color-palette [hue]="hue" (color)="color = $event"></app-color-palette>
        <app-color-slider (color)="hue=$event" style="margin-left:16px"></app-color-slider>
    </div>
    <div class="input-wrapper">
        <input type="text" name="colorText" [(ngModel)]="color" required pattern="^#[A-Za-z0-9]{6}$" />
        <div class="color-div" [ngStyle]="{'background-color': color || 'white'}"></div>
    </div>
    <div class="buttons">
        <button class="btn-ok selectable" type="submit"
            [disabled]="colorForm.invalid">
            <span i18n="OK">OK</span>
        </button>
        <button class="btn-cancel selectable" type="button" (click)="onCancel()">
            <span i18n="cancel">Abbrechen</span>
        </button>
    </div>
</form>
<div class="backdrop" [ngClass]="{ backdrop__open: open }" (click)="onCancel()"></div>
<button class="selectable"
    type="button"
    [style.border-color]="color"
    (click)="onOpenColorPicker()">
    <span class="visually-hidden" i18n="set background color of item type">Hintergrundfarbe des Item-Typs festlegen</span>
    {{ color }} <span [ngStyle]="{'background-color': color}" style="border: 1px solid black;">&nbsp;&nbsp;&nbsp;</span>
</button>
