<form #colorForm="ngForm" class="color-popup" [ngClass]="{ open: open }" (submit)="onChangeColor()">
    <div class="color-wrapper">
        <app-color-palette [hue]="hue" (color)="color = $event"></app-color-palette>
        <app-color-slider (color)="hue=$event" style="margin-left:16px"></app-color-slider>
    </div>
    <div class="input-wrapper">
        <input type="text" name="colorText" [(ngModel)]="color" required pattern="^#[A-Za-z0-9]{6}$" />
        <div class="color-div" [ngStyle]="{'background-color': color || 'white'}"></div>
    </div>
    <div class="buttons">
        <button class="btn-ok selectable" mat-icon-button type="submit"
            [disabled]="colorForm.invalid">
            <span class="material-icons">done</span>
        </button>
        <button class="btn-cancel selectable" mat-icon-button type="button" (click)="onCancel()"
            matTooltip="Abbrechen" i18n-matTooltip="cancel edit">
            <span class="material-icons">block</span>
        </button>
    </div>
</form>
<div class="backdrop" [ngClass]="{ backdrop__open: open }" (click)="onCancel()"></div>
<button mat-button class="input-display__content-button selectable"
    type="button"
    [style.border-color]="color"
    (click)="onOpenColorPicker()"
    matTooltip="Hintergrundfarbe des Item-Typs festlegen"
    i18n-matTooltip="set background color of item type">
    {{ color }} <span [ngStyle]="{'background-color': color}" style="border: 1px solid black;">&nbsp;&nbsp;&nbsp;</span>
</button>
