<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CmdbGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CmdbGui.Properties.Settings.CMDBConnectionString" connectionString="Data Source=130.149.6.136;Initial Catalog=CMDB;Persist Security Info=True;User ID=cmdb;Password=20orE!Ix;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <applicationSettings>
    <CmdbGui.Properties.Settings>
      <setting name="LDAPProperties" serializeAs="String">
        <value>displayname|title|mail|userprincipalname|objectsid|samaccountname</value>
      </setting>
    </CmdbGui.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="MyEndPoint" transferMode="Buffered" faultExceptionEnabled="false" automaticFormatSelectionEnabled="false" maxReceivedMessageSize="25600000">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"/>
          </security>
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MyEndPointBehavior">
          <webHttp defaultBodyStyle="Wrapped"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <!--http://localhost:51717/-->
      <endpoint address="http://localhost:51717/API/CmsService.svc" name="CmsService" binding="webHttpBinding" contract="CmsService.ICmsService" behaviorConfiguration="MyEndPointBehavior" kind="webHttpEndpoint" endpointConfiguration="MyEndPoint"/>
    </client>
  </system.serviceModel>
</configuration>
