<h1 class="page-title" i18n="Delete multiple items">Mehrere Configuration Items gleichzeitig l&ouml;schen</h1>
@if ((working | async) === 0) {
  <div class="box">
    <button type="button" (click)="onDeleteItems()" i18n="delete now">
        Jetzt l&ouml;schen
    </button>
  </div>
}
<table class="table">
  <thead>
    <th i18n="Configuration item">
            Configuration Item
        </th>
  </thead>
  <tbody>
    @for (item of (items | async); track item) {
      <tr [@vanishingRow]>
        <td>
          {{item.name}}
          @if ((getIsItemProcessed(item.id) | async) === true) {
            <app-working></app-working>
          }
        </td>
      </tr>
    }
  </tbody>
</table>
