<app-help>
    <p i18n="users are stored on the server in the local store or come from an active directory. Every configured user must be aded to a role. Choose between the roles">
        Benutzer werden auf dem Server entweder aus dem lokalen Speicher oder einem
        Active Directory bezogen. Jeder hier konfigurierte Benutzer muss einer Rolle
        zugeordnet sein. Folgende Rollen existieren:
    </p>
    <ul>
        <li i18n="readers: readers are all users that are not part of another role. they cannot change anything, but read everything.">
            <b>Leser:</b> Leser sind alle Benutzer, die keiner anderen Rolle zugewiesen sind.
            Sie k&ouml;nnen alle Daten lesen, aber nichts ver&auml;ndern.
        </li>
        <li i18n="editors: editors may create items and change only those items that they took responsibility for. Then they are able to create, change and delete attributes and connections.">
            <b>Editoren:</b> Editoren k&ouml;nnen Items erstellen und &auml;ndern, wenn sie
            die Verantwortung f&uuml;r das Item &uuml;bernehmen. Sie k&ouml;nnen dann auch
            Attribute und Verbindungen erstellen, &auml;ndern und l&ouml;schen.
        </li>
        <li i18n="administrators: administrators have all the rights of editors, but are additionally able to change meta data (item types, connection rules an so on) and user role mappings.">
            <b>Administratoren:</b> Administratoren k&ouml;nnen zus&auml;tzlich zu den Rechten
            der Editoren auch die Metadaten (Item-Typen, Verbindungsregeln usw.) bearbeiten
            und die Rollenzuordnung von Benutzern steuern.
        </li>
    </ul>
    <p i18n="important notice: if no user has the role administrator, then every authenticated user has this role. So this role should for security reasons be used first.">
        <b>Wichtiger Hinweis:</b> Wenn kein Benutzer der Rolle Administrator zugeordnet ist,
        dann besitzt jeder angemeldete Benutzer die Rolle Administrator. Deshalb sollte diese
        Rolle zuerst vergeben werden.
    </p>
</app-help>
<div class="container three-rows">
    <div class="table-cell table-header" i18n="user / group">Benutzer / Gruppe</div>
    <div class="table-cell table-header" i18n="role">Rolle</div>
    <div class="table-cell table-header" i18n="commands">Befehle</div>
    <ng-container *ngFor="let user of (state | async).users">
        <div class="table-cell">
            <div class="input-display__elements">
                <span class="material-icons" *ngIf="user.IsGroup">group</span>
                <span class="material-icons" *ngIf="!user.IsGroup">person</span>
                <span>&nbsp;&nbsp;{{ user.Username }}</span>
            </div>
        </div>
        <div class="table-cell">
            <div class="input-display__elements">
                <button mat-button class="input-display__content-button" (click)="onChangeRole(user)"
                    matTooltip="Rolle &auml;ndern" i18n-matTooltip="toggle role">
                    <app-role-display [role]="user.Role"></app-role-display>
                </button>
            </div>
        </div>
        <div class="table-cell">
            <button mat-icon-button type="button" class="circle-button btn-red"
                matTooltip="Berechtigung l&ouml;schen und alle Verantwortlichkeiten erhalten"
                i18n-matTooltip="delete user and keep all responsibilities"
                (click)="onDeleteUser(user, false)">
                <span class="material-icons">delete</span>
            </button>
            <button mat-icon-button type="button" class="circle-button btn-red"
                matTooltip="Berechtigung und alle Verantwortlichkeiten l&ouml;schen"
                i18n-matTooltip="delete user and all responsibilities"
                (click)="onDeleteUser(user, true)">
                <span class="material-icons">delete_forever</span>
            </button>

        </div>
    </ng-container>
    <div class="table-cell table-span3" *ngIf="!createMode">
        <button mat-icon-button type="button" class="circle-button" (click)="onCreate()">
            <span class="material-icons">add_box</span>
        </button>
    </div>
    <ng-container *ngIf="createMode">
        <div class="table-cell">
            <div class="input-edit__elements">
                <input autofocus type="text" [(ngModel)]="userName"
                    [matAutocomplete]="autoUser"
                    (input)="onTextChange($event.target.value)"
                    placeholder="Benutzername" i18n-placeholde="user name"/>
                <mat-autocomplete #autoUser="matAutocomplete">
                    <mat-option *ngFor="let user of (userProposals | async)" [value]="user.AccountName">
                        {{ user.AccountName }} ({{ user.DisplayName }})
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>
        <div class="table-cell">
            <div class="input-edit__elements">
                <select [(ngModel)]="userRole">
                    <option value="2" i18n="administrator">Administrator</option>
                    <option value="1" i18n="editor">Editor</option>
                </select>
            </div>
        </div>
        <div class="table-cell">
            <div class="input-edit__elements">
                <button class="btn-ok" mat-icon-button type="button"
                    [disabled]="userName.length < 1"
                    matTooltip="Speichern" i18n-matTooltip="save"
                    (click)="onCreateUserRoleMapping()">
                    <span class="material-icons">done</span>
                </button>
                <button class="btn-cancel" mat-icon-button type="button" (click)="onCancel()"
                    matTooltip="Abbrechen" i18n-matTooltip="cancel">
                    <span class="material-icons">block</span>
                </button>
            </div>
        </div>
    </ng-container>
</div>