<div class="container three-rows">
    <div class="table-cell table-header" i18n="user / group">Benutzer / Gruppe</div>
    <div class="table-cell table-header" i18n="role">Rolle</div>
    <div class="table-cell table-header" i18n="commands">Befehle</div>
    <ng-container *ngFor="let user of (state | async).users">
        <div class="table-cell">
            <div class="input-display__elements">
                <span class="material-icons" *ngIf="user.IsGroup">group</span>
                <span class="material-icons" *ngIf="!user.IsGroup">person</span>
                <span>&nbsp;&nbsp;{{ user.Username }}</span>
            </div>
        </div>
        <div class="table-cell">
            <div class="input-display__elements">
                <button mat-button class="input-display__content-button" (click)="onChangeRole(user)"
                    matTooltip="Rolle &auml;ndern" i18n-matTooltip="toggle role">
                    <app-role-display [role]="user.Role"></app-role-display>
                </button>
            </div>
        </div>
        <div class="table-cell">
            <button mat-icon-button type="button" class="btn-red"
                matTooltip="Berechtigung l&ouml;schen und alle Verantwortlichkeiten erhalten"
                i18n-matTooltip="delete user and keep all responsibilities"
                (click)="onDeleteUser(user, false)">
                <span class="material-icons">delete</span>
            </button>
            <button mat-icon-button type="button" class="btn-red"
                matTooltip="Berechtigung und alle Verantwortlichkeiten l&ouml;schen"
                i18n-matTooltip="delete user and all responsibilities"
                (click)="onDeleteUser(user, true)">
                <span class="material-icons">delete_forever</span>
            </button>

        </div>
    </ng-container>
    <div class="table-cell table-span3" *ngIf="!createMode">
        <button mat-icon-button type="button" (click)="onCreate()">
            <span class="material-icons">add_box</span>
        </button>
    </div>
    <ng-container *ngIf="createMode">
        <div class="table-cell">
            <div class="input-edit__elements">
                <input autofocus type="text" 
                    placeholder="Benutzername" i18n-placeholde="user name"/>
            </div>
        </div>
    </ng-container>
</div>