<p i18n="manage mappings between item type and attribute groups for item type">
    Verwalten der Zuordnungen zwischen<br/>
    Item-Typ {{data.TypeName}}<br/>
    und den Attributgruppen
</p>
<mat-dialog-content>
    <div class="input-edit__elements" *ngFor="let attributeGroup of (meta | async).attributeGroups">
        <div class="groupname" 
            matTooltip="{{getAttributeTypeNamesOfGroup((meta | async).attributeTypes, attributeGroup.GroupId)}}">
            <mat-slide-toggle
                [checked]="isSelected(attributeGroup.GroupId)"
                (change)="onChange($event, attributeGroup)">
                {{ attributeGroup.GroupName }}
            </mat-slide-toggle>
        </div>
    </div>
</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()" i18n="close">Beenden</button>
</div>