<app-help>
    <p i18n="the new configuration items will have connections to those configuration items, to which the attributes have belonged">
        Die neuen Configuration Items werden mit den Configuration Items verbunden, 
        deren Attribute sie bislang waren.
    </p>
    <p i18n="While converting an attribute type into a configuration item type, identical attribute values will be merged into one configuration item. So if you have five attributes with the value 'X', you will afterwards have only one item with the name 'X' that will be connected to five configuration items.">
        Beim Umwandeln eines Attribut-Typen in einen Configuration Item Typen werden 
        identische Attributwerte zu einem Configuration Item zusammengefasst.
        Folglich wird auf 5 Attributen mit dem Wert 'X' nur ein Configuration Item mit
        dem Namen 'X', das mit den 5 bisherigen Configuration Items,
        die das Attribut besa&szlig;en, verbunden sind.
    </p>
    <p i18n="you may take additional attributes from the old configuration item to the new one, if their values are consistent with the converted attribute values. If you have an attribute of type 'model' with the value 'Y' and the attribute of type 'manufacturer' is always 'Z' for that, you can take the 'manufacturer' attribute to the new 'model' item type. Existing attributes of type 'manufacturer' will be deleted in that case.">
        Weiterhin k&ouml;nnen zus&auml;tzliche Attribute zum neuen Configuration Item mitgenommen 
        werden, sofern ihre Werte konsistent mit den zu &uuml;bertragenden 
        Attributwerten &uuml;bereinstimmen. Lautet also zu einem Attribut vom Typ 'Modell' 
        der Wert 'Y', und beim zugeh&ouml;rigen Attribut 'Hersteller'
        der Wert immer 'Z', so kann das Attribut 'Hersteller' als Attribut zum neuen 
        Configuration Item-Typ 'Modell' mitgenommen werden.
        Bei den bisherigen Configuration Items wird dann das Attribut 'Hersteller' entfernt.
    </p>
    <p i18n="depending on the number of attribute values to be converted, this operation may take multiple minutes.">
        Je nach der zu verarbeitenden Datenmenge kann die Operation mehrere Minuten dauern.
    </p>
</app-help>
<div class="container">
    <div class="table-cell">
        <h3 i18n="converting attribute type to item type">
            Konvertieren des Attributtyps {{ attributeType?.TypeName }} zu einem Item-Typen
        </h3>
    </div>
    <div class="table-cell" *ngIf="itemType">
        <div>
            <p i18n="the target item type name already exists. The new items shall">
                Der Name {{ itemType.TypeName }} des neuen Item-Typs existiert bereits. Die neuen Configuration Items sollen:
            </p>
            <p>
                <input type="radio" name="rmerge" id="rmerge" mat-input
                    [(ngModel)]="conversionMethod" value="merge" />
                <label for="rmerge" i18n="merged into the existing item type">
                    dem existierenden Item-Typen hinzugef&uuml;gt werden
                </label>
            </p>
            <p>
                <input type="radio" name="rrename" id="rrename" mat-input
                    [(ngModel)]="conversionMethod" value="rename" />
                <label for="rrename" i18n="belong to a new item type with a different name">
                    einem neuen Item-Typen mit einem anderen Namen angeh&ouml;ren
                </label>
            </p>
            <p *ngIf="conversionMethod === 'rename'">
                <label for="newname" i18n="new name for the item type">
                    Neuer Name für den Item-Typ
                </label>
                <input type="text" id="newname" name="newname" [(ngModel)]="newName" />
            </p>
        </div>
    </div>
    <div class="table-cell">
        <label for="color">
            Farbe des Item-Typ
        </label>
        <input [colorPicker]="itemType?.TypeBackColor"
            [style.background]="itemType?.TypeBackColor"
            class="insecure-background"
            [cpOutputFormat]="'hex'"
            [cpPosition]="'bottom'"
            [cpSaveClickOutside]="false"
            [cpOKButton]="true" [cpCancelButton]="true"
            [(ngModel)]="newColor"
            [disabled]="itemType && conversionMethod === 'merge'"
            [value]="itemType?.TypeBackColor" />
    </div>
    <div class="table-cell">
        <span i18n="the new item type will be">
            Der neue Item-Typ soll
        </span>
        <select [(ngModel)]="newPosition">
            <option value="above" i18n="above">oberhalb</option>
            <option value="below" i18n="below">unterhalb</option>
        </select>
        <span i18n="the existing items">
            der bisherigen Items mit dem Attribut stehen.
        </span>
    </div>
    <div class="table-cell">
        <label for="newconnection" i18n="connection type to be used">
            Verbindungtyp, der verwendet werden soll:
        </label>
        <select id="newconnection" [(ngModel)]="newConnectionType">
            <option *ngFor="let connectionType of (meta | async).connectionTypes"
                [value]="connectionType.ConnTypeId">
                {{ connectionType.ConnTypeName }} / {{ connectionType.ConnTypeReverseName }}
            </option>
        </select>
    </div>
    <div class="table-cell" *ngIf="(transferrableAttributeTypes | async)?.length > 0">
        <span i18n="attribute types to be transferred from the old item to the new item type created from the attribute type">
            Attribut-Typen, die vom alten Item zum aus dem Attribut-Typ neu
            erstellten Item-Typ transferiert werden sollen:
        </span>
        <mat-selection-list>
            <mat-list-option *ngFor="let transferrableAttributeType of (transferrableAttributeTypes | async)"
                [value]="transferrableAttributeType.TypeId">
                {{ transferrableAttributeType.TypeName }}
            </mat-list-option>
        </mat-selection-list>
    </div>
    <div class="table-cell">
        <button mat-button type="button" i18n="start converting">Umwandlung starten</button>
    </div>
</div>
