<app-help>
    <p i18n="the new configuration items will have connections to those configuration items, to which the attributes have belonged">
        Die neuen Configuration Items werden mit den Configuration Items verbunden, 
        deren Attribute sie bislang waren.
    </p>
    <p i18n="While converting an attribute type into a configuration item type, identical attribute values will be merged into one configuration item. So if you have five attributes with the value 'X', you will afterwards have only one item with the name 'X' that will be connected to five configuration items.">
        Beim Umwandeln eines Attribut-Typen in einen Configuration Item Typen werden 
        identische Attributwerte zu einem Configuration Item zusammengefasst.
        Folglich wird auf 5 Attributen mit dem Wert 'X' nur ein Configuration Item mit
        dem Namen 'X', das mit den 5 bisherigen Configuration Items,
        die das Attribut besa&szlig;en, verbunden sind.
    </p>
    <p i18n="you may take additional attributes from the old configuration item to the new one, if their values are consistent with the converted attribute values. If you have an attribute of type 'model' with the value 'Y' and the attribute of type 'manufacturer' is always 'Z' for that, you can take the 'manufacturer' attribute to the new 'model' item type. Existing attributes of type 'manufacturer' will be deleted in that case.">
        Weiterhin k&ouml;nnen zus&auml;tzliche Attribute zum neuen Configuration Item mitgenommen 
        werden, sofern ihre Werte konsistent mit den zu &uuml;bertragenden 
        Attributwerten &uuml;bereinstimmen. Lautet also zu einem Attribut vom Typ 'Modell' 
        der Wert 'Y', und beim zugeh&ouml;rigen Attribut 'Hersteller'
        der Wert immer 'Z', so kann das Attribut 'Hersteller' als Attribut zum neuen 
        Configuration Item-Typ 'Modell' mitgenommen werden.
        Bei den bisherigen Configuration Items wird dann das Attribut 'Hersteller' entfernt.
    </p>
    <p i18n="depending on the number of attribute values to be converted, this operation may take multiple minutes.">
        Je nach der zu verarbeitenden Datenmenge kann die Operation mehrere Minuten dauern.
    </p>
</app-help>
<div class="box grid">
    <div class="table-cell">
        <h3 i18n="converting attribute type to item type">
            Konvertieren des Attributtyps {{ attributeTypeToConvert?.TypeName }} zu einem Item-Typen
        </h3>
    </div>
    <div class="table-cell">
        <div class="flex" [ngClass]="{ backward: newPosition === 'above' }">
            <div class="item-type" [@swapDirectionOfUpper]="newPosition">
                <div i18n="all existing item types with the attribute">
                    Alle bisherigen Item-Typen mit dem Attribut {{ attributeTypeToConvert?.TypeName }}
                </div>
                <mat-selection-list (selectionChange)="onChangeAttributeToTransfer($event.option.value, $event.option.selected)"
                    i18n-matTooltip="attribute types to be transferred from the old item to the new item type created from the attribute type"
                    matTooltip="Attribut-Typen, die vom alten Item zum aus dem Attribut-Typ neu erstellten Item-Typ transferiert werden sollen">
                    <mat-list-option class="strikethrough" disabled="true">
                        {{ attributeTypeToConvert.TypeName }}
                    </mat-list-option>
                    <mat-list-option *ngFor="let transferrableAttributeType of transferrableAttributeTypes"
                        [value]="transferrableAttributeType.TypeId">
                        {{ transferrableAttributeType.TypeName }}
                    </mat-list-option>
                </mat-selection-list>
            </div>
            <div class="connection">
                <button mat-button type="button"
                    class="input-display__content-button"
                    (click)="toggleDirection()"
                    matTooltip="Richtung der Verbindung &auml;ndern"
                    i18n-matTooltip="change connection direction">
                    <span class="material-icons">loop</span>
                </button>
                <div>
                    <select [value]="newConnectionType" (change)="onChangeConnectionType($event.target.value)">
                        <option *ngFor="let connectionType of (connectionTypes | async)"
                            [value]="connectionType.ConnTypeId">
                            {{ connectionType.ConnTypeName }}
                        </option>
                    </select>
                    <span class="material-icons">arrow_downward</span>
                    <span>&nbsp;&nbsp;</span>
                    <span class="material-icons">arrow_upward</span>
                    <span>
                        {{ (getConnectionType(newConnectionType) | async)?.ConnTypeReverseName }}
                    </span>
                </div>
            </div>
            <div class="item-type" [style.background]="newColor"
                [@swapDirectionOfLower]="newPosition">
                <div class="text-on-background" [ngClass]="{ strikethrough: !!itemType && conversionMethod === 'rename' }">
                    <span>{{ attributeTypeToConvert?.TypeName }}</span>
                    <button mat-icon-button *ngIf="itemType" (click)="toggleConversion()">
                        <span matTooltip="Es existiert bereits ein Item-Type mit diesem Namen. Die neuen Configuration Items sollen dem existierenden Typ hinzugef&uuml;gt werden."
                            i18n-matTooltip="An item type with that name already exists. Merge the new configuration items into the existing item type."
                            class="material-icons" *ngIf="conversionMethod === 'merge'">call_merge</span>
                        <span matTooltip="Es existiert bereits ein Item-Type mit diesem Namen. Deshalb wird ein neuer Item-Typ mit dem angegebenen Namen erzeugt."
                            i18n-matTooltip="An item type with that name already exists. Create a new item type with a new name."
                            class="material-icons" *ngIf="conversionMethod === 'rename'">call_split</span>
                    </button>
                    <span *ngIf="conversionMethod === 'rename'">
                        <label for="newname" i18n="new name for the item type">
                            Neuer Name f&uuml;r den Item-Typ
                        </label>
                        <input type="text" id="newname" name="newname" [(ngModel)]="newName" />
                    </span>
                </div>
                <div class="item-type__color">
                    <app-color-picker [color]="itemType ? itemType.TypeBackColor : newColor"
                        (colorChange)="onChangeItemBackgroundColor($event)"
                        matTooltip="Hintergrundfarbe des Item-Typs"
                        [disabled]="!!itemType && conversionMethod === 'merge'"
                        i18n-matTooltip="item type background color">
                    </app-color-picker>
                </div>
                <ul *ngIf="transferAttributeTypes.length > 0"
                    i18n-matTooltip="attribute types that are being transferred to the new item type"
                    matTooltip="Attribut-Typen, die mit zum neuen Item-Typen &uuml;bernommen werden">
                    <li *ngFor="let attributeType of transferAttributeTypes">{{ attributeType.TypeName }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="table-cell">
        <div class="input-display__elements">
            <button class="input-display__content-button red"
                mat-button type="button"
                matTooltip="Startet die Umwandlung. Je nach der zu verarbeitenden Datenmenge kann die Operation mehrere Minuten dauern."
                i18n-matTooltip="Start the conversion. Depending on the amount of data processed, this may take several minutes."
                i18n="start converting" (click)="onSubmit()">
                <span class="material-icons">play_arrow</span>
                <div>Umwandlung starten</div>
            </button>
        </div>
    </div>
</div>
