<app-help>
    <p i18n="the new configuration items will have connections to those configuration items, to which the attributes have belonged">
        Die neuen Configuration Items werden mit den Configuration Items verbunden, 
        deren Attribute sie bislang waren.
    </p>
    <p i18n="While converting an attribute type into a configuration item type, identical attribute values will be merged into one configuration item. So if you have five attributes with the value 'X', you will afterwards have only one item with the name 'X' that will be connected to five configuration items.">
        Beim Umwandeln eines Attribut-Typen in einen Configuration Item Typen werden 
        identische Attributwerte zu einem Configuration Item zusammengefasst.
        Folglich wird auf 5 Attributen mit dem Wert 'X' nur ein Configuration Item mit
        dem Namen 'X', das mit den 5 bisherigen Configuration Items,
        die das Attribut besa&szlig;en, verbunden sind.
    </p>
    <p i18n="you may take additional attributes from the old configuration item to the new one, if their values are consistent with the converted attribute values. If you have an attribute of type 'model' with the value 'Y' and the attribute of type 'manufacturer' is always 'Z' for that, you can take the 'manufacturer' attribute to the new 'model' item type. Existing attributes of type 'manufacturer' will be deleted in that case.">
        Weiterhin k&ouml;nnen zus&auml;tzliche Attribute zum neuen Configuration Item mitgenommen 
        werden, sofern ihre Werte konsistent mit den zu &uuml;bertragenden 
        Attributwerten &uuml;bereinstimmen. Lautet also zu einem Attribut vom Typ 'Modell' 
        der Wert 'Y', und beim zugeh&ouml;rigen Attribut 'Hersteller'
        der Wert immer 'Z', so kann das Attribut 'Hersteller' als Attribut zum neuen 
        Configuration Item-Typ 'Modell' mitgenommen werden.
        Bei den bisherigen Configuration Items wird dann das Attribut 'Hersteller' entfernt.
    </p>
    <p i18n="depending on the number of attribute values to be converted, this operation may take multiple minutes.">
        Je nach der zu verarbeitenden Datenmenge kann die Operation mehrere Minuten dauern.
    </p>
</app-help>

