<app-help>
    <p i18n="users are stored on the server in the local store or come from an active directory. Every configured user must be aded to a role. Choose between the roles">
        Benutzer werden auf dem Server entweder aus dem lokalen Speicher oder einem
        Active Directory bezogen. Jeder hier konfigurierte Benutzer muss einer Rolle
        zugeordnet sein. Folgende Rollen existieren:
    </p>
    <ul>
        <li>
            <b i18n="readers:">Leser:</b>
            <ng-container i18n="readers are all users that are not part of another role. they cannot change anything, but read everything.">
                Leser sind alle Benutzer, die keiner anderen Rolle zugewiesen sind.
                Sie k&ouml;nnen alle Daten lesen, aber nichts ver&auml;ndern.
            </ng-container>
        </li>
        <li>
            <b i18n="editors:">Editoren:</b>
            <ng-container i18n="editors may create items and change only those items that they took responsibility for. Then they are able to create, change and delete attributes and connections.">
                Editoren k&ouml;nnen Items erstellen und &auml;ndern, wenn sie
                die Verantwortung f&uuml;r das Item &uuml;bernehmen. Sie k&ouml;nnen dann auch
                Attribute und Verbindungen erstellen, &auml;ndern und l&ouml;schen.
            </ng-container>
        </li>
        <li>
            <b i18n="administrators: ">Administratoren:</b>
            <ng-container i18n="administrators have all the rights of editors, but are additionally able to change meta data (item types, connection rules an so on) and user role mappings.">
                Administratoren k&ouml;nnen zus&auml;tzlich zu den Rechten
                der Editoren auch die Metadaten (Item-Typen, Verbindungsregeln usw.) bearbeiten
                und die Rollenzuordnung von Benutzern steuern.
            </ng-container>
        </li>
    </ul>
    <p>
        <b i18n="important notice:">Wichtiger Hinweis:</b>
        <ng-container i18n="if no user has the role administrator, then every authenticated user has this role. So this role should for security reasons be used first.">
            Wenn kein Benutzer der Rolle Administrator zugeordnet ist,
            dann besitzt jeder angemeldete Benutzer die Rolle Administrator. Deshalb sollte diese
            Rolle zuerst vergeben werden.
        </ng-container>
    </p>
</app-help>
<div class="grid grid__3-columns">
    <div class="table-cell table-header" i18n="user / group">Benutzer / Gruppe</div>
    <div class="table-cell table-header" i18n="role">Rolle</div>
    <div class="table-cell table-header" i18n="commands">Befehle</div>
    <ng-container *ngFor="let user of (state | async).users">
        <div class="table-cell">
            <div class="input-display__elements">
                <ng-container *ngIf="!passwordRequired">
                    <span class="material-icons">person</span>
                    <span>&nbsp;&nbsp;{{ user.accountName }}</span>
                </ng-container>
                <ng-container *ngIf="passwordRequired">
                    <button mat-button class="input-display__content-button selectable" (click)="onChangePassword(user)"
                        matToolTip="Kennwort &auml;ndern" i18n-matToolTip="change password">
                        {{user.accountName}}
                    </button>
                </ng-container>
            </div>
        </div>
        <div class="table-cell">
            <div class="input-display__elements">
                <button *ngIf="passwordRequired" mat-button class="input-display__content-button selectable" (click)="currentUser = user"
                    [matMenuTriggerFor]="roleMenu"
                    matTooltip="Rolle &auml;ndern" i18n-matTooltip="change role">
                    <app-role-display [role]="user.role"></app-role-display>
                </button>
                <button *ngIf="!passwordRequired" mat-button class="input-display__content-button selectable" (click)="onChangeRole(user)"
                    matTooltip="Rolle &auml;ndern" i18n-matTooltip="change role">
                    <app-role-display [role]="user.role"></app-role-display>
                </button>
            </div>
        </div>
        <div class="table-cell">
            <button mat-icon-button type="button" class="circle-button red-button selectable"
                matTooltip="Berechtigung l&ouml;schen und alle Verantwortlichkeiten erhalten"
                i18n-matTooltip="delete user and keep all responsibilities"
                (click)="onDeleteUser(user, false)">
                <span class="material-icons">delete</span>
            </button>
            <button mat-icon-button type="button" class="circle-button red-button selectable"
                matTooltip="Berechtigung und alle Verantwortlichkeiten l&ouml;schen"
                i18n-matTooltip="delete user and all responsibilities"
                (click)="onDeleteUser(user, true)">
                <span class="material-icons">delete_forever</span>
            </button>

        </div>
    </ng-container>
    <div class="table-cell table-span3" *ngIf="!createMode">
        <button mat-icon-button type="button" class="circle-button selectable" (click)="onCreate()">
            <span class="material-icons">add_box</span>
        </button>
    </div>
    <ng-container *ngIf="createMode">
        <div class="table-cell" style="padding-top: 1rem">
            <div class="input-edit__elements">
                <mat-form-field>
                    <mat-label i18n="user name">Benutzername</mat-label>
                    <input autofocus type="text" [(ngModel)]="userName" matInput required class="selectable"
                        [matAutocomplete]="autoUser"
                        (input)="onTextChange($event.target)"
                        placeholder="Benutzername" i18n-placeholde="user name"/>
                    <mat-autocomplete #autoUser="matAutocomplete">
                        <mat-option *ngFor="let user of (userProposals | async)" [value]="user.accountName">
                            {{ user.accountName }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
        <div class="table-cell">
            <div class="input-edit__elements">
                <select [(ngModel)]="userRole">
                    <option value="2" i18n="administrator">Administrator</option>
                    <option value="1" i18n="editor">Editor</option>
                </select>
            </div>
        </div>
        <div class="table-cell">
            <div class="input-edit__elements">
                <button class="btn-ok" mat-icon-button type="button"
                    [disabled]="userName.length < 1"
                    matTooltip="Speichern" i18n-matTooltip="save"
                    (click)="onCreateUserRoleMapping()">
                    <span class="material-icons">done</span>
                </button>
                <button class="btn-cancel" mat-icon-button type="button" (click)="onCancel()"
                    matTooltip="Abbrechen" i18n-matTooltip="cancel">
                    <span class="material-icons">block</span>
                </button>
            </div>
        </div>
    </ng-container>
</div>
<mat-menu #roleMenu>
    <a mat-menu-item i18n="administrator" (click)="onSetRole(2)">
        Administrator
    </a>
    <a mat-menu-item i18n="editor" (click)="onSetRole(1)">
        Editor (Schreibberechtigung)
    </a>
    <a mat-menu-item i18n="reader" (click)="onSetRole(0)">
        Leseberechtigung
    </a>
</mat-menu>