<app-help>
    <p i18n="users are stored on the server in the local store or come from an active directory. Every configured user must be aded to a role. Choose between the roles">
        Benutzer werden auf dem Server entweder aus dem lokalen Speicher oder einem
        Active Directory bezogen. Jeder hier konfigurierte Benutzer muss einer Rolle
        zugeordnet sein. Folgende Rollen existieren:
    </p>
    <ul>
        <li>
            <b i18n="readers:">Leser:</b>
            <ng-container i18n="readers are all users that are not part of another role. they cannot change anything, but read everything.">
                Leser sind alle Benutzer, die keiner anderen Rolle zugewiesen sind.
                Sie k&ouml;nnen alle Daten lesen, aber nichts ver&auml;ndern.
            </ng-container>
        </li>
        <li>
            <b i18n="editors:">Editoren:</b>
            <ng-container i18n="editors may create items and change only those items that they took responsibility for. Then they are able to create, change and delete attributes and connections.">
                Editoren k&ouml;nnen Items erstellen und &auml;ndern, wenn sie
                die Verantwortung f&uuml;r das Item &uuml;bernehmen. Sie k&ouml;nnen dann auch
                Attribute und Verbindungen erstellen, &auml;ndern und l&ouml;schen.
            </ng-container>
        </li>
        <li>
            <b i18n="administrators: ">Administratoren:</b>
            <ng-container i18n="administrators have all the rights of editors, but are additionally able to change meta data (item types, connection rules an so on) and user role mappings.">
                Administratoren k&ouml;nnen zus&auml;tzlich zu den Rechten
                der Editoren auch die Metadaten (Item-Typen, Verbindungsregeln usw.) bearbeiten
                und die Rollenzuordnung von Benutzern steuern.
            </ng-container>
        </li>
    </ul>
    <p>
        <b i18n="important notice:">Wichtiger Hinweis:</b>
        <ng-container i18n="if no user has the role administrator, then every authenticated user has this role. So this role should for security reasons be used first.">
            Wenn kein Benutzer der Rolle Administrator zugeordnet ist,
            dann besitzt jeder angemeldete Benutzer die Rolle Administrator. Deshalb sollte diese
            Rolle zuerst vergeben werden.
        </ng-container>
    </p>
</app-help>
<table class="box">
    <thead>
        <tr>
            <th class="table-cell table-header">
                <span i18n="user / group">Benutzer / Gruppe</span>
            </th>
            <th class="table-cell table-header">
                <span i18n="role">Rolle</span>
            </th>
            <th class="table-cell table-header">
                <span i18n="commands">Befehle</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of (users | async)">
            <td class="table-cell">
                <ng-container *ngIf="!passwordRequired">
                    <span class="material-icons">person</span>
                    <span>&nbsp;&nbsp;{{ user.accountName }}</span>
                </ng-container>
                <ng-container *ngIf="passwordRequired">
                    <button class="input__content-button selectable" (click)="onChangePassword(user)"
                        matToolTip="Kennwort &auml;ndern" i18n-matToolTip="change password">
                        {{user.accountName}}
                    </button>
                </ng-container>
            </td>
            <td class="table-cell position-relative" appClickOpen>
                <button *ngIf="passwordRequired" class="selectable" (click)="currentUser = user"
                    matTooltip="Rolle &auml;ndern" i18n-matTooltip="change role">
                    <app-role-display [role]="user.role"></app-role-display>
                </button>
                <button *ngIf="!passwordRequired" class="dropdown-toggle selectable" (click)="onChangeRole(user)"
                    matTooltip="Rolle &auml;ndern" i18n-matTooltip="change role">
                    <app-role-display [role]="user.role"></app-role-display>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <button class="selectable" i18n="administrator" (click)="onSetRole(2)">
                            Administrator
                        </button>
                    </li>
                    <li>
                        <button class="selectable" i18n="editor" (click)="onSetRole(1)">
                            Editor (Schreibberechtigung)
                        </button>
                    </li>
                    <li>
                        <button class="selectable" i18n="reader" (click)="onSetRole(0)">
                            Leseberechtigung
                        </button>
                    </li>
                </ul>
            </td>
            <td class="table-cell position-relative" appClickOpen>
                <span class="mobile-only">3: </span>
                <button type="button" class="dropdown-toggle">
                    ...
                    <span class="visually-hidden" i18n="click to open action menu">
                        Klicken, um Aktionsmen&uuml; zu &ouml;ffnen
                    </span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <button type="button" class="red-button selectable"
                            i18n="delete user and keep all responsibilities"
                            (click)="onDeleteUser(user, false)">
                            Berechtigung l&ouml;schen
                        </button>
                    </li>
                    <li>
                        <button type="button" class="red-button selectable"
                            i18n="delete user and all responsibilities"
                            (click)="onDeleteUser(user, true)">
                            Berechtigung/Verantwortlichkeiten l&ouml;schen
                        </button>
                    </li>
                </ul>
            </td>
        </tr>
        <tr *ngIf="!createMode">
            <td class="table-cell" colspan="3">
                <button type="button" class="selectable" (click)="onCreate()" i18n="create new user">
                    Neuen Benutzer anlegen
                </button>
            </td>
        </tr>
        <tr *ngIf="createMode">
            <td class="table-cell" style="padding-top: 1rem">
                <div class="input-edit__elements">
                    <mat-form-field>
                        <label for="username" i18n="user name">Benutzername</label>
                        <input autofocus type="text" id="username" [(ngModel)]="userName" matInput required class="selectable"
                            [matAutocomplete]="autoUser"
                            (input)="onTextChange($event.target)"
                            placeholder="Benutzername" i18n-placeholde="user name"/>
                        <mat-autocomplete #autoUser="matAutocomplete">
                            <mat-option *ngFor="let user of (userProposals | async)" [value]="user.accountName">
                                {{ user.accountName }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </td>
            <td class="table-cell">
                <div class="input-edit__elements">
                    <select [(ngModel)]="userRole">
                        <option value="2" i18n="administrator">Administrator</option>
                        <option value="1" i18n="editor">Editor</option>
                    </select>
                </div>
            </td>
            <td class="table-cell">
                <div class="input-edit__elements">
                    <button class="btn-ok" type="button"
                        [disabled]="userName.length < 1"
                        matTooltip="Speichern" i18n-matTooltip="save"
                        (click)="onCreateUserRoleMapping()">
                        <span class="material-icons">done</span>
                    </button>
                    <button class="btn-cancel" type="button" (click)="onCancel()"
                        matTooltip="Abbrechen" i18n-matTooltip="cancel">
                        <span class="material-icons">block</span>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
