@import "projects/cmdb/src/_variables.scss";

$margin: 25px;
$line-width: 2px;
$line-color: rgba($main-border-color, 0.7);

.item-container {
    padding: 1rem;
    border: $main-border-style;
    width: max-content;
    position: relative;
}

.item-boxes {
    display: flex;
    flex-direction: row;
    @media(min-width: 50rem) {
        max-width: calc(100vw - 13rem);
        overflow-x: auto;
        overflow-y: hidden;
    }
}

.item-box {
    padding: 0 0.4rem;
}

.flex {
    text-align: center;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.mini-button {
    padding: 0 0.2rem;
    font-size: 0.7rem;
    font-weight: bold;
    border-width: 1px;
}

.over-top__horizontal-center {
    top: -1px;
    left: 50%;
    transform: translate(-50%, 0);
}

.below-bottom__horizontal-center {
    bottom: -1px;
    left: 50%;
    transform: translate(-50%, 0);
}

.bottom {
    margin-top: auto;
}

.outline {
    outline: double lighten($color: $main-border-color, $amount: 50%);
}

.right {
    right: 0;
}

.line-down {
    margin-bottom: $margin + 1;
    &::after {
        position: absolute;
        content: '';
        width: $line-width;
        height: $margin;
        left: 50%;
        background-color: $line-color;
      }
}

.line-up {
    margin-top: $margin + 1;
    &::before {
        position: absolute;
        content: '';
        width: $line-width;
        height: $margin;
        left: 50%;
        background-color: $line-color;
        transform: translateY(-100%);
      }
}

.line-above {
    position: relative;
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: $line-width;
        background-color: $line-color;
        top: 0;
        left: 0;
        transform: translateY(-1px);
    }

    &:first-child::before {
        width: 50%;
        left: unset;
    }

    &:last-child::before {
        width: calc(50% + 2px);
    }

    &:last-child:first-child::before {
        width: $line-width;
    }
}


.line-below {
    position: relative;
    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: $line-width;
        background-color: $line-color;
        bottom: 0;
        left: 0;
        transform: translateY(1px);
    }

    &:first-child::after {
        width: 50%;
        left: unset;
    }

    &:last-child::after {
        width: calc(50% + 2px);
    }

    &:last-child:first-child::after {
        width: $line-width;
    }
}
