@import "src/_variables.scss";

app-graph-item {
    margin: 0 0.4rem;
    
    &:first-of-type {
        margin-left: 0;
    }
    
    &:last-of-type {
        margin-right: 0;
    }
}

.border {
    padding: 1rem;
    border: $main-border-style;
    width: max-content;
}

.boxes {
    display: flex;
    flex-direction: row;
}

.flex {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
