@import "src/_variables.scss";

app-graph-item {
    margin: 0 0.4rem;
    
    &:first-of-type {
        margin-left: 0;
    }
    
    &:last-of-type {
        margin-right: 0;
    }
}

.border {
    padding: 1rem;
    border: $main-border-style;
    width: max-content;
    position: relative;
}

.boxes {
    display: flex;
    flex-direction: row;
}

.flex {
    text-align: center;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.absolute {
    position: absolute;
}

.horizontal-center {
    left: 50%;
    padding: 0 0.2rem;
    font-size: 0.7rem;
    font-weight: bold;
    border-width: 1px;
    transform: translateX(-50%);
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}
