<div class="flex">
    <div class="item-boxes" *ngIf="expand && item.level <= 0">
        <div class="item-box line-below bottom" *ngFor="let graphItem of (itemsAbove | async)">
            <app-graph-item [item]="graphItem" [expand]="false"></app-graph-item>
        </div>
    </div>
    <div class="line-up" *ngIf="(expand && (itemsAbove | async).length > 0) || item.level > 0"></div>
    <div [style.background]="item.color" class="item-container">
        <button type="button" class="position-absolute horizontal-center top"
            (click)="expandClick()"
            *ngIf="!expand && item.level < 0 && item.itemIdsAbove.length > 0">
            +
        </button>
        <div>{{item.type}}</div>
        <div>{{item.name}}</div>
        <button type="button" class="position-absolute horizontal-center bottom"
            (click)="expandClick()"
            *ngIf="!expand && item.level > 0 && item.itemIdsBelow.length > 0">
            +
        </button>
    </div>
    <div class="line-down" *ngIf="(expand && (itemsBelow | async).length) > 0 || item.level < 0"></div>
    <div class="item-boxes" *ngIf="expand && item.level >= 0">
        <div class="item-box line-above" *ngFor="let graphItem of (itemsBelow | async)">
            <app-graph-item [item]="graphItem" [expand]="false"></app-graph-item>
        </div>
    </div>
</div>
