<div class="main-container">
    <div class="inline-block">
        <div class="flex" [ngClass]="{reverse: level > 0}">
            <div class="boxes">
                <div>box1</div>
                <div>box2</div>
                <div>box3</div>
            </div>
            <div class="canvas">
                <canvas #cv style="height: 50px;"></canvas>
            </div>
            <div #container [style.background]="(item | async)?.color" class="border">
                <div>Test{{(item | async)?.type}}</div>
                <div>Test{{(item | async)?.name}}</div>
            </div>
        </div>
    </div>
</div>
{{container.offsetWidth}} {{container.offsetHeight}}

