<div class="search-form__element">
    <button mat-button type="button" class="filter-button"
        *ngIf="!((displayState | async).search.itemType)"
        [matMenuTriggerFor]="itemTypeMenu"
        i18n="item type"
        matTooltip="Filtern nach Configuration Items eines angegebenen Typs"
        i18n-matTooltip="filter for configuration item of a given item type">
        <span class="material-icons">filter_list</span>
        Item-Typ
        <span class="material-icons">more_vert</span>
    </button>
    <label for="itemType" *ngIf="(displayState | async).search.itemType" i18n="item type">Item-Typ</label>
    <div class="multivalue-property" *ngIf="(displayState | async).search.itemType">
        <input type="hidden" id="itemType" value="(displayState | async).search.itemType?.TypeId" />
        {{(itemType | async).TypeName}}
        <button mat-icon-button type="button" (click)="onDeleteItemType()"
            matTooltip="Item-Typ l&ouml;schen" i18n-matTooltip="delete item type">
            <span class="material-icons">delete_forever</span>
        </button>
    </div>
</div>
<mat-menu #itemTypeMenu="matMenu">
    <button mat-menu-item type="button" 
        *ngFor="let itemType of (metaData | async).itemTypes"
        (click)="onAddItemType(itemType)">{{itemType.TypeName}}
    </button>
</mat-menu>
