<div class="box-top flex__space-between">
    <em i18n="item type">Item-Typ</em>
    <button mat-button type="button" class="filter-button"
        *ngIf="!((displayState | async).search.form.ItemType)"
        [matMenuTriggerFor]="itemTypeMenu"
        i18n="item type"
        matTooltip="Filtern nach Configuration Items eines angegebenen Typs"
        i18n-matTooltip="filter for configuration item of a given item type">
        <span class="material-icons">filter_list</span>
    </button>
</div>
<div class="search-form__element box-body">
    <div class="grid grid__2-columns" *ngIf="(itemType | async)">
        {{(itemType | async).TypeName}}
        <button mat-icon-button type="button" (click)="onDeleteItemType()"
            matTooltip="Item-Typ l&ouml;schen" i18n-matTooltip="delete item type">
            <span class="material-icons">delete_forever</span>
        </button>
    </div>
</div>
<mat-menu #itemTypeMenu="matMenu">
    <button mat-menu-item type="button" 
        *ngFor="let itemType of (metaData | async).itemTypes"
        (click)="onAddItemType(itemType)">{{itemType.TypeName}}
    </button>
</mat-menu>
