<main class="grid__layout">
    <app-menu id="main-menu">
        <app-action-list></app-action-list>
    </app-menu>
    <div class="fixed-height__layout">
        <h1 class="page-title" i18n="View configuration item">Configuration Item ansehen</h1>
        <app-help>
            <p i18n="This page displays a configuration item with all properties and connections. Choose more actions from the menu.">
                Hier sehen Sie ein Configuration Item mit allen Eigenschaften und Verbindungen. W&auml;hlen Sie aus dem Men&uuml; weitere Aktionen.
            </p>
        </app-help>
        <router-outlet></router-outlet>
    </div>
</main>