@import "projects/cmdb/src/_variables.scss";

.help-button {
    left: 90%;
    top: 0.5rem;
    border-radius: 50%;
}

.help-box {
    max-width: 80rem;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in;
    margin: 0 3rem;
    padding: 0 1rem;
    &.visible {
        background: $element-background-color;
        border: $main-border-style;
        border-radius: 0.5rem;
        box-shadow: $box-shadow-large;
        padding: 1rem;
        max-height: calc(98% - 7rem);
    }
}

