.info {
    text-align: center;
    padding: 1rem;
    position: relative;
}

.gauge {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: lightgreen;
}
