<form [formGroup]="form" (submit)="onSubmit()">
    <div class="flex-row" [ngClass]="{invisible: assets.length > 1}">
        <input type="checkbox" id="addSerialToName" #addSerialToName (change)="setValidators()">
        <label for="addSerialToName" i18n>Add serial number to name</label>
    </div>
    <ng-container *ngIf="addSerialToName.checked">
        <label for="baseName" i18n>Base name</label>
        <input type="text" id="baseName" required>
    </ng-container>
    <ng-container formGroupName="assets">
        <ng-container *ngFor="let asset of assets; let i = index" [formArrayName]="i">
            <ng-container *ngIf="!addSerialToName.checked">
                <label for="name" i18n>Name</label>
                <input type="text" id="name" formControlName="name">
            </ng-container>
            <label for="serialNumber" i18n>Serial number</label>
            <input type="text" id="serialNumber" formControlName="serialNumber">
            <button type="button" *ngIf="i > 0" i18n>Delete item</button>
        </ng-container>
    </ng-container>
    <button type="button" (click)="onAddItem()" i18n>Add item</button>
    <button type="submit" [disabled]="form.invalid" i18n>Submit</button>
</form>
