<h1>Migration tool</h1>
<p>
  This simple migration tool migrates all data from the old .NET/MSSQL backend
  to the new NodeJS/MongoDB backend.
</p>
<p>
  The old backend is configured in the assets/config/config.&#123;environment&#125;.json file.
  It should have version: 1. The new backend is being configured below. Just type the new URL and
  start the migration process.
</p>
<div *ngIf="step < 2">
  <table>
    <tr>
      <th>System</th>
      <th>URI</th>
      <th>API version</th>
    </tr>
    <tr>
      <td>Old system</td>
      <td>{{sourceBackend.url}}</td>
      <td>
        {{sourceBackend.version}}
        <span *ngIf="invalidSourceUrl === false"> &#10004;</span>
      </td>
    </tr>
    <tr>
      <td>New system</td>
      <td>
        <input type="url" [(ngModel)]="targetUrl" name="targetUrl" style="width: 100%" (change)="checkTargetUrl()" />
      </td>
      <td>
        {{targetVersion}}
        <span *ngIf="invalidTargetUrl === false"> &#10004;</span>
      </td>
    </tr>
  </table>
  <p>
    <button type="submit" (click)="startMigration()" style="padding: 0.5rem;" [disabled]="invalidSourceUrl || invalidTargetUrl">
      Start migration
    </button>
  </p>
</div>
<table *ngIf="step < 3">
  <tr>
    <th>Type</th>
    <th>Count</th>
    <th *ngIf="step > 1">Unmatched</th>
  </tr>
  <tr>
    <td>Attribute groups</td>
    <td>{{attributeGroups.length}}</td>
    <td *ngIf="step > 1">{{getUnmatchedCount(attributeGroups)}}</td>
  </tr>
  <tr>
    <td>Attribute types</td>
    <td>{{attributeTypes.length}}</td>
    <td *ngIf="step > 1">{{getUnmatchedCount(attributeTypes)}}</td>
  </tr>
  <tr>
    <td>Item types</td>
    <td>{{itemTypes.length}}</td>
    <td *ngIf="step > 1">{{getUnmatchedCount(itemTypes)}}</td>
  </tr>
  <tr>
    <td>Connection types</td>
    <td>{{connectionTypes.length}}</td>
    <td *ngIf="step > 1">{{getUnmatchedCount(connectionTypes)}}</td>
  </tr>
  <tr>
    <td>Connection rules</td>
    <td>{{connectionRules.length}}</td>
    <td *ngIf="step > 1">{{getUnmatchedCount(connectionRules)}}</td>
  </tr>
  <tr>
    <td>Mappings</td>
    <td>{{mappings.length}}</td>
    <td *ngIf="step > 1">{{getUnmatchedCount(mappings)}}</td>
  </tr>
</table>
<div *ngIf="step === 2">
  Step 2
</div>