<div class="input-edit__elements">
    <input autofocus type="text" [(ngModel)]="text" class="selectable"
        (keyup.enter)="onAccept()"
        (keyup.escape)="onCancel()" />
        ({{validationExpression}})
    <button class="btn-ok selectable" type="button"
        [disabled]="text===originalText || text.length < minimumLength || !isValid"
        (click)="onAccept()">
        <span i18n="Save">Speichern</span>
    </button>
    <button class="btn-cancel selectable" type="button" (click)="onCancel()">
        <span i18n="Cancel">Abbrechen</span>
    </button>
</div>
