<mat-dialog-content>
    <h3>Login</h3>
    <p class="message" *ngIf="message">
        {{message}}
    </p>
    <div class="grid">
        <div class="cell" i18n>Username:</div>
        <div class="cell"><input type="text" name="accountName" [(ngModel)]="accountName"></div>
        <div class="cell" i18n>Password:</div>
        <div class="cell"><input type="password" name="passphrase" [(ngModel)]="passphrase"></div>
    </div>
    <div class="error" *ngIf="error">
        {{error}}
    </div>
</mat-dialog-content>
<div mat-dialog-actions><button mat-button class="button" (click)="doLogin()" i18n>Login</button></div>
