.grid {
    grid-template-columns: auto auto;
    
    .cell {
        padding: 0.5rem;
    }

    .colspan {
        grid-column: span 2;
        .button {
            width: 50%;
        }
    }
}

.error {
    color: red;
    background: white;
    border-radius: 1rem;
    text-align: center;
}
