@import "projects/cmdb/src/_variables.scss";

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.backward {
        flex-direction: column-reverse;
    }

    .item-type {
        border: $main-border-style;
        box-shadow: $box-shadow-small;
        border-radius: 0.8rem;
        padding: 1rem;
        width: 100%;
        text-align: center;
        margin: 0.5rem;

        li {
            text-align: left;
            padding: 0.1rem 1rem;
        }

        .text-on-background {
            margin: 0.5rem;
        }
    }
    
    .connection {

        button {
            margin-right: auto;
            justify-self: unset;
        }

        div {
            border-width: 0 1px;
            border-style: solid;
            box-shadow: $box-shadow-small;
            border-radius: 0;
            padding: 0.5rem;
        }
    }
}

.item-type__color {
    padding: 0.5rem;

    input {
        width: 100%;
        text-align: center;
    }
}

.input__content-button {
    flex-grow: 0.4;
}

label.hamburger-menu {
    display: inline-block;
}

input#connectionmenu {display:none}

#connectionmenu:checked + .hamburger-menu .line:nth-child(1){
    transform: translateY(0.6rem) rotate(-45deg);
}

#connectionmenu:checked + .hamburger-menu .line:nth-child(2){
    opacity:0;
}

#connectionmenu:checked + .hamburger-menu .line:nth-child(3){
    transform: translateY(-0.6rem) rotate(45deg);
}

#connectionmenu:checked + .hamburger-menu  + nav.menu { 
    max-height: calc(100vh - 5.5rem);
}

.menu {
    position: absolute;
    right: 0;
    height: auto;
    max-height:0; 
    overflow: hidden; 
    transition: all 0.5s;
    box-shadow: $box-shadow-medium;
    ul {
        margin-block-start: 0;
        margin-block-end: 0;
        list-style: none;
        li {
            border: $light-border-style;
            background-color: $element-hover-background-color;
            padding: 0.5rem;
            a {
                display: inline-block;
                width: 100%;
                white-space: nowrap;
            }
        }
    }
}
