@import "projects/cmdb/src/_variables.scss";

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.backward {
        flex-direction: column-reverse;
    }

    .item-type {
        border: $main-border-style;
        box-shadow: $box-shadow-small;
        border-radius: 0.8rem;
        padding: 1rem;
        width: 100%;
        text-align: center;
        margin: 0.5rem;

        li {
            text-align: left;
            padding: 0.1rem 1rem;
        }

        .text-on-background {
            margin: 0.5rem;
        }
    }
    
    .connection {

        button {
            margin-right: auto;
            justify-self: unset;
        }

        div {
            border-width: 0 1px;
            border-style: solid;
            box-shadow: $box-shadow-small;
            border-radius: 0;
            padding: 0.5rem;
        }
    }
}

h3 {
    text-align: left;
}

.item-type__color {
    padding: 0.5rem;

    input {
        width: 100%;
        text-align: center;
    }
}

.input__content-button {
    flex-grow: 0.4;
}

.dropdown-menu {
    top: 100%;
    transform: translateX(25%);
    @media (min-width: 30rem) {
        transform: unset;
    }
}