<app-help>
    <p i18n="The new configuration items will have connections to those configuration items, to which the attributes have belonged">
        Die neuen Configuration Items werden mit den Configuration Items verbunden, 
        deren Attribute sie bislang waren.
    </p>
    <p i18n="While converting an attribute type into a configuration item type, identical attribute values will be merged into one configuration item. So if you have five attributes with the value 'X', you will afterwards have only one item with the name 'X' that will be connected to five configuration items.">
        Beim Umwandeln eines Attribut-Typen in einen Configuration Item Typen werden 
        identische Attributwerte zu einem Configuration Item zusammengefasst.
        Folglich wird auf 5 Attributen mit dem Wert 'X' nur ein Configuration Item mit
        dem Namen 'X', das mit den 5 bisherigen Configuration Items,
        die das Attribut besa&szlig;en, verbunden sind.
    </p>
    <p i18n="Set if the new item type will be above or below the connected items">
        Sie k&ouml;nnen festlegen, ob der neue Item-Typ in den Verbindungen oberhalb oder unterhalb der existierenden
        Items erscheint.
    </p>
    <p i18n="You may take additional attributes from the old configuration item to the new one, if their values are consistent with the converted attribute values. If you have an attribute of type 'model' with the value 'Y' and the attribute of type 'manufacturer' is always 'Z' for that, you can take the 'manufacturer' attribute to the new 'model' item type. Existing attributes of type 'manufacturer' will be deleted in that case.">
        Weiterhin k&ouml;nnen zus&auml;tzliche Attribute zum neuen Configuration Item mitgenommen 
        werden, sofern ihre Werte konsistent mit den zu &uuml;bertragenden 
        Attributwerten &uuml;bereinstimmen. Lautet also zu einem Attribut vom Typ 'Modell' 
        der Wert 'Y', und beim zugeh&ouml;rigen Attribut 'Hersteller'
        der Wert immer 'Z', so kann das Attribut 'Hersteller' als Attribut zum neuen 
        Configuration Item-Typ 'Modell' mitgenommen werden.
        Bei den bisherigen Configuration Items wird dann das Attribut 'Hersteller' entfernt.
    </p>
    <p i18n="Drag or click attribute types to be transferred from the old item to the new item type created from the attribute type">
        Ziehen Sie Attribut-Typen, die vom alten Item zum aus dem Attribut-Typ neu erstellten Item-Typ transferiert werden sollen, 
        auf die andere Seite, oder klicken Sie darauf.
    </p>
    <p i18n="Depending on the number of attribute values to be converted, this operation may take multiple minutes.">
        Je nach der zu verarbeitenden Datenmenge kann die Operation mehrere Minuten dauern.
    </p>
</app-help>
<div class="box grid">
    <div class="table-cell">
        <h1 class="page-title">
            <ng-container i18n="Converting attribute type ">Konvertieren des Attributtyps </ng-container>
            <i>
                {{ attributeTypeToConvert?.name }}
            </i>
            <ng-container i18n=" to an item type"> in einen Item-Typen</ng-container>
        </h1>
    </div>
    <div class="table-cell">
        <div class="flex" [ngClass]="{ backward: newPosition === 'above' }">
            <div class="item-type" [@swapDirectionOfUpper]="newPosition" (dragover)="onDragOverExistingType($event)" (drop)="onDropOnExistingType($event)">
                <div draggable="true" class="draggable" (dragstart)="onDragStartExistingTypes($event)" (dragend)="onDragEndType($event)">
                    <ng-container i18n="All existing item types with the attribute">
                        Alle bisherigen Item-Typen mit dem Attribut
                    </ng-container>
                    <b>
                        {{ attributeTypeToConvert?.name }}
                    </b>
                    <span class="visually-hidden">
                        <ng-container i18n="are situated inside of the connection">
                            befinden sich innerhalb der Verbindung
                        </ng-container>
                        <ng-container *ngIf="newPosition === 'above'" i18n="below">
                            unterhalb
                        </ng-container>
                        <ng-container *ngIf="newPosition === 'below'" i18n="above">
                            oberhalb
                        </ng-container>
                        <ng-container i18n="The new item">
                            des neuen Item-Typen
                        </ng-container>
                    </span>
                </div>
                <h3 i18n="Attribute types">Attribut-Typen</h3>
                <ul>
                    <li class="strikethrough" disabled="true">
                        {{ attributeTypeToConvert?.name }}
                    </li>
                    <li *ngFor="let transferrableAttributeType of transferrableAttributeTypes">
                        <button type="button" (click)="onChangeAttributeToTransfer(transferrableAttributeType.id, true)"
                            *ngIf="!isAttributeTypeSelected(transferrableAttributeType)"
                            draggable="true" class="draggable" (dragstart)="onDragStartAttributeType($event, transferrableAttributeType, false)">
                            <span class="visually-hidden" i18n="Click to transfer attribute type">
                                Klicken, um den Attributtyp zu &uuml;bertragen:
                            </span>
                            {{ transferrableAttributeType.name }}
                        </button>
                        <span class="strikethrough" *ngIf="isAttributeTypeSelected(transferrableAttributeType)">
                            <span class="visually-hidden" i18n="Attribute type will be transferred">
                                Attributttyp wird &uuml;bertragen:
                            </span>
                            {{ transferrableAttributeType.name }}
                        </span>
                    </li>
                </ul>
            </div>
            <div class="connection">
                <div class="flex-horizontal__align-middle position-relative" appClickOpen>
                    <span>
                        {{ (getConnectionType(newConnectionType) | async)?.name }}
                    </span>
                    <span>&darr;&nbsp;&nbsp;&uarr;</span>
                    <span>
                        {{ (getConnectionType(newConnectionType) | async)?.reverseName }}
                    </span>
                    <button type="button" class="dropdown-toggle">
                        ...
                        <span class="visually-hidden" i18n="Click to open action menu">
                            Klicken, um Aktionsmen&uuml; zu &ouml;ffnen
                        </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="selectable" role="button" i18n="Change connection direction" (click)="toggleDirection()">
                                Richtung der Verbindung &auml;ndern
                            </a>
                        </li>
                        <li *ngFor="let connectionType of (connectionTypes | async)">
                            <a class="selectable" role="button" (click)="onChangeConnectionType(connectionType)">
                                &rarr;
                                <span class="visually-hidden" i18n="Click to change connection type">
                                    Klicken, um Verbindungstyp zu &auml;ndern auf
                                </span>
                                {{ connectionType.name }} &darr;&nbsp;&uarr; {{ connectionType.reverseName }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item-type" [style.background]="newColor" (dragover)="onDragOverNewType($event)" (drop)="onDropOnNewType($event)"
                [@swapDirectionOfLower]="newPosition">
                <div class="text-on-background" [ngClass]="{ strikethrough: !!itemType && conversionMethod === 'rename' }"
                    (dragstart)="onDragStartNewType($event)" (dragend)="onDragEndType($event)">
                    <ng-container i18n="New item type">
                        Neuer Item-Typ
                    </ng-container>
                    <b draggable="true" class="draggable">
                        {{ attributeTypeToConvert?.name }}
                    </b>
                    <span class="visually-hidden">
                        <ng-container i18n="is situated inside of the connection">
                            befindet sich innerhalb der Verbindung
                        </ng-container>
                        <ng-container *ngIf="newPosition === 'above'" i18n="above">
                            oberhalb
                        </ng-container>
                        <ng-container *ngIf="newPosition === 'below'" i18n="below">
                            unterhalb
                        </ng-container>
                        <ng-container i18n="the new item">
                            des neuen Item-Typen
                        </ng-container>
                    </span>
                </div>
                <div *ngIf="itemType">
                    <ng-container i18n="An item type with that name already exists.">
                        Es existiert bereits ein Item-Type mit diesem Namen.
                    </ng-container>
                    <ng-container *ngIf="conversionMethod === 'merge'" i18n="Merge the new configuration items into the existing item type.">
                        Die neuen Configuration Items sollen dem existierenden Typ hinzugef&uuml;gt werden.
                    </ng-container>
                    <ng-container *ngIf="conversionMethod === 'rename'" i18n="Create a new item type with a new name.">
                        Deshalb wird ein neuer Item-Typ mit dem angegebenen Namen erzeugt.
                    </ng-container>
                    <button class="selectable" (click)="toggleConversion()">
                        <ng-container *ngIf="conversionMethod === 'merge'" i18n="Create new Item Typ with different name.">
                            Stattdessen neuen Item-Typ mit anderem Namen erzeugen.
                        </ng-container>
                        <ng-container *ngIf="conversionMethod === 'rename'" i18n="Merge into the existing item type.">
                            Stattdessen dem vorhandenen Item-Typ hinzuf&uuml;gen
                        </ng-container>
                    </button>
                    <div *ngIf="conversionMethod === 'rename'">
                        <label for="newname" i18n="New name for the item type">
                            Neuer Name f&uuml;r den Item-Typ: 
                        </label>
                        <input type="text" id="newname" name="newname" [(ngModel)]="newName" class="selectable" />
                    </div>
                </div>
                <div class="item-type__color">
                    <span i18n="Item type background color">Hintergrundfarbe des Item-Typs: </span>
                    <app-color-picker [color]="itemType ? itemType.backColor : newColor"
                        (colorChange)="onChangeItemBackgroundColor($event)"
                        [disabled]="!!itemType && conversionMethod === 'merge'">
                    </app-color-picker>
                </div>
                <ng-container *ngIf="transferAttributeTypes.length > 0">
                    <h3 i18n="Attribute types">Attribut-Typen</h3>
                    <p i18n="Attribute types that are being transferred to the new item type">
                        Attribut-Typen, die mit zum neuen Item-Typen &uuml;bernommen werden
                    </p>
                </ng-container>
                <ul *ngIf="transferAttributeTypes.length > 0">
                    <li *ngFor="let attributeType of transferAttributeTypes">
                        <button type="button" (click)="onChangeAttributeToTransfer(attributeType.id, false)"
                            draggable="true" class="draggable" (dragstart)="onDragStartAttributeType($event, attributeType, true)">
                            <span class="visually-hidden" i18n="Click to remove attribute type">
                                Klicken, um den Attributtyp zu entfernen:
                            </span>
                            {{ attributeType.name }}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="table-cell">
        <div class="input__elements">
            <button class="red selectable" type="button" (click)="onSubmit()" i18n="Start converting">
                Umwandlung starten
            </button>
        </div>
    </div>
</div>
