<div [formGroup]="form">
    <label for="connectionCount{{connectionTypeName + itemTypeName}}">
        {{ connectionTypeName }} {{ itemTypeName }}
    </label>
    <button mat-icon-button type="button" (click)="onDeleteConnection()"
    matTooltip="Verbindung l&ouml;schen"
    i18n-matTooltip="delete connection">
    <span class="material-icons">delete_forever</span>
    </button>
    <input type="hidden" formControlName="connectionTypeId">
    <input type="hidden" formControlName="configurationItemTypeId">
    <select id="connectionCount{{connectionTypeName + itemTypeName}}" formControlName="count" (change)="onChange($event.target.value)">
        <option value="0">0</option>
        <option value="1+">> 0</option>
        <option value="1">1</option>
        <option value="2+">> 1</option>
    </select>
</div>
