<div class="list-container">
  <h1 class="center" i18n>Search filters</h1>
  <div class="item-types__list-container">
    <h2 i18n>Asset types</h2>
    <div class="flex-row flex-wrap item-types__list">
      @for (itemType of (includedItemTypes | async); track itemType) {
        <div class="item-type">
          {{itemType.name}}
          <button type="button" class="clickable item-type__remove-button" (click)="excludeType(itemType.id)">X</button>
        </div>
      }
    </div>
    <div class="flex-row flex-wrap buttons">
      <button type="button" class="clickable" (click)="clearExcludedTypes()">Show all asset types</button>
      <button type="button" class="clickable" (click)="showOnlyRackMountables()">Show only rack mountable types</button>
      <button type="button" class="clickable" (click)="showOnlyEnclosureMountables()">Show only enclosure mountable types</button>
      <button type="button" class="clickable" (click)="invertSelection()">Invert asset types selection</button>
    </div>
    @if ((excludedItemTypes | async).length > 0) {
      <h2 i18n>Excluded asset types</h2>
      <div class="flex-row flex-wrap item-types__list">
        @for (itemType of (excludedItemTypes | async); track itemType) {
          <div class="item-type clickable" (click)="includeType(itemType.id)">
            {{itemType.name}}
          </div>
        }
      </div>
    }
  </div>
  <div class="form">
    <label for="text" i18n>Which text are you looking for?</label>
    <input type="text" id="text" [(ngModel)]="searchText" placeholder="Part of asset name, serial number or provisionable name" i18n-placeholder required autofocus />
  </div>
  <!-- <ul>
  <li *ngFor="let itemType of (itemTypes | async)" class="clickable">{{itemType.name}}</li>
</ul> -->
@if ((results | async).length > 0) {
  <div class="grid result-table scrollable-x">
    <div class="bold" i18n>Asset type</div>
    <div class="bold" i18n>Name</div>
    <div class="bold">{{attributeNames.SerialNumber}}</div>
    <div class="bold extra-row">{{attributeNames.Status}}</div>
    <div class="bold extra-row" i18n>Provisioned System</div>
    <div class="bold extra-row" i18n>Built into</div>
    @for (result of (results | async); track result) {
      <div>{{result.item.type}}</div>
      <div class="clickable" (click)="gotoResult(result)">{{result.name}}</div>
      <div>{{result.serialNumber}}</div>
      <div class="extra-row">{{result.statusName}}</div>
      <div class="extra-row">{{result.provisionedSystem?.type}} {{result.provisionedSystem?.name}}</div>
      <div class="extra-row">{{(getContainer(result) | async).name}}</div>
    }
  </div>
}
</div>