<app-busy *ngIf="(meta | async).loadingData === true"></app-busy>
<app-header *ngIf="(meta | async).validData === true"></app-header>
<router-outlet *ngIf="(meta | async).validData === true"></router-outlet>
<div class="error" *ngIf="(meta | async).loadingData === false && (meta | async).validData === false">
    <h3 i18n="error loading data">Fehler beim Laden von Daten</h3>
    <p i18n="no data could be loaded from the backend. please inform administrator">
        Es konnten keine Daten aus der Datenbank geladen werden. Bitte informieren Sie ihren Administrator.
    </p>
</div>
