<div class="list-details">
    <div class="list">
        <ng-container *ngFor="let model of (models | async)">
            <a [routerLink]="['/admin', 'models', 'model', model.id]" [fragment]="(route | async).fragment">
                <div class="list-item" [ngClass]="{error: !model.manufacturer || !model.targetType, selected: (routerStateId | async) === model.id}">
                    <h2>{{model.name}}</h2>
                    <p>{{model.manufacturer}}</p>
                </div>
            </a>
        </ng-container>
    </div>
    <div class="details">
        <router-outlet></router-outlet>
    </div>
</div>
