<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServerBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="MyEndPoint" transferMode="Buffered" faultExceptionEnabled="false" automaticFormatSelectionEnabled="false" maxReceivedMessageSize="25600000" >
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MyEndPointBehavior">
          <webHttp defaultBodyStyle="Wrapped" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <!--http://localhost:51717/-->
      <endpoint address="http://map-b4verw-01-v/cmdb/API/CmsService.svc" name="CmsService" binding="webHttpBinding" contract="CmsService.ICmsService" behaviorConfiguration="MyEndPointBehavior" kind="webHttpEndpoint" endpointConfiguration="MyEndPoint" />
    </client>
  </system.serviceModel>
  <userSettings>
    <ServerBuilder.Properties.Settings>
      <setting name="CmdbUrl" serializeAs="String">
        <value>http://map-b4verw-01-v.int.polizei.berlin.de/cmdb/ShowItem.aspx?id={0}</value>
      </setting>
    </ServerBuilder.Properties.Settings>
  </userSettings>
</configuration>