<form [formGroup]="form" *ngIf="form" (submit)="submit()">
    <label for="name" i18n>Name:</label>
    <input type="text" id="name" formControlName="name" />
    <label for="building" i18n>Building:</label>
    <input type="text" id="building" formControlName="building" />
    <div class="flex space-between">
        <button type="submit" i18n [disabled]="form.invalid || !form.dirty">Save changes</button>
        <button type="button" *ngIf="!createMode" i18n [disabled]="room?.item?.connectionsToUpper?.length > 0" (click)="delete()">Delete this room</button>
    </div>
</form>
