<app-busy *ngIf="!(itemReady | async)" i18n="loading data">
    Lade Daten...
</app-busy>
<form class="box relative search-form" *ngIf="(itemReady | async)" [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-item-menu></app-item-menu>
    <div class="box-top">
        <span i18n="search neighbors of">Suche nach Nachbarn von</span>
        <em> {{(configurationItem | async).type}} {{(configurationItem | async).name}}</em>
    </div>
    <div class="box-body">
        <div class="box-top__sub" i18n="search neighbor configuration items of type">
            Nachbar-Configuration-Items dieses Typs suchen
        </div>
        <div class="box-body__sub">
            <div class="input-edit__elements">
                <select formControlName="ItemType">
                    <option *ngFor="let itemType of (availableItemTypes | async)"
                        [value]="itemType.TypeId">
                        {{itemType.TypeName}}
                    </option>
                </select>
            </div>
        </div>
        <div class="box-top__sub" i18n="maximum number of levels to be searched">
            Maximale Anzahl von Ebenen, die gesucht werden soll
        </div>
        <div class="box-body__sub">
            <div class="input-edit__elements">
                <input type="number" formControlName="MaxLevels" />
            </div>
        </div>
        <div class="box-top__sub" i18n="search directions">
            Richtung(en), in die gesucht werden soll
        </div>
        <div class="box-body__sub">
            <div class="input-edit__elements">
                <select formControlName="SearchDirection">
                    <option i18n="upward" value="-1">nach oben</option>
                    <option i18n="both directions" value="0">beide Richtungen</option>
                    <option i18n="downward" value="1">nach unten</option>
                </select>
            </div>
        </div>
    </div>
    <div class="box-top flex__space-between"
        [ngClass]="{'box-top__no-body': extraSearch.disabled}">
        <h3 i18n="additional filters">
            Weitere Filter
        </h3>
        <button mat-button type="button" class="filter-button" (click)="toggleExtraSearch()">
            <span class="material-icons" [ngClass]="{'upside-down__mirrored': extraSearch.enabled}">filter_list</span>
        </button>
    </div>
    <div class="box-body search-form__element" *ngIf="extraSearch.enabled" formGroupName="ExtraSearch">
        <app-search-name-value formControlName="NameOrValue"></app-search-name-value>
        <app-search-attributes [form]="extraSearch"
            [allowedAttributeTypeList]="(allowedAttributeTypes | async)"
            [selectedAttributeTypes]="selectedAttributeTypes"
            (addAttributeType)="onAddAttributeType($event)">
        </app-search-attributes>
    </div>
    <div class="submit flex__space-between">
        <button mat-icon-button type="submit" matTooltip="Suche starten" 
            [disabled]="form.invalid"
            i18n-matTooltip="start search">
            <span class="material-icons">search</span>
        </button>
        <button mat-icon-button type="button" matTooltip="Formular zur&uuml;cksetzen" 
            (click)="onResetForm()" i18n-matToolTip="reset form">
            <span class="material-icons">delete_forever</span>
        </button>
    </div>

    <div i18n="no search results found. please alter parameters">
        Keine Suchergebnisse gefunden. Bitte &uuml;berpr&uuml;fen Sie Ihre Suchkriterien.
    </div>
</form>