@import "projects/cmdb/src/_variables.scss";

.help-button {
    left: 90%;
}

.backdrop {
    z-index: 49;
}

.help-box {
    position: fixed;
    background: $element-background-color;
    border: $main-border-style;
    border-radius: 0.5rem;
    box-shadow: $box-shadow-large;
    padding: 1rem;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 80rem;
    max-height: calc(98% - 7rem);
    transform:  translate(-100%, -50%) scale(0.0001);
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 50;
}

.visible {
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
}
