$main-color: #005;
$main-border-color: $main-color;
$body-background-color: #ddf;
$element-background-color: #eee;
$element-inactive-background-color: #bbb;
$element-hover-background-color: white;
$main-border-style: 2px $main-border-color solid;
$light-border-style: 1px $main-border-color dotted;
$medium-border-style: 1px $main-border-color solid;

%text-on-background {
    background-color: $element-background-color;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
}

%single-col-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
}

@mixin one-two-thirds-grid() {
    grid-template-columns: 1fr 2fr;
}

