@import "variables.scss";

* {
    box-sizing: border-box;
}

html, body { height: 100%; }

body {
    color: $main-color;
    background-color: $body-background-color;
    margin: 0;
    margin-top: 4.5rem;
    font-family: Verdana, Helvetica, sans-serif;
}

.page-header {
    background-color: $element-background-color;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 2rem;
    padding: 0 1.25rem;
    position: fixed;
    top: 0;
    height: 4.5rem;
    width: calc(100% - 4rem);
    min-width: 41rem;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header__title {
    grid-area: logo;
    padding: 0 1.25rem;
}

.page-header__nav {
    background-color: $element-background-color;
    padding: 0 1.25rem;
}

.header-nav__items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 3rem;

    img {
        height: 3rem;
    }
}

.header-nav__menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-grid;
}

.backdrop {
    display: none;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 49;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s linear;
}

.backdrop__open {
    display: block;
    opacity: 1;
}
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
