@import "_variables.scss";

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(src/assets/fonts/MaterialIcons-Regular.woff) format('woff');
  }

* {
    box-sizing: border-box;
}

html, body { height: 100%; }

body {
    color: $main-color;
    background-color: $body-background-color;
    margin: 0;
    margin-top: 4.5rem;
    font-family: Verdana, Helvetica, sans-serif;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.page-header {
    background-color: $element-background-color;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 2rem;
    padding: 0 1.25rem;
    position: fixed;
    top: 0;
    height: 4.5rem;
    width: calc(100% - 4rem);
    min-width: 41rem;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header__title {
    grid-area: logo;
    padding: 0 1.25rem;
}

.page-header__nav {
    background-color: $element-background-color;
    padding: 0 1.25rem;
}

.header-nav__items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-items: center;

    img {
        height: 3rem;
        padding: 0 0.5rem;
    }
}

.header-nav__menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-grid;
}

%page-layout {
    display: grid;
    grid-template-rows: 2rem 1fr auto auto auto;
    grid-row-gap: 0.2rem;
    grid-column-gap: 0.5rem;
    grid-template-areas: ". navbar ."
                         ". details .";
}

main.page-layout {
    @extend %page-layout;
    grid-template-columns: 3.5rem 2fr 0.5rem;

    @media (min-width: 40rem) {
        grid-template-columns: minmax(10rem,1fr) 2fr minmax(10rem,1fr);
    }

    section {
        grid-area: details;
    }
}

.admin-page-layout {
    @extend %page-layout;
    grid-template-columns: 3.5rem auto 3.5rem;
    width: fit-content;

    section {
        grid-area: details;
    }
}

.admin-navbar {
    background: $element-background-color;
    grid-area: navbar;
    margin: auto 0;
    padding: 0.2em 2em;
}

.backdrop {
    display: none;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 49;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.2s linear;
}

.backdrop__open {
    display: block;
    opacity: 1;
}

.multivalue-property {
    display: flex;
    align-items: center;
}

.box {
    background: $element-background-color;
    border: $main-border-style;
    border-radius: 4px;
    padding: 1rem;
    margin: 0.3rem;
}

.vanished {
    display: none !important;
}

em {
    font-weight: bold;
    font-size: 1.1rem;
    font-style: italic;
}

.container {
    display: grid;
    background-color: $element-background-color;
    border: $main-border-style;
}

.two-rows {
    grid-template-columns: 1fr auto;
}

.three-rows {
    grid-template-columns: 1fr 1fr auto;
}

.four-rows {
    grid-template-columns: 1fr 1fr 1fr auto;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    border: $light-border-style;
    padding: 0.5rem;

    .table-cell__content {
        display: grid;
        grid-template-columns: 1fr 2em;
        align-items: center;
        justify-items: center;
        align-content: center;
    }
}

.table-header {
    font-weight: bold;
}

.table-span2 {
    grid-column-start: span 2;
}

.table-span3 {
    grid-column-start: span 3;
}

.input-display__elements {
    display: flex;
    flex-direction: row;
    margin: 0 1rem;
    min-width: fit-content;

    .input-display__content-button {
        flex-grow: 1;
    }

    .input-display__content-info {
        font-size: 0.8rem;
        border: $light-border-style;
        border-radius: 0.5rem 0.5rem 0.5rem 0;
        padding: 0.2rem 0.5rem;
        margin: 0 0.5rem;
        align-self: flex-start;
    }
    
}

button.input-display__content-button {
    border: $main-border-style;
    border-style: outset;
    border-radius: 0.5rem;
    justify-self: stretch;
}

%input-edit__button {
    flex-grow: 0;
    line-height: unset;
    height: unset;
}

.btn-red {
    @extend %input-edit__button;
    @extend .red;
}

.red {
    color: red;
}

.input-edit__elements {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 1rem;

    input,
    select {
        border: $main-border-style;
        border-style: outset;
        flex-grow: 1;
        padding: 0.5rem 1rem;
    }

    button.btn-ok {
        @extend %input-edit__button;
        flex-grow: 0;
        color: darkgreen;
    }

    button.btn-cancel {
        @extend %input-edit__button;
        color: red;
    }
}

.insecure-background {
    text-shadow: -1px -1px 0 white,
                  1px -1px 0 white,
                 -1px 1px 0 white,
                  1px 1px 0 white;
}
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
