/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

body {
    color: #005;
    background-color: #07f;
    margin: 0;
    font-family: Verdana, Helvetica, sans-serif;
}

