$main-color: #005;
$body-background-color: #ffa;
$element-background-color: #eee;
$element-inactive-background-color: #bbb;
$element-hover-background-color: white;
$main-border-style: 2px solid $main-color;

