<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RZManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RZManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RZManager.Properties.Settings>
            <setting name="MinimumHeight" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ownDepartmentId" serializeAs="String">
                <value>7430</value>
            </setting>
            <setting name="assystWebGuiPath" serializeAs="String">
                <value>/assystweb/application.do#item/ManageItem.do?dispatch=manageParent&amp;id={0}</value>
            </setting>
        </RZManager.Properties.Settings>
    </userSettings>
  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="MyEndPoint" transferMode="Buffered" faultExceptionEnabled="false" automaticFormatSelectionEnabled="false" maxReceivedMessageSize="25600000" >
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MyEndPointBehavior">
          <webHttp defaultBodyStyle="Wrapped" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <!--http://localhost:51717/-->
      <endpoint address="http://map-b4verw-01-v/cmdb/API/CmsService.svc" name="CmsService" binding="webHttpBinding" contract="CmsService.ICmsService" behaviorConfiguration="MyEndPointBehavior" kind="webHttpEndpoint" endpointConfiguration="MyEndPoint" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <RZManager.Properties.Settings>
      <setting name="RackProductClassName" serializeAs="String">
        <value>Rack/Schrank</value>
      </setting>
      <setting name="BladeEnclosureProductClassName" serializeAs="String">
        <value>Blade-Enclosure</value>
      </setting>
      <setting name="ServerProductClassName" serializeAs="String">
        <value>Server</value>
      </setting>
      <setting name="ESXHostProductName" serializeAs="String">
        <value>ESX-Host</value>
      </setting>
      <setting name="HardwareApplianceProductClassName" serializeAs="String">
        <value>Hardware-Appliance</value>
      </setting>
      <setting name="PDUItemTypeName" serializeAs="String">
        <value>PDU</value>
      </setting>
      <setting name="SanSwitchProductClassName" serializeAs="String">
        <value>SAN-Switch</value>
      </setting>
      <setting name="StorageProductClassName" serializeAs="String">
        <value>Storage-System</value>
      </setting>
      <setting name="BackupProductName" serializeAs="String">
        <value>Backup-System</value>
      </setting>
      <setting name="StoreRoomId" serializeAs="String">
        <value>64767</value>
      </setting>
      <setting name="RackServerHardwareProductClassName" serializeAs="String">
        <value>Rack-Server-Hardware</value>
      </setting>
      <setting name="BladeServerHardwareProductClassName" serializeAs="String">
        <value>Blade-Server-Hardware</value>
      </setting>
      <setting name="BladeInterconnectProductClassName" serializeAs="String">
        <value>Blade-Interconnect</value>
      </setting>
      <setting name="DataCenterGenericClassName" serializeAs="String">
        <value>Rechenzentrum</value>
      </setting>
      <setting name="DataCenterRoomIds" serializeAs="String">
        <value>54089,50385,53211,54758,51297</value>
      </setting>
      <setting name="ShippingNoteProductName" serializeAs="String">
        <value>Lieferscheine</value>
      </setting>
      <setting name="ShippingNoteRelationType" serializeAs="String">
        <value>DOKUMENTATION</value>
      </setting>
      <setting name="MountingRelationType" serializeAs="String">
        <value>EINBAU</value>
      </setting>
      <setting name="ProvisioningRelationType" serializeAs="String">
        <value>BEREITSTELLUNG</value>
      </setting>
      <setting name="BladeApplianceProductClassName" serializeAs="String">
        <value>Blade-Appliance</value>
      </setting>
      <setting name="BlockedUnitsFile" serializeAs="String">
        <value>BlockedUnits.xml</value>
      </setting>
      <setting name="EnclosureTypesFile" serializeAs="String">
        <value>EnclosureTypes.xml</value>
      </setting>
      <setting name="assystSystemsFile" serializeAs="String">
        <value>Systems.xml</value>
      </setting>
      <setting name="UnknownName" serializeAs="String">
        <value>Unbekannt</value>
      </setting>
      <setting name="ServiceContractProductName" serializeAs="String">
        <value>Wartungsverträge</value>
      </setting>
      <setting name="ServiceContractMark" serializeAs="String">
        <value>DCC</value>
      </setting>
    </RZManager.Properties.Settings>
  </applicationSettings>
</configuration>