<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ConfigurationItemTypeNames>
    <BackupSystem>Backup-System</BackupSystem>
    <BareMetalHypervisor>ESX-Host</BareMetalHypervisor>
    <BladeAppliance>Blade-Appliance</BladeAppliance>
    <BladeEnclosure>Blade-Enclosure</BladeEnclosure>
    <BladeInterconnect>Blade-Interconnect</BladeInterconnect>
    <BladeServerHardware>Blade-Server-Hardware</BladeServerHardware>
    <HardwareAppliance>Hardware-Appliance</HardwareAppliance>
    <NetworkSwitch>Netzwerk-Switch</NetworkSwitch>
    <PDU>PDU</PDU>
    <Rack>Rack</Rack>
    <RackServerHardware>Rack-Server-Hardware</RackServerHardware>
    <Room>Raum</Room>
    <SanSwitch>SAN-Switch</SanSwitch>
    <Server>Server</Server>
    <SoftAppliance>Software-Appliance</SoftAppliance>
    <StorageSystem>Storage-System</StorageSystem>
  </ConfigurationItemTypeNames>
  <ConnectionTypeNames>
    <BuiltIn>
      <TopDownName>ist eingebaut in</TopDownName>
      <BottomUpName>enthält</BottomUpName>
    </BuiltIn>
    <Provisions>
      <TopDownName>läuft in</TopDownName>
      <BottomUpName>stell bereit</BottomUpName>
    </Provisions>
  </ConnectionTypeNames>
  <AttributeTypeNames>
    <BuildingName>Gebäude</BuildingName>
    <CpuCount>Anzahl CPUs</CpuCount>
    <Hostname>Hostname</Hostname>
    <IpAddress>IP-Adresse</IpAddress>
    <Manufacturer>Hersteller</Manufacturer>
    <MemorySize>Arbeitsspeicher</MemorySize>
    <Model>Modell</Model>
    <OperatingSystem>Betriebssystem</OperatingSystem>
    <Purpose>Aufgabe</Purpose>
    <SerialNumber>Seriennummer</SerialNumber>
    <Status>Status</Status>
  </AttributeTypeNames>
  <AttributeGroupNames>
    <HardwareAttributes>Hardware-Attribute</HardwareAttributes>
    <NetworkAttributes>Netzwerk-Attribute</NetworkAttributes>
    <RoomAttributes>Raum-Attribute</RoomAttributes>
    <ServerAttributes>Server-Attribute</ServerAttributes>
    <StatusAttributes>Status-Attribute</StatusAttributes>
  </AttributeGroupNames>
</Settings>