<app-help>
    <p>
        Configuration Items sind die zentralen Objekte. Jedes Configuration Item
        besitzt einen eindeutigen Typ. 
        Innerhalb des Typs muss der Name des Configuration Items eindeutig sein.
    </p>
    <p>
        An Item-Typen h&auml;ngen alle weiteren Daten im System wie Verbindungstypen,
        Attribut-Typen, Attributgruppen und Verbindungsregeln.
    </p>
</app-help>
<table class="box">
    <thead>
        <tr>
            <th class="table-cell table-header">
                <span class="mobile-only">1: </span>
                <span i18n="item type name">Name des Item-Typs</span>
                
            </th>
            <th class="table-cell table-header">
                <span class="mobile-only">2: </span>
                <span i18n="background color">Hintergrundfarbe</span>
            </th>
            <th class="table-cell table-header">
                <span class="mobile-only">3: </span>
                <span i18n="actions">Aktionen</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let itemType of (itemTypes | async)">
            <td class="table-cell">
                <span class="mobile-only">1: </span>
                <button mat-button class="input__content-button selectable" type="button"
                    *ngIf="activeType !== itemType.id"
                    (click)="onSetType(itemType)"
                    matTooltip="Name des Item-Typs &auml;ndern" i18n-matTooltip="change name of item type">
                    {{ itemType.name }}
                </button>
                <app-text-input *ngIf="activeType===itemType.id"
                    [originalText]="itemType.name"
                    [minimumLength]="4"
                    (accept)="onChangeItemTypeName($event, itemType)"
                    (cancel)="onCancel()">
                </app-text-input>
            </td>
            <td class="table-cell">
                <span class="mobile-only">2: </span>
                <app-color-picker [color]="itemType.backColor"
                    (colorChange)="onChangeItemBackgroundColor($event, itemType)"
                    (colorPickerOpen)="onCancel()">
                </app-color-picker>
            </td>
            <td class="table-cell">
                <span class="mobile-only">3: </span>
                <button mat-icon-button type="button" class="circle-button selectable"
                    [cdkCopyToClipboard]="itemType.id"
                    matTooltip="Id in die Zwischenablage kopieren"
                    i18n-matTooltip="copy id to clipboard">
                    <span class="material-icons">shop_two</span>
                </button>
                <button mat-icon-button type="button" class="circle-button selectable"
                    matTooltip="Zuordnung von Attributgruppen verwalten"
                    i18-matTooltip="manage mappings of attribute groups"
                    (click)="onManageMappings(itemType)">
                    <span class="material-icons">event_note</span>
                </button>
                <button mat-icon-button type="button" class="circle-button red-button selectable"
                    matTooltip="Item-Typ l&ouml;schen"
                    i18n-matTooltip="delete item type"
                    (click)="onDeleteItemType(itemType)">
                    <span class="material-icons">delete_forever</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!createMode">
            <td colspan="3" class="table-cell">
                <button mat-icon-button type="button" class="circle-button selectable" (click)="onCreate()">
                    <span class="material-icons">add_box</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="createMode">
            <td class="table-cell">
                <span class="mobile-only">1: </span>
                <input autofocus type="text" [(ngModel)]="typeName" class="selectable"
                    (keyup.escape)="onCancel()"
                    placeholder="Name" i18n-placeholder="name" />
            </td>
            <td class="table-cell">
                <span class="mobile-only">2: </span>
                <app-color-picker [color]="typeBackColor" (colorChange)="onSelectColor($event)">
                </app-color-picker>
            </td>
            <td class="table-cell">
                <button class="btn-ok selectable" mat-icon-button type="button"
                    [disabled]="typeName.length < minLength"
                    matTooltip="Speichern" i18n-matTooltip="save"
                    (click)="onCreateItemType()">
                    <span class="material-icons">done</span>
                </button>
                <button class="btn-cancel selectable" mat-icon-button type="button" (click)="onCancel()"
                    matTooltip="Abbrechen" i18n-matTooltip="cancel">
                    <span class="material-icons">block</span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
