@import "projects/cmdb/src/_variables.scss";

.dropdown-menu {
    position: absolute;
    right: 0;
    z-index: 100;
    max-height: 0;
    overflow: hidden;
    float: left;
    min-width: 10rem;
    margin: 0.1rem 0 0;
    padding: 0;
    font-size: 0.875rem;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rempx;
    transition: all 0.5s;
    -webkit-box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.175);
    box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.175);
  }
  .open > .dropdown-menu {
    padding: 0.4rem 0;
    max-height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
  .open > button {
    background-color: $element-hover-background-color;
  }
  .dropdown-menu > li {
    padding: 0.3rem;
  }
  
  .dropdown-menu > li > a {
    display: block;
    cursor: pointer;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
  }
  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
  }
  .dropdown-menu > li > button {
    padding: 0.3rem 0;
  }
  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
  }
  .dropdown-menu > .disabled > a,
  .dropdown-menu > .disabled > a:hover,
  .dropdown-menu > .disabled > a:focus {
    color: #777777;
  }
  .dropdown-menu > .disabled > a:hover,
  .dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
  }
  .dropdown-toggle:focus {
    outline: 0;
  }
  .open > a {
    outline: 0;
  }

  .active-link {
    font-weight: bold;
  }

  button.selectable {
    width: calc(100% - 0.4rem);
    border: none;
    background-color: unset;
  }  