<header class="page-header">
  <div class="page-header__title">
    <span>DC</span>
    <img src="assets/images/cmdblogo.png" alt="Configuration Management System" i18n-alt="Configuration Management System" />
    <span>CMS</span>
  </div>
  <nav class="page-header__nav">
    <ul class="header-nav__items">
      <li class="header-nav__item" *ngIf="(userName | async)?.length > 0">
        <button mat-icon-button [routerLink]="['search']" class="selectable">
          <img src="assets/images/search.png" alt="Configuration Items suchen" title="Suchen" i18n-alt="Search configuration item" i18n-title="Search">
        </button>
      </li>
      <li class="header-nav__item" *ngIf="(userRole | async) === 2">
        <button mat-icon-button type="button" [matMenuTriggerFor]="appMenu" class="selectable">
          <img src="assets/images/admin.png" alt="Administration" i18n-alt="administration" />
        </button>
        <mat-menu #appMenu="matMenu" xPosition="before" yPosition="below">
          <a [routerLink]="['admin', 'users']" routerLinkActive="active-link" mat-menu-item
            i18n="user administration">
            Benutzerverwaltung
          </a>
          <a [routerLink]="['admin', 'attribute-groups']" routerLinkActive="active-link" mat-menu-item
            i18n="attribute groups">
            Attributgruppen
          </a>
          <a mat-menu-item [routerLink]="['admin', 'attribute-types']" routerLinkActive="active-link" mat-menu-item
            i18n="attribute types">
            Attributtypen
          </a>
          <a mat-menu-item [routerLink]="['admin', 'item-types']" routerLinkActive="active-link" mat-menu-item
            i18n="item types">
            Item-Typen
          </a>
          <a mat-menu-item [routerLink]="['admin', 'connection-types']" routerLinkActive="active-link" mat-menu-item
            i18n="connection types">
            Verbindungstypen
          </a>
          <a mat-menu-item [routerLink]="['admin', 'connection-rules']" routerLinkActive="active-link" mat-menu-item
            i18n="connection rules">
            Verbindungsregeln
          </a>
        </mat-menu>
      </li>
      <li class="heaer-nav__item dropdown" *ngIf="(userName | async)?.length > 0" appHover>
        <div class="dropdown-toggle">
          <img src="assets/images/user.png" alt="Benutzer" i18n-alt="user">
        </div>
        <ul class="dropdown-menu">
            <li><ng-container i18n="user name">Benutzer: </ng-container><b> {{(userName | async)}}</b></li>
            <li><app-role-display [role]="(userRole | async)"></app-role-display></li>
            <ng-container *ngIf="logoutPossible">
              <li>{{(remainingTime | async)}} </li>
              <li><a mat-button (click)="onChangePassword()" [routerLink]="['account', 'password']" i18n="change password" class="selectable">Kennwort &auml;ndern</a></li>
              <li><button (click)="logout()" i18n="logout" class="selectable" style="padding: 0.3rem 0;">Abmelden</button></li>
            </ng-container>
        </ul>
    </li>
    </ul>
  </nav>
</header>
<div class="page-sidebar" *ngIf="(userName | async)?.length > 0">
  <input type="checkbox" id="hamburger">
  <label for="hamburger" class="hamburger-menu">
     <span class="line"></span>
     <span class="line"></span>
     <span class="line"></span>
  </label>
  <nav class="sidemenu">
    <ul>
       <li><a href="/tutorial/css-transform.html">Home</a></li>
       <li class="hassub">Submenü
          <ul>
             <li><a href="/css/css-selektor-kontextselektor.html">Selektoren</a></li>
             <li><a href="/css/breakpoints.html">Breakpoints</a></li>
          </ul>
       </li>
       <li><a href="/css/transitions.html">Transition</a></li>
       <li><a href="/html/input-checkbox.html">Checkbox</a></li>
    </ul>
 </nav>
</div>
<!-- <div class="page-sidebar">Test</div> -->
