<header class="page-header">
  <div class="page-header__title">
    <span>DC</span>
    <img src="assets/images/cmdblogo.png" alt="Configuration Management System" i18n-alt="Configuration Management System" />
    <span>CMS</span>
  </div>
  <nav class="page-header__nav">
    <ul class="header-nav__items">
      <li *ngIf="(userName | async)?.length > 0">
        <button type="button" [routerLink]="['search']" class="selectable flex-horizontal__align-middle">
          <img src="assets/images/search.png" alt="Configuration Items suchen" title="Suchen" i18n-alt="Search configuration item" i18n-title="Search">
          <span i18n="search">Suchen</span>
        </button>
      </li>
      <li *ngIf="(resultsPresent | async) === true">
        <button type="button" [routerLink]="['display', 'results']" class="selectable flex-horizontal__align-middle">
          <img src="assets/images/list.png" alt="Ergebnisse anzeigen" title="Ergebnisse" i18n-alt="Show results" i18n-title="results">
          <span i18n="search results">Suchergebnisse</span>
        </button>
      </li>
      <li *ngIf="(userRole | async) === 2">
        <button type="button" [routerLink]="['admin']" class="selectable flex-horizontal__align-middle">
          <img src="assets/images/admin.png" alt="Administration" i18n-alt="administration" />
          <span i18n="admin">Administration</span>
        </button>
      </li>
      <li *ngIf="(userName | async)?.length > 0" appClickOpen>
        <button class="dropdown-toggle" class="selectable flex-horizontal__align-middle">
          <img src="assets/images/user.png" alt="Benutzer" i18n-alt="user">
          <span i18n="account">Konto</span>
        </button>
        <ul class="dropdown-menu">
            <li>
              <ng-container i18n="user name">Benutzer: </ng-container><b> {{(userName | async)}}</b>
            </li>
            <li><app-role-display [role]="(userRole | async)"></app-role-display></li>
            <ng-container *ngIf="logoutPossible">
              <li>{{(remainingTime | async)}} </li>
              <li>
                <button role="button" (click)="onChangePassword()" [routerLink]="['account', 'password']" i18n="change password" class="selectable">
                  Kennwort &auml;ndern
                </button>
              </li>
              <li>
                <button role="button" (click)="logout()" i18n="logout" class="selectable">
                  Abmelden
                </button>
              </li>
            </ng-container>
        </ul>
    </li>
    </ul>
  </nav>
</header>
