$main-color: #005;
$main-border-color: $main-color;
$error-color: #c54644;
$body-background-color: #ddf;
$element-background-color: #eee;
$element-inactive-background-color: #bbb;
$element-hover-background-color: white;
$main-border-style: 2px $main-border-color solid;
$light-border-style: 1px $main-border-color dotted;
$medium-border-style: 1px $main-border-color solid;
$box-shadow-small: 0.1rem 0.2rem 0.2rem $main-color;
$box-shadow-medium: 0.3rem 0.3rem 0.3rem gray;
$box-shadow-large: 1rem 1rem 2rem black;

%text-on-background {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.5rem;
    padding: 0 0.5rem;
}

%single-col-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
}

%input-edit__button {
    flex-grow: 0;
    line-height: unset;
    height: unset;
    min-height: 40px;
}

@mixin one-two-thirds-grid() {
    grid-template-columns: 1fr 2fr;
    column-gap: 1rem;
}

@mixin two-one-fifth-grid() {
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

@mixin wide-wide-narrow-grid {
    grid-template-columns: 2fr 2fr 1fr;
}

