<app-busy *ngIf="!(itemReady | async) || working"></app-busy>
<div class="box" *ngIf="(itemReady | async) && formReady">
    <h3 i18n="copy configuration item">Configuration Item kopieren</h3>
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
        <div class="box-top">
            {{(configurationItem | async).type}} <b>{{(configurationItem | async).name}}</b>
        </div>
        <div class="box-body">
            <mat-form-field>
                <input matInput type="text" name="name" formControlName="name" autofocus
                    placeholder="Name des neuen Items" i18n-placeholder="new item name" required/>
            </mat-form-field>
        </div>
        <div class="box-top">
            <mat-slide-toggle class="text-on-background"
                [checked]="(configurationItem | async).attributes.length > 0"
                [disabled]="(configurationItem | async).attributes.length === 0"
                i18n="copy attributes" #att
                (change)="toggleFormArray(itemForm.controls['attributes'], $event.checked)">
                Attribute &uuml;bernehmen
            </mat-slide-toggle>
        </div>
        <div class="box-body" *ngIf="att.checked" formArrayName="attributes">
            <div class="box-element" [formGroupName]="i"
                *ngFor="let attribute of (configurationItem | async).attributes; let i = index">
                <mat-slide-toggle [checked]="true"
                    (change)="toggleFormControl(getControl('attributes', i), $event.checked)">
                    {{attribute.type}}
                </mat-slide-toggle>
                <mat-form-field *ngIf="getControl('attributes', i)?.enabled">
                    <input matInput formControlName="value" type="text" required
                        [placeholder]="attribute.type"/>
                </mat-form-field>
            </div>
        </div>
        <div class="box-top">
            <mat-slide-toggle class="text-on-background"
                [checked]="(configurationItem | async).connectionsToLower.length > 0"
                [disabled]="(configurationItem | async).connectionsToLower.length === 0"
                i18n="copy connections to lower" #conn
                (change)="toggleFormArray(itemForm.controls['connectionsToLower'], $event.checked)">
                Verbindungen nach unten &uuml;bernehmen
            </mat-slide-toggle>
        </div>
        <div class="box-body" *ngIf="conn.checked" formArrayName="connectionsToLower">
            <div class="box-element" [formGroupName]="i"
                *ngFor="let connection of (configurationItem | async).connectionsToLower; let i = index">
                <mat-slide-toggle [checked]="true"
                    (change)="toggleFormControl(getControl('connectionsToLower', i), $event.checked)">
                    {{connection.typeId}} {{connection.targetType}} {{connection.targetName}}
                </mat-slide-toggle>
                <mat-form-field *ngIf="getControl('connectionsToLower', i)?.enabled">
                    <select matNativeControl formControlName="targetId" required>
                        <option *ngFor="let item of (getConnectableItems(connection.ruleId) | async)"
                            [value]="item.id">{{item.name}}</option>
                    </select>
                </mat-form-field>
                <mat-form-field *ngIf="getControl('connectionsToLower', i)?.enabled">
                    <input matInput formControlName="description" type="text"
                        placeholder="Beschreibung der Verbindung" i18n-placeholde="connection description" />
                </mat-form-field>
            </div>
        </div>
        <div class="box-top">
            <mat-slide-toggle class="text-on-background"
                [checked]="(configurationItem | async).links.length > 0"
                [disabled]="(configurationItem | async).links.length === 0"
                i18n="copy links" #lnk
                (change)="toggleFormArray(itemForm.controls['links'], $event.checked)">
                Links &uuml;bernehmen
            </mat-slide-toggle>
        </div>
        <div class="box-body" *ngIf="lnk.checked" formArrayName="links">
            <div class="box-element" [formGroupName]="i"
                *ngFor="let link of (configurationItem | async).links; let i = index">
                <mat-slide-toggle [checked]="true"
                    (change)="toggleFormControl(getControl('links', i), $event.checked)">
                    {{link.uri}}
                </mat-slide-toggle>
                <mat-form-field *ngIf="getControl('links', i)?.enabled">
                    <input matInput formControlName="uri" type="url" required
                        placeholder="URL des Links" i18n-placeholder="link URL"/>
                </mat-form-field>
                <mat-form-field *ngIf="getControl('links', i)?.enabled">
                        <input matInput formControlName="description" type="url" required
                            placeholder="Beschreibung des Links" i18n-placeholder="link description"/>
                </mat-form-field>
                </div>
        </div>
        <div class="error" *ngIf="error === true">
            {{errorMessage}}
        </div>
        <button mat-button type="submit" i18n="copy item" [disabled]="itemForm.invalid">
            Item kopieren
        </button>
    </form>
</div>
