<h2 i18n="change password">Kennwort &auml;ndern</h2>
<form [formGroup]="userForm">
    <div *ngIf="changeOwn">
        <label for="oldpassword" i18n="current password">Bisheriges Kennwort</label>
        <input type="password" id="oldpassword" formControlName="oldpassword" matInput required class="selectable"
            placeholder="Bisheriges Kennwort" i18n-placeholder="current password"/>
    </div>
    <div>
        <label for="newpassword" i18n="new password">Neues Kennwort</label>
        <input type="password" id="newpassword" formControlName="password" autocomplete="new-password" matInput required
            class="selectable" placeholder="Kennwort" i18n-placeholder="password"/>
    </div>
    <div>
        <input type="password" id="passwordrepeat" formControlName="passwordRepeat" required class="selectable"
            placeholder="Kennwort wiederholen" i18n-placeholder="repeat password"/>
    </div>
</form>
<div *ngIf="error" class="error" [ngSwitch]="error">
    <p *ngSwitchCase="'Server validation error'" i18n="server validation error">
        Der Server hat Fehler bei der Validierung der Regeln festgestellt.
    </p>
    <p *ngSwitchDefault>
        {{error}}
    </p>
    <ul *ngIf="errorDetails">
        <li *ngFor="let detail of errorDetails" [ngSwitch]="detail">
            <ng-container *ngSwitchCase="'passphrase: Invalid value'" i18n="password does not meet complexity criteria">
                Das Kennwort entspricht nicht den Komplexitätskriterien.
            </ng-container>
            <ng-container *ngSwitchDefault>
                {{detail}}
            </ng-container>
        </li>
    </ul>
</div>
<div>
    <button (click)="updatePassword()" [disabled]="userForm.invalid" i18n="change password" class="selectable">Kennwort &auml;ndern</button>
    <button i18n="close" class="selectable">Beenden</button>
</div>
