<app-busy *ngIf="(itemReady | async) === false" i18n="loading data...">
    Lade Daten...
</app-busy>
<table class="table" *ngIf="(itemReady | async)" [formGroup]="form">
    <thead>
        <tr>
            <th i18n="property">Eigenschaft</th>
            <th i18n="value">Wert</th>
            <th i18n="command">Aktion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td i18n="item-type">Item-Typ</td>
            <td>
                {{(configurationItem | async).type}}
                <span [style.border]="'1px dotted black'" [style.background]="(configurationItem | async).color">
                    &nbsp;&nbsp;
                </span>
            </td>
            <td>
                <button type="button" class="red-button" (click)="onDeleteItem()" *ngIf="(configurationItem | async).userIsResponsible" i18n="delete item">
                    Item l&ouml;schen
                </button>
                <button type="button" (click)="onTakeResponsibility()" *ngIf="(configurationItem | async).userIsResponsible === false"
                    i18n="take responsibility configuration item">
                    Verantwortung f&uuml;r das Configuration Item &uuml;bernehmen
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <label for="name" i18n="name">Name</label>
            </td>
            <td colspan="2">
                <input type="text" id="name" formControlName="name">
            </td>
        </tr>
        <tr>
            <td i18n="last change">
                Zuletzt ge&auml;ndert
            </td>
            <td>
                {{(configurationItem | async).lastChange | date}}
            </td>
            <td>
                <button type="button" (click)="onSave()" i18n="save changes" [disabled]="form.invalid || !form.dirty">
                    &Auml;nderungen speichern
                </button>
            </td>
        </tr>
        <tr>
            <td i18n="version">
                Version
            </td>
            <td>
                {{(configurationItem | async).version}}
            </td>
        </tr>
        <ng-container *ngIf="(attributeTypes | async).length > 0" formArrayName="attributes">
            <tr>
                <th colspan="2" i18n="attributes">
                    Attribute
                </th>
            </tr>
            <tr *ngFor="let attributeType of (attributeTypes | async); let i = index" [formGroupName]="i">
                <td>
                    <label [for]="attributeType.name">
                        {{attributeType.name}}
                    </label>
                </td>
                <td colspan="2">
                    <input type="text" [id]="attributeType.name" formControlName="value">
                </td>
            </tr>
        </ng-container>
        <ng-container formArrayName="links">
            <tr>
                <th colspan="2" i18n="links">Links</th>
                <td>
                    <button type="button" (click)="onAddLink()" i18n="add link">
                        Link hinzuf&uuml;gen
                    </button>
                </td>
            </tr>
            <tr *ngFor="let link of links.controls; let i = index" [formGroupName]="i">
                <td>
                    {{i}}:
                </td>
                <td>
                    <label [for]="'linkuri'" i18n="link uri">
                        URL: 
                    </label>
                    <input type="url" [id]="'linkuri'" formControlName="uri">
                    <label [for]="'linkdescription'" i18n="link description">
                        Beschreibung: 
                    </label>
                    <input type="text" [id]="'linkdescription'" formControlName="description">
                </td>
                <td>
                    <button type="button" class="red-button" (click)="onDeleteLink(i)" i18n="delete link">
                        Link l&ouml;schen
                    </button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
<div class="box" *ngIf="(itemReady | async)"
    [style.background]="(configurationItem | async).color">
    <app-item-menu></app-item-menu>
    <div class="box-top">
        <span i18n="item type">Item-Typ</span>
        <em> {{(configurationItem | async).type}}</em>
    </div>
    <div class="box-body grid grid-reverse__2-columns">
        <div class="label" i18n="item name">Name</div>
        <div *ngIf="(configurationItem | async).userIsResponsible">
            <button mat-button class="input__content-button selectable" type="button"
                (click)="editName = true" *ngIf="!editName"
                matTooltip="Name des Configuration Item &auml;ndern"
                i18n-matTooltip="change name of configuration item">
                {{(configurationItem | async).name}}
            </button>
            <app-text-input *ngIf="editName"
                [originalText]="(configurationItem | async).name"
                [minimumLength]="2"
                (accept)="onChangeItemName($event)"
                (cancel)="editName = false">
            </app-text-input>
            <div class="selectable">
                <button mat-icon-button class="red-button" type="button" (click)="onDeleteItem()"
                    matTooltip="Configuration Item l&ouml;schen"
                    i18n-matTooltip="delete configuration item">
                    <span class="material-icons">delete_forever</span>
                </button>
            </div>
        </div>
        <div class="label" i18n="last change">Zuletzt ge&auml;ndert</div>
        <div class="content">{{(configurationItem | async).lastChange}}</div>
        <div class="label" i18n="version">Version</div>
        <div class="content">{{(configurationItem | async).version}}</div>
        <div *ngIf="!(configurationItem | async).userIsResponsible">
            <span>{{(configurationItem | async).name}}</span>&nbsp;
            <button mat-button class="input__content-button" type="button"
                (click)="onTakeResponsibility()"
                matTooltip="Sie k&ouml;nnen nur Items bearbeiten, f&uuml;r die Sie die Verantwortung besitzen"
                i18n-matTooltip="you are only allowed to edit items that you are responsible for"
                i18n="take responsibility configuration item">
                Verantwortung f&uuml;r das Configuration Item &uuml;bernehmen
            </button>
        </div>
    </div>

    <hr />
    
    <div *ngIf="(configurationItem | async).userIsResponsible">
        <ng-container *ngIf="(attributeTypes | async).length > 0 || (attributes | async).length > 0">
            <div class="box-top" i18n="attributes">
                Attribute
            </div>
            <div class="box-body">
                <app-edit-item-attributes></app-edit-item-attributes> 
            </div>
        </ng-container>
        <div class="box-top" i18n="external links">
            Links
        </div>
        <div class="box-body">
            <app-edit-item-links></app-edit-item-links> 
        </div>
        <div class="box-top" i18n="responsible persons">
            Verantwortliche
        </div>
        <div class="box-body">
            <app-edit-item-responsibilities></app-edit-item-responsibilities> 
        </div>
       <ng-container *ngIf="(connectionTypes | async).length > 0">
            <div class="box-top">
                <ng-container i18n="downward connections">
                    Verbindungen nach unten
                </ng-container>
                <span class="material-icons">arrow_downward</span>
            </div>
            <div class="box-body">
                <app-edit-item-connections></app-edit-item-connections>
            </div>
        </ng-container>
    </div>
</div>
