<app-busy *ngIf="(itemReady | async) === false" i18n="loading data...">
    Lade Daten...
</app-busy>
<ng-container *ngIf="(itemReady | async) && !deleteRequest">
    <table class="table" [formGroup]="form">
        <thead>
            <tr>
                <th i18n="property">Eigenschaft</th>
                <th i18n="value">Wert</th>
                <th i18n="command">Aktion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td i18n="item-type">Item-Typ</td>
                <td>
                    {{(configurationItem | async).type}}
                    <span [style.border]="'1px dotted black'" [style.background]="(configurationItem | async).color">
                        &nbsp;&nbsp;
                    </span>
                </td>
                <td>
                    <button type="button" class="red-button selectable" (click)="deleteRequest = true" *ngIf="(configurationItem | async).userIsResponsible" i18n="delete item">
                        Item l&ouml;schen
                    </button>
                    <button type="button" class="selectable" (click)="onTakeResponsibility()" *ngIf="(configurationItem | async).userIsResponsible === false"
                        i18n="take responsibility configuration item">
                        Verantwortung f&uuml;r das Configuration Item &uuml;bernehmen
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="name" i18n="name">Name</label>
                </td>
                <td colspan="2">
                    <input type="text" id="name" formControlName="name" [readonly]="(configurationItem | async).userIsResponsible === false">
                </td>
            </tr>
            <tr>
                <td i18n="last change">
                    Zuletzt ge&auml;ndert
                </td>
                <td>
                    {{(configurationItem | async).lastChange | date}}
                </td>
                <td>
                    <button type="button" class="selectable" (click)="onSave()" i18n="save changes" [disabled]="form.invalid || !form.dirty"
                        *ngIf="(configurationItem | async).userIsResponsible">
                        &Auml;nderungen speichern
                    </button>
                </td>
            </tr>
            <tr>
                <td i18n="version">
                    Version
                </td>
                <td>
                    {{(configurationItem | async).version}}
                </td>
            </tr>
            <ng-container *ngIf="(attributeTypes | async).length > 0" formArrayName="attributes">
                <tr>
                    <th colspan="2" i18n="attributes">
                        Attribute
                    </th>
                </tr>
                <tr *ngFor="let attributeType of (attributeTypes | async); let i = index" [formGroupName]="i">
                    <td>
                        <label [for]="attributeType.name">
                            {{attributeType.name}} ({{attributeType.validationExpression}})
                        </label>
                    </td>
                    <td colspan="2">
                        <input type="text" [id]="attributeType.name" formControlName="value" [readonly]="(configurationItem | async).userIsResponsible === false">
                    </td>
                </tr>
            </ng-container>
            <ng-container formArrayName="links">
                <tr>
                    <th colspan="2" i18n="links">Links</th>
                    <td>
                        <button type="button" class="selectable" (click)="onAddLink()" i18n="add link" *ngIf="(configurationItem | async).userIsResponsible">
                            Link hinzuf&uuml;gen
                        </button>
                    </td>
                </tr>
                <tr *ngFor="let link of links.controls; let i = index" [formGroupName]="i">
                    <td>
                        <label [for]="'linkdescription'" i18n="link description">
                            {{i + 1}}) Beschreibung: 
                        </label>
                        <input type="text" [id]="'linkdescription'" formControlName="description" [readonly]="(configurationItem | async).userIsResponsible === false">
                    </td>
                    <td>
                        <label [for]="'linkuri'" i18n="link uri">
                            URL: 
                        </label>
                        <input type="url" [id]="'linkuri'" formControlName="uri" [readonly]="(configurationItem | async).userIsResponsible === false">
                    </td>
                    <td>
                        <button type="button" class="red-button selectable" (click)="onDeleteLink(i)" i18n="delete link"
                            *ngIf="(configurationItem | async).userIsResponsible">
                            Link l&ouml;schen
                        </button>
                    </td>
                </tr>
            </ng-container>
            <tr>
                <th colspan="2" i18n="responsible persons">
                    Verantwortliche
                </th>
            </tr>
            <tr *ngFor="let person of (configurationItem | async).responsibleUsers; let i = index">
                <td>
                    {{i + 1}}) {{person}}
                </td>
                <td colspan="2">
                    <button type="button" *ngIf="person === (userName | async)" (click)="onAbandonResponsibility()" class="red-button selectable" i18n="abandon responsibility">
                        Verantwortung f&uuml;r das Configuration Item aufgeben
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <app-edit-item-connections *ngIf="(connectionTypes | async).length > 0 && (configurationItem | async).userIsResponsible"></app-edit-item-connections>
</ng-container>
<div class="box" *ngIf="deleteRequest">
    <h3 i18n="deleting configuration item">L&ouml;schen eines Configuration Items</h3>
    <p>
        <ng-container i18n="you are about to delete the following configuration item">
            Sie sind dabei, das Configuration Item
        </ng-container>
        {{ (configurationItem | async)?.type }} {{ (configurationItem | async)?.name }}
        <ng-container i18n="together with all of its">
             zu l&ouml;schen, zusammen mit allen
        </ng-container>
    </p>
    <ul>
        <li>{{ (configurationItem | async)?.attributes.length }}
            <ng-container i18n="attributes"> Attributen,</ng-container></li>
        <li>
            {{ (configurationItem | async )?.connectionsToLower.length + (configurationItem | async )?.connectionsToUpper.length}}
            <ng-container i18n="connections to other configuration items">
                Verbindungen zu anderen Configuration Items,
            </ng-container>
        </li>
        <li>
            {{ (configurationItem | async )?.links.length }}
            <ng-container i18n="links to external sites and">
                Links auf externe Websites und
            </ng-container>
        </li>
        <li>
            {{(configurationItem | async )?.responsibleUsers.length}}
            <ng-container i18n="responsibilities">
                Verantwortlichkeiten.
            </ng-container>
        </li>
    </ul>
    <p i18n="are you sure you want to proceed">Sind Sie sicher, dass Sie fortfahren m&ouml;chten?</p>
    <div class="flex__space-between">
        <button type="button" class="red-button" (click)="onDeleteItem()" i18n="yes, delete">
            Ja, l&ouml;schen!
        </button>
        <button type="button" i18n="cancel" (click)="deleteRequest = false">Abbrechen</button>
    </div>
</div>
