<div class="search-form__element" [formGroup]="form" [appSearchForm]="forms$ | async">
    <div class="box-top flex__space-between" i18n="attributes">
        <em>Attribute</em>
        <button mat-button type="button" class="filter-button"
            *ngIf="(attributeTypesAvailable | async)"
            [matMenuTriggerFor]="attributeTypeMenu"
            i18n="attribute types"
            i18n="attribute types"
            matTooltip="Filtern nach Configuration Items, die bestimmte Attribute besitzen"
            i18n-matTooltip="filter for configuration item that have given attributes">
            <span class="material-icons">filter_list</span>
            Attribut-Typen
            <span class="material-icons">more_vert</span>
        </button>
    </div>
    <div class="box-body" formArrayName="Attributes" *ngIf="searchService.attributesPresent">
        <div class="attribute-list">
            <ng-container *ngFor="let attributeControl of searchService.attributeControls; let i = index"
                [formGroupName]="i">
                <mat-form-field>
                    <input matInput type="text" id="{{i}}" formControlName="AttributeValue"
                        [placeholder]="(getAttributeType(attributeControl.get('AttributeTypeId').value) | async).TypeName">
                </mat-form-field>
                <button mat-icon-button type="button"
                    (click)="onDeleteAttribute(attributeControl.get('AttributeTypeId').value)"
                    matTooltip="Attribut &quot;{{(getAttributeType(attributeControl.get('AttributeTypeId').value) | async).TypeName}}&quot; l&ouml;schen"
                    i18n-matTooltip="delete attribute">
                    <span class="material-icons">delete_forever</span>
                </button>
            </ng-container>
        </div>
    </div>
</div>
<mat-menu #attributeTypeMenu="matMenu">
    <button mat-menu-item type="button"
        *ngFor="let attributeType of (allowedAttributeTypeList | async)"
        (click)="onAddAttributeType(attributeType.TypeId)"
        [disabled]="(selectedAttributeTypes | async).includes(attributeType.TypeId)"
        [ngClass]="{vanished: (selectedAttributeTypes | async).includes(attributeType.TypeId)}">
        {{attributeType.TypeName}}
    </button>
</mat-menu>

