<div class="search-form__element" [formGroup]="form">
    <button mat-button type="button" class="filter-button"
        *ngIf="(searchService.attributeTypesAvailable() | async)"
        [matMenuTriggerFor]="attributeTypeMenu"
        i18n="attribute types"
        i18n="attribute types"
        matTooltip="Filtern nach Configuration Items, die bestimmte Attribute besitzen"
        i18n-matTooltip="filter for configuration item that have given attributes">
        <span class="material-icons">filter_list</span>
        Attribute-Typen
        <span class="material-icons">more_vert</span>
    </button>
    <label *ngIf="searchService.attributesPresent()" i18n="attribute">Attribut</label>
    <div formArrayName="Attributes" *ngIf="searchService.attributesPresent()">
        <div class="attribute-list">
            <ng-container
                *ngFor="let attributeControl of searchService.getAttributeControls(); let i = index"
                [formGroupName]="i">
                <label for="attributType">{{(getAttributeType(attributeControl.get('AttributeTypeId').value) | async).TypeName}}</label>
                <button mat-icon-button type="button" (click)="onDeleteAttribute(attributeControl.get('AttributeTypeId').value)"
                    matTooltip="Attribut &quot;{{(getAttributeType(attributeControl.get('AttributeTypeId').value) | async).TypeName}}&quot; l&ouml;schen"
                    i18n-matTooltip="delete attribute">
                    <span class="material-icons">delete_forever</span>
                </button>
                <input type="text" id="{{i}}" formControlName="AttributeValue">
                <input type="hidden" formControlName="AttributeTypeId">
            </ng-container>
        </div>
    </div>
</div>
<mat-menu #attributeTypeMenu="matMenu">
    <button mat-menu-item type="button"
        *ngFor="let attributeType of (allowedAttributeTypeList | async)"
        (click)="searchService.addAttributeType(attributeType.TypeId)"
        [disabled]="(selectedAttributeTypes | async).includes(attributeType.TypeId)"
        [ngClass]="{vanished: (getSelectedAttributeTypes() | async).includes(attributeType.TypeId)}">
        {{attributeType.TypeName}}
    </button>
</mat-menu>

