<app-help>
    <p i18n="connections rules control, which item types may be connected. Connections are allowed only if a rule explicitely exists">
        Verbindungsregeln steuern, welche Typen von Configuration Items miteinander
        verbunden werden d&uuml;rfen. Nur da, wo explizit eine Regel existiert,
        ist eine Verbindung m&ouml;glich.
    </p>
    <p i18n="together with the feasability of connecting you have to set the maximum number of connections for that rule. You may define 1:1, 1:n or n:m connections. The minimum is always 0, so you don't have to create a connection of that type">
        Neben der reinen M&ouml;glichkeit der Verbindung werden einer Regel auch erlaubte
        Anzahlen von Verbindungen m&ouml;glich. So sind Verbindungen 1:1, 1:n oder n:m denkbar.
        Die jeweils angegebene Zahl stellt dabei die Obergrenze dessen dar, was erlaubt ist.
        Die Untergrenze liegt immer bei 0, d. h. eine Verbindung kann angelegt werden muss
        es aber nicht.
    </p>
</app-help>
<div class="filter-container">
    <select [(ngModel)]="upperItemTypeId" (change)="filterConnectionRules()">
        <option [value]="undefined" i18n="show all upper item types" selected="true">
            Alle oberen Item-Typen anzeigen
        </option>
        <option [value]="itemType.TypeId" *ngFor="let itemType of (meta | async).itemTypes">
            {{ itemType.TypeName }}
        </option>
    </select>
    <select [(ngModel)]="connectionTypeId" (change)="filterConnectionRules()">
        <option [value]="undefined" i18n="show all connection types" selected="true">
            <i>Alle Verbindungstypen anzeigen</i>
        </option>
        <option [value]="connectionType.ConnTypeId" *ngFor="let connectionType of (meta | async).connectionTypes">
            {{ connectionType.ConnTypeName }} / {{ connectionType.ConnTypeReverseName }}
        </option>
    </select>
    <select [(ngModel)]="lowerItemTypeId" (change)="filterConnectionRules()">
        <option [value]="undefined" i18n="show all lower item types" selected="true">
            Alle unteren Item-Typen anzeigen
        </option>
        <option [value]="itemType.TypeId" *ngFor="let itemType of (meta | async).itemTypes">
            {{ itemType.TypeName }}
        </option>
    </select>
</div>
<div class="grid grid__2-columns">
    <div class="table-cell table-header" i18n="connection rule">Verbindungsregel</div>
    <div class="table-cell table-header" i18n="commands">Befehle</div>
    <ng-container *ngFor="let rule of filteredConnectionRules">
        <div class="table-cell">
            <div class="rule-container">
                <div class="rule__item-type" [style.background]="(getItemType(rule.ItemUpperType) | async)?.TypeBackColor">
                    <span class="text-on-background" type="button">
                        {{ (getItemType(rule.ItemUpperType) | async)?.TypeName }}
                    </span>
                </div>
                <button mat-button class="rule__connection-button"
                    *ngIf="activeRule !== rule.RuleId"
                    type="button"
                    (click)="onSetRule(rule)">
                    <span>
                        {{ (getConnectionType(rule.ConnType) | async).ConnTypeName }}
                        (&le; {{ rule.MaxConnectionsToLower }})
                    </span>
                    <span class="material-icons">arrow_downward</span>
                    <span>&nbsp;&nbsp;</span>
                    <span class="material-icons">arrow_upward</span>
                    <span>
                        {{ (getConnectionType(rule.ConnType) | async)?.ConnTypeReverseName }}
                        (&le; {{ rule.MaxConnectionsToUpper }})
                    </span>
                </button>
                <div class="rule__connection-edit"
                    [style.display]="activeRule === rule.RuleId ? 'block' : 'none'">
                    <span>
                        {{ (getConnectionType(rule.ConnType) | async)?.ConnTypeName }}
                        (&le;
                        <input matInput type="number" autofocus required [(ngModel)]="maxConnectionsToLower" #mcl
                            (keyup.enter)="onChangeRule(rule)"
                            (keyup.escape)="onCancel()"
                            min="1" max="9999" />
                        )
                    </span>
                    <span class="material-icons">arrow_downward</span>
                    <span>&nbsp;&nbsp;</span>
                    <span class="material-icons">arrow_upward</span>
                    <span>
                        {{ (getConnectionType(rule.ConnType) | async)?.ConnTypeReverseName }}
                        (&le; 
                        <input matInput type="number" required [(ngModel)]="maxConnectionsToUpper" #mcu
                            (keyup.enter)="onChangeRule(rule)"
                            (keyup.escape)="onCancel()"
                            min="1" max="9999" />
                        )
                    </span>
                    <button class="btn-ok" mat-icon-button type="button"
                        [disabled]="isDataInvalid(rule)"
                        matTooltip="Speichern" i18n-matTooltip="save"
                        (click)="onChangeRule(rule)">
                        <span class="material-icons">done</span>
                    </button>
                    <button class="btn-cancel" mat-icon-button type="button" (click)="onCancel()"
                        matTooltip="Abbrechen" i18n-matTooltip="cancel">
                        <span class="material-icons">block</span>
                    </button>
                </div>
                <div class="rule__item-type" [style.background]="(getItemType(rule.ItemLowerType) | async)?.TypeBackColor">
                    <span class="text-on-background">
                        {{ (getItemType(rule.ItemLowerType) | async)?.TypeName }}
                    </span>
                </div>
            </div>
        </div>
        <div class="table-cell vertical-commands">
            <button mat-icon-button type="button" class="circle-button"
                ngxClipboard [cbContent]="rule.RuleId"
                matTooltip="Guid in die Zwischenablage kopieren"
                i18n-matTooltip="copy guid to clipboard">
                <span class="material-icons">shop_two</span>
            </button>
            <button mat-icon-button type="button" class="red-button" class="circle-button"
                *ngIf="(getRulesCount(rule) | async) === 0"
                matTooltip="Verbindungsregel l&ouml;schen"
                i18n-matTooltip="delete connection rule"
                (click)="onDeleteRule(rule)">
                <span class="material-icons">delete_forever</span>
            </button>
            <div class="input-display__content-info"
                *ngIf="(getRulesCount(rule) | async) > 0"
                matTooltip="Verbindungen zu dieser Verbindungsregel gefunden"
                i18n-matTooltip="connections found for connection rule">
                {{ (getRulesCount(rule) | async) }}
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="upperItemTypeId && lowerItemTypeId && connectionTypeId && filteredConnectionRules.length === 0">
        <div class="table-cell">
            <h3 i18n="create new connectionrule">Neue Verbindungsregel anlegen:</h3>
            <p i18n="connections per item">
                Verbindungen pro Item 
                {{ (getItemType(upperItemTypeId) | async).TypeName }}
                {{ (getConnectionType(connectionTypeId) | async).ConnTypeName }}
                {{ (getItemType(lowerItemTypeId) | async).TypeName }}
                &le; 
                <input matInput type="number" required [(ngModel)]="maxConnectionsToLower"
                    (keyup.enter)="onCreateRule()"
                    (keyup.escape)="onCancel()"
                    min="1" max="9999" />
            </p>
            <p i18n="connections per item">
                Verbindungen pro Item 
                {{ (getItemType(lowerItemTypeId) | async).TypeName }}
                {{ (getConnectionType(connectionTypeId) | async).ConnTypeReverseName }}
                {{ (getItemType(upperItemTypeId) | async).TypeName }}
                &le; 
                <input matInput type="number" required [(ngModel)]="maxConnectionsToUpper"
                    (keyup.enter)="onCreateRule()"
                    (keyup.escape)="onCancel()"
                    min="1" max="9999" />
            </p>
        </div>
        <div class="table-cell">
            <button class="btn-ok" mat-icon-button type="button"
                matTooltip="Speichern" i18n-matTooltip="save"
                (click)="onCreateRule()">
                <span class="material-icons">done</span>
            </button>
        </div>
    </ng-container>  
</div>