@import "src/_variables.scss";

.cell-button {
    display: flex;
    align-items: center;
    span {
        flex: 1 1 auto;
    }
}

.responsibilities {
    @extend %single-col-grid;
    padding: 0.2rem 0;
    border-bottom: $light-border-style;

    &:first-of-type {
        display: none;
        @media print, (min-width: 50rem) {
            display: grid;
            font-weight: bold;
        }
    }

    @media print, (min-width: 50rem) {
        @include two-one-fifth-grid();
    }
}

.name,
.mail,
.phone {
    display: none;

    @media print, (min-width: 50rem) {
        display: block;
    }
}