<h3 i18n="responsible persons">Verantwortliche</h3>
<table mat-table [dataSource]="(configurationItem | async).responsibilities" class="mat-elevation-z8">
    <ng-container matColumnDef="name">      
        <th mat-header-cell *matHeaderCellDef i18n="person name">
            Name
        </th>
        <td mat-cell *matCellDef="let r">
            {{ r.name }}
        </td>
    </ng-container>
    <ng-container matColumnDef="account">      
        <th mat-header-cell *matHeaderCellDef i18n="person name">
            Konto
        </th>
        <td mat-cell *matCellDef="let r">
            {{ r.account }}
            <button mat-button class="red-button"
                *ngIf="r.account.toLocaleLowerCase() === (userName | async).toLocaleLowerCase()"
                (click)="onAbandonResponsibility()"
                matTooltip="Verantwortung f&uuml;r dieses Configiration Item aufgeben"
                i18n-matTooltip="abandon responisibility for this configuration item">
                <span class="material-icons">delete</span>
            </button>
            <button mat-button class="red-button"
                *ngIf="r.invalidAccount === true && (userRole | async) === 2"
                (click)="onDeleteResponsibility(r.account)"
                matTooltip="Verantwortung f&uuml;r des ung&uuml;ltigen Kontos für dieses Configiration Item l&ouml;schen"
                i18n-matTooltip="delete responisibility of invalid account for this configuration item">
                <span class="material-icons">delete_forever</span>
            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="mail">      
        <th mat-header-cell *matHeaderCellDef i18n="person name">
            Mail
        </th>
        <td mat-cell *matCellDef="let r">
            {{ r.mail }}
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedResponsibilityColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedResponsibilityColumns"></tr>
</table>
