<div class="backdrop" (click)="setVisibility(0)" 
    [ngClass]="{backdrop__open: (visibleComponent | async) !== 0}">
</div>
<div class="search-container" [ngClass]="{visible: (visibleComponent | async) !== 0}">
    <div class="search-criteria" *ngIf="(visibleComponent | async) < 2">
        <app-search-form></app-search-form>
    </div>
    <div class="search-tab" [ngClass]="{'inactive-tab': (visibleComponent | async) === 2}">
        <a (click)="setVisibility(1)">
            <img src="assets/images/search.png"
                [ngClass]="{selectable: (visibleComponent | async) !== 2}"
                alt="Suche &ouml;ffnen" title="Suchen"
                i18n-alt="Open or close search" i18n-title="Search">
        </a>
    </div>
    <div class="result-tab" [ngClass]="{'inactive-tab': (visibleComponent | async) !== 2}"
        *ngIf="(resultListPresent | async) === true">
        <a (click)="setVisibility(2)">
            <img src="assets/images/list.png"
                [ngClass]="{selectable: (visibleComponent | async) === 2}"
                alt="Ergebnisse der Suche ansehen"
                title="Ergebnisse" i18n-alt="View search results" i18n-title="Search results">
        </a>
    </div>
    <div class="empty-resulttab" *ngIf="(resultListPresent | async)===false"></div>
    <div class="empty"></div>
    <app-result-list class="search-criteria" *ngIf="(visibleComponent | async) === 2"></app-result-list>
</div>
