<div class="box">
    <p>
        <ng-container i18n="manage mappings between">Verwalten der Zuordnungen zwischen </ng-container>
        <ng-container i18n="attribute group">Attributgruppe </ng-container>
        <b>{{attributeGroup?.name}} </b>
        <ng-container i18n="and item types">und den Item-Typen</ng-container>
    </p>
    <div class="input-edit__elements" *ngFor="let itemType of (itemTypes | async)">
        <div class="itemtypename">
            <input id="check" type="checkbox" [checked]="isSelected(itemType.id)" (change)="onChange($event, itemType)">
            <label for="check">
                {{ itemType.name }}
            </label>
        </div>
    </div>
    <p>
        <button i18n="close" class="selectable" (click)="returnToAttributeGroups()">Beenden</button>
    </p>
</div>