<p>
    <ng-container i18n="manage mappings between">Verwalten der Zuordnungen zwischen</ng-container>
    <br/>
    <ng-container i18n="attribute group">Attributgruppe </ng-container>
    {{data.GroupName}}<br/>
    <ng-container i18n="and item types">und den Item-Typen</ng-container>
    
</p>
<mat-dialog-content>
    <div class="input-edit__elements" *ngFor="let itemType of (meta | async).itemTypes">
        <div class="itemtypename">
            <mat-slide-toggle
                [checked]="isSelected(itemType.TypeId)"
                (change)="onChange($event, itemType)">
                {{ itemType.TypeName }}
            </mat-slide-toggle>
        </div>
    </div>
</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close i18n="close">Beenden</button>
</div>