<mat-dialog-content>
    <div>
        <label i18n="choose export format">Welches Format m&ouml;chten Sie exportieren? </label>
        <select [(ngModel)]="exportType">
            <option value="excel" i18n="table view (Excel)">Tabellarische Aufbereitung (Excel)</option>
            <option value="csv" i18n="table view (csv)">Tabellarische Aufbereitung (CSV)</option>
        </select>
    </div>
    <div *ngIf="exportType === 'excel' || exportType === 'csv'">
        <label i18n="choose data">Welche Daten m&ouml;chten Sie exportieren?</label>
        <select [(ngModel)]="exportData">
            <option value="connections" i18n="connected items">Verbindungen zu anderen Configuration Items</option>
            <option value="links" i18n="Hyperlinks">Hyperlinks</option>
        </select>
    </div>
    <div *ngIf="exportType === 'graphml'">
        <label i18n="choose number of levels">Wie viele Ebenen m&ouml;chten Sie exportieren?</label>
        <select [(ngModel)]="exportDepth">
            <option value="1" i18n="1">1</option>
            <option value="all" i18n="all">Alle</option>
        </select>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button i18n="export" (click)="exportFile()" class="selectable">Exportieren</button>
</mat-dialog-actions>