<div class="room" *ngIf="(ready | async) && (room | async)">
    <h1>
        {{(room | async).name}}
    </h1>
    <div class="racks">
        <div class="rack" *ngFor="let rack of (racks | async)"
            role="button" [routerLink]="['/rack', rack.id]">
            <h2>
                {{ rack.name }}
            </h2>
            <ul class="content-list">
                <li class="content-list__element" *ngIf="(getEnclosuresInRack(rack) | async).length > 0">
                    {{names.BladeEnclosure}}: {{(getEnclosuresInRack(rack) | async).length}}
                </li>
                <li class="content-list__element" *ngIf="(getServersInRack(rack) | async).length > 0">
                    {{names.RackServerHardware}}: {{(getServersInRack(rack) | async).length}}
                </li>
            </ul>
        </div>
    </div>
</div>
