<div class="box-top__sub">
    <h3 i18n="add links to external web pages">
        Links auf externe Webseiten
    </h3>
</div>
<div class="box-body__sub" [formGroup]="form">
    <div>
        <button mat-button type="button" (click)="onAddLink()" i18n="add external link">
            Externen Link hinzuf&uuml;gen
        </button>
    </div>
    <div class="grid" formArrayName="linksToAdd">
        <ng-container *ngFor="let link of links.controls; let i = index" [formGroupName]="i">
            <div>
                <label for="uri" i18n="link URI">URI des Links</label>
                <input type="url" id="uri" formControlName="uri">
            </div>
            <div>
                <label for="description" i18n="link description">Beschreibung des Links</label>
                <input type="text" id="description" formControlName="description">
            </div>
        </ng-container>
    </div>
</div>