<h3 i18n="connections">Verbindungen</h3>
<div class>
    <div class="connection-type light-box" *ngFor="let connectionType of (connectionTypes | async)">
        {{ connectionType.ConnTypeName }}
        <div class="connection-rule"
            *ngFor="let rule of (getConnectionRules(connectionType.ConnTypeId) | async)"
            [style.background]="(getItemTypeColor(rule.ItemLowerType) | async)">
            <em class="text-on-background">{{(getItemTypeName(rule.ItemLowerType) | async)}}</em>
            <div class="connection-info"
                *ngFor="let connection of getConnectionsByRule(rule.RuleId, (configurationItem | async).connectionsToLower)">
                <div class="label">{{connection.targetName}}</div>
                <div class="content">
                    <button mat-button class="input-display__content-button" type="button"
                        (click)="editConnection = connection"
                        *ngIf="!editConnection"
                        matTooltip="Beschreibung der Verbindung ändern"
                        i18n-matTooltip="change connection description">
                        <span *ngIf="connection.description">
                            {{connection.description}}
                        </span>
                        <span class="material-icons" *ngIf="!connection.description">add_box</span>
                    </button>
                    <app-text-input *ngIf="editConnection" [originalText]="connection.description"
                        [minimumLength]="0" (accept)="onUpdateConnection(connection, $event)"
                        (cancel)="editConnection = undefined">
                    </app-text-input>
                    <button mat-button (click)="onDeleteConnection(connection.id)" class="input-display__content-button red-button"
                        matTooltip="Verbindung l&ouml;schen"
                        i18n-matTooltip="delete connection">
                        <span class="material-icons">delete_forever</span>
                    </button>
                </div>
            </div>
            <button mat-button type="button" (click)="onAddConnection(rule)"
                *ngIf="getConnectionsByRule(rule.RuleId, (configurationItem | async).connectionsToLower).length < (getConnectionRule(rule.RuleId) | async).MaxConnectionsToLower"
                matTooltip="Verbindung hinzuf&uuml;gen"
                i18n-matTooltip="add connection">
                <span class="material-icons">add_box</span>
            </button>
        </div>
    </div>
</div>

