.connection-rule {
    padding: 1rem;
    border-radius: 0.5rem;
}

tr.mat-row > td.mat-cell:last-of-type,
tr.mat-footer-row > td.mat-footer-cell:last-of-type,
tr.mat-header-row > th.mat-header-cell:last-of-type {
    text-align: right;
}