<div class="responsibilites box" 
    *ngIf="responsibilities.length > 0">
    <h2 i18n="responsible persons">Verantwortliche</h2>
    <div class="responsible-user">
        <header class="label" i18n="name">Name</header>
        <header class="label" i18n="mail">eMail</header>
        <header class="label" i18n="phone">Telefon</header>
        <header class="label" i18n="office">B&uuml;ro</header>
    </div>
    <div class="responsible-user" 
        *ngFor="let user of responsibilities">
        <div class="content"><span class="material-icons">face</span>{{user.name}}</div>
        <div class="content">
            <span class="material-icons">email</span>
            <a *ngIf="user.mail && user.mail !== '(unbekannt)'" 
                href="mailto:{{user.mail}}?subject={{mailSubject}}">
                {{user.mail}}
            </a>&nbsp;
        </div>
        <div class="content">
            <span class="material-icons">phone</span>
            {{user.phone}}
        </div>
        <div class="content">
            <span class="material-icons">store</span>
            {{user.office}}
        </div>
    </div>
</div>
