@if ((itemReady | async) !== true || working) {
  <app-busy></app-busy>
}
<h1 class="page-title" i18n="Copy configuration item">Configuration Item kopieren</h1>
@if ((itemReady | async) && formReady) {
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <table class="table">
      <thead>
        <tr>
          <th i18n="Property">Eigenschaft</th>
          <th i18n="Value">Wert</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td i18n="Item type">
                        Item-Typ
                    </td>
          <td>
            {{(configurationItem | async).type}}
          </td>
        </tr>
        <tr>
          <td>
            <label for="name" i18n="New item name">Name des neuen Items</label>
          </td>
          <td>
            <input type="text" id="name" formControlName="name" autofocus required>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <input type="checkbox" id="copyAttributes" formControlName="attributesEnabled" #att [disabled]="(configurationItem | async).attributes.length === 0">
            <label for="copyAttributes" i18n="Copy attributes">Attribute &uuml;bernehmen</label>
          </th>
        </tr>
        @if (att.checked) {
          <ng-container formArrayName="attributes">
            @for (attribute of (configurationItem | async).attributes; track attribute; let i = $index) {
              <tr [formGroupName]="i">
                <td>
                  <input type="checkbox" [id]="attribute.typeId" formControlName="enabled">
                  <label [for]="attribute.typeId">
                    {{attribute.type}}
                  </label>
                </td>
                <td>
                  <input formControlName="value" type="text" required>
                </td>
              </tr>
            }
          </ng-container>
        }
        <tr>
          <th colspan="2">
            <input type="checkbox" id="copyConnections" formControlName="connectionsToLowerEnabled" #conn
              [disabled]="(configurationItem | async).connectionsToLower.length === 0">
              <label for="copyConnections" i18n="Copy downward connections">
                            Verbindungen nach unten &uuml;bernehmen
                        </label>
            </th>
          </tr>
          @if (conn.checked) {
            <ng-container formArrayName="connectionsToLower">
              @for (connection of (configurationItem | async).connectionsToLower; track connection; let i = $index) {
                <tr [formGroupName]="i">
                  <td>
                    <input type="checkbox" [id]="i" formControlName="enabled">
                    <label [for]="i">
                      {{(getConnectionType(connection.typeId) | async).name}} {{connection.targetType}} {{connection.targetName}}
                    </label>
                  </td>
                  <td>
                    <select formControlName="targetId" required>
                      @for (item of (getConnectableItems(connection.ruleId) | async); track item) {
                        <option [value]="item.id">
                          {{item.name}}
                        </option>
                      }
                    </select>
                    <input matInput formControlName="description" type="text"
                      placeholder="Beschreibung der Verbindung" i18n-placeholde="connection description" />
                    </td>
                  </tr>
                }
              </ng-container>
            }
            <tr>
              <th colspan="2">
                <input type="checkbox" id="copyLinks" formControlName="linksEnabled" #lnk
                  [disabled]="(configurationItem | async).links.length === 0">
                  <label for="copyLinks" i18n="Copy links">
                            Links &uuml;bernehmen
                        </label>
                </th>
              </tr>
              @if (lnk.checked) {
                <ng-container formArrayName="links">
                  @for (link of (configurationItem | async).links; track link; let i = $index) {
                    <tr [formGroupName]="i">
                      <td>
                        <input type="checkbox" formControlName="enabled">
                        <input matInput formControlName="uri" type="url" required placeholder="URL des Links" i18n-placeholder="Link URL"/>
                      </td>
                      <td>
                        <input matInput formControlName="description" type="url" required placeholder="Beschreibung des Links" i18n-placeholder="Link description"/>
                      </td>
                    </tr>
                  }
                </ng-container>
              }
            </tbody>
          </table>
          @if (error === true) {
            <div class="error">
              {{errorMessage}}
            </div>
          }
          <p>
            <button type="submit" i18n="Copy item" [disabled]="!itemForm.valid" class="selectable">
                Item kopieren
            </button>
          </p>
        </form>
      }
