<app-busy *ngIf="(itemReady | async) !== true || working"></app-busy>
<h3 i18n="copy configuration item">Configuration Item kopieren</h3>
<ng-container *ngIf="(itemReady | async) && formReady">
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
        <table class="table">
            <thead>
                <tr>
                    <th i18n="property">Eigenschaft</th>
                    <th i18n="value">Wert</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td i18n="item type">
                        Item-Typ
                    </td>
                    <td>
                        {{(configurationItem | async).type}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="name" i18n="new item name">Name des neuen Items</label>
                    </td>
                    <td>
                        <input type="text" id="name" formControlName="name" autofocus required>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        <input type="checkbox" id="copyAttributes" formControlName="attributesEnabled" #att [disabled]="(configurationItem | async).attributes.length === 0">
                        <label for="copyAttributes" i18n="copy attributes">Attribute &uuml;bernehmen</label>
                    </th>
                </tr>
                <ng-container *ngIf="att.checked" formArrayName="attributes">
                    <tr [formGroupName]="i" *ngFor="let attribute of (configurationItem | async).attributes; let i = index">
                        <td>
                            <input type="checkbox" [id]="attribute.typeId" formControlName="enabled">
                            <label [for]="attribute.typeId">
                                {{attribute.type}}
                            </label>
                        </td>
                        <td>
                            <input formControlName="value" type="text" required>
                        </td>
                    </tr>
                </ng-container>
                <tr>
                    <th colspan="2">
                        <input type="checkbox" id="copyConnections" formControlName="connectionsToLowerEnabled" #conn
                            [disabled]="(configurationItem | async).connectionsToLower.length === 0">
                        <label for="copyConnections" i18n="copy downward connections">
                            Verbindungen nach unten &uuml;bernehmen
                        </label>
                    </th>
                </tr>
                <ng-container *ngIf="conn.checked" formArrayName="connectionsToLower">
                    <tr [formGroupName]="i" *ngFor="let connection of (configurationItem | async).connectionsToLower; let i = index">
                        <td>
                            <input type="checkbox" [id]="i" formControlName="enabled">
                            <label [for]="i">
                                {{(getConnectionType(connection.typeId) | async).name}} {{connection.targetType}} {{connection.targetName}}
                            </label>
                        </td>
                        <td>
                            <select formControlName="targetId" required>
                                <option *ngFor="let item of (getConnectableItems(connection.ruleId) | async)" [value]="item.id">
                                    {{item.name}}
                                </option>
                            </select>
                            <input matInput formControlName="description" type="text"
                                placeholder="Beschreibung der Verbindung" i18n-placeholde="connection description" />
                        </td>
                    </tr>
                </ng-container>
                <tr>
                    <th colspan="2">
                        <input type="checkbox" id="copyLinks" formControlName="linksEnabled" #lnk
                            [disabled]="(configurationItem | async).links.length === 0">
                        <label for="copyLinks" i18n="copy links">
                            Links &uuml;bernehmen
                        </label>
                    </th>
                </tr>
                <ng-container *ngIf="lnk.checked" formArrayName="links">
                    <tr [formGroupName]="i" *ngFor="let link of (configurationItem | async).links; let i = index">
                        <td>
                            <input type="checkbox" formControlName="enabled">
                            <input matInput formControlName="uri" type="url" required placeholder="URL des Links" i18n-placeholder="link URL"/>
                        </td>
                        <td>
                            <input matInput formControlName="description" type="url" required placeholder="Beschreibung des Links" i18n-placeholder="link description"/>
                        </td>                        
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div class="error" *ngIf="error === true">
            {{errorMessage}}
        </div>
        <p>
            <button type="submit" i18n="copy item" [disabled]="!itemForm.valid" class="selectable">
                Item kopieren
            </button>
        </p>
    </form>
</ng-container>
