<div [formGroup]="form">
    <div class="box-top__sub flex__space-between"
        [ngClass]="{'box-top__no-body': attributesPresent === false}">
        <em i18n="attributes">Attribute</em>
        <button mat-button type="button" class="filter-button"
            *ngIf="attributeTypesAvailable"
            [matMenuTriggerFor]="attributeTypeMenu"
            matTooltip="Filtern nach Configuration Items, die bestimmte Attribute besitzen"
            i18n-matTooltip="filter for configuration item that have given attributes">
            <span class="material-icons">filter_list</span>
        </button>
    </div>
    <div class="box-body__sub" formArrayName="attributes" *ngIf="attributesPresent">
        <div class="attribute-list">
            <ng-container *ngFor="let attributeControl of attributeControls; let i = index"
                [formGroupName]="i">
                <mat-form-field>
                    <input matInput type="text" id="{{i}}" formControlName="value"
                        (change)="onChangeAttributeValue(attributeControl.get('typeId').value, $event.target.value)"
                        [placeholder]="(getAttributeType(attributeControl.get('typeId').value) | async).name">
                </mat-form-field>
                <button mat-icon-button type="button"
                    (click)="onDeleteAttribute(attributeControl.get('typeId').value)"
                    matTooltip="Attribut &quot;{{(getAttributeType(attributeControl.get('typeId').value) | async).name}}&quot; l&ouml;schen"
                    i18n-matTooltip="delete attribute">
                    <span class="material-icons">delete_forever</span>
                </button>
            </ng-container>
        </div>
    </div>
</div>
<mat-menu #attributeTypeMenu="matMenu">
    <button mat-menu-item type="button"
        *ngFor="let attributeType of allowedAttributeTypeList"
        (click)="onAddAttributeType(attributeType.id)"
        [disabled]="selectedAttributeTypes.includes(attributeType.id)"
        [ngClass]="{vanished: selectedAttributeTypes.includes(attributeType.id)}">
        {{attributeType.name}}
    </button>
</mat-menu>

