<div class="box">
    <form [formGroup]="ruleForm">
        <p>
            <span>&darr;</span>
            {{ (getItemType(rule.upperItemTypeId) | async).name }}
            {{ (getConnectionType(rule.connectionTypeId) | async).name }}
            &le; 
            <input type="number" formControlName="maxConnectionsToLower" class="selectable"
                (keyup.enter)="onSubmit()"
                (keyup.escape)="onCancel()"
                min="1" max="9999" />
            {{ (getItemType(rule.lowerItemTypeId) | async).name }}
            <span>&darr;</span>
        </p>
        <p>
            <span>&uarr;</span>
            {{ (getItemType(rule.lowerItemTypeId) | async).name }}
            {{ (getConnectionType(rule.connectionTypeId) | async).reverseName }}
            &le; 
            <input type="number" formControlName="maxConnectionsToUpper" class="selectable"
                (keyup.enter)="onSubmit()"
                (keyup.escape)="onCancel()"
                min="1" max="9999" />
            {{ (getItemType(rule.upperItemTypeId) | async).name }}
            <span>&uarr;</span>
        </p>
        <div>
            <label for="validation" i18n="validation rule (RegEx) for connection description">
                G&uuml;ltigtkeitsregel (regul&auml;rer Ausdruck) f&uuml;r Verbindungsbeschreibungen
            </label>
            <input type="text" id="validation" formControlName="validationExpression" class="selectable"
                placeholder="^.*$"
                (keyup.enter)="onSubmit()"
                (keyup.escape)="onCancel()" />
        </div>
        <div>
            <button class="btn-ok" type="submit" [disabled]="ruleForm.invalid" class="selectable"
                i18n="save" (click)="onSubmit()">
                Speichern
            </button>
            <button class="btn-cancel" type="button" (click)="onCancel()" class="selectable"
                i18n="cancel">
                Abbrechen
            </button>
        </div>
    </form>
</div>