@import "projects/cmdb/src/_variables.scss";

.side-menu {
    background: $element-background-color;
    border-right: $main-border-style;
    height: 100%;
    max-height: calc(100vh - 2.8rem);
    overflow-y: auto;

}