@import "projects/cmdb/src/_variables.scss";

.grid {
    grid-template-columns: auto auto;
    row-gap: 1rem;
    padding: 1rem;
    
    .cell {
        padding: 0.5rem;
    }

    .colspan {
        grid-column: span 2;
        .button {
            width: 50%;
        }
    }
}

h3 {
    padding-left: 2rem;
}

button {
    padding: 0.5rem 2rem;
}

.page-layout {
    max-width: 30rem;
    border: $main-border-style;
    border-radius: 0.5rem;
    background-color: $element-background-color;
    box-shadow: $box-shadow-medium;
    padding: 1rem;
}

.error {
    color: red;
    background: white;
    border-radius: 1rem;
    text-align: center;
}
