@if (backSide) {
  <div>
    <h1 i18n>Edit back side</h1>
    <p>{{slotName}}: {{slot}} </p>
    @if ((assetCountForBackSideTypes | async) === 0) {
      <div class="error" i18n>
        No assets found. Please add new assets.
    </div>
    }
    @if ((assetCountForBackSideTypes | async) > 0) {
      <p i18n>Choose asset to add</p>
      @for (type of (enclosureMountableTypes | async); track type) {
        @if ((getPossibleBackSideModels(type) | async).length > 0) {
          <div>
            <h1 [ngClass]="{selected: selectedTypeId === type.id, clickable: selectedTypeId !== type.id}"
              class="button"
              (click)="selectedTypeId = type.id; selectedModelId = undefined; backSideMountableToRemove = undefined">
              {{type.name}}
            </h1>
            @if (selectedTypeId === type.id) {
              @for (model of (getPossibleBackSideModels(type) | async); track model) {
                @if ((getBackSideAssetsForTypeAndModel(type, model) | async).length > 0) {
                  <div class="margin-left">
                    <div [ngClass]="{'selected': selectedModelId === model.id, 'clickable': selectedModelId !== model.id}"
                      class="button bold li-triangle"
                      (click)="selectedModelId = model.id; backSideMountableToRemove = undefined">
                      {{model.name}} ({{attributeNames.Height}}: {{model.height}}, {{attributeNames.Width}}: {{model.width}})
                    </div>
                    @if (selectedModelId === model.id) {
                      @for (asset of (getBackSideAssetsForTypeAndModel(type, model) | async); track asset) {
                        <div class="button margin-left clickable"
                          (click)="mountEnclosureMountable(asset)"
                          >
                          <div>{{asset.name}}</div>
                          <div>{{attributeNames.SerialNumber}}: {{asset.serialNumber}}</div>
                          <div>{{attributeNames.Status}}: {{asset.statusName}}</div>
                        </div>
                      }
                    }
                  </div>
                }
              }
            }
          </div>
        }
      }
    }
  </div>
}
@if (!backSide) {
  <div>
    <h1 i18n>Edit front side</h1>
    <p>{{slotName}}: {{slot}} </p>
    @if ((assetCountForFrontSideTypes | async) === 0) {
      <div class="error" i18n>
        No assets found for available size. Please select another slot or add new assets.
    </div>
    }
    @if ((assetCountForFrontSideTypes | async) > 0) {
      <p i18n>Choose asset to add</p>
    }
    @for (type of (enclosureMountableTypes | async); track type) {
      @if ((getPossibleFrontSideModels(type) | async).length > 0) {
        <div>
          <h1 [ngClass]="{selected: selectedTypeId === type.id, clickable: selectedTypeId !== type.id}"
            class="button"
            (click)="selectedTypeId = type.id; selectedModelId = undefined">
            {{type.name}}
          </h1>
          @if (selectedTypeId === type.id) {
            @for (model of (getPossibleFrontSideModels(type) | async); track model) {
              @if ((getFrontSideAssetsForTypeAndModel(type, model) | async).length > 0) {
                <div class="margin-left">
                  <div [ngClass]="{selected: selectedModelId === model.id, clickable: selectedModelId !== model.id}"
                    class="button bold li-triangle"
                    (click)="selectedModelId = model.id">
                    {{model.name}} ({{attributeNames.Height}}: {{model.height}}, {{attributeNames.Width}}: {{model.width}})
                  </div>
                  @if (selectedModelId === model.id) {
                    @for (asset of (getFrontSideAssetsForTypeAndModel(type, model) | async); track asset) {
                      <div class="button margin-left clickable"
                        (click)="mountEnclosureMountable(asset)"
                        >
                        <div>{{asset.name}}</div>
                        <div>{{attributeNames.SerialNumber}}: {{asset.serialNumber}}</div>
                        <div>{{attributeNames.Status}}: {{asset.statusName}}</div>
                      </div>
                    }
                  }
                </div>
              }
            }
          }
        </div>
      }
    }
  </div>
}