<div class="box">
    <h1>
        <ng-container i18n="delete attribute type">L&ouml;schen des Attributtyps </ng-container>
        {{attributeType.name}}
    </h1>
    <p>
        <ng-container i18n="if you delete the attribute type,">
            Wenn Sie den Attributtypen l&ouml;schen, werden auch 
        </ng-container>
        {{attributesCount}} 
        <ng-container i18n="attributes, that are part of items, are also deleted. Are you sure you want to delete?">
            Attribute gel&ouml;scht, die einzelnen Configuration Items zugeordnet sind.
        </ng-container>
    </p>
    <p i18n="Are you sure you want to proceed?">
        Sind Sie sicher, dass Sie das wollen?
    </p>
    <div>
        <button i18n="cancel" class="selectable" (click)="routeToAttributeTypes()">Abbrechen</button>
        <button i18n="delete" class="selectable red" (click)="onDelete()">L&ouml;schen</button>
    </div>
</div>
