<div class="border" [ngStyle]="{'border-color': mountable.statusColor}">
    <h1>
        {{mountable.name}}
    </h1>
    <div>
        <em>{{mountable.statusName}}</em>: {{mountable.statusDescription}}
    </div>
</div>
<div *ngIf="mountable.status === 0 || mountable.status === 9"><!-- Stored or unknown, which is invalid, so changing to unused -->
    <button class="error" type="button" (click)="setStatus(1)">
        <ng-container i18n>Correct status to </ng-container>
        <em>{{getStatusName(1)}}</em>
    </button>
</div>
<div *ngIf="isServer && !!provisionedSystem && (mountable.status < 3 || mountable.status > 7 )"><!-- Server present, but no production status -->
    <button type="button" class="error" (click)="setStatus(3)">
        <ng-container i18n>Correct status to </ng-container>
        <em>{{getStatusName(3)}}</em>
    </button>
</div>
<div *ngIf="mountable.status === 1"><!-- Unused -->
    <button type="button" (click)="setStatus(2)">
        <ng-container i18n>Set status to </ng-container>
        <em>{{getStatusName(2)}}</em>
    </button>
</div>
<div *ngIf="!isServer && (mountable.status === 1 || mountable.status === 2 || mountable.status === 5)"><!-- Non-Server, Unused or booked or repair pending -->
    <button type="button" (click)="setStatus(3)">
        <ng-container i18n>Set status to </ng-container>
        <em>{{getStatusName(3)}}</em>
    </button>
</div>
<div *ngIf="isServer && (mountable.status === 1 || mountable.status === 2 || mountable.status === 5)"><!-- Unused or booked or repair pending server -->
    <button type="button" (click)="setStatus(3)">
        <ng-container i18n>Set status to </ng-container>
        <em>{{getStatusName(3)}}</em>
    </button>
</div>
<div *ngIf="mountable.status === 1  || mountable.status === 4 || mountable.status === 5"><!-- Unused or Fault or repair pending -->
    <button type="button" (click)="setStatus(6)">
        <ng-container i18n>Set status to </ng-container>
        <em>{{getStatusName(6)}}</em>
    </button>
</div>
<div *ngIf="mountable.status === 2 || mountable.status === 3"><!-- Booked or in Production -->
    <button type="button" (click)="setStatus(1)">
        <ng-container i18n>Set status to </ng-container>
        <em>{{getStatusName(1)}}</em>
        <ng-container *ngIf="mountable.status === 3 && isServer && !!provisionedSystem">
            <br>
            <ng-container i18n>This will delete </ng-container>
            <em>{{provisionedSystem.typeName}}: {{provisionedSystem.name}}</em>
            <ng-container i18n> also.</ng-container>
        </ng-container>
    </button>
</div>
<div *ngIf="mountable.status === 4"><!-- Fault -->
    <button type="button" (click)="setStatus(5)">
        <ng-container i18n>Set status to </ng-container>
        <em>{{getStatusName(5)}}</em>
    </button>
</div>
<div *ngIf="mountable.status === 6"><!-- Prepare for scrapping -->
    <button type="button" (click)="setStatus(7)">
        <ng-container i18n>Set status to </ng-container>
        <em>{{getStatusName(7)}}</em>
    </button>
</div>
<div *ngIf="mountable.status === 7"><!-- Pending scrap -->
    <button type="button" (click)="setStatus(8)">
        <ng-container i18n>Set status to </ng-container>
        <em>{{getStatusName(8)}}</em>
    </button>
</div>
<div *ngIf="mountable.status === 8"><!-- Scrapped, should not be in rack -->
    <button type="button" (click)="setStatus(8)">
        <ng-container i18n>Remove </ng-container>
        <em>{{getStatusName(8)}}</em>
        <ng-container i18n> item.</ng-container>
    </button>
</div>
